.product-block {
    width: 32rem;
    height: 58rem;
    background-color: #272E46;
    border-radius: 1.6rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
    @media (max-width: $sw-md-max) {
        height: 56.6rem;
    }
    @media (max-width: $sw-sm-max) {
        height: 56.1rem;
    }
    @media (max-width: $sw-xx-max) {
        height: 49.1rem;
        width: 27rem;
    }
    &__front,
    &__back {
        position: absolute;
        top: 0;
        left: 0;
        border-radius: inherit;
        width: 100%;
        height: 100%;
        transition: transform .5s ease, opacity .4s ease, visibility .4s ease;
    }
    &__front {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
        .is-flipped & {
            transform: translateX(-100%);
            opacity: 0;
            visibility: hidden;
        }
    }
    &__back {
        transform: translateX(100%);
        opacity: 0;
        visibility: hidden;
        .is-flipped & {
            transform: translateX(0);
            opacity: 1;
            visibility: visible;
        }
    }
    &__top {
        display: flex;
        justify-content: center;
        position: absolute;
        z-index: 10;
        top: 0;
        width: 100%;
        padding: 1rem 1.5rem;
        border-radius: 1.6rem 1.6rem 0 0;
        background: linear-gradient(180deg, #272E46 0%, rgba(39, 46, 70, 0) 100%);
        &__box {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            font-weight: 600;
            font-size: 1.4rem;
            line-height: 2.15em;
            text-transform: capitalize;
            color: $light-blue;
            &--yellow {
                color: $yellow;
            }
            & + .product-block__top__box {
                margin-left: 3.2rem;
                @media (max-width: $sw-md-max) {
                    margin-left: 2.4rem;
                }
                &:after {
                    content: '';
                    display: block;
                    width: 4px;
                    height: 4px;
                    border-radius: 50%;
                    background: rgba(223, 225, 238, 0.3);
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: -1.9rem;
                    @media (max-width: $sw-md-max) {
                        left: -1.3rem;
                    }
                }
            }
            .icon {
                margin-right: 1rem;
                font-size: 2rem;
            }
        }
    }
    &__img {
        width: 100%;
        height: 34rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 1.6rem 1.6rem 0 0;
        overflow: hidden;
        @media (max-width: $sw-xx-max) {
            height: 28rem;
        }
        img {
            border-radius: inherit;
        }
        &--no-available {
            img {
                transform: translate(0, 15px);
            }
        }
    }
    &__inner {
        border-radius: 0 0 1.6rem 1.6rem;
    }
    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 1rem;
    }
    &__title {
        color: $yellow;
        font-weight: 700;
        font-size: 2rem;
        line-height: 2em;
        text-align: center;
        text-transform: capitalize;
        display: block;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        @media (max-width: $sw-md-max) {
            font-size: 1.8rem;
        }
    }
    &__subtitle {
        display: block;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: center;
        font-size: 1.6rem;
        line-height: 1.25em;
        color: rgba(223, 225, 238, 0.3);
    }
    &__divider {
        width: 100%;
        height: 20px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    &__discount {
        padding: 3.5rem 2.7rem 2rem 2.7rem;
        margin-top: 1.6rem;
        min-height: 38.4rem;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        @media (max-width: $sw-md-max) {
            margin-top: 1.2rem;
            min-height: 37.8rem;
            padding: 4.2rem 2.7rem 2rem 2.7rem;
        }
        @media (max-width: $sw-sm-max) {
            min-height: 37.3rem;
            padding: 3.3rem 2rem 2rem 2rem;
        }
        @media (max-width: $sw-xx-max) {
            padding: 1.5rem 2rem;
            min-height: 31.3rem;
        }
        &:before, &:after {
            content: '';
            display: block;
            width: 100%;
            height: 2rem;
            position: absolute;
            left: 0;
            background-image: url('../../s/images/useful/svg/product-divider.svg');
            background-repeat: no-repeat;
            background-size: contain;
        }
        &:before {
            top: -1rem;
        }
        &:after {
            bottom: -1rem;
        }
        .label-radio-rounded {
            &__name {
                @media (max-width: $sw-sm-max) {
                    font-size: 1.5rem;
                }
            }
        }
        .product-detail__discount {
            &__line {
                flex-wrap: nowrap;
                & + .product-detail__discount__line {
                    margin-top: 1.1rem;
                    @media (max-width: $sw-sm-max) {
                        margin-top: 8px;
                    }
                }
            }
            &__promo {
                @media (max-width: $sw-md-max) {
                    padding: 4px 9px;
                    font-size: 1.2rem;
                }
            }
        }
        .goods-item__count {
            margin: auto 0 2rem 0;
            width: 100%;
            @media (max-width: $sw-sm-max) {
                margin: auto 0 2rem 0;
            }
            @media (max-width: $sw-xs-max) {
                margin: auto 0 2rem 0;
            }
            @media (max-width: $sw-xx-max) {
                margin: auto 0 1.2rem 0;
            }
            &__btn {
                width: 5rem;
                height: 5rem;
                border-radius: 1.6rem;
                flex-shrink: 0;
                background-color: #1B2134;
                border: 1px solid rgba(223, 225, 238, 0.3);
            }
            &__input {
                width: 100%;
                font-size: 2rem;
                height: 5rem;
                line-height: 5rem;
            }
        }
        .btn--yellow {
            width: 100%;
            height: 6rem;
            margin-bottom: 1rem;
            @media (max-width: $sw-xx-max) {
                height: 5rem;
            }
        }
        &__price {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            text-align: center;
            font-weight: 600;
            font-size: 1.4rem;
            line-height: 2.15em;
            color: $light-blue;
            text-transform: uppercase;
            transition: color .3s ease;
            .price {
                &-current {
                    margin: 0 2px;
                    .is-discount & {
                        text-decoration: line-through;
                        color: rgba($light-blue, 0.3);       
                    }
                }
                &-discount {
                    display: none;
                    margin: 0 2px;
                    .is-discount & {
                        display: block;
                    }
                }
                &-currency {
                    margin: 0 2px;
                }
            }
        }
    }
    &__close {
        display: flex;
        flex-direction: column;
        padding: 3rem 3rem 2rem 3rem;
        position: relative;
        @media (max-width: $sw-md-max) {
            padding: 3rem 2rem 2rem 2rem;
        }
        @media (max-width: $sw-xx-max) {
            padding: 2rem;
        }
    }
    &__footer {
        margin-top: auto;
        display: flex;
        flex-direction: column;
        padding: 4rem 3rem 2rem 3rem;
        position: relative;
        @media (max-width: $sw-md-max) {
            padding: 3rem 2rem 2rem 2rem;
        }
        @media (max-width: $sw-sm-max) {
            padding: 3.5rem 2rem 2rem 2rem;
        }
        @media (max-width: $sw-xx-max) {
            padding: 3rem 1.5rem 1.5rem 1.5rem;
        }
        &:before {
            content: '';
            display: block;
            width: 100%;
            height: 2rem;
            position: absolute;
            top: 0;
            left: 0;
            background-image: url('../../s/images/useful/svg/product-divider.svg');
            background-repeat: no-repeat;
            background-size: contain;
        }
        &__info {
            width: 100%;
            height: 3rem;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 1.5rem;
            text-align: center;
            background-color: $dark;
            border-radius: 1.6rem;
            border: 1px solid rgba(223, 225, 238, 0.3);
            font-weight: 600;
            font-size: 1.6rem;
            line-height: 1.875em;
            color: $light-blue;
            @media (max-width: $sw-sm-max) {
                font-size: 1.5rem;
            }
            span {
                display: block;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }
    &__submit,
    &__link {
        width: 100%;
        height: 6rem;
        background-color: $dark;
        border-radius: 1.6rem;
        align-items: center;
        justify-content: center;
        background-color: $dark;
        transition: background-color .3s ease, border-color .3s ease;
        border: 1px solid $yellow;
        cursor: pointer;
        margin-bottom: 1rem;
        padding: 0 5px;
        @media (max-width: $sw-sm-max) {
            height: 5rem;
        }
        &[disabled] {
            cursor: default;
        }
        &:not([disabled]):not(.is-active):hover {
            @media (min-width: $sw-xs-min) {
                background-color: lighten($dark, 3%);                
            }
        }
        &:not([disabled]):not(.is-active):active {
            background-color: lighten($dark, 6%);                
        }
        &.is-active {
            border-color: $light-blue;
        }
        &__noty {
            display: block;
            width: 100%;
            text-align: center;
            font-weight: 600;
            font-size: 1.8rem;
            line-height: 1.6em;
            color: $yellow;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            @media (max-width: $sw-sm-max) {
                font-size: 1.7rem;
            }
            @media (max-width: $sw-xs-max) {
                font-size: 1.6rem;
            }
            @media (max-width: $sw-xs-max) {
                font-size: 1.5rem;
            }
            @media (max-width: $sw-xx-max) {
                font-size: 1.4rem;
            }
            &-receive {
                display: none;
                font-weight: 600;
                font-size: 1.8rem;
                line-height: 1.6em;
                color: $light-blue;
                @media (max-width: $sw-md-max) {
                    font-size: 1.6rem;
                }
                &__inner {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
                .icon-checkmark-bold {
                    font-size: 2rem;
                    margin-right: 1rem;
                }
            }
        }
        .icon-cart {
            font-size: 2rem;
            color: $light-blue;
            margin-right: 1rem;
        }
    }
    &__submit {
        display: flex !important;
        .product-block--in-cart &,
        .product-block--out-of-stock & {
            display: none !important;
        }
    }
    &__link {
        display: none !important;
        .product-block--in-cart &,
        .product-block--out-of-stock & {
            display: flex !important;
        }
    }
    &__old-price {
        font-size: 1.8rem;
        line-height: 1.65em;
        text-decoration-line: line-through;
        color: rgba(223, 225, 238, 0.3);
        margin-right: 5px;
    }
    &__new-price {
        text-transform: capitalize;
        font-weight: 600;
        font-size: 1.8rem;
        line-height: 1.65em;
        color: $light-blue;
        text-transform: capitalize;
        @media (max-width: $sw-sm-max) {
            font-size: 1.7rem;
        }
    }
    &-empty {
        width: 32rem;
        height: 58rem;
        background-color: #272E46;
        border-radius: 1.6rem;
        padding: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        @media (max-width: $sw-md-max) {
            height: 56.6rem;
        }
        @media (max-width: $sw-sm-max) {
            height: 56.1rem;
        }
        @media (max-width: $sw-xx-max) {
            width: 27rem;
            height: 49.1rem;
            padding: 2rem;
        }
        &__inner {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .icon-product-empty {
                font-size: 15.7rem;
                @media (max-width: $sw-xx-max) {
                    font-size: 12rem;
                }
            }
            .btn {
                height: 6rem;
                width: 100%;
                min-width: auto;
                font-size: 1.8rem;
                @media (max-width: $sw-xx-max) {
                    height: 5rem;
                    font-size: 1.6rem;
                }
            }
        }
    }
    &__add-to-cart {
        width: 100%;
        height: 60px;
        background-color: $yellow;
        border: 2px solid $yellow;
        border-radius: 1.6rem;
        display: flex;
        position: relative;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        margin: 0 auto 1rem auto;
        overflow: hidden;
        transition: width .4s ease, border-radius .4s ease, background-color .4s ease;
        &:not([disabled]):not(.is-adding):hover {
            @media (min-width: $sw-xs-min) { 
                background-color: lighten($yellow, 10%);
            }
        }
        &.is-added {
            pointer-events: none;
        }
        &__name,
        &__added {
            font-weight: 600;
            font-size: 1.8rem;
            line-height: 1em;
            color: $dark;
            white-space: nowrap;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            transition: opacity .5s ease;
        }
        &__name {
            opacity: 1;
            .before-add {
                display: block;
            }
            .after-add {
                display: none;
            }
        }
        &__added {
            opacity: 0;
        }
        &__checkmark {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            opacity: 0;
            transition: opacity .5s ease;
        }
        &.is-adding {
            width: 60px;
            border-radius: 3rem;
            background-color: transparent;
            animation: adding .8s ease-in-out .5s forwards;
            
            .product-block__add-to-cart__name,
            .product-block__add-to-cart__added {
                opacity: 0 !important;
            }
            .product-block__add-to-cart__checkmark {
                opacity: 1;
                &::before, &::after {
                    content: '';
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    display: inline-block;
                    border-radius: 1em;
                    visibility: visible;
                    background-color: #84a314;
                }
                
                &::before {
                    height: 0em;
                    width: 2px;
                    transform: rotate(-45deg) translateX(-50%);
                    transform-origin: -0.5em 1em;
                    animation: checkmark-1 0.25s ease forwards 1.5s;
                }
                
                &::after {
                    height: 0;
                    width: 2px;
                    transform: rotate(225deg) translateX(-50%);
                    transform-origin: 0em 0.375em;
                    animation: checkmark-2 0.3s ease forwards 1.75s;
                }
            }
        }
        &.is-added {
            .product-block__add-to-cart__name {
                opacity: 0;
            }
            .product-block__add-to-cart__added {
                opacity: 1;
            }
            .before-add {
                display: none;
            }
            .after-add {
                display: block;
            }
        }
    }
}

.goods-item__count {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    @media (max-width: $sw-xx-max) {
        width: 100%;
        margin-bottom: 3px;
    }
    &__btn {
        border: 2px solid #2F3548;
        box-sizing: border-box;
        border-radius: 8px;
        width: 4rem;
        height: 4rem;
        position: relative;
        background-color: transparent;
        transition: background-color .3s ease;
        @media (max-width: $sw-md-max) {
            width: 3.6rem;
            height: 3.6rem;
        }
        @media (max-width: $sw-sm-max) {
            width: 3.2rem;
            height: 3.2rem;
            border-radius: 1rem;
        }
        @media (max-width: $sw-xx-max) {
            border: none;
            flex-shrink: 0;
        }
        &:after, &:before {
            content: '';
            display: block;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            border-radius: 10px;
        }
        &:before {
            height: 2px;
            width: 1.2rem;
            background-color: $yellow;
            @media (max-width: $sw-md-max) {
                width: 1rem;
            }
        }
        &:active {
            background-color: darken($dark, 3%);
        }
    }
    &__increase {
        &:after {
            width: 2px;
            height: 1.2rem;
            background-color: $yellow;
            @media (max-width: $sw-md-max) {
                height: 1rem;
            }
        }
    }
    &__input {
        border: none;
        box-shadow: none;
        text-align: center;
        outline: none;
        background-color: transparent;
        margin: 0 5px;
        color: $light-blue;
        font-weight: 600;
        font-size: 1.8rem;
        width: 4.5rem;
        height: 100%;
        @media (max-width: $sw-md-max) {
            width: 3.6rem;
        }
        @media (max-width: $sw-sm-max) {
            margin: 0 2px;
            width: 3.4rem;
            font-size: 1.6rem;
        }
        @media (max-width: $sw-xx-max) {
            width: 100%;
            margin: 0 3px;
            font-size: 1.2rem;
        }
        .goods-section--table & {
            @media (max-width: $sw-xx-max) {
                width: 3.5rem;
            }
        }
        &:focus {
            border: none;
            box-shadow: none;
            outline: none;
            text-align: center;
        }
    }
}


  
@keyframes adding {
    0% {
        transform: rotate(0deg);
        border-color: $yellow;
    }
    20% {
        transform: rotate(70deg);
        border-right-color: #84a314;
    }
    40% {
        transform: rotate(140deg);
        border-right-color: #84a314;
        border-top-color: #84a314;
    }
    60% {
        transform: rotate(210deg);
        border-right-color: #84a314;
        border-top-color: #84a314;
        border-left-color: #84a314;
    }
    80% {
        transform: rotate(280deg);
        border-right-color: #84a314;
        border-top-color: #84a314;
        border-left-color: #84a314;
        border-bottom-color: #84a314;
    }
    100% {
        transform: rotate(360deg);
        border-right-color: #84a314;
        border-top-color: #84a314;
        border-left-color: #84a314;
        border-bottom-color: #84a314;
    }
}
  
@keyframes checkmark-1 {
    from {
      height: 0em;
    }
    to {
      height: 1em;
    }
}
  
@keyframes checkmark-2 {
    from {
      height: 0em;
    }
    to {
      height: 1.7em;
    }
}