mixin refferal(data)
	.refferal-banner
		.refferal-banner__inner
			.refferal-banner__info
				h1.refferal-banner__title Invite customers and earn reward
				p.refferal-banner__subtitle Give 15% discount to your friend and get 15% reward!
				a.btn.btn--md.btn--green-filled(href="javascript:void(0)") Join now
	.refferal-program
		.article-title
			p.article-title__item
				+svg('icon-attention')
				span How it’s work
		.partner-program__inner
			.partner-program__col
				.partner-program__item
					.partner-program__item__icon
						+svg('icon-external-link')
					.partner-program__item__info
						span.how-it-works__item__order Step 1
						span.partner-program__item__title Referral link
						span.partner-program__item__num Share
			.partner-program__col
				.partner-program__item
					.partner-program__item__icon
						+svg('icon-withdraw')
					.partner-program__item__info
						span.how-it-works__item__order Step 2
						span.partner-program__item__title on the first order
						span.partner-program__item__num Give 15%
			.partner-program__col
				.partner-program__item.is-active
					.partner-program__item__icon
						+svg('icon-last-month')
					.partner-program__item__info
						span.how-it-works__item__order Step 3
						span.partner-program__item__title income from order
						span.partner-program__item__num get 15%
	.refferal-earn
		.article-title
			p.article-title__item
				+svg('icon-calculator')
				span Lets’ play with earn
		.refferal-earn__inner
			.refferal-earn__inner__info
				.refferal-earn__inner__info__box
					span.refferal-earn__inner__title Smart deal
					p.refferal-earn__inner__subtitle Invite clients and get easy passive income
				.refferal-earn__inner__icon
					+svg('icon-strong-man')
			.refferal-earn__inner__count
				.refferal-earn__inner__inputs
					.acc-coins__photo__group
						span.acc-coins__photo__group__title Invited Clients
						.input-wrap
							input.form-control.form-control--silver.form-control--green.js-range-trigger.js-num-input(type="text", placeholder="0", value="20")
					.acc-coins__photo__group
						span.acc-coins__photo__group__title Average order sum per month
						.refferal-earn__inner__radio-wrap
							label.refferal-earn__inner__radio(for="average_sum1")
								input(type="hidden", value="100")
								input.refferal-earn__inner__radio__input(type="radio", name="average_sum_month", id="average_sum1", checked="")
								.refferal-earn__inner__radio__icon
								span 100 usd
							label.refferal-earn__inner__radio(for="average_sum2")
								input(type="hidden", value="200")
								input.refferal-earn__inner__radio__input(type="radio", name="average_sum_month", id="average_sum2")
								.refferal-earn__inner__radio__icon
								span 200 usd
							label.refferal-earn__inner__radio(for="average_sum3")
								input(type="hidden", value="300")
								input.refferal-earn__inner__radio__input(type="radio", name="average_sum_month", id="average_sum3")
								.refferal-earn__inner__radio__icon
								span 300 usd
				.refferal-earn__inner__range
					span.acc-coins__photo__group__title Invited Clients
					input.js-range-slider(type='text', name='my_range', value='')
				.refferal-earn__inner__counted
					.refferal-earn__inner__icon
						+svg('icon-strong-man')
					.refferal-earn__inner__counted__reward
						.refferal-earn__inner__counted__line
							span.refferal-earn__inner__counted__title reward:
							span.refferal-earn__inner__counted__val 15%
					.refferal-earn__inner__counted__side
						.refferal-earn__inner__counted__line
							span.refferal-earn__inner__counted__title monthly income:
							span.refferal-earn__inner__counted__val.js-montly-refferal  
							span.refferal-earn__inner__counted__currency USD 
						.refferal-earn__inner__counted__line
							span.refferal-earn__inner__counted__title annual revenue:
							span.refferal-earn__inner__counted__val.js-annual-refferal 
							span.refferal-earn__inner__counted__currency USD 
	.refferal-tables
		.refferal-tables__inner
			.refferal-tables__col
				.article-title
					p.article-title__item
						+svg('icon-pending')
						span today rewarded
				.refferal-tables__item
					.refferal-tables__item__header
						.refferal-tables__item__col.col-date
							span Country
						.refferal-tables__item__col.col-customer
							span Customer ID
						.refferal-tables__item__col.col-rewarded
							span Rewarded
					.refferal-tables__item__row
						.refferal-tables__item__col.col-date
							span 21 Jul 2021
						.refferal-tables__item__col.col-customer
							span 85478
						.refferal-tables__item__col.col-rewarded
							span 148 USD
					.refferal-tables__item__row
						.refferal-tables__item__col.col-date
							span 21 Jul 2021
						.refferal-tables__item__col.col-customer
							span 85478
						.refferal-tables__item__col.col-rewarded
							span 148 USD
					.refferal-tables__item__row
						.refferal-tables__item__col.col-date
							span 21 Jul 2021
						.refferal-tables__item__col.col-customer
							span 85478
						.refferal-tables__item__col.col-rewarded
							span 148 USD
					.refferal-tables__item__row
						.refferal-tables__item__col.col-date
							span 21 Jul 2021
						.refferal-tables__item__col.col-customer
							span 85478
						.refferal-tables__item__col.col-rewarded
							span 148 USD
					.refferal-tables__item__row
						.refferal-tables__item__col.col-date
							span 21 Jul 2021
						.refferal-tables__item__col.col-customer
							span 85478
						.refferal-tables__item__col.col-rewarded
							span 148 USD
			.refferal-tables__col
				.article-title
					p.article-title__item
						+svg('icon-people')
						span Top 10 referrer
				.refferal-tables__item
					.refferal-tables__item__header
						.refferal-tables__item__col.col-refereer
							span Referrer ID
						.refferal-tables__item__col.col-income
							span Monthly income
					.refferal-tables__item__row
						.refferal-tables__item__col.col-refereer
							span 48752
						.refferal-tables__item__col.col-income
							span 785 USD
					.refferal-tables__item__row
						.refferal-tables__item__col.col-refereer
							span 48752
						.refferal-tables__item__col.col-income
							span 2021 USD
					.refferal-tables__item__row
						.refferal-tables__item__col.col-refereer
							span 48752
						.refferal-tables__item__col.col-income
							span 712 USD
					.refferal-tables__item__row
						.refferal-tables__item__col.col-refereer
							span 48752
						.refferal-tables__item__col.col-income
							span 1200 USD
					.refferal-tables__item__row
						.refferal-tables__item__col.col-refereer
							span 48752
						.refferal-tables__item__col.col-income
							span 1404 USD