.refferal {
    &-banner {
        width: 100%;
        background-image: url('../../s/images/useful/refferal-page/refferal-page-cloud-center.png');
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: auto;
        position: relative;
        border-bottom: 5px solid #6FCF97;
        overflow: hidden;
        &:after, &:before {
            background-repeat: no-repeat;
            background-size: auto;
            content: '';
            display: block;
            position: absolute; 
            bottom: 0;
            width: 100%;
            height: 100%;
            @media (max-width: $sw-xs-max) {
            }
            @media (max-width: $sw-xx-max) {
                opacity: 0.3;
            }
        }
        &:before {
            left: 0;
            background-position: bottom left;
            background-image: url('../../s/images/useful/refferal-page/refferal-page-cloud-left.png');
        }
        &:after {
            right: 0;
            background-position: bottom right;
            background-image: url('../../s/images/useful/refferal-page/refferal-page-cloud-right.png');
        }
        .container {
            @media (max-width: $sw-xs-max) {
                max-width: 100%;
            }
        }
        &__inner {
            position: relative;
            width: 100%;
            max-width: 92rem;
            margin: 0 auto;
            height: 67.6rem;
            display: flex;
            align-content: center;
            align-items: center;
            justify-content: flex-start;
            @media (max-width: $sw-sm-max) {
                height: 56rem;
            }
            @media (max-width: $sw-xs-max) {
                padding: 0 1.5rem;
                height: 47rem;
            }
            @media (max-width: $sw-xx-max) {
                padding: 4rem 1rem;
                height: auto;
                min-height: 36rem;
            }
            @media (max-width: 549px) {
                padding: 10rem 1rem 2rem 1rem;
            }
            &:after {
                content: '';
                display: block;
                position: absolute;
                width: 100%;
                right: -3rem;
                bottom: 0;
                height: 100%;
                background-image: url('../../s/images/useful/refferal-page/refferal-page-man.png');
                background-repeat: no-repeat;
                background-position: bottom right;
                @media (max-width: $sw-sm-max) {
                    background-size: 50rem;
                }
                @media (max-width: $sw-xs-max) {
                    background-size: 40rem;
                    right: 0;
                }
                @media (max-width: $sw-xx-max) {
                    background-size: 32rem;
                }
            }
        }
        &__info {
            width: 100%;
            max-width: 60rem;
            margin: 0 0 5rem 0;
            position: relative;
            z-index: 1;
            @media (max-width: $sw-md-max) {
                margin: 0 0 5rem 0;
            }
            @media (max-width: $sw-sm-max) {
                margin: 0;
                max-width: 48rem;
            }
            @media (max-width: 549px) {
                margin: 3rem 0 0 0;
            }
            .btn {
                width: 20rem;
                margin-top: 5rem;
                @media (max-width: $sw-sm-max) {
                    margin-top: 3rem;
                }
                @media (max-width: 500px) {
                    margin-right: 2rem;
                    width: 18rem;
                }
                @media (max-width: 549px) {
                    margin-top: 1rem;
                }
            }
        }
        &__title {
            color: $light-blue;
            font-weight: 800;
            font-style: italic;
            font-size: 5rem;
            line-height: 1.1em;
            text-transform: uppercase;
            margin-bottom: 1rem;
            @media (max-width: $sw-sm-max) {
                font-size: 4rem;
            }
            @media (max-width: $sw-xx-max) {
                font-size: 3rem;
            }
            @media (max-width: 549px) {
                margin-bottom: 5px;
            }
        }
        &__subtitle {
            font-size: 1.6rem;
            line-height: 1.875em;
            color: $light-blue;
            margin-bottom: 0;
            @media (max-width: $sw-sm-max) {
                font-size: 1.5rem;
            }
            @media (max-width: $sw-xx-max) {
                font-size: 1.4rem;
            }
            @media (max-width: 549px) {
                line-height: 1.575em;
            }
        }
    }
    &-program {
        padding: 5.7rem 0 5rem 0;
        width: 100%;
        max-width: 92rem;
        margin: 0 auto;
        @media (max-width: $sw-sm-max) {
            padding: 4rem 0;
        }
        @media (max-width: $sw-xs-max) {
            padding: 4rem 1.5rem;
        }
        @media (max-width: $sw-xx-max) {
            padding: 3rem 1rem;
        }
        .article-title {
            margin-bottom: 2.6rem;
        }
        .partner-program {
            &__inner {
                @media (max-width: $sw-md-max) {
                    margin-left: -2rem;
                    margin-right: -2rem;
                }
                @media (max-width: $sw-sm-max) {
                    margin-left: -1.5rem;
                    margin-right: -1.5rem;
                }
                @media (max-width: $sw-xs-max) {
                    margin-left: -1rem;
                    margin-right: -1rem;
                }
            }
            &__col {
                position: relative;
                @media (max-width: $sw-md-max) {
                    padding: 0 2rem;
                }
                @media (max-width: $sw-sm-max) {
                    padding: 0 1.5rem;
                }
                @media (max-width: $sw-xs-max) {
                    padding: 0 1rem;
                }
                &:not(:last-child) {
                    &:after {
                        content: '';
                        display: block;
                        width: 1.3rem;
                        height: 2.2rem;
                        background-image: url('../../s/images/useful/svg/chevron.svg');
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: contain;
                        position: absolute;
                        top: 50%;
                        right: -8px;
                        transform: translateY(-50%);
                        @media (max-width: $sw-sm-max) {
                            width: 9px;
                            height: 1.4rem;
                            right: -5px;
                        }
                        @media (max-width: $sw-xs-max) {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    &-earn {
        padding: 1.5rem 0 5rem 0;
        width: 100%;
        max-width: 92rem;
        margin: 0 auto;
        @media (max-width: $sw-xs-max) {
            padding: 1.5rem 1.5rem 4rem 1.5rem;
        }
        @media (max-width: $sw-xx-max) {
            padding: 1.5rem 1rem 3rem 1rem;
        }
        .article-title {
            margin-bottom: 1.6rem;
        }
        &__inner {
            width: 100%;
            background-color: #21273B;
            border: 1px solid #6FCF97;
            border-radius: 1.6rem;
            padding: 2rem 3rem 0 3rem;
            display: flex;
            justify-content: space-between;
            @media (max-width: $sw-xx-max) {
                flex-wrap: wrap;
                padding: 2rem 2rem 0 2rem;
            }
            @media (max-width: 499px) {
                padding: 1.4rem 1.4rem 0 1.4rem;
            }
            &__info {
                width: 16rem;
                margin-right: 5rem;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                @media (max-width: $sw-xx-max) {
                    width: 100%;
                    margin-right: 0;
                    margin-bottom: 2.6rem;
                    flex-direction: row;
                }
                .refferal-earn__inner__icon {
                    @media (max-width: $sw-xx-max) {
                        display: none;
                    }
                }
                &__box {
                    @media (max-width: $sw-xx-max) {
                        order: 1;
                    }
                }
            }
            &__count {
                width: calc(100% - 21rem);
                padding-top: 1rem;
                padding-bottom: 2rem;
                @media (max-width: $sw-xx-max) {
                    padding-top: 0;
                    padding-bottom: 0;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                }
            }
            &__title {
                font-style: italic;
                font-weight: 800;
                font-size: 2rem;
                line-height: 2em;
                letter-spacing: -0.02em;
                text-transform: uppercase;
                color: $light-blue;
                margin-bottom: 5px;
                display: block;
                width: 100%;
                margin-top: 4px;
                @media (max-width: $sw-xx-max) {
                    margin-bottom: 6px;
                }
            }
            &__subtitle {
                display: block;
                width: 100%;
                font-size: 1.6rem;
                line-height: 1.25em;
                color: $light-blue;
                margin-bottom: 3.5rem;
                @media (max-width: $sw-xx-max) {
                    margin-bottom: 0;
                    font-size: 1.4rem;
                }
            }
            &__icon {
                margin-left: 1.5rem;
                margin-top: auto;
                @media (max-width: $sw-xx-max) {
                    order: 0;
                    margin-top: 0;
                    margin-left: 0;
                    margin-right: 4rem;
                }
                @media (max-width: 479px) {
                    margin-right: 2rem;
                }
                .icon-strong-man {
                    color: #6FCF97;
                    font-size: 19.4rem;
                    margin-top: auto;
                    @media (max-width: $sw-xx-max) {
                        font-size: 14rem;
                    }
                    @media (max-width: 479px) {
                        font-size: 12rem;
                    }
                }
            }
            &__inputs {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                margin-bottom: 4rem;
                @media (max-width: $sw-xs-max) {
                    flex-wrap: wrap;
                }
                @media (max-width: $sw-xx-max) {
                    margin-bottom: 3.7rem;
                    order: 1;
                }
                @media (max-width: 479px) {
                    margin-bottom: 2.7rem;
                }
                .acc-coins__photo__group {
                    &:first-child {
                        @media (max-width: $sw-xs-max) {
                            order: 1;
                        }
                        @media (max-width: $sw-xx-max) {
                            display: none;
                        }
                    }
                    &:last-child {
                        flex-grow: 1;
                        @media (max-width: $sw-xs-max) {
                            width: 100%;
                            order: 0;
                        }
                    }
                    & + .acc-coins__photo__group {
                        margin-top: 0;
                        margin-left: 4rem;
                        @media (max-width: $sw-xs-max) {
                            margin-left: 0;
                            margin-bottom: 2rem;
                        }
                        @media (max-width: $sw-xx-max) {
                            margin-bottom: 0;
                        }
                    }
                    .form-control {
                        width: 20rem;
                    }
                }
            }
            &__radio {
                cursor: pointer;
                margin-bottom: 0;
                font-weight: 600;
                font-size: 1.8rem;
                line-height: 1.65em;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                color: $light-blue;
                text-transform: uppercase;
                @media (max-width: $sw-xx-max) {
                    font-size: 1.4rem;
                }
                & + .refferal-earn__inner__radio {
                    margin-left: 1rem;
                    @media (max-width: $sw-xx-max) {
                        margin-left: 1.5rem;
                    }
                    @media (max-width: 499px) {
                        margin-left: 1rem;
                    }
                }
                input {
                    opacity: 0;
                    visibility: hidden;
                    width: 0;
                    height: 0;
                    position: absolute;
                    left: -9999em;
                    top: -9999em;
                    &:checked + .refferal-earn__inner__radio__icon {
                        &:after {
                            background-color: #6FCF97;
                        }
                    }
                }
                &-wrap {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    min-height: 5rem;
                    @media (max-width: $sw-xs-max) {
                        width: 100%;
                    }
                    @media (max-width: $sw-xx-max) {
                        min-height: auto;
                        justify-content: flex-start;
                    }
                }
                &__icon {
                    width: 3rem;
                    height: 3rem;
                    border-radius: 50%;
                    margin-right: 1rem;
                    border: 1px solid #6FCF97;
                    position: relative;
                    @media (max-width: $sw-xx-max) {
                        width: 2rem;
                        height: 2rem;
                        margin-right: 5px;
                    }
                    &:after {
                        content: '';
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        width: 1.2rem;
                        height: 1.2rem;
                        border-radius: 50%;
                        background-color: rgba(223, 225, 238, 0.3);
                        transition: background-color .3s ease;
                        @media (max-width: $sw-xx-max) {
                            width: 8px;
                            height: 8px;
                        }
                    }
                }
            }
            &__range {
                margin-bottom: 4.4rem;
                width: 100%;
                @media (max-width: $sw-xx-max) {
                    order: 0;
                    margin-bottom: 3rem;
                }
                .acc-coins__photo__group__title {
                    display: none;
                    @media (max-width: $sw-xx-max) {
                        display: block;
                    }
                }
            }
            &__counted {
                display: flex;
                align-items: flex-start;
                width: 100%;
                position: relative;
                @media (max-width: $sw-xs-max) {
                    flex-wrap: wrap;
                }
                @media (max-width: $sw-xx-max) {
                    padding-left: 10rem;
                    padding-bottom: 3rem;
                    order: 2;
                }
                @media (max-width: 479px) {
                    padding-left: 8rem;
                }
                .refferal-earn__inner__icon {
                    display: none;
                    @media (max-width: $sw-xx-max) {
                        display: block;
                        position: absolute;
                        bottom: 0;
                        left: -7px;
                    }
                }
                &__reward {
                    width: 18rem;
                    margin-right: 6rem;
                    @media (max-width: $sw-xs-max) {
                        width: 100%;
                        margin-right: 0;
                        margin-bottom: 1rem;
                    }
                }
                &__side {
                    flex-grow: 1;
                    @media (max-width: $sw-xs-max) {
                        width: 100%;
                    }
                }
                &__line {
                    display: flex;
                    align-items: center;
                    font-style: italic;
                    font-weight: 800;
                    font-size: 2rem;
                    line-height: 2em;
                    letter-spacing: -0.02em;
                    text-transform: uppercase;
                    color: $light-blue;
                    @media (max-width: $sw-xx-max) {
                        font-size: 1.3rem;
                        line-height: 1.875em;
                        flex-wrap: wrap;
                    }
                    & + .refferal-earn__inner__counted__line {
                        margin-top: 1rem;
                    }
                }
                &__title {
                    margin-right: 1.5rem;
                }
                &__val {
                    margin-right: 1rem;
                }
            }
        }
    }
    &-tables {
        padding: 3.7rem 0 2rem 0;
        width: 100%;
        max-width: 92rem;
        margin: 0 auto;
        @media (max-width: $sw-sm-max) {
            padding: 3.7rem 0 4rem 0;
        }
        @media (max-width: $sw-xs-max) {
            padding: 1.5rem 1.5rem 3rem 1.5rem;
        }
        @media (max-width: $sw-xx-max) {
            padding: 1.5rem 1rem 2rem 1rem;
        }
        .article-title {
            margin-bottom: 1.6rem;
        }
        &__inner {
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            margin: 0 -2rem;
            @media (max-width: $sw-xs-max) {
                flex-wrap: wrap;
                margin: 0;
            }
        }
        &__col {
            padding: 0 2rem;
            width: 50%;
            @media (max-width: $sw-xs-max) {
                width: 100%;
                padding: 0;
                margin-bottom: 2rem;
            }
        }
        &__item {
            width: 100%;
            border: 1px solid #6FCF97;
            border-radius: 1.6rem;
            padding: 1rem;
            @media (max-width: $sw-xs-max) {
                width: 100%;
            }
            &__header {
                padding: 0 1rem;
                height: 5rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .refferal-tables__item__col {
                    font-size: 1.2rem;
                    line-height: 1.5em;
                    display: flex;
                    align-items: center;
                    color: rgba(223, 225, 238, 0.3);
                }
            }
            &__row {
                height: 5rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                position: relative;
                padding: 0 1rem;
                &:after {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 2px;
                    position: absolute;
                    left: 0;
                    top: 0;
                    background-color: rgba(223, 225, 238, 0.3);
                    opacity: 0.3;
                }
                .refferal-tables__item__col {
                    color: $light-blue;
                    font-weight: 600;
                    font-size: 1.6rem;
                    line-height: 1.5em;
                    @media (max-width: $sw-xx-max) {
                        font-size: 1.3rem;
                    }
                    &.col-rewarded {
                        color: #6FCF97;
                    }
                }
            }
            &__col {
                &.col-date {
                    min-width: 9rem;
                }
                &.col-customer {
                    min-width: 7.5rem;
                }
                &.col-rewarded {
                    min-width: 9rem;
                    @media (max-width: $sw-xx-max) {
                        min-width: auto;
                        text-align: right;
                    }
                }
                &.col-refereer {
                    min-width: 8rem;
                }
                &.col-income {
                    min-width: 9.6rem;
                    @media (max-width: $sw-xx-max) {
                        min-width: auto;
                        text-align: right;
                    }
                }
            }
        }
    }
}