.my-cart-form {
    width: 100%;
    .article-title {
        margin-bottom: 3.6rem;
        @media (max-width: $sw-xx-max) {
            margin-bottom: 0;
        }
    }
    .section-title {
        text-align: left;
        margin-bottom: 5.1rem;
        @media (max-width: $sw-sm-max) {
            margin-bottom: 8.9rem;
        }
        @media (max-width: $sw-xs-max) {
            margin-bottom: 2.9rem;
        }
        @media (max-width: $sw-xx-max) {
            margin-bottom: 5.1rem;
        }
        &__secondary {
            @media (max-width: $sw-sm-max) {
                font-size: 1.8rem;
            }
        }
    }
}

.my-cart-table {
    margin-bottom: 3rem;
    &-head {
        width: 100%;
        height: 4.2rem;
        display: flex;
        align-items: flex-start;
        border-bottom: 2px solid $clay;
        @media (max-width: $sw-xs-max) {
            display: none;
        }
        .my-cart-table__multiple {
            .icon-close {
                font-size: 4px;
            }
        }
        .my-cart-table {
            &__total, &__price {
                font-weight: 400;
            }
        }
    }
    &-row {
        width: 100%;
        display: flex;
        border-bottom: 2px solid rgba(223, 225, 238, 0.1);
        min-height: 11rem;
        @media (max-width: $sw-xs-max) {
            min-height: 8.8rem;
        }
        @media (max-width: $sw-xx-max) {
            min-height: auto;
            flex-wrap: wrap;
        }
        &:last-child {
            border-bottom: none;
        }
        &.row--products {
            & + .row--total {
                @media (max-width: $sw-xx-max) {
                    margin-top: 2rem;
                }
            }
        }
        &.row--total {
            justify-content: flex-end;
            @media (max-width: $sw-xx-max) {
                padding-right: 5rem;
                height: 5rem;
            }
            @media (max-width: 339px) {
                padding-right: 4rem;
            }
            .my-cart-table__product-info {
                justify-content: flex-end;
            }
            .my-cart-table__total {
                margin-right: 8rem;
                @media (max-width: $sw-xs-max) {
                    margin-right: 5rem;
                }
                @media (max-width: $sw-xx-max) {
                    margin-right: 0;
                    width: 13rem;
                }
                &:before, &:after {
                    background-color: rgba($light-blue, 0.05);
                    z-index: 10;
                }
            }
            .my-cart-table__price {
                text-align: right;
                justify-content: flex-end;
                flex-grow: 1;
                width: auto;
                font-weight: 400;
                padding: 1.9rem 3rem 1.9rem 0;
                font-size: 1.6rem;
                @media (max-width: $sw-xx-max) {
                    padding: 0 2rem 0 0;
                }
            }
        }
        &.row--coins {
            .my-cart-table__total {
                color: #2F80ED;
            }
        }
        .my-cart-table__total {
            background-color: rgba(#2F3548, 0.3);
            display: flex;
            align-items: center;
            justify-content: center;
            &:after {
                content: '';
                display: block;
                width: 100%;
                height: 2px;
                position: absolute;
                top: 100%;
                left: 0;
                background-color: $yellow;
            }
        }
        .my-cart-table__product {
            padding: 1.9rem 1.5rem 1.9rem 1rem;
            @media (max-width: $sw-md-max) {
                padding: 1.9rem 2rem 1.9rem 0;
            }
            @media (max-width: $sw-xx-max) {
                padding: 2rem 0 0 0;
            }
        }
        .my-cart-table__quantity {
            padding: 1.9rem 0 1.9rem 0;
            @media (max-width: $sw-xx-max) {
                padding: 0;
            }
        }
        .my-cart-table__price {
            padding: 1.9rem 1rem 1.9rem 0;
            @media (max-width: $sw-xs-max) {
                padding: 1.9rem 1rem;
            }
            @media (max-width: $sw-xx-max) {
                padding: 0;
            }
        }
    }
    &__title {
        font-size: 1.2rem;
        line-height: 2.5em;
        color: rgba($light-blue, 0.25);
    }
    &__product-info {
        width: auto;
        flex-grow: 1;
        display: flex;
        @media (max-width: $sw-xx-max) {
            width: 100%;
        }
        @media (max-width: 499px) {
            display: block;
        }
    }
    &__side {
        display: flex;
        width: 62.8rem;
        @media (max-width: $sw-xs-max) {
            width: 50.8rem;
        }
        @media (max-width: $sw-xx-max) {
            width: 100%;
            height: 7rem;
            justify-content: flex-end;
        }
    }
    &__product {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        &__img {
            width: 8rem;
            height: 7rem;
            margin-right: 1.8rem;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            border-radius: 4px;
            overflow: hidden;
            // border: 1px solid rgba(223, 225, 238, 0.3);
            @media (max-width: $sw-md-max) {
                width: 7rem;
                height: 6rem;
                margin-right: 1.3rem;
            }
            @media (max-width: $sw-sm-max) {
                width: 6rem;
                height: 5rem;
                margin-right: 1.8rem;
            }
            img {
                width: auto;
                height: auto;
                max-width: 100%;
                max-height: 100%;
                border-radius: 4px;
            }
        }
        &__text {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            width: calc(100% - 9.8rem);
            @media (max-width: $sw-md-max) {
                width: calc(100% - 8.3rem);
            }
            @media (max-width: $sw-sm-max) {
                width: calc(100% - 7.8rem);
            }
            &__main {
                display: flex;
                align-items: center;
            }
            &__secondary {
                display: flex;
                align-items: center;
                font-weight: 300;
                font-size: 1.4rem;
                line-height: 1.4em;
                color: $light-blue;
            }
        }
        &__name {
            font-size: 1.6rem;
            line-height: 1.875em;
            color: $light-blue;
            display: block;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            @media (max-width: $sw-md-max) {
                font-size: 1.5rem;
                line-height: 1.5em;
            }
            @media (max-width: $sw-xs-max) {
                font-size: 1.4rem;
                line-height: 2.5em;
            }
            @media (max-width: $sw-xx-max) {
                line-height: 1.8em;
                font-size: 1.6rem;
            }
        }
    }
    &__multiple {
        width: 9rem;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-shrink: 0;
        @media (max-width: $sw-xs-max) {
            display: none;
        }
        .icon-close {
            font-size: 7px;
            color: $light-blue;
        }
    }
    &__price {
        width: 13.8rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: $light-blue;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 1.875em;
        @media (max-width: $sw-md-max) {
            font-size: 1.4rem;
        }
        @media (max-width: $sw-xs-max) {
            font-size: 1.2rem;
            line-height: 2.5em;
            width: 12.8rem;
        }
        @media (max-width: $sw-xx-max) {
            line-height: 1.8em;
            width: 9.5rem;
            flex-shrink: 0;
        }
        &__currency {
            margin-left: 5px;
            text-transform: uppercase;
        }
        &__count {
            color: $yellow;
            font-weight: 600;
            margin-left: 5px;
        }
        .row--products & {
            @media (max-width: $sw-xx-max) {
                display: none;
            }
        }
    }
    &__quantity {
        width: 13.1rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-shrink: 0;
        @media (max-width: $sw-xs-max) {
            margin-right: 1rem;
        }
        @media (max-width: $sw-xx-max) {
            width: 12rem;
            padding-right: 0;
            margin-right: auto;
        }
        .goods-item__count {
            @media (max-width: $sw-xx-max) {
                margin-bottom: 0;
            }
        }
        .goods-item__count__input {
            width: 6rem;
            font-size: 1.6rem;
            line-height: 2.4rem;
            font-weight: 400;
            @media (max-width: $sw-xx-max) {
                margin: 0;
            }
        }
        .goods-item__count__btn {
            border-width: 1px;
            width: 3rem;
            height: 3rem;
            border-radius: 4px;
            @media (max-width: $sw-xx-max) {
                border: 2px solid #2F3548;
            }
        }
    }
    &__total {
        width: 20rem;
        position: relative;
        font-size: 1.6rem;
        line-height: 1.875em;
        font-weight: 600;
        color: $yellow;
        @media (max-width: $sw-md-max) {
            font-size: 1.4rem;
        }
        @media (max-width: $sw-xx-max) {
            width: 13rem;
            font-size: 1.5rem;
            line-height: 2.5em;
        }
        &__currency {
            margin-left: 4px;
            text-transform: uppercase;
        }
        &__promo {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 3rem;
            position: absolute;
            left: 50%;
            top: calc(100% - 1.5rem);
            transform: translateX(-50%);
            text-transform: uppercase;
            font-weight: 300;
            font-size: 1.4rem;
            line-height: 1em;
            text-align: center;
            color: $light-blue;
            border-radius: 0 1.6rem 1.6rem 1.6rem;
            border: 1px solid $yellow;
            padding: 0 1.5rem;
            z-index: 2;
            white-space: nowrap;
            background-color: $dark;
            @media (max-width: $sw-xx-max) {
                font-size: 1rem;
                padding: 0 5px;
                height: 2rem;
                top: calc(100% - 1rem);
            }
        }
    }
    &__remove {
        width: 8rem;
        flex-shrink: 0;
        @media (max-width: $sw-xs-max) {
            width: 5rem;
        }
        @media (max-width: 339px) {
            width: 4rem;
        }
        &__btn {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            position: relative;
            font-weight: 600;
            font-size: 1.2rem;
            line-height: 1.25em;
            color: #EB5757;
            .icon-remove-sm {
                display: none;
                @media (max-width: $sw-xs-max) {
                    display: block;
                    font-size: 9px;
                }
            }
            &__text {
                @media (max-width: $sw-xs-max) {
                    display: none;
                }
            }
        }
    }
    &__finally-price {
        font-size: 1.6rem;
        line-height: 1.875em;
        font-weight: 600;
        @media (max-width: $sw-md-max) {
            font-size: 1.4rem;
        }
        @media (max-width: $sw-xx-max) {
            font-size: 1.5rem;
            line-height: 2.5em;
            min-width: 14.9rem;
            text-align: center;
        }
        &__currency {
            margin-left: 4px;
        }
        &__value {
            color: $yellow;
        }
        &-wrap {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            min-width: 43%;
            @media (max-width: $sw-sm-max) {
                width: auto;
                min-width: 33.9rem;
                position: relative;
            }
            @media (max-width: $sw-xs-max) {
                min-width: 32.3rem;
            }
            @media (max-width: $sw-xx-max) {
                min-width: auto;
                position: static;
            }
        }
    }
}

// product indicator
.product-indicator {
    display: block;
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 4px;
    margin-right: 1.3rem;
    line-height: 1.875em;
    flex-shrink: 0;
    &--sky {
        background-color: #8CF3FF;
    }
    &--violet {
        background-color: #A687FF;
    }
    &--orange {
        background-color: #FFC887;
    }
    &--salat {
        background-color: #EEFF87;
    }
    &--portage {
        background-color: #8DA2E6;
    }
    &--green {
        background-color: #B0FF8A;
    }
    &--purple {
        background-color: #FF9E9E;
    }
}