mixin products-in-order(data)
	.my-cart-form#products_in_order
		.article-title
			p.article-title__item
				+svg('icon-orders')
				span Products In Order
		.my-cart-table
			.my-cart-table-head
				.my-cart-table__product-info
					.my-cart-table__product
						span.my-cart-table__title Product
				.my-cart-table__side
					.my-cart-table__quantity
						span.my-cart-table__title Q-ty
					.my-cart-table__multiple
						span.my-cart-table__title #[+svg('icon-close')]
					.my-cart-table__price
						span.my-cart-table__title Amount
					.my-cart-table__total
						span.my-cart-table__title Total
			+table-row({value: '1', class: 'product-indicator--sky'})
			+table-row({value: '2', class: 'product-indicator--violet'})
			.my-cart-table-row.row--total
				.my-cart-table__price
					span.my-cart-table__price__title Subtotal:
				.my-cart-table__total
					span.my-cart-table__total__subtotal
					span.my-cart-table__total__currency USD
			.my-cart-table-row.row--total
				.my-cart-table__price
					span.my-cart-table__price__title Discount:
				.my-cart-table__total
					span.my-cart-table__total__discount -25.15
					span.my-cart-table__total__currency USD
			.my-cart-table-row.row--total.row--coins
				.my-cart-table__price
					span.my-cart-table__price__title Coins:
				.my-cart-table__total
					span.my-cart-table__total__coins -46.21
					span.my-cart-table__total__currency USD
			.my-cart-table-row.row--total
				.my-cart-table__price
					span.my-cart-table__price__title Shipping:
				.my-cart-table__total
					span.my-cart-table__total__shipping 20.00
					span.my-cart-table__total__currency USD
			.my-cart-table-row.row--total
				.my-cart-table__price
					span.my-cart-table__price__title Total:
				.my-cart-table__total
					.my-cart-table__finally-price
						span.my-cart-table__finally-price__value 924.00
						span.my-cart-table__finally-price__currency USD

mixin table-row(data)
	.my-cart-table-row.row--products
		.my-cart-table__product-info
			.my-cart-table__product
				.my-cart-table__product__img
					img(src="s/images/useful/products/product-img.jpg", alt="product")
				.my-cart-table__product__text
					.my-cart-table__product__text__main
						.product-indicator(class='' + data.class ? data.class : null)
						span.my-cart-table__product__name Mesterolon
					.my-cart-table__product__text__secondary
						span Warehouse EU01
		.my-cart-table__side
			.my-cart-table__quantity
				.goods-item__count
					button(type="button").goods-item__count__btn.goods-item__count__decrease
					input.goods-item__count__input.js-num-input(type="text", value='' + data.value ? data.value : null)
					button(type="button").goods-item__count__btn.goods-item__count__increase
			.my-cart-table__multiple
				+svg('icon-close')
			.my-cart-table__price
				span.my-cart-table__price__value 42.43
				span.my-cart-table__price__currency USD
			.my-cart-table__total
				span.my-cart-table__total__value 
				span.my-cart-table__total__currency USD
			.my-cart-table__remove
				button.my-cart-table__remove__btn.js-product-remove(type="button") 
					span.my-cart-table__remove__btn__text Delete
					+svg('icon-remove-sm')