mixin invoice-western-union(data)
	form#invoice_form.acc-checkout-form.js-form-check(action="javascript:void(0)")
		.acc-checkout-form__invoice
			.acc-checkout-form__invoice__top
				.acc-checkout-form__invoice__top__side
					span.order-block__num RA0547
					.order-block__info
						.order-block__info__icon
							+svg('icon-circled-arrow')
						span.order-block__info__name Order Status: Pay Invoice
				.acc-checkout-form__invoice__top__side
					span.acc-checkout-form__invoice__top__date 2020-02-06
					.acc-checkout-form__invoice__top__buttons
						a.btn.btn--md.btn--black.js-see-products(href="#products_in_order")
							span See Products
			.acc-checkout-form__invoice__wu
				.acc-checkout-form__invoice__wu__side
					.acc-checkout-form__invoice__wu__info
						.acc-checkout-form__invoice__wu__group
							span.acc-checkout-form__invoice__wu__group-label First Name:
							span.acc-checkout-form__invoice__wu__group-name Mariia
						.acc-checkout-form__invoice__wu__group
							span.acc-checkout-form__invoice__wu__group-label Last Name:
							span.acc-checkout-form__invoice__wu__group-name Khodorkova
						.acc-checkout-form__invoice__wu__group
							span.acc-checkout-form__invoice__wu__group-label Country:
							span.acc-checkout-form__invoice__wu__group-name Israel
						.acc-checkout-form__invoice__wu__group
							span.acc-checkout-form__invoice__wu__group-label City:
							span.acc-checkout-form__invoice__wu__group-name Tel Aviv
				.acc-checkout-form__invoice__wu__side
					.wu-danger.wu-danger--red
						.wu-danger__icon
							+svg('icon-attention')
						.wu-danger__text
							p Please choose ILS (Israeli New Shekel) as pick up currency! #[br] Do NOT select USD or other currencies!
					.wu-danger
						.wu-danger__icon
							+svg('icon-attention')
						.wu-danger__text
							p Please note that you have selected to pay by Western Union and these are the most recent receiver's details to use. Save them only if you are proceeding with payment for your order in the next 24 hours. In any other scenarios (e.g. you will be paying later) please always make sure to check your ORDER DETAILS / MY BALANCE first.
					.wu-danger
						.wu-danger__icon
							+svg('icon-attention')
						.wu-danger__text
							p Please make sure the receiver's name is CORRECTLY spelled otherwise we won't be able to pick up the funds.
					.wu-danger
						.wu-danger__icon
							+svg('icon-attention')
						.wu-danger__text
							p In order for us to pick up the funds will be needing the exact name of the sender and the 10 digits MTCN control number the Western Union agent will provide you.
					.wu-danger
						.wu-danger__icon
							+svg('icon-attention')
						.wu-danger__text
							p Western Union don’t allow transfers for a purchase of goods or services. Please make sure to answer you’re not buying anything and also that you personally know the receiver.
					.wu-danger
						.wu-danger__icon
							+svg('icon-attention')
						.wu-danger__text
							p We also recommend transfers to be made from local agencies, not online  or using a credit card.
		.acc-checkout-form__footer.acc-checkout-form__footer--static-mobile
			.acc-checkout-form__footer__inner
				button.btn.btn--yellow.btn--md.js-confirm-modal-trigger(type="button")
					+svg('icon-billed')
					span Confirm Payment
					span.btn__total-count (72.56 USD) 
				.acc-checkout-form__footer__total
					span Total:
					span 72.56
					span Usd
		.acc-checkout-form__modal
			.acc-checkout-form__modal__inner
				span.acc-checkout-form__modal__title confirm double check
				.acc-checkout-form__modal__side-wrap
					.acc-checkout-form__modal__side.acc-checkout-form__modal__side--lg
						.acc-coins__photo__group
							span.acc-coins__photo__group__title Sender’s Full  Name:
							.input-wrap.required
								input.form-control.form-control--silver(type="text", name="name", placeholder="Mr Smith...", required="")
								span.form-control-descr Who sent us the money. Money sender as indicated on receipt.
						.acc-coins__photo__group
							span.acc-coins__photo__group__title Currency:
							.input-wrap.required
								input.form-control.form-control--silver(type="text", name="payout_currency", placeholder="...", required="")
								span.form-control-descr Did you opt for USD? EUR? Other currencies? Check your receipt again if you are not sure about this one.
						.acc-coins__photo__group
							span.acc-coins__photo__group__title MTCN Control number:
							.input-wrap.required
								input.form-control.form-control--silver(type="text", name="mtcn_control", placeholder="10 digits...", required="")
								span.form-control-descr Check your receipt. It's a 10 digit number.
						.acc-coins__photo__group
							span.acc-coins__photo__group__title Sender’s Country:
							.input-wrap.required
								input.form-control.form-control--silver(type="text", name="country", placeholder="Country...", required="")
								span.form-control-descr Where is located the MONEY sender, aka the payer?
						.acc-coins__photo__group
							span.acc-coins__photo__group__title Payout Sum:
							.input-wrap.required
								input.form-control.form-control--silver(type="text", name="payout_sum", placeholder="0.00", required="")
								span.form-control-descr What is the amount we should pick up as it is indicated on your MG or WU receipt. Please always make sure to check the receipt before filling in this field!
						.acc-coins__photo__group
							span.acc-coins__photo__group__title Name of the receiver:
							.input-wrap.required
								input.form-control.form-control--silver(type="text", name="reciever_name", placeholder="Mr Smith...", required="")
								span.form-control-descr Who is the "RECIPIENT", aka the person who will pickup the money?
						.acc-coins__photo__group
							button.btn.btn--yellow.btn--md(type="submit")
								+svg('icon-chk')
								span Yes, i want to confirm
						.acc-coins__photo__group
							button.btn.btn--bordered.btn--md.js-confirm-modal-close(type="button")
								span Not sure, review invoice
				.acc-coins__notice
					.acc-coins__notice__icon
						+svg('icon-attention')
					p.acc-coins__notice__text #[b Important notice: ] Confirm the payment only after the invoice has been paid.
			.acc-checkout-form__modal__submitted
				.acc-checkout-form__modal__submitted__inner
					.acc-checkout-form__modal__submitted__side
						.acc-checkout-form__modal__submitted__icon
							+svg('icon-withdraw')
						span.acc-checkout-form__modal__submitted__title All is done, payment confirmed
					button.btn.btn--md.btn--bordered.js-confirm-modal-close(type="button")
						span Close
			button.acc-checkout-form__modal__close.js-confirm-modal-close(type="button")
				+svg('icon-remove-sm')