.shipping {
    &-wrapper {
        padding: 5rem 0;
        @media (max-width: $sw-sm-max) {
            padding: 3rem 0 5rem 0;
        }
    }
    &-section {
        width: 100%;
        max-width: 92rem;
        margin: 0 auto;
        &__top {
            margin-bottom: 5.7rem;
            @media (max-width: $sw-sm-max) {
                margin-bottom: 3rem;
            }
            .section-title__secondary {
                font-size: 3.2rem;
                line-height: 1.25em;
                @media (max-width: $sw-sm-max) {
                    font-size: 2.4rem;
                    line-height: 1.33em;
                }
                @media (max-width: $sw-xx-max) {
                    font-size: 2rem;
                }
            }
        }
    }
    &-box {
        width: 100%;
        margin-bottom: 4.7rem;
        @media (max-width: $sw-sm-max) {
            margin-bottom: 3rem;
        }
        .article-title {
            margin-bottom: 2.6rem;
        }
    }
    &-grid {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -2rem;
        @media (max-width: $sw-md-max) {
            margin: 0 -1rem;
        }
        @media (max-width: $sw-xs-max) {
            margin: 0 -6px;
        }
        @media (max-width: $sw-xx-max) {
            margin: 0 -1rem;
        }
        &__col {
            width: calc(100% / 3);
            padding: 0 2rem;
            margin-bottom: 4rem;
            @media (max-width: $sw-md-max) {
                padding: 0 1rem;
            }
            @media (max-width: $sw-xs-max) {
                padding: 0 6px;
                margin-bottom: 2rem;
            }
            @media (max-width: $sw-xx-max) {
                width: 50%;
                padding: 0 1rem;
            }
        }
        &__item {
            width: 100%;
            height: 100%;
            border-radius: 1.6rem;
            background-color: #21273B;
            border: 1px solid rgba(223, 225, 238, 0.3);
            padding: 1.9rem 2rem;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            position: relative;
            @media (max-width: $sw-md-max) {
                padding: 1.9rem 1.6rem;
                align-items: center;
            }
            @media (max-width: $sw-xs-max) {
                min-height: 10.8rem;
            }
            @media (max-width: $sw-xx-max) {
                flex-wrap: wrap;
                min-height: auto;
                height: 100%;
                padding: 1rem 0.9rem 2.1rem 0.9rem;
            }
            &__icon {
                background-color: #21273B;
                border: 1px solid $light-blue;
                border-radius: 3rem;
                width: 8rem;
                height: 8rem;
                margin-right: 2rem;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-shrink: 0;
                @media (max-width: $sw-md-max) {
                    width: 7rem;
                    height: 7rem;
                    border-radius: 2.4rem;
                }
                @media (max-width: $sw-xs-max) {
                    width: 5rem;
                    height: 5rem;
                    border-radius: 1.6rem;
                    margin-right: 1rem;
                }
                @media (max-width: $sw-xx-max) {
                    width: 6rem;
                    height: 6rem;
                    border-radius: 2.2rem;
                }
                .icon {
                    font-size: 2rem;
                    &-order-till {
                        font-size: 5rem;
                        @media (max-width: $sw-md-max) {
                            font-size: 4rem;
                        }
                        @media (max-width: $sw-xs-max) {
                            font-size: 3rem;
                        }
                        @media (max-width: $sw-xx-max) {
                        }
                    }
                    &-order-over {
                        font-size: 4.2rem;
                        @media (max-width: $sw-md-max) {
                            font-size: 3.8rem;
                        }
                        @media (max-width: $sw-xs-max) {
                            font-size: 2.8rem;
                        }
                        @media (max-width: $sw-xx-max) {
                        }
                    }
                    &-domestic-shipping {
                        font-size: 4.6rem;
                        @media (max-width: $sw-md-max) {
                            font-size: 4rem;
                        }
                        @media (max-width: $sw-xs-max) {
                            font-size: 3rem;
                        }
                        @media (max-width: $sw-xx-max) {
                        }
                    }
                    &-collect {
                        color: $light-blue;
                        font-size: 4.1rem;
                        @media (max-width: $sw-xs-max) {
                            font-size: 3.2rem;
                        }
                        @media (max-width: $sw-xx-max) {
                        }
                    }
                    &-delivery-time {
                        color: $light-blue;
                        font-size: 3rem;
                        @media (max-width: $sw-xs-max) {
                            font-size: 2.2rem;
                        }
                        @media (max-width: $sw-xx-max) {
                        }
                    }
                    &-shipping-from {
                        color: $light-blue;
                        font-size: 4.1rem;
                        @media (max-width: $sw-md-max) {
                            font-size: 3.8rem;
                        }
                        @media (max-width: $sw-xs-max) {
                            font-size: 2.8rem;
                        }
                        @media (max-width: $sw-xx-max) {
                        }
                    }
                    &-tracking-number {
                        color: $light-blue;
                        font-size: 3.3rem;
                        @media (max-width: $sw-xs-max) {
                            font-size: 2.8rem;
                        }
                        @media (max-width: $sw-xx-max) {
                        }
                    }
                    &-reship-policy {
                        color: $light-blue;
                        font-size: 3.6rem;
                        @media (max-width: $sw-md-max) {
                            font-size: 3.4rem;
                        }
                        @media (max-width: $sw-xs-max) {
                            font-size: 2.4rem;
                        }
                        @media (max-width: $sw-xx-max) {
                        }
                    }
                    &-discret-packaging {
                        color: $light-blue;
                        font-size: 3.6rem;
                        @media (max-width: $sw-xs-max) {
                            font-size: 2.8rem;
                        }
                        @media (max-width: $sw-xx-max) {
                        }
                    }
                }
            }
            &__info {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: flex-start;
                text-align: left;
                @media (max-width: $sw-xx-max) {
                    width: 100%;
                    margin-top: 1rem;
                }
            }
            &__title {
                display: block;
                width: 100%;
                font-size: 1.4rem;
                line-height: 1.4em;
                text-transform: capitalize;
                color: $yellow;
                margin-bottom: 1rem;
                text-align: left;
                @media (max-width: $sw-xs-max) {
                    margin-bottom: 6px;
                    font-size: 1.3rem;
                }
                @media (max-width: $sw-xx-max) {
                    font-size: 1.4rem;
                    margin-bottom: 1rem;
                }
                &--lg {
                    color: $light-blue;
                    font-weight: 800;
                    font-style: italic;
                    text-transform: uppercase;
                }
            }
            &__num, &__price-descr {
                font-style: italic;
                font-weight: 800;
                font-size: 14px;
                line-height: 1.4em;
                letter-spacing: -0.02em;
                text-transform: uppercase;
                color: $light-blue;
                @media (max-width: $sw-md-max) {
                    font-size: 1.8rem;
                }
                @media (max-width: $sw-xs-max) {
                    font-size: 1.5rem;
                }
                @media (max-width: $sw-xx-max) {
                    font-size: 1.6rem;
                    display: block;
                    width: 100%;
                }
                br {
                    @media (max-width: $sw-xx-max) {
                        display: none;
                    }
                }
            }
            &__price {
                font-style: italic;
                font-weight: 800;
                color: $yellow;
                font-size: 1.8rem;
                line-height: 1.1em;
                letter-spacing: -0.02em;
                text-transform: uppercase;
                margin-top: 7px;
                @media (max-width: $sw-xs-max) {
                    font-size: 1.6rem;
                }
                @media (max-width: $sw-xx-max) {
                    font-size: 1.8rem;
                }
            }
            &__subtitle {
                display: block;
                width: 100%;
                font-weight: 600;
                font-size: 1.2rem;
                line-height: 1.65em;
                color: rgba(223, 225, 238, 0.3);
                margin-bottom: 1rem;
            }
        }
    }
    &-table {
        .article-title {
            margin-bottom: 2.5rem;
            @media (max-width: $sw-sm-max) {
                margin-bottom: 2rem;
            }
        }
        &__inner {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            margin: 0 -3rem;
            @media (max-width: $sw-xs-max) {
                margin: 0 -1.5rem;
            }
            @media (max-width: $sw-xx-max) {
                flex-wrap: wrap;
                margin: 0;
            }
            &__col {
                padding: 0 3rem;
                width: 50%;
                @media (max-width: $sw-xs-max) {
                    padding: 0 1.5rem;
                }
                @media (max-width: $sw-xx-max) {
                    padding: 0;
                    width: 100%;
                }
                &:not(:first-child) {
                    .shipping-table__header {
                        @media (max-width: $sw-xx-max) {
                            display: none;
                        }
                    }
                }
                & + .shipping-table__inner__col {
                    .shipping-table__row {
                        &:first-child {
                            @media (max-width: $sw-xx-max) {
                                &:before {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
        &__item {
            width: 100%;
        }
        &__header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 5rem;
            @media (max-width: $sw-xs-max) {
                height: 4.4rem;
            }
            .shipping-table__col {
                font-size: 1.2rem;
                line-height: 1.4em;
                color: rgba(223, 225, 238, 0.3);
            }
        }
        &__col {
            font-size: 1.6rem;
            line-height: 1.875em;
            color: $light-blue;
            @media (max-width: $sw-xs-max) {
                font-size: 1.4rem;
            }
            &.col-country {
                font-weight: 600;
                padding: 0 1rem;
            }
            &.col-delivery-days {
                width: 11rem;
                padding-right: 1rem;
                text-align: left;
                @media (max-width: $sw-xs-max) {
                    width: 9rem;
                }
            }
        }
        &__row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 5rem;
            position: relative;
            @media (max-width: $sw-xs-max) {
                height: 4.4rem;
            }
            &:before {
                content: '';
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                height: 2px;
                width: 100%;
                background-color: rgba(223, 225, 238, 0.3);
                opacity: 0.3;
            }
            &:last-child {
                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    height: 2px;
                    width: 100%;
                    background-color: rgba(223, 225, 238, 0.3);
                    opacity: 0.3;
                }
            }
        }
    }
}