mixin shipping(data)
	.shipping-wrapper
		.container
			.shipping-section
				.shipping-section__top
					.section-title
						p.section-title__secondary Shipping
				.shipping-box
					.article-title
						p.article-title__item
							+svg('icon-orders')
							span Worldwide pricing
					.shipping-grid
						.shipping-grid__col
							.shipping-grid__item
								.shipping-grid__item__icon
									+svg('icon-order-till')
								.shipping-grid__item__info
									span.shipping-grid__item__price-descr Order #[br] till 400 usd
									span.shipping-grid__item__price 20 usd
						.shipping-grid__col
							.shipping-grid__item
								.shipping-grid__item__icon
									+svg('icon-order-over')
								.shipping-grid__item__info
									span.shipping-grid__item__price-descr Order #[br] over 400 usd
									span.shipping-grid__item__price free
						.shipping-grid__col
							.shipping-grid__item
								.shipping-grid__item__icon
									+svg('icon-domestic-shipping')
								.shipping-grid__item__info
									span.shipping-grid__item__price-descr uk domestic shipping
									span.shipping-grid__item__price 20 usd
				.shipping-box
					.article-title
						p.article-title__item
							+svg('icon-attention')
							span Shipping info
					.shipping-grid
						.shipping-grid__col
							.shipping-grid__item
								.shipping-grid__item__icon
									+svg('icon-collect')
								.shipping-grid__item__info
									span.shipping-grid__item__title Collect
									span.shipping-grid__item__num 1-3 days
						.shipping-grid__col
							.shipping-grid__item
								.shipping-grid__item__icon
									+svg('icon-delivery-time')
								.shipping-grid__item__info
									span.shipping-grid__item__title Collect
									span.shipping-grid__item__num 1-3 days
						.shipping-grid__col
							.shipping-grid__item
								.shipping-grid__item__icon
									+svg('icon-shipping-from')
								.shipping-grid__item__info
									span.shipping-grid__item__title Shipping from
									span.shipping-grid__item__num EU + UK domestic
						.shipping-grid__col
							.shipping-grid__item
								.shipping-grid__item__icon
									+svg('icon-tracking-number')
								.shipping-grid__item__info
									span.shipping-grid__item__title Tracking number
									span.shipping-grid__item__num Included
						.shipping-grid__col
							.shipping-grid__item
								.shipping-grid__item__icon
									+svg('icon-reship-policy')
								.shipping-grid__item__info
									span.shipping-grid__item__title Reship policy
									span.shipping-grid__item__num Included
						.shipping-grid__col
							.shipping-grid__item
								.shipping-grid__item__icon
									+svg('icon-discret-packaging')
								.shipping-grid__item__info
									span.shipping-grid__item__title Discrete packaging
									span.shipping-grid__item__num Included
				.shipping-table
					.article-title
						p.article-title__item
							+svg('icon-time')
							span approximate Delivery time
					.shipping-table__inner
						.shipping-table__inner__col
							.shipping-table__item
								.shipping-table__header
									.shipping-table__col.col-country
										span Country
									.shipping-table__col.col-delivery-days
										span Days Delivery
								.shipping-table__body
									.shipping-table__row
										.shipping-table__col.col-country
											span France
										.shipping-table__col.col-delivery-days
											span 4-7 days
									.shipping-table__row
										.shipping-table__col.col-country
											span Germany
										.shipping-table__col.col-delivery-days
											span 4-7 days
									.shipping-table__row
										.shipping-table__col.col-country
											span Italy
										.shipping-table__col.col-delivery-days
											span 6-8 days
									.shipping-table__row
										.shipping-table__col.col-country
											span United Kingdom
										.shipping-table__col.col-delivery-days
											span 2 days
									.shipping-table__row
										.shipping-table__col.col-country
											span Denmark
										.shipping-table__col.col-delivery-days
											span 4-7 days
									.shipping-table__row
										.shipping-table__col.col-country
											span Austria
										.shipping-table__col.col-delivery-days
											span 4-7 days
									.shipping-table__row
										.shipping-table__col.col-country
											span Slovakia
										.shipping-table__col.col-delivery-days
											span 4-7 days
									.shipping-table__row
										.shipping-table__col.col-country
											span Sweden
										.shipping-table__col.col-delivery-days
											span 4-7 days
						.shipping-table__inner__col
							.shipping-table__item
								.shipping-table__header
									.shipping-table__col.col-country
										span Country
									.shipping-table__col.col-delivery-days
										span Days Delivery
								.shipping-table__body
									.shipping-table__row
										.shipping-table__col.col-country
											span France
										.shipping-table__col.col-delivery-days
											span 4-7 days
									.shipping-table__row
										.shipping-table__col.col-country
											span Germany
										.shipping-table__col.col-delivery-days
											span 4-7 days
									.shipping-table__row
										.shipping-table__col.col-country
											span Italy
										.shipping-table__col.col-delivery-days
											span 6-8 days
									.shipping-table__row
										.shipping-table__col.col-country
											span United Kingdom
										.shipping-table__col.col-delivery-days
											span 2 days
									.shipping-table__row
										.shipping-table__col.col-country
											span Denmark
										.shipping-table__col.col-delivery-days
											span 4-7 days
									.shipping-table__row
										.shipping-table__col.col-country
											span Austria
										.shipping-table__col.col-delivery-days
											span 4-7 days
									.shipping-table__row
										.shipping-table__col.col-country
											span Slovakia
										.shipping-table__col.col-delivery-days
											span 4-7 days
									.shipping-table__row
										.shipping-table__col.col-country
											span Sweden
										.shipping-table__col.col-delivery-days
											span 4-7 days