.payments {
    &-wrapper {
        padding: 5rem 0;
        @media (max-width: $sw-sm-max) {
            padding: 3rem 0 5rem 0;
        }
    }
    &-section {
        width: 100%;
        max-width: 92rem;
        margin: 0 auto;
        .acc-coins__empty {
            margin-top: 0;
            margin-bottom: 2.6rem;
        }
        &__top {
            margin-bottom: 6.4rem;
            @media (max-width: $sw-sm-max) {
                margin-bottom: 3rem;
            }
            .section-title__secondary {
                font-size: 3.2rem;
                line-height: 1.25em;
                @media (max-width: $sw-sm-max) {
                    font-size: 2.4rem;
                    line-height: 1.33em;
                }
                @media (max-width: $sw-xx-max) {
                    font-size: 2rem;
                }
            }
        }
        &__boxes {
            &__inner {
                display: grid;
                justify-content: space-between;
                grid-template-columns: 44rem 44rem;
                grid-template-rows: auto;
                column-gap: 4rem;
                row-gap: 3rem;
                @media (max-width: $sw-xs-max) {
                    grid-template-columns: 32.6rem 32.6rem;
                    column-gap: 2rem;
                    row-gap: 2rem;
                }
                @media (max-width: $sw-xx-max) {
                    grid-template-columns: 1fr;
                    column-gap: 1rem;
                    row-gap: 1rem;
                }
            }
            &__col {
                &.col-cryptocash {
                    grid-row: 1 / 3;
                    @media (max-width: $sw-xx-max) {
                        grid-row: auto;
                        order: 0;
                    }
                    .payments-section__boxes__item {
                        padding: 3.9rem 1rem 1.7rem 1rem;
                        @media (max-width: $sw-xx-max) {
                            padding: 2rem 1rem 0 1rem;
                        }
                    }
                }
                &.col-moneygram {
                    @media (max-width: $sw-xx-max) {
                        order: 4;
                    }
                }
                &.col-bankwire {
                    @media (max-width: $sw-xx-max) {
                        order: 1;
                    }
                }
                &.col-creditcard {
                    @media (max-width: $sw-xx-max) {
                        order: 2;
                    }
                }
                &.col-wu {
                    @media (max-width: $sw-xx-max) {
                        order: 3;
                    }
                }
            }
            &__item {
                width: 100%;
                height: 100%;
                min-height: 18rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin: 0;
                position: relative;
                background: #21273B;
                border: 1px solid rgba(223, 225, 238, 0.3);
                box-sizing: border-box;
                border-radius: 1.6rem;
                transition: border-color .3s ease;
                padding: 1rem;
                @media (max-width: $sw-xx-max) {
                    min-height: auto;
                    padding: 2rem 1rem;
                }
                &.is-active {
                    border-color: $yellow;
                    .payments-section__boxes__item {
                        &__icon {
                            .icon {
                                color: $yellow;
                            }
                        }
                        &__info {
                            color: $yellow;
                        }
                    }
                }
                &__icon {
                    margin: 0 0 3rem 0;
                    height: 4rem;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    @media (max-width: $sw-xx-max) {
                        margin: 0 0 1rem 0;
                    }
                    .icon {
                        color: $light-blue;
                        transition: color .3s ease;
                        &-mg {
                            font-size: 4rem;
                            @media (max-width: $sw-sm-max) {
                                font-size: 3rem;
                            }
                            @media (max-width: $sw-xx-max) {
                                font-size: 2.8rem;
                            }
                        }
                        &-payment-cr {
                            font-size: 2.4rem;
                            @media (max-width: $sw-sm-max) {
                                font-size: 1.6rem;
                            }
                            @media (max-width: $sw-xx-max) {
                                font-size: 1.4rem;
                            }
                        }
                        &-wu {
                            font-size: 2.6rem;
                            @media (max-width: $sw-sm-max) {
                                font-size: 1.8rem;
                            }
                        }
                        &-btc {
                            font-size: 3.1rem;
                            @media (max-width: $sw-sm-max) {
                                font-size: 2.4rem;
                            }
                            @media (max-width: $sw-xx-max) {
                                font-size: 2.2rem;
                            }
                        }
                        &-crypto {
                            font-size: 2.4rem;
                            @media (max-width: $sw-sm-max) {
                                font-size: 1.7rem;
                            }
                            @media (max-width: $sw-xx-max) {
                                font-size: 1.4rem;
                            }
                        }
                        &-payment-bw {
                            font-size: 2.3rem;
                            @media (max-width: $sw-sm-max) {
                                font-size: 1.6rem;
                            }
                            @media (max-width: $sw-xx-max) {
                                font-size: 1.4rem;
                            }
                        }
                    }
                }
                &__info {
                    text-align: center;
                    color: $light-blue;
                    transition: color .3s ease;
                    font-weight: 300;
                    font-size: 1.6rem;
                    line-height: 1.875em;
                    text-transform: capitalize;
                    margin-bottom: 0;
                    @media (max-width: $sw-xx-max) {
                        font-size: 1.4rem;
                    }
                    .icon-time {
                        font-size: 2rem;
                        margin-right: 1rem;
                        flex-shrink: 0;
                        @media (max-width: $sw-xx-max) {
                            font-size: 1.8rem;
                        }
                    }
                }
                &__list {
                    width: 100%;
                    max-width: 30rem;
                    margin: 4.8rem auto 0 auto;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    @media (max-width: $sw-xs-max) {
                        margin: 3rem auto 0 auto;
                        max-width: 17rem;
                    }
                    @media (max-width: $sw-xx-max) {
                        margin: 2rem auto 0 auto;
                    }
                    &__item {
                        text-align: left;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        margin-bottom: 3rem;
                        font-weight: 600;
                        font-size: 1.4rem;
                        line-height: 2.1em;
                        color: $light-blue;
                        transition: color .3s ease;
                        @media (max-width: $sw-xx-max) {
                            margin-bottom: 2rem;
                        }
                        @media (max-width: 399px) {
                            width: 100%;
                        }
                        &.is-active {
                            color: $yellow;
                        }
                        &:last-child {
                            width: 100%;
                            text-align: center;
                            justify-content: center;
                            @media (max-width: $sw-xs-max) {
                                text-align: left;
                                justify-content: flex-start;
                            }
                        }
                    }
                    &__img {
                        width: 3rem;
                        height: 3rem;
                        border-radius: 50%;
                        overflow: hidden;
                        margin-right: 1rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-shrink: 0;
                        img {
                            width: auto;
                            height: auto;
                            max-width: 100%;
                            max-height: 100%;
                        }
                    }
                }
            }
        }
    }
    &-info {
        margin-bottom: 8.6rem;
        @media (max-width: $sw-xs-max) {
            margin-bottom: 5rem;
        }
    }
    &-description {
        width: calc(100% + 12rem);
        @media (max-width: $sw-md-max) {
            width: 100%;
        }
        .article-title {
            margin-bottom: 3.7rem;
            @media (max-width: $sw-sm-max) {
                margin-bottom: 2.5rem;
            }
            @media (max-width: $sw-xx-max) {
                margin-bottom: 1.8rem;
            }
            &__item {
                display: flex;
                align-items: center;
                .icon-list-thin {
                    font-size: 1.2rem;
                    margin-top: 0;
                }
            }
        }
        &__box {
            &__inner {
                background-color: #21273B;
                border: 1px solid rgba(223, 225, 238, 0.3);
                border-radius: 1.6rem;
            }
            &__content {
                border-radius: 1.6rem 1.6rem 0 0;
                padding: 2.8rem 3.6rem 3rem 3.6rem;
                display: flex;
                align-items: flex-start;
                @media (max-width: $sw-sm-max) {
                    padding: 2.5rem;
                }
                @media (max-width: $sw-xx-max) {
                    padding: 2rem;
                    flex-wrap: wrap;
                }
                &__icon {
                    width: 11rem;
                    margin-right: 5.2rem;
                    flex-shrink: 0;
                    @media (max-width: $sw-sm-max) {
                        margin-right: 3rem;
                        width: 10rem;
                    }
                    @media (max-width: $sw-xx-max) {
                        display: none;
                    }
                    .icon {
                        font-size: 11rem;
                        @media (max-width: $sw-sm-max) {
                            font-size: 10rem;
                        }
                    }
                }
                &__side {
                    width: calc(100% - 16.2rem);
                    @media (max-width: $sw-sm-max) {
                        width: calc(100% - 13rem);
                    }
                    @media (max-width: $sw-xx-max) {
                        width: 100%;
                    }
                }
                &__selects {
                    display: flex;
                    align-items: flex-start;
                    justify-content: flex-start;
                    flex-wrap: wrap;
                    margin-bottom: 3rem;
                    @media (max-width: $sw-sm-max) {
                        margin-bottom: 1.5rem;
                    }
                    .acc-checkout-form__group {
                        width: 32rem;
                        margin-bottom: 2rem;
                        @media (max-width: $sw-sm-max) {
                            margin-bottom: 1.5rem;
                        }
                        @media (max-width: $sw-xx-max) {
                            width: 100%;
                        }
                        &:not(:last-child) {
                            margin-right: 4rem;
                            @media (max-width: $sw-xx-max) {
                                margin-right: 0;
                            }
                        }
                        & + .acc-checkout-form__group {
                            margin-top: 0;
                        }
                        &__title {
                            line-height: 1em;
                            margin-bottom: 1.8rem;
                        }
                    }
                }
                &__list {
                    counter-reset: descr-list;
                    li {
                        display: flex;
                        align-items: flex-start;
                        justify-content: flex-start;
                        font-weight: 600;
                        font-size: 1.6rem;
                        line-height: 1.8em;
                        color: $light-blue;
                        @media (max-width: $sw-xx-max) {
                            font-size: 1.4rem;
                        }
                        & + li {
                            margin-top: 4.1rem;
                            @media (max-width: $sw-sm-max) {
                                margin-top: 2rem;
                            }
                            @media (max-width: $sw-xx-max) {
                                margin-top: 1rem;
                            }
                        }
                        span {
                            margin-top: 6px;
                            @media (max-width: $sw-sm-max) {
                                margin-top: 2px;
                            }
                            @media (max-width: $sw-xx-max) {
                                margin-top: 1px;
                            }
                        }
                        a {
                            position: relative;
                            color: $yellow;
                            text-decoration: underline;
                        }
                        &:before {
                            content: counter(descr-list, decimal-leading-zero);
                            counter-increment: descr-list;
                            display: block;
                            margin-right: 2.5rem;
                            font-style: italic;
                            font-weight: 800;
                            font-size: 3.2rem;
                            line-height: 1.25em;
                            text-transform: uppercase;
                            color: $light-blue;
                            @media (max-width: $sw-sm-max) {
                                font-size: 2.8rem;
                                margin-right: 2rem;
                            }
                            @media (max-width: $sw-xx-max) {
                                font-size: 2.2rem;
                                margin-right: 1.5rem;
                            }
                        }
                    }
                }
            }
            &__footer {
                padding: 3rem;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 0 0 1.6rem 1.6rem;
                border-top: 1px solid rgba(223, 225, 238, 0.3);
                @media (max-width: $sw-sm-max) {
                    padding: 2rem;
                }
                @media (max-width: $sw-xx-max) {
                    padding: 1rem;
                    flex-wrap: wrap;
                }
                &__link {
                    width: 20.5rem;
                    height: auto;
                    margin: 0 4rem;
                    @media (max-width: $sw-sm-max) {
                        width: 18rem;
                        margin: 0 2.5rem;
                    }
                    @media (max-width: $sw-xx-max) {
                        margin: 5px 1rem;
                    }
                }
            }
        }
    }
}