mixin payments(data)
	.payments-wrapper
		.container
			.payments-section
				.payments-section__top
					.section-title
						p.section-title__secondary Payments
				.payments-info
					.acc-coins__empty
						.acc-coins__empty__side
							.acc-coins__empty__icon
								+svg('icon-payments-strong')
							.acc-coins__empty__text
								span bitcoin is the most secure #[br] and fast method
						.acc-coins__empty__side
							a.btn.btn--md.btn--bordered(href="javascript:void(0)") How buy bitcoin
					.payments-section__boxes
						.payments-section__boxes__inner
							.payments-section__boxes__col.col-cryptocash
								.payments-section__boxes__item.is-active
									.payments-section__boxes__item__icon
										+svg('icon-crypto')
									p.payments-section__boxes__item__info
										+svg('icon-time')
										span Instant Anonymous payment
									ul.payments-section__boxes__item__list.h-reset-list
										li.payments-section__boxes__item__list__item.is-active
											img.payments-section__boxes__item__list__img(src="s/images/useful/payments/bitcoin.png", alt="bitcoin")
											span Bitcoin BTC
										li.payments-section__boxes__item__list__item
											img.payments-section__boxes__item__list__img(src="s/images/useful/payments/tether.png", alt="tether")
											span Tether USDT
										li.payments-section__boxes__item__list__item
											img.payments-section__boxes__item__list__img(src="s/images/useful/payments/etherum.png", alt="Etherum")
											span Etherum ETH
										li.payments-section__boxes__item__list__item
											img.payments-section__boxes__item__list__img(src="s/images/useful/payments/litecoin.png", alt="Litecoin")
											span Litecoin LTC
										li.payments-section__boxes__item__list__item
											img.payments-section__boxes__item__list__img(src="s/images/useful/payments/binance.png", alt="Binance")
											span Binance Coin BNB
							.payments-section__boxes__col.col-moneygram
								.payments-section__boxes__item
									.payments-section__boxes__item__icon
										+svg('icon-mg')
									p.payments-section__boxes__item__info
										+svg('icon-time')
										span 1-2 days for payment crediting
							.payments-section__boxes__col.col-bankwire
								.payments-section__boxes__item
									.payments-section__boxes__item__icon
										+svg('icon-payment-bw')
									p.payments-section__boxes__item__info
										+svg('icon-time')
										span 1-3 days for payment crediting
							.payments-section__boxes__col.col-creditcard
								.payments-section__boxes__item
									.payments-section__boxes__item__icon
										+svg('icon-payment-cr')
									p.payments-section__boxes__item__info
										+svg('icon-time')
										span 1-2 days for payment crediting
							.payments-section__boxes__col.col-wu
								.payments-section__boxes__item
									.payments-section__boxes__item__icon
										+svg('icon-wu')
									p.payments-section__boxes__item__info
										+svg('icon-time')
										span 1-2 days for payment crediting
				.payments-description
					.payments-description__box
						.article-title
							p.article-title__item
								+svg('icon-list-thin')
								span Guide: How buy bitcoin
						.payments-description__box__inner
							.payments-description__box__content
								.payments-description__box__content__icon
									+svg('icon-man-strong')
								.payments-description__box__content__side
									.payments-description__box__content__selects
										.acc-checkout-form__group
											span.acc-checkout-form__group__title Transfer type
											.input-wrap
												select.js-select(name="country", data-placeholder="Select transfre type...")
													option(value="", label=" ")
													option(value="1") Card or Bank Wire (best)
													option(value="2") Card or Bank Wire (best) 2
													option(value="3") Card or Bank Wire (best) 3
										.acc-checkout-form__group
											span.acc-checkout-form__group__title Platform
											.input-wrap
												select.js-select(name="country", data-placeholder="Select platform...")
													option(value="", label=" ")
													option(value="1") Coinbase (best)
													option(value="2") Coinbase (best) 2
													option(value="3") Coinbase (best) 3
									ul.payments-description__box__content__list.h-reset-list
										li
											span Open wallet at #[a(href="javascript:void(0)") coinbase.com]
										li
											span Pay Invoice: send Bitcoin to our wallet
							.payments-description__box__footer
								a.payments-description__box__footer__link(href="javascript:void(0)")
									img(src="s/images/useful/svg/app-store.svg", alt="app-store")
								a.payments-description__box__footer__link(href="javascript:void(0)")
									img(src="s/images/useful/svg/google-pay.svg", alt="google-pay")