mixin my-account(data)
	.acc-my-account__top
		span.acc-my-account__title Glad to see you again!
		.acc-my-account__top__info
			.acc-my-account__top__info__icon
				+svg('icon-account-logo')
			.acc-my-account__top__info__text
				span.acc-my-account__top__info__subtitle My Customer ID: 8578541
				a.acc-my-account__top__info__email(href="user@protonmail.com") user@protonmail.com
				span.acc-my-account__top__info__status Status: Verified
	.last-orders
		.article-title
			p.article-title__item
				+svg('icon-orders')
				span Last orders
			a.article-title__link.article-title__link--green(href="javascript:void(0)")
				span Show All
				+svg('icon-chevron-down')
		.last-orders__inner
			.order-block
				.order-block__trigger
					.order-block__side
						span.order-block__num RA0547
						.order-block__status
							ul.order-block__list.h-reset-list
								li.order-block__list-item
									.order-block__list-item__icon
										+svg('icon-chk')
										+svg('icon-circled-arrow')
									span.order-block__list-item__name #[span.order-block__list-item__name__text Order Status:] #[span.dekor--green Delivered]
								li.order-block__list-item
									.order-block__list-item__icon
										+svg('icon-chk')
										+svg('icon-circled-arrow')
									span.order-block__list-item__name #[span.order-block__list-item__name__text Order Status:] Dispatched
								li.order-block__list-item
									.order-block__list-item__icon
										+svg('icon-chk')
										+svg('icon-circled-arrow')
									span.order-block__list-item__name #[span.order-block__list-item__name__text Order Status:] Order Collected
								li.order-block__list-item
									.order-block__list-item__icon
										+svg('icon-chk')
										+svg('icon-circled-arrow')
									span.order-block__list-item__name #[span.order-block__list-item__name__text Order Status:] Payment received
								li.order-block__list-item.is-active
									.order-block__list-item__icon
										+svg('icon-chk')
										+svg('icon-circled-arrow')
									span.order-block__list-item__name #[span.order-block__list-item__name__text Order Status:] Pay Invoice
								li.order-block__list-item
									.order-block__list-item__icon
										+svg('icon-chk')
										+svg('icon-circled-arrow')
									span.order-block__list-item__name #[span.order-block__list-item__name__text Order Status:] Make Order
					.order-block__side
						.order-block__btn--hidden
							a.btn.btn--bordered.btn--md.btn-view-invoice(href="javascript:void(0)") 
								span View Invoice from 2020-02-06
						button.btn.btn--bordered.btn--md.btn-confirm-payment(type="button")
							+svg('icon-billed')
							span Confirm Payment
						button.btn.btn--red-bordered.btn--md.js-order-delete(type="button") 
							span Delete order
					button.order-block__icon.js-order-trigger(type="button")
						+svg('icon-chevron-down')
				.order-block__content
					.order-block__inner
						.order-block__content__side
							a.btn.btn--bordered.btn--md.btn-view-invoice.btn-mobile-show(href="javascript:void(0)") 
								span View Invoice from 2020-02-06
							.order-block__track
								.order-block__track__icon
									+svg('icon-orders')
								p.order-block__track__text 120 Bremner Boulevard, Suite 1600, Toronto, ON M5J 0A8
							.order-block__track
								.order-block__track__icon
									+svg('icon-orders')
								p.order-block__track__text 120 Bremner Boulevard, Suite 1600, Toronto, ON M5J 0A8
				.order-block__modal
					button.order-block__modal__close.js-order-modal-close(type="button")
						+svg('icon-remove-sm')
					.order-block__modal__title
						span Delete double check
					.order-block__modal__actions
						button.btn.btn--yellow.btn--md.js-confirm-delete(type="button")
							+svg('icon-chk')
							span Yes, Delete order
						button.btn.btn--bordered.btn--md.js-order-modal-close(type="button")
							span Not sure, don’t delete
			.order-block
				.order-block__trigger
					.order-block__side
						span.order-block__num RA0547
						.order-block__status
							ul.order-block__list.h-reset-list
								li.order-block__list-item
									.order-block__list-item__icon
										+svg('icon-chk')
										+svg('icon-circled-arrow')
									span.order-block__list-item__name #[span.order-block__list-item__name__text Order Status:] #[span.dekor--green Delivered]
								li.order-block__list-item.is-active
									.order-block__list-item__icon
										+svg('icon-chk')
										+svg('icon-circled-arrow')
									span.order-block__list-item__name #[span.order-block__list-item__name__text Order Status:] Dispatched
								li.order-block__list-item
									.order-block__list-item__icon
										+svg('icon-chk')
										+svg('icon-circled-arrow')
									span.order-block__list-item__name #[span.order-block__list-item__name__text Order Status:] Order Collected
								li.order-block__list-item
									.order-block__list-item__icon
										+svg('icon-chk')
										+svg('icon-circled-arrow')
									span.order-block__list-item__name #[span.order-block__list-item__name__text Order Status:] Payment received
								li.order-block__list-item
									.order-block__list-item__icon
										+svg('icon-chk')
										+svg('icon-circled-arrow')
									span.order-block__list-item__name #[span.order-block__list-item__name__text Order Status:] Pay Invoice
								li.order-block__list-item
									.order-block__list-item__icon
										+svg('icon-chk')
										+svg('icon-circled-arrow')
									span.order-block__list-item__name #[span.order-block__list-item__name__text Order Status:] Make Order
					.order-block__side
						.order-block__btn--hidden
							a.btn.btn--bordered.btn--md.btn-view-invoice(href="javascript:void(0)", disabled="") 
								span View Invoice from 2020-02-06
						.order-block__btn--hidden
							button.btn.btn--silver-bordered.btn--md.btn-receive.js-order-receive(type="button") 
								+svg('icon-chk')
								span Received ?
						.order-block__btn--hide
							.order-block__tracking-num
								span Tracking number: 
								span.order-block__tracking-num__item RL384207929EE
						a.btn.btn--bordered.btn--md.btn-confirm-payment(href="javascript:void(0)") 
							+svg('icon-tracked')
							span track my order
					button.order-block__icon.js-order-trigger(type="button")
						+svg('icon-chevron-down')
				.order-block__content
					.order-block__inner
						.order-block__content__side
							.order-block__track.order-block__track--yellow
								.order-block__track__icon
									+svg('icon-orders')
								p.order-block__track__text 120 Bremner Boulevard, Suite 1600, Toronto, ON M5J 0A8
								.order-block__track__actions
									button.btn.btn--md.btn.btn--bordered(type="button")
										span Track (RL384207929EE)
									button.btn.btn--md.btn.btn--dark(type="button")
										span Problem?
							.order-block__track.order-block__track--yellow
								.order-block__track__icon
									+svg('icon-orders')
								p.order-block__track__text 120 Bremner Boulevard, Suite 1600, Toronto, ON M5J 0A8
								.order-block__track__actions
									button.btn.btn--md.btn.btn--bordered(type="button")
										span Track (RL384207929EE)
									button.btn.btn--md.btn.btn--dark(type="button")
										span Problem?
				.order-block__modal
					button.order-block__modal__close.js-order-modal-close(type="button")
						+svg('icon-remove-sm')
					.order-block__modal__title
						span You really received this order?
					.order-block__modal__actions
						button.btn.btn--yellow.btn--md.js-confirm-receive(type="button")
							+svg('icon-chk')
							span Yes, all in my hands
						button.btn.btn--bordered.btn--md.js-order-modal-close(type="button")
							span No, it was misclick				
	.earning-program
		.article-title
			p.article-title__item
				+svg('icon-partner')
				span Start Earning Today!
			a.article-title__link.article-title__link--green(href="javascript:void(0)")
				span About #[span.article-title__link__mob Program]
				+svg('icon-chevron-down')
		.ref-program
			.ref-program__side
				.ref-program__icon
					img(src="s/images/useful/svg/ref-coins.svg", alt="refferal coins")
				.ref-program__text
					span Referral program
					span invite customers and get real money!
			.ref-program__side
				a.btn.btn--green.btn--lg(href="javascript:void(0)") Start Earning
		.take-share
			.take-share__side
				.take-share__icon
					+svg('icon-take-share')
				.take-share__info
					span.take-share__title Take & Share
					p.take-share__text Use invite code or link to invite friends and earn money from their ourchases
			.take-share__side
				button.btn.btn--md.btn--black.btn-copy(type="button") 
					| Invite Code: XF584KL 
					+svg('icon-clipboard')
					span.btn-copy__inner
						+svg('icon-chk')
						span Copied
				span.take-share__divider or
				button.btn.btn--md.btn--black.how-it-works--mobile-only(type="button", data-target="#face_to_face_modal", data-toggle="modal") 
					span Face To Face
					+svg('icon-qrcode')
				span.take-share__divider.how-it-works--mobile-only or
				button.btn.btn--md.btn--yellow.btn-copy(type="button")
					+svg('icon-clipboard')
					span Copy Link
					span.btn-copy__inner
						+svg('icon-chk')
						span Copied
	.partner-program
		.article-title
			p.article-title__item
				+svg('icon-stats')
				span Partner Program Stats
			a.article-title__link.article-title__link--green(href="javascript:void(0)")
				span All #[span.article-title__link__mob Stats]
				+svg('icon-chevron-down')
		.partner-program__inner
			.partner-program__col.col-balance
				.partner-program__item.is-active
					.partner-program__item__icon
						+svg('icon-balance')
					.partner-program__item__info
						span.partner-program__item__title Balance
						span.partner-program__item__num 200.00 USD
			.partner-program__col.col-pending
				.partner-program__item
					.partner-program__item__icon
						+svg('icon-withdraw')
					.partner-program__item__info
						span.partner-program__item__title Pending Commision
						span.partner-program__item__num 60.00 USD
			.partner-program__col.col-month-income
				.partner-program__item
					.partner-program__item__icon
						+svg('icon-last-month')
					.partner-program__item__info
						span.partner-program__item__title Last month income
						span.partner-program__item__num 340.00 USD
			.partner-program__col.col-invite
				.partner-program__item
					.partner-program__item__icon
						+svg('icon-invite')
					.partner-program__item__info
						span.partner-program__item__title Invite friends
						span.partner-program__item__num 50 friends
			.partner-program__col.col-orders
				.partner-program__item
					.partner-program__item__icon
						+svg('icon-orders')
					.partner-program__item__info
						span.partner-program__item__title Number of orders
						span.partner-program__item__num 200 orders
			.partner-program__col.col-total-income
				.partner-program__item
					.partner-program__item__icon
						+svg('icon-pending')
					.partner-program__item__info
						span.partner-program__item__title Total income
						span.partner-program__item__num 1200.00 usd
	.history-store
		.article-title
			p.article-title__item
				+svg('icon-coins-tr')
				span History Store Coins
			a.article-title__link.article-title__link--green(href="javascript:void(0)")
				span #[span.article-title__link__mob Show] All
				+svg('icon-chevron-down')
		.history-store__table
			.history-store__table__head
				.history-store__table__col.col-date
					span Date
				.history-store__table__col.col-type
					span Coins Type
				.history-store__table__col.col-status
					span Coins status
				.history-store__table__col.col-credited
					span Credited
			.history-store__table__body
				.history-store__table__row
					.history-store__table__col.col-date
						.history-store__table__col__mob
							span Date
						.history-store__table__col__side
							span 12 Jan 2021
					.history-store__table__col.col-type
						.history-store__table__col__mob
							span Coins Type
						.history-store__table__col__side
							span Photo Coins
					.history-store__table__col.col-status
						.history-store__table__col__mob
							span Coins status
						.history-store__table__col__side
							span Pending
					.history-store__table__col.col-credited.col-blue
						.history-store__table__col__mob
							span Credited
						.history-store__table__col__side
							span -
				.history-store__table__row
					.history-store__table__col.col-date
						.history-store__table__col__mob
							span Date
						.history-store__table__col__side
							span 08 Jan 2021
					.history-store__table__col.col-type
						.history-store__table__col__mob
							span Coins Type
						.history-store__table__col__side
							span Review Coins
					.history-store__table__col.col-status
						.history-store__table__col__mob
							span Coins status
						.history-store__table__col__side
							span Received
					.history-store__table__col.col-credited.col-blue
						.history-store__table__col__mob
							span Credited
						.history-store__table__col__side
							+svg('icon-coins')
							span 15
				.history-store__table__row
					.history-store__table__col.col-date
						.history-store__table__col__mob
							span Date
						.history-store__table__col__side
							span 02 Jan 2021
					.history-store__table__col.col-type
						.history-store__table__col__mob
							span Coins Type
						.history-store__table__col__side
							span Photo Coins
					.history-store__table__col.col-status
						.history-store__table__col__mob
							span Coins status
						.history-store__table__col__side
							span Received
					.history-store__table__col.col-credited.col-blue
						.history-store__table__col__mob
							span Credited
						.history-store__table__col__side
							+svg('icon-coins')
							span 10