.acc-my-account {
    width: 100%;
    padding: 4.4rem 10.2rem 1rem 11.7rem;
    position: relative;
    z-index: 1;
    @media (max-width: $sw-md-max) {
        padding: 4.4rem 4.6rem 1rem 4.6rem;
    }
    @media (max-width: $sw-sm-max) {
        padding: 4rem 4rem 1rem 4rem;
        width: 100%;
    }
    @media (max-width: $sw-xx-max) {
        padding: 5.2rem 1rem 1rem 1rem;
    }
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 7.1rem;
        @media (max-width: $sw-md-max) {
            margin-bottom: 7rem;
        }
        @media (max-width: $sw-xs-max) {
            margin-bottom: 4.5rem;
        }
        @media (max-width: $sw-xx-max) {
            flex-wrap: wrap;
            margin-bottom: 4.5rem;
        }
        &__info {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            @media (max-width: $sw-xx-max) {
                margin-bottom: 1.4rem;
            }
            &__icon {
                display: none;
                margin-right: 2rem;
                @media (max-width: $sw-xx-max) {
                    display: flex;
                }
                .icon-account-logo {
                    font-size: 10rem;
                }
            }
            &__subtitle {
                display: block;
                font-size: 1.6rem;
                line-height: 1.875em;
                color: rgba(223, 225, 238, 0.3);
                @media (max-width: $sw-xs-max) {
                    font-size: 1.4rem;
                }
                @media (max-width: $sw-xx-max) {
                    font-size: 1.6rem;
                    width: 100%;
                    order: 0;
                }
            }
            &__status, &__email {
                display: none;
                font-size: 1.6rem;
                line-height: 1.875em;
                color: rgba(223, 225, 238, 0.3);
                @media (max-width: $sw-xx-max) {
                    display: block;
                }
            }
        }
    }
    &__title {
        font-size: 3rem;
        line-height: 1.5em;
        display: block;
        color: $light-blue;
        margin-right: 1rem;
        @media (max-width: $sw-md-max) {
            font-size: 2.6rem;
        }
        @media (max-width: $sw-xs-max) {
            font-size: 2.2rem;
        }
        @media (max-width: $sw-xx-max) {
            font-size: 2.6rem;
            width: 100%;
            order: 1;
        }
    }
}

.earning-program {
    margin-bottom: 8.3rem;
    @media (max-width: $sw-xx-max) {
        margin-bottom: 4.9rem;
    }
}

.ref-program {
    width: 100%;
    margin-bottom: 2rem;
    padding: 2.9rem 4rem 2.9rem 3rem;
    border: 1px solid rgba(223, 225, 238, 0.3);
    border-radius: 2rem;
    background-color: transparent;
    background-image: url('../../s/images/useful/texture.png');
    background-repeat: repeat;
    background-size: cover;
    background-position: 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: $sw-md-max) {
        padding: 2.5rem;
    }
    @media (max-width: $sw-xs-max) {
        padding: 2rem;
    }
    @media (max-width: $sw-xx-max) {
        flex-wrap: wrap;
    }
    &__side {
        display: flex;
        align-items: center;
        @media (max-width: $sw-xx-max) {
            width: 100%;
        }
        & + .ref-program__side {
            margin-left: 2rem;
            @media (max-width: $sw-xx-max) {
                margin-left: 0;
                margin-top: 2rem;
            }
        }
        .btn {
            min-width: 14rem;
            height: 6rem;
            @media (max-width: $sw-xx-max) {
                height: 5rem;
                min-width: auto;
                width: 100%;
            }
        }
    }
    &__icon {
        margin-right: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        @media (max-width: $sw-md-max) {
            margin-right: 2.5rem;
        }
        @media (max-width: $sw-xs-max) {
            margin-right: 2rem;
        }
        @media (max-width: $sw-xx-max) {
            margin-right: 1rem;
        }
        img {
            width: 8rem;
            @media (max-width: $sw-xs-max) {
                width: 6.5rem;
            }
            @media (max-width: $sw-xx-max) {
                width: 6rem;
            }
        }
    }
    &__text {
        span, p {
            display: block;
            font-weight: 800;
            font-style: italic;
            font-size: 2.6rem;
            line-height: 1.15em;
            letter-spacing: -0.02em;
            text-transform: uppercase;
            color: #6FCF97;
            @media (max-width: $sw-md-max) {
                font-size: 2.4rem;
            }
            @media (max-width: $sw-xs-max) {
                font-size: 2rem;
            }
            @media (max-width: $sw-xx-max) {
                font-size: 1.6rem;
                line-height: 1.25em;
            }
        }
    }
}

.take-share {
    padding: 1.8rem 3rem;
    border-radius: 1.6rem;
    background-color: #21273B;
    border: 1px solid rgba(223, 225, 238, 0.3);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: $sw-md-max) {
        padding: 1.8rem 2.5rem;
    }
    @media (max-width: $sw-xs-max) {
        padding: 1.5rem 2rem;
    }
    @media (max-width: $sw-xx-max) {
        flex-wrap: wrap;
    }
    @media (max-width: 499px) {
        padding: 2rem;
    }
    &__icon {
        margin-right: 2rem;
        width: 8rem;
        height: 8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #DFE1EE;
        border-radius: 3rem;
        flex-shrink: 0;
        @media (max-width: $sw-xs-max) {
            width: 6.5rem;
            height: 6.5rem;
            padding: 8px;
            border-radius: 2.4rem;
        }
        @media (max-width: $sw-xx-max) {
            width: 6rem;
            height: 6rem;
            padding: 5px;
            margin-right: 1rem;
        }
        .icon-take-share {
            color: #6FCF97;
            font-size: 6.3rem;
            @media (max-width: $sw-xs-max) {
                font-size: 4.5rem;
            }
        }
    }
    &__side {
        display: flex;
        align-items: center;
        @media (max-width: $sw-xx-max) {
            width: 100%;
            align-items: flex-start;
        }
        & + .take-share__side {
            margin-left: 2rem;
            flex-shrink: 0;
            @media (max-width: $sw-xx-max) {
                margin-left: 0;
                margin-top: 2rem;
                align-items: center;
                flex-wrap: wrap;
            }
        }
        .btn {
            min-width: 20rem;
            @media (max-width: $sw-xs-max) {
                padding: 0 1rem;
                min-width: 18rem;
            }
            @media (max-width: $sw-xx-max) {
                min-width: auto;
                width: 100%;
                height: 5rem;
            }
            &--black {
                .icon-clipboard, .icon-qrcode {
                    font-size: 2rem;
                    margin-left: 1rem;
                    margin-right: 0;
                }
            }
        }
    }
    // &__invite-code {
    //     width: auto;
    //     min-width: 20rem;
    //     height: 5rem;
    //     display: inline-flex;
    //     align-items: center;
    //     justify-content: center;
    //     padding: 0 1rem;
    //     font-weight: 600;
    //     background-color: $dark;
    //     color: $light-blue;
    //     border: 1px solid rgba(223, 225, 238, 0.3);
    //     font-size: 1.4rem;
    //     line-height: 1;
    //     border-radius: 1.6rem;
    //     @media (max-width: $sw-xs-max) {
    //         min-width: 18rem;
    //     }
    //     @media (max-width: $sw-xx-max) {
    //         min-width: auto;
    //         width: 100%;
    //     }
    // }
    &__info {
        width: 100%;
        @media (max-width: 1699px) {
            max-width: 30rem;
        }
        @media (max-width: $sw-xx-max) {
            max-width: none;
        }
    }
    &__title {
        font-style: italic;
        font-weight: 800;
        font-size: 1.4rem;
        line-height: 2.15em;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        color: $light-blue;
        display: block;
        width: 100%;
        @media (max-width: $sw-xs-max) {
            line-height: 1.8em;
        }
        @media (max-width: $sw-xx-max) {
            margin-bottom: 5px;
        }
    }
    &__text {
        margin-bottom: 0;
        font-size: 1.4rem;
        line-height: 1.5em;
        @media (max-width: $sw-xx-max) {
            line-height: 1.4em;
        }
    }
    &__divider {
        display: inline-block;
        margin: 0 1.3rem;
        font-weight: 600;
        font-size: 1.4rem;
        line-height: 1.4em;
        display: flex;
        align-items: center;
        text-align: center;
        color: rgba($light-blue, 0.3);
        @media (max-width: $sw-xx-max) {
            flex-shrink: 0;
            width: 100%;
            margin: 1rem 0;
            justify-content: center;
            text-align: center;
        }
    }
}

.partner-program {
    margin-bottom: 6rem;
    @media (max-width: $sw-xx-max) {
        margin-bottom: 3rem;
    }
    &__inner {
        display: flex;
        flex-wrap: wrap;
        margin-left: -2rem;
        margin-right: -2rem;
        @media (max-width: $sw-md-max) {
            margin-left: -1rem;
            margin-right: -1rem;
        }
        @media (max-width: $sw-xs-max) {
            margin-left: -6px;
            margin-right: -6px;
        }
        @media (max-width: $sw-xx-max) {
            margin-left: -1rem;
            margin-right: -1rem;
        }
    }
    &__col {
        width: calc(100% / 3);
        padding: 0 2rem;
        margin-bottom: 2rem;
        @media (max-width: $sw-md-max) {
            padding: 0 1rem;
        }
        @media (max-width: $sw-xs-max) {
            padding: 0 6px;
            margin-bottom: 1.2rem;
        }
        @media (max-width: $sw-xx-max) {
            width: 50%;
            padding: 0 1rem;
            margin-bottom: 2rem;
        }
        &.col-balance {
            @media (max-width: $sw-xx-max) {
                order: 0;
            }
        }
        &.col-pending {
            @media (max-width: $sw-xx-max) {
                order: 1;
            }
        }
        &.col-month-income {
            @media (max-width: $sw-xx-max) {
                order: 4;
            }
        }
        &.col-invite {
            @media (max-width: $sw-xx-max) {
                order: 2;
            }
        }
        &.col-orders {
            @media (max-width: $sw-xx-max) {
                order: 3;
            }
        }
        &.col-total-income {
            @media (max-width: $sw-xx-max) {
                order: 5;
            }
        }
    }
    &__item {
        width: 100%;
        height: 100%;
        border-radius: 1.6rem;
        background-color: #21273B;
        border: 1px solid rgba(223, 225, 238, 0.3);
        padding: 1.9rem 2rem;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        position: relative;
        @media (max-width: $sw-md-max) {
            padding: 1.9rem 1.6rem;
            align-items: center;
        }
        @media (max-width: $sw-xx-max) {
            flex-wrap: wrap;
            padding: 1rem 0.9rem 2.1rem 0.9rem;
        }
        &.is-active {
            border: 2px solid #6FCF97;
        }
        &__icon {
            background-color: #1B2134;
            border: 1px solid rgba(223, 225, 238, 0.3);
            border-radius: 3rem;
            width: 8rem;
            height: 8rem;
            margin-right: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            @media (max-width: $sw-md-max) {
                width: 7rem;
                height: 7rem;
                border-radius: 2.4rem;
            }
            @media (max-width: $sw-xs-max) {
                width: 5rem;
                height: 5rem;
                border-radius: 1.6rem;
                margin-right: 1rem;
            }
            @media (max-width: $sw-xx-max) {
                width: 6rem;
                height: 6rem;
                border-radius: 2.2rem;
            }
            .icon {
                font-size: 2rem;
                color: #6FCF97;
            }
        }
        &__info {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: flex-start;
            text-align: left;
            margin-top: 1rem;
            @media (max-width: $sw-md-max) {
                margin-top: 0;
            }
            @media (max-width: $sw-xx-max) {
                width: 100%;
                margin-top: 1rem;
            }
            .how-it-works__item__order {
                display: none;
                @media (max-width: $sw-xx-max) {
                    display: block;
                }
            }
        }
        &__title {
            display: block;
            width: 100%;
            font-size: 1.4rem;
            line-height: 1.4em;
            text-transform: capitalize;
            color: #6FCF97;
            margin-bottom: 1rem;
            text-align: left;
            @media (max-width: $sw-xs-max) {
                margin-bottom: 6px;
                font-size: 1.3rem;
            }
            @media (max-width: $sw-xx-max) {
                font-size: 1.4rem;
                margin-bottom: 1rem;
            }
        }
        &__num {
            font-style: italic;
            font-weight: 800;
            font-size: 2rem;
            line-height: 1em;
            letter-spacing: -0.02em;
            text-transform: uppercase;
            color: $light-blue;
            @media (max-width: $sw-md-max) {
                font-size: 1.8rem;
            }
            @media (max-width: $sw-xs-max) {
                font-size: 1.6rem;
            }
            @media (max-width: $sw-xx-max) {
                font-size: 1.8rem;
            }
        }
    }
    &__footer {
        width: 100%;
        height: 100%;
        border-radius: 1.6rem;
        background-color: #21273B;
        border: 1px solid rgba(223, 225, 238, 0.3);
        padding: 1.9rem 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        @media (max-width: $sw-xx-max) {
            flex-direction: column;
            padding: 1rem 2rem;
        }
        .input-wrap {
            width: 20rem;
            margin: 0 1rem;
            @media (max-width: $sw-xx-max) {
                margin: 1rem 0;
                width: 100%;
                max-width: 40rem;
            }
        }
        .btn {
            min-width: auto;
            width: 100%;
            max-width: 20rem;
            margin: 0 1rem;
            @media (max-width: $sw-xx-max) {
                max-width: 40rem;
                margin: 1rem 0;
            }
        }
        &__info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            width: 100%;
            max-width: 15rem;
            font-weight: 600;
            font-size: 1.4rem;
            line-height: 1.4em;
            color: rgba($light-blue, 0.3);
            margin: 0 1rem;
            text-align: left;
            @media (max-width: $sw-xx-max) {
                text-align: center;
                align-items: center;
                margin: 1rem 0;
            }
            span, p {
                display: block;
                width: 100%;
                margin-bottom: 0;
            }
        }
        &__check {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            border-radius: 1.6rem;
            border: 1px solid rgba(223, 225, 238, 0.3);
            background-color: rgba(33, 39, 59, 0.97);
            padding: 1.9rem 2rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            opacity: 0;
            visibility: hidden;
            transition: opacity .2s ease, visibility .2s ease;
            @media (max-width: $sw-xx-max) {
                flex-wrap: wrap;
            }
            .is-checking & {
                opacity: 1;
                visibility: visible;
            }
            &__title {
                font-style: italic;
                font-weight: 800;
                font-size: 2.4rem;
                line-height: 1.65em;
                text-transform: uppercase;
                color: $light-blue;
                @media (max-width: $sw-sm-max) {
                    font-size: 2rem;
                }
                @media (max-width: $sw-xs-max) {
                    font-size: 1.8rem;
                }
                @media (max-width: $sw-xx-max) {
                    width: 100%;
                    text-align: center;
                }
            }
            &__actions {
                display: flex;
                align-items: center;
                justify-content: center;
                @media (max-width: $sw-xx-max) {
                    width: 100%;
                    flex-wrap: wrap;
                }
                .btn {
                    max-width: none;
                    width: auto;
                    min-width: 20rem;
                    @media (max-width: $sw-sm-max) {
                        min-width: 18rem;
                    }
                    @media (max-width: $sw-xs-max) {
                        min-width: 17rem;
                    }
                    @media (max-width: $sw-xx-max) {
                        margin: 1rem 5px;
                    }
                    & + .btn {
                        margin-left: 2rem;
                        @media (max-width: $sw-sm-max) {
                            margin-left: 1rem;
                        }
                        @media (max-width: $sw-xx-max) {
                            margin-left: 5px;
                        }
                    }
                }
            }
        }
        &__approved {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            border-radius: 1.6rem;
            border: 1px solid rgba(223, 225, 238, 0.3);
            background-color: rgba(33, 39, 59, 0.97);
            background-image: url('../../s/images/useful/texture.png');
            background-repeat: repeat;
            background-size: cover;
            background-position: 0 0;
            padding: 9px 3.4rem 9px 4rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            opacity: 0;
            visibility: hidden;
            transition: opacity .2s ease, visibility .2s ease;
            @media (max-width: $sw-sm-max) {
                padding: 9px 2rem;
            }
            @media (max-width: $sw-xx-max) {
                padding: 9px 1rem;
                flex-wrap: wrap;
                justify-content: center;
            }
            .is-approved & {
                transition: opacity .1s ease, visibility .1s ease;
                opacity: 1;
                visibility: visible;
            }
            .btn {
                width: 14rem;
                height: 6rem;
                min-width: auto;
            }
            &__side {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                margin-right: 1.5rem;
                @media (max-width: $sw-xx-max) {
                    margin-right: 0;
                    width: 100%;
                    text-align: center;
                    justify-content: center;
                }
            }
            &__icon {
                width: 7.2rem;
                height: 7.2rem;
                background-color: #6FCF97;
                border-radius: 2.4rem 2.4rem 2.4rem 0;
                margin-right: 3.4rem;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-shrink: 0;
                @media (max-width: $sw-sm-max) {
                    margin-right: 2rem;
                    width: 6rem;
                    height: 6rem;
                }
                @media (max-width: $sw-xx-max) {
                    width: 5.6rem;
                    height: 5.6rem;
                }
                .icon-withdraw {
                    font-size: 2.7rem;
                    color: $dark;
                    @media (max-width: $sw-sm-max) {
                        font-size: 2rem;
                    }
                }
            }
            &__title {
                font-style: italic;
                font-weight: 800;
                font-size: 2.6rem;
                line-height: 1.15em;
                letter-spacing: -0.02em;
                text-transform: uppercase;
                color: #6FCF97;
                @media (max-width: $sw-sm-max) {
                    font-size: 2rem;
                }
                @media (max-width: $sw-xx-max) {
                    font-size: 1.8rem;
                }
            }
        }
    }
    &__tabs {
        &__header {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-bottom: 2rem;
            @media (max-width: $sw-xx-max) {
                display: block;
            }
            &__title {
                font-size: 1.4rem;
                line-height: 1.2em;
                color: rgba(223, 225, 238, 0.3);
                margin-right: 2.1rem;
                @media (max-width: $sw-xx-max) {
                    margin-bottom: 1rem;
                    display: block;
                }
            }
        }
        &__items {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            border-radius: 1.6rem;
            border: 1px solid #6FCF97;
            @media (max-width: $sw-xx-max) {
                width: 100%;
                max-width: 50rem;
            }
        }
        &__item {
            height: 5rem;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 2.9rem;
            background-color: $dark;
            transition: background-color .3s ease, color .3s ease;
            font-size: 1.4rem;
            line-height: 1.2em;
            min-width: 16.6rem;
            text-transform: capitalize;
            color: $light-blue;
            font-weight: 600;
            cursor: pointer;
            @media (max-width: $sw-xx-max) {
                padding: 0 1rem;
                font-size: 1.3rem;
                min-width: auto;
                width: calc(100% / 3);
            }
            &:first-child {
                border-radius: 1.6rem 0 0 1.6rem;
            }
            &:last-child {
                border-radius: 0 1.6rem 1.6rem 0;
            }
            &:not(.is-active):hover {
                @media (min-width: $sw-xs-min) { 
                    background-color: #21273B;
                }
            }
            &:not(.is-active):active {
                background-color: lighten(#21273B, 2%);
            }
            & + .partner-program__tabs__item {
                border-left: 1px solid #6FCF97;
            }
            &.is-active {
                color: #6FCF97;
                background-color: #21273B;
            }
            .icon {
                font-size: 2rem;
                color: inherit;
                margin-right: 1rem;
                flex-shrink: 0;
                @media (max-width: $sw-xx-max) {
                    margin-right: 6px;
                    font-size: 1.4rem;
                }
            }
        }
        &__inner {
            &__box {
                display: none;
                &.is-active {
                    display: block;
                }
            }
        }
    }
}

.history-store {
    &__table {
        &__head {
            border-bottom: 2px solid rgba(223, 225, 238, 0.3);
            height: 5rem;
            display: flex;
            align-items: center;
            font-size: 1.2rem;
            line-height: 2em;
            color: rgba(223, 225, 238, 0.3);
            @media (max-width: $sw-xx-max) {
                display: none;
            }
        }
        &__row {
            height: 5rem;
            display: flex;
            align-items: center;
            border-bottom: 2px solid rgba(223, 225, 238, 0.3);
            font-size: 1.6rem;
            line-height: 1.875em;
            @media (max-width: $sw-xx-max) {
                background-color: #21273B;
                border: 1px solid #2F3548;
                border-radius: 1.6rem;
                display: block;
                height: auto;
                margin-bottom: 20px;
            }
            .col-date, 
            .col-status,
            .col-start,
            .col-id,
            .col-action-type,
            .col-amount,
            .col-order-status {
                color: $light-blue;         
            }
            .col-type{
                font-weight: 600;
                color: #2F80ED;
            }
            .col-reward,
            .col-credited {
                font-weight: 600;
                text-transform: uppercase;
                &.col-green {
                    color: #6FCF97;
                }
                &.col-blue {
                    color: #2F80ED;
                }
            }
        }
        &__col {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            text-align: left;
            @media (max-width: $sw-xx-max) {
                height: 5rem;
            }
            &:not(:last-child) {
                @media (max-width: $sw-xx-max) {
                    border-bottom: 1px solid #2F3548;
                }
            }
            .icon-coins {
                font-size: 2rem;
                margin-right: 5px;
            }
            &.col-date,
            &.col-type,
            &.col-status {
                width: calc((100% - 11rem) / 3);
                @media (max-width: $sw-xx-max) {
                    width: 100%;
                }
            }
            &.col-start, 
            &.col-id,
            &.col-action-type,
            &.col-amount,
            &.col-order-status {
                width: calc((100% - 11rem) / 5);
                @media (max-width: $sw-xx-max) {
                    width: 100%;
                }
            }
            &.col-credited, 
            &.col-reward {
                width: 11rem;
                @media (max-width: $sw-xx-max) {
                    width: 100%;
                }
            }
            &__side {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                @media (max-width: $sw-xx-max) {
                    width: 50%;
                    padding: 0 2rem 0 0;
                }
            }
            &__mob {
                font-size: 1.2rem;
                line-height: 2em;
                color: rgba(223, 225, 238, 0.3);
                display: none;
                @media (max-width: $sw-xx-max) {
                    padding: 0 1rem 0 2rem;
                    width: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                }
            }
        }
    }
}

.last-orders {
    margin-bottom: 8rem;
    .order-block {
        margin-bottom: 2rem;
    }
}

.pagination {
    &-wrap {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 2rem;
        @media (max-width: $sw-xx-max) {
            justify-content: center;
        }
    }
    &-prev, &-next {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 300;
        font-size: 1.8rem;
        line-height: 1.65em;
        text-transform: capitalize;
        color: $light-blue;
        transition: color .3s ease;
        .icon-chevron-down {
            font-size: 1.1rem;
        }
        &[disabled] {
            color: rgba($light-blue, 0.3);
            pointer-events: none;
        }
    }
    &-prev {
        margin-right: 2.5rem;
        @media (max-width: $sw-xx-max) {
            margin-right: 1rem;
        }
        .icon-chevron-down {
            transform: rotate(90deg);
            margin-right: 1.2rem;
            @media (max-width: $sw-xx-max) {
                margin-right: 8px;
            }
        }
    }
    &-next {
        margin-left: 2.5rem;
        @media (max-width: $sw-xx-max) {
            margin-left: 1rem;
        }
        .icon-chevron-down {
            transform: rotate(-90deg);
            margin-left: 1.2rem;
            @media (max-width: $sw-xx-max) {
                margin-left: 8px;
            }
        }
    }
    &-link {
        width: 3rem;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid transparent;
        border-radius: 6px;
        margin: 0 5px;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 1em;
        color: $light-blue;
        transition: border-color .3s ease, color .3s ease;
        &.is-active {
            border-color: rgba(223, 225, 238, 0.3);
        }
    }
}