.withdraw-funds {
    padding: 5rem 10rem 5rem 12rem;
    width: 100%;
    position: relative;
    z-index: 1;
    @media (max-width: $sw-md-max) {
        padding: 4.4rem 4.6rem 1rem 4.6rem;
    }
    @media (max-width: $sw-sm-max) {
        padding: 4rem 4rem 6rem 4rem;
        width: 100%;
    }
    @media (max-width: $sw-xx-max) {
        padding: 3.5rem 1rem 6rem 1rem;
    }

    &__top {
        margin-bottom: 2.6rem;
        @media (max-width: $sw-xs-max) {
            margin-bottom: 2rem;
        }
        .section-title {
            margin-bottom: 2rem;
        }
    }
    .partner-program {
        margin-bottom: 8.7rem;
        @media (max-width: $sw-xs-max) {
            margin-bottom: 5.7rem;
        }
        .article-title {
            margin-bottom: 2.5rem;
            @media (max-width: $sw-xs-max) {
                margin-bottom: 2rem;
            }
        }
    }
    .history-store {
        .article-title {
            margin-bottom: 2.6rem;
            @media (max-width: $sw-xs-max) {
                margin-bottom: 2rem;
            }
        }
        &__table__row {
            .col-type {
                color: $light-blue;
                font-weight: 400;
            }
        }
    }
}

.withdraw-processing {
    margin-bottom: 8.5rem;
    @media (max-width: $sw-xs-max) {
        margin-bottom: 5.7rem;
    }
    .article-title {
        margin-bottom: 2.6rem;
        @media (max-width: $sw-xs-max) {
            margin-bottom: 2rem;
        }
    }
    &__inner {
        .acc-coins__notice {
            @media (max-width: $sw-xx-max) {
                width: 100%;
                max-width: 40rem;
                margin: 0 auto;
            }
        }
    }
    &__form {
        display: flex;
        flex-wrap: wrap;
        margin-left: -2rem;
        margin-right: -2rem;
        @media (max-width: $sw-sm-max) {
            margin-left: -1.5rem;
            margin-right: -1.5rem;
        }
        @media (max-width: $sw-xs-max) {
            margin-left: -5px;
            margin-right: -5px;
        }
        @media (max-width: $sw-xx-max) {
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            max-width: 40rem;
        }
        &__col {
            width: calc(100% / 3);
            padding: 0 2rem;
            display: flex;
            align-items: flex-end;
            margin-bottom: 2rem;
            @media (max-width: $sw-sm-max) {
                padding: 0 1.5rem;
            }
            @media (max-width: $sw-xs-max) {
                padding: 0 5px;
            }
            @media (max-width: $sw-xx-max) {
                width: 100%;
                padding: 0;
                margin-bottom: 1.5rem;
            }
        }
        .acc-coins__photo__group {
            width: 100%;
            .btn {
                width: 100%;
                margin-top: 1rem;
            }
        }
    }
}

.withdraw-verify {
    display: none;
    &.is-active {
        display: block;
    }
}

.withdraw-success {
    width: 100%;
    padding: 3.3rem 4rem 3.3rem 3.2rem;
    border: 1px solid rgba(223, 225, 238, 0.3);
    border-radius: 2rem;
    background-color: transparent;
    background-image: url('../../s/images/useful/texture.png');
    background-repeat: repeat;
    background-size: cover;
    background-position: 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: $sw-md-max) {
        padding: 2.5rem;
    }
    @media (max-width: $sw-xs-max) {
        padding: 2rem;
        margin-bottom: 5.7rem;
    }
    @media (max-width: $sw-xx-max) {
        flex-wrap: wrap;
    }
    &-wrap {
        width: 100%;
        margin-bottom: 8.6rem;
        display: none;
        &.is-active {
            display: block;
        }
    }
    &__side {
        display: flex;
        align-items: center;
        @media (max-width: $sw-xx-max) {
            width: 100%;
        }
        & + .withdraw-success__side {
            margin-left: 2rem;
            @media (max-width: $sw-xx-max) {
                margin-left: 0;
                margin-top: 2rem;
            }
        }
        .btn {
            min-width: 14rem;
            height: 6rem;
            background-color: #21273B;
            @media (max-width: $sw-xx-max) {
                height: 5rem;
                min-width: auto;
                width: 100%;
            }
            &:not([disabled]):hover {
                @media (min-width: $sw-xs-min) { 
                    background-color: lighten(#21273B, 2%);
                }
            }
            &:not([disabled]):active {
                background-color: lighten(#21273B, 5%);
            }
        }
    }
    &__icon {
        width: 7.2rem;
        height: 7.2rem;
        margin-right: 3.4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        position: relative;
        background: #6FCF97;
        border-radius: 2.4rem 2.4rem 2.4rem 0px;
        @media (max-width: $sw-xx-max) {
            width: 6rem;
            height: 6rem;
            margin-right: 1rem;
        }
        .icon-withdraw {
            font-size: 3rem;
            color: $dark;
            @media (max-width: $sw-xx-max) {
                font-size: 2.5rem;
            }
        }
        .icon-coins {
            font-size: 3rem;
        }
    }
    &__text {
        span, p {
            display: block;
            font-weight: 800;
            font-style: italic;
            font-size: 2.6rem;
            line-height: 1.15em;
            letter-spacing: -0.02em;
            text-transform: uppercase;
            color: #6FCF97;
            @media (max-width: $sw-md-max) {
                font-size: 2.4rem;
            }
            @media (max-width: $sw-xs-max) {
                font-size: 2rem;
            }
            @media (max-width: $sw-xx-max) {
                font-size: 1.6rem;
                line-height: 1.25em;
            }
        }
    }
}