mixin withdraw-funds(data)
	.withdraw-funds
		.withdraw-funds__top
			.section-title
				+svg('icon-withdraw')
				p.section-title__secondary Withdraw funds
		.partner-program
			.article-title
				p.article-title__item
					+svg('icon-stats')
					span Stats
				a.article-title__link.article-title__link--green(href="javascript:void(0)")
					span All #[span.article-title__link__mob Stats]
					+svg('icon-chevron-down')
			.partner-program__inner
				.partner-program__col
					.partner-program__item.is-active
						.partner-program__item__icon
							+svg('icon-balance')
						.partner-program__item__info
							span.partner-program__item__title Balance
							span.partner-program__item__num 200.00 USD
				.partner-program__col
					.partner-program__item
						.partner-program__item__icon
							+svg('icon-withdraw')
						.partner-program__item__info
							span.partner-program__item__title Pending Commision
							span.partner-program__item__num 60.00 USD
				.partner-program__col.mobile-hidden
					.partner-program__item
						.partner-program__item__icon
							+svg('icon-pending')
						.partner-program__item__info
							span.partner-program__item__title Total Income
							span.partner-program__item__num 1200.00 USD
			form.partner-program__footer.js-form-check(action="javascript:void(0)")
				.input-wrap.required
					input.form-control.form-control--silver(type="text", name="review_title", placeholder="0.00 USD", required="")
				button.btn.btn--md.btn--salat.js-ask-transfer-check(type="button")
					+svg('icon-coins-tr')
					span Transfer To Coins
				.partner-program__footer__info
					span No Minimum amount.
					span Instant payment
				.partner-program__footer__check
					span.partner-program__footer__check__title Transfer double check
					.partner-program__footer__check__actions
						button.btn.btn--md.btn--green-filled.js-approve-form-check(type="submit")
							+svg('icon-chk')
							span Yes, transfer
						button.btn.btn--md.btn--green.js-cancel-form-check(type="button")
							span Not sure, Stop
				.partner-program__footer__approved
					.partner-program__footer__approved__side
						.partner-program__footer__approved__icon
							+svg('icon-withdraw')
						span.partner-program__footer__approved__title All is done, funds transfered
					button.btn.btn--md.btn--green.js-cancel-form-check(type="button")
						span Close
					
		.withdraw-processing
			.article-title
				p.article-title__item
					+svg('icon-pending')
					span Withdraw processing
			.withdraw-processing__inner
				form#withdraw_processing.withdraw-processing__form.js-form-check(action="javascirpt:void(0)")
					.withdraw-processing__form__col
						.acc-coins__photo__group
							span.acc-coins__photo__group__title Amount
							.input-wrap.required
								input.form-control.form-control--silver(type="text", name="withdraw_amount", placeholder="0.00 USD", required="")
					.withdraw-processing__form__col
						.acc-coins__photo__group
							span.acc-coins__photo__group__title Bitcoin address
							.input-wrap.required
								input.form-control.form-control--silver(type="text", name="btc_address", placeholder="BTC...", required="")
					.withdraw-processing__form__col
						.acc-coins__photo__group
							button.btn.btn--yellow.btn--md(type="submit")
								span Confirm & Get Verification Code
				.acc-coins__notice
					.acc-coins__notice__icon
						+svg('icon-attention')
					p.acc-coins__notice__text #[b Important notice: ] Minimum withdraw amount 100 USD. Funds will be credited to your account within 3 business days
		.withdraw-processing.withdraw-verify(id="withdraw_verification_section")
			.article-title
				p.article-title__item
					+svg('icon-last-month')
					span withdraw Verification
			.withdraw-processing__inner
				form#withdraw_verification.withdraw-processing__form.js-form-check(action="javascirpt:void(0)")
					.withdraw-processing__form__col
						.acc-coins__photo__group
							span.acc-coins__photo__group__title Verification code
							.input-wrap.required
								input.form-control.form-control--silver(type="text", name="withdraw_verify_code", placeholder="Enter code from email", required="")
					.withdraw-processing__form__col
						.acc-coins__photo__group
							button.btn.btn--yellow.btn--md(type="submit")
								span Withdraw
				.acc-coins__notice
					.acc-coins__notice__icon
						+svg('icon-attention')
					p.acc-coins__notice__text #[b Important notice: ] Verification code has been sent to your email
		.withdraw-success-wrap(id="withdraw_success_section")
			.withdraw-success
				.withdraw-success__side
					.withdraw-success__icon
						+svg('icon-withdraw')
					.withdraw-success__text
						span All is done wait please up to 3 business days
				.withdraw-success__side
					a.btn.btn--green.btn--lg(href="javascript:void(0)") Go to program
		.history-store
			.article-title
				p.article-title__item
					+svg('icon-withdraw')
					span History Withdraw
			.history-store__table
				.history-store__table__head
					.history-store__table__col.col-date
						span Date
					.history-store__table__col.col-type
						span Withdraw Type
					.history-store__table__col.col-status
						span Payment status
					.history-store__table__col.col-credited
						span Amount
				.history-store__table__body
					.history-store__table__row
						.history-store__table__col.col-date
							.history-store__table__col__mob
								span Date
							.history-store__table__col__side
								span 12 Jan 2021
						.history-store__table__col.col-type
							.history-store__table__col__mob
								span Withdraw Type
							.history-store__table__col__side
								span Cash transfer
						.history-store__table__col.col-status
							.history-store__table__col__mob
								span Payment status
							.history-store__table__col__side
								span Paid
						.history-store__table__col.col-credited.col-green
							.history-store__table__col__mob
								span Amount
							.history-store__table__col__side
								span 148 USD
					.history-store__table__row
						.history-store__table__col.col-date
							.history-store__table__col__mob
								span Date
							.history-store__table__col__side
								span 02 Jan 2021
						.history-store__table__col.col-type
							.history-store__table__col__mob
								span Withdraw Type
							.history-store__table__col__side
								span Coins withdraw
						.history-store__table__col.col-status
							.history-store__table__col__mob
								span Payment status
							.history-store__table__col__side
								span Paid
						.history-store__table__col.col-credited.col-green
							.history-store__table__col__mob
								span Amount
							.history-store__table__col__side
								span 148 USD