mixin invoice-bank(data)
	form#invoice_form.acc-checkout-form.js-form-check(action="javascript:void(0)")
		.acc-checkout-form__invoice
			.acc-checkout-form__invoice__top
				.acc-checkout-form__invoice__top__side
					span.order-block__num RA0547
					.order-block__info
						.order-block__info__icon
							+svg('icon-circled-arrow')
						span.order-block__info__name Order Status: Pay invoice
				.acc-checkout-form__invoice__top__side
					span.acc-checkout-form__invoice__top__date 2020-02-06
					.acc-checkout-form__invoice__top__buttons
						a.btn.btn--md.btn--bordered(href="index.html", download="")
							+svg('icon-download-pdf')
							span #[span.btn__mob-text Download] Invoice .pdf
						a.btn.btn--md.btn--black.js-see-products(href="#products_in_order")
							span See Products
			.acc-checkout-form__invoice__reference
				.acc-checkout-form__invoice__reference__side
					.acc-checkout-form__invoice__reference__icon
						+svg('icon-attention')
					.acc-checkout-form__invoice__reference__text
						span.acc-checkout-form__invoice__reference__title Payment Reference
						span.acc-checkout-form__invoice__reference__subtitle Use this payment reference, #[br] otherwise payment could not be accepted or lost!
				.acc-checkout-form__invoice__reference__side
					button.btn.btn--md.btn--black.btn-copy(type="button")
						span Invoice: RA0547
						+svg('icon-clipboard')
						span.btn-copy__inner
							+svg('icon-chk')
							span Copied
			.acc-checkout-form__invoice__list
				.acc-checkout-form__invoice__list__side
					span.acc-checkout-form__invoice__list__title Company
					ul.acc-checkout-form__invoice__list__block.h-reset-list
						li
							span.acc-checkout-form__invoice__list__name Company name:
							span.acc-checkout-form__invoice__list__descr Topaeg OU
						li
							span.acc-checkout-form__invoice__list__name REG Number:
							span.acc-checkout-form__invoice__list__descr 14857833
						li
							span.acc-checkout-form__invoice__list__name Street:
							span.acc-checkout-form__invoice__list__descr Lembitu tn 10, Rakvere
						li
							span.acc-checkout-form__invoice__list__name City:
							span.acc-checkout-form__invoice__list__descr Rakvere
						li
							span.acc-checkout-form__invoice__list__name Country:
							span.acc-checkout-form__invoice__list__descr Estonia
						li
							span.acc-checkout-form__invoice__list__name Province:
							span.acc-checkout-form__invoice__list__descr Lääne-Virumaa
						li
							span.acc-checkout-form__invoice__list__name Postal:
							span.acc-checkout-form__invoice__list__descr 44308
				.acc-checkout-form__invoice__list__side
					span.acc-checkout-form__invoice__list__title Bank
					ul.acc-checkout-form__invoice__list__block.h-reset-list
						li
							span.acc-checkout-form__invoice__list__name Bank name:
							span.acc-checkout-form__invoice__list__descr PAYSERA LT, UAB
						li
							span.acc-checkout-form__invoice__list__name SWIFT:
							span.acc-checkout-form__invoice__list__descr EVIULT2VXXX
						li
							span.acc-checkout-form__invoice__list__name Bank code:
							span.acc-checkout-form__invoice__list__descr 35000
						li
							span.acc-checkout-form__invoice__list__name Bank IBAN:
							span.acc-checkout-form__invoice__list__descr LT68 3500 0100 0675 6993
						li
							span.acc-checkout-form__invoice__list__name Bank street: 
							span.acc-checkout-form__invoice__list__descr Pilaites pr. 16
						li
							span.acc-checkout-form__invoice__list__name Bank city:
							span.acc-checkout-form__invoice__list__descr Vilnius
						li
							span.acc-checkout-form__invoice__list__name Bank country:
							span.acc-checkout-form__invoice__list__descr Lithuania
						li
							span.acc-checkout-form__invoice__list__name Bank postal:
							span.acc-checkout-form__invoice__list__descr LT-04352
		.acc-checkout-form__footer.acc-checkout-form__footer--static-mobile
			.acc-checkout-form__footer__inner
				button.btn.btn--yellow.btn--md.js-confirm-modal-trigger(type="button")
					+svg('icon-billed')
					span Confirm Payment
					span.btn__total-count (72.56 USD) 
				.acc-checkout-form__footer__total
					span Total:
					span 72.56
					span Usd
		.acc-checkout-form__modal
			.acc-checkout-form__modal__inner.acc-checkout-form__modal__inner--single
				span.acc-checkout-form__modal__title confirm double check
				.acc-checkout-form__modal__side-wrap
					.acc-checkout-form__modal__side
						.acc-coins__photo__group
							span.acc-coins__photo__group__title Sender’s Full  Name:
							.input-wrap.required
								input.form-control.form-control--silver(type="text", name="name", placeholder="Mr Smith...", required="")
						.acc-coins__photo__group
							span.acc-coins__photo__group__title Paid sum:
							.input-wrap.required
								input.form-control.form-control--silver(type="text", name="paid_summ", placeholder="0.00 USD", required="")
						.acc-coins__photo__group
							button.btn.btn--yellow.btn--md(type="submit")
								+svg('icon-chk')
								span Yes, i want to confirm
						.acc-coins__photo__group
							button.btn.btn--bordered.btn--md.js-confirm-modal-close(type="button")
								span Not sure, review invoice
				.acc-coins__notice
					.acc-coins__notice__icon
						+svg('icon-attention')
					p.acc-coins__notice__text #[b Important notice: ] Confirm the payment only after the invoice has been paid.
			.acc-checkout-form__modal__submitted
				.acc-checkout-form__modal__submitted__inner
					.acc-checkout-form__modal__submitted__side
						.acc-checkout-form__modal__submitted__icon
							+svg('icon-withdraw')
						span.acc-checkout-form__modal__submitted__title All is done, payment confirmed
					button.btn.btn--md.btn--bordered.js-confirm-modal-close(type="button")
						span Close
			button.acc-checkout-form__modal__close.js-confirm-modal-close(type="button")
				+svg('icon-remove-sm')