.timer-box {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 30;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #181818;
    overflow: hidden;
    &__inner {
        min-height: 12rem;
        padding: 2rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
        @media (max-width: $sw-sm-max) {
            min-height: 10rem;
            padding: 1.2rem 0;
        }
        @media (max-width: $sw-xx-max) {
            padding: 1rem 0;
            min-height: 8rem;
        }
        @media (max-width: 599px) {
            flex-wrap: wrap;
        }
    }
    &__time {
        margin-right: 2.4rem;
        position: relative;
        @media (max-width: $sw-xx-max) {
            margin-right: 2rem;
        }
        @media (max-width: 599px) {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-right: 0;
            order: 1;
        }
        &:after {
            content: '';
            display: block;
            position: absolute;
            top: -2rem;
            left: 50%;
            transform: translateX(-50%);
            width: 31.7rem;
            height: 31.7rem;
            background: #323232;
            filter: blur(6rem);
            @media (max-width: $sw-xx-max) {
                width: 24rem;
                height: 24rem;
                filter: blur(3rem);
            }
        }
    }
    &__text {
        font-style: italic;
        font-weight: 800;
        font-size: 3.2rem;
        line-height: 1.25em;
        text-transform: uppercase;
        color: $light-blue;
        position: relative;
        z-index: 1;
        @media (max-width: $sw-md-max) {
            font-size: 3rem;
        }
        @media (max-width: $sw-sm-max) {
            font-size: 2.4rem;
        }
        @media (max-width: $sw-xx-max) {
            font-size: 1.8rem;
        }
        @media (max-width: 599px) {
            font-size: 1.4rem;
            order: 0;
            margin-bottom: 1rem;
        }
        br {
            @media (max-width: 599px) {
                display: none;
            }
        }
    }
    
}


/// Flipclock Looks
.flipclock {
  display: flex;
  justify-content: center;
  padding: 0;
  box-sizing: border-box;
  margin-top: 1.8rem;
  position: relative;
  z-index: 1;
}

.flipclock * {
  box-sizing: inherit;
}

.leaf {
  display: flex;
  flex-direction: column;
  margin: 0 4px;
  perspective: 300px;
  @media (max-width: 599px) {
    margin: 0 2px;
  }
}

.leaf::after {
  content: attr(data-label);
  position: absolute;
  top: -2.2rem;
  left: 50%;
  transform: translateX(-50%);
  color: $light-blue;
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  @media (max-width: $sw-sm-max) {
      font-size: 1rem;
  }
  @media (max-width: $sw-xx-max) {
      font-size: 9px;
      top: -2rem;
  }
  @media (max-width: 599px) {
      top: -1.8rem;
      font-size: 8px;
  }
}

.top,
.bottom,
.leaf-front,
.leaf-back {
  position: relative;
  display: block;
  height: 30px;
  width: 60px;
  background-color: #1c1d1f;
  color: $light-blue;
  overflow: hidden;
  border-color: #2d3748;
  @media (max-width: $sw-sm-max) {
    height: 2.6rem;
    width: 5.2rem;
  }
  @media (max-width: $sw-xx-max) {
    height: 2.2rem;
    width: 4.8rem;
  }
  @media (max-width: 599px) {
      height: 2rem;
      width: 4.4rem;
  }

  span {
    position: absolute;
    left: 50%;
    width: 100%;
    height: 60px;
    text-align: center;
    font-family: "Impact", sans serif;
    font-size: 40px;
    line-height: 60px;
    transform: translateX(-50%);
    @media (max-width: $sw-sm-max) {
        font-size: 3.2rem;
        height: 5.2rem;
        line-height: 5.2rem;
    }
    @media (max-width: $sw-xx-max) {
        font-size: 2.8rem;
        height: 4.4rem;
        line-height: 4.4rem;
    }
    @media (max-width: 599px) {
        height: 4rem;
        font-size: 2.4rem;
        line-height: 4rem;
    }
  }
}

.leaf._3-digits {
  .top,
  .bottom,
  .leaf-front,
  .leaf-back {
    width: 60px;
    @media (max-width: $sw-sm-max) {
        width: 5.2rem;
    }
    @media (max-width: $sw-xx-max) {
        width: 4.8rem;
    }
    @media (max-width: 599px) {
        width: 4.4rem;
    }
  }
}

.top,
.leaf-front {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  margin-bottom: (2px / 2);
  border-bottom-style: solid;
  border-bottom-width: 0;
  
  span {
    top: 0;
  }
}

.leaf-front {
  position: absolute;
  z-index: 10;
}

.bottom,
.leaf-back {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top-style: solid;
  border-top-width: 0;
  span {
    bottom: 0;
  }
}

.leaf-back {
  position: absolute;
  top: 3.1rem;
  z-index: 10;
  @media (max-width: $sw-sm-max) {
    top: 2.6rem;
  }
  @media (max-width: $sw-xx-max) {
    top: 2.2rem;
  }
}

/// Flipclock Animation
.leaf-front {
  transform-origin: bottom center;
  transform: rotateX(0deg);
  transform-style: preserve-3d;
  transition-delay: 0.3s;
}

.leaf-back {
  transform-origin: top center;
  transform: rotateX(90deg);
  transform-style: preserve-3d;
  transition-delay: 0s;
}

.bottom::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  filter: blur(10px);
}

.flip {
  .leaf-front {
    transform: rotateX(-90deg);
    transition: transform 0.3s ease-in, background-color 0.3s ease-in,
      color 0.3s ease-in;
    transition-delay: 0s;

    color: darken(#2d3748, 50%);
    background-color: ligten($dark, 50%);
  }
  .leaf-back {
    transform: rotateX(0deg);
    transition: transform 0.3s ease-in, background-color 0.3s ease-in,
      color 0.3s ease-in;
    transition-delay: 0.3s;
  }

  .bottom::before {
    transition: height 0.3s ease-in-out;
    transition-delay: 0.3s / 2;
    height: 100%;
  }
}