@mixin font-face ($fontname, $fontfile, $fontweight: normal, $fontstyle: normal) {
	@font-face {
		font-family: $fontname;
		src: url('../fonts/' + $fontfile + '/' + $fontfile + '.eot');
		src: url('../fonts/' + $fontfile + '/' + $fontfile + '.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/' + $fontfile + '/' + $fontfile + '.woff') format('woff'),
			 url('../fonts/' + $fontfile + '/' + $fontfile + '.ttf') format('truetype'),
			 url('../fonts/' + $fontfile + '/' + $fontfile + '.svg##{fontname}') format('svg');
		font-weight: $fontweight;
		font-style: $fontstyle;
	}
};

@include font-face('Avenir Next Cyr', AvenirNextCyr-Thin, 100);
@include font-face('Avenir Next Cyr', AvenirNextCyr-Ultralight, 200);
@include font-face('Avenir Next Cyr', AvenirNextCyr-Light, 300);
@include font-face('Avenir Next Cyr', AvenirNextCyr-Regular, 400);
@include font-face('Avenir Next Cyr', AvenirNextCyr-Medium, 500);
@include font-face('Avenir Next Cyr', AvenirNextCyr-Demi, 600);
@include font-face('Avenir Next Cyr', AvenirNextCyr-Bold, 700);
@include font-face('Avenir Next Cyr', AvenirNextCyr-Heavy, 800);
@include font-face('Avenir Next Cyr', AvenirNextCyr-HeavyItalic, 800, italic);