.l-wrapper{
	position: relative;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.main-content {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	padding-top: 14rem;
	padding-bottom: 10rem;
	filter: none;
	position: relative;
	@media (max-width: $sw-sm-max) {
		padding-top: 11.2rem;
		padding-bottom: 10rem;
	}
	@media (max-width: $sw-xx-max) {
		padding-bottom: 5rem;
	}
}

.header--noty-active {
	& + .main-content {
		padding-top: 19rem;
		@media (max-width: $sw-sm-max) {
			padding-top: 15.2rem;
		}
		@media (max-width: $sw-xx-max) {
			padding-top: 16rem;
		}
	}
}

.container {
	@media (max-width: $sw-xx-max) {
		padding-left: 10px;
		padding-right: 10px;
	}
}

a {
	transition: color .3s ease;
}

.dekor--blue {
	color: $blue;
}
.dekor--dark-blue {
	color: #5168E0;
}
.dekor--sky {
	color: #8CF3FF;
}
.dekor--yellow {
	color: $yellow;
}
.dekor--red {
	color: $red;
}
.dekor--violet {
	color: #9B51E0;
}
.dekor--light-blue {
	color: $light-blue;
}
.dekor--green {
	color: $light-green;
}
.dekor--light-green {
	color: #6AFFA8;
}
.dekor--dark-green {
	color: #27AE60;
}
.dekor--yellow {
	color: $yellow;
}
.dekor--bold-600 {
	font-weight: 600;
}

.mobile-hidden {
	@media (max-width: $sw-xx-max) {
		display: none !important;
	}
}

.h1 {
	font-size: 4.8rem;
	line-height: 1.23em;
	font-style: italic;
	font-weight: 800;
	text-transform: uppercase;
	@media (max-width: $sw-md-max) {
		font-size: 4.4rem;
	}
	@media (max-width: $sw-sm-max) {
		font-size: 4rem;
	}
	@media (max-width: $sw-xs-max) {
		font-size: 3.2rem;
	}
	@media (max-width: $sw-xx-max) {
		font-size: 2rem;
	}
}

.h2 {
	font-size: 3.6rem;
	line-height: 1.23em;
	font-weight: 800;
	font-style: italic;
	text-transform: uppercase;
	@media (max-width: $sw-xx-max) {
		font-size: 2.4rem;
	}
}

.h3 {
	font-size: 2.4rem;
	line-height: 1.33em;
	color: $light-blue;
	font-style: italic;
	text-transform: uppercase;
	font-weight: 800;
	margin-bottom: 0;
	@media (max-width: $sw-sm-max) {
		font-size: 1.8rem;
	}
}

.h4 {
	font-size: 1.8rem;
	line-height: 1.22em;
	text-transform: uppercase;
	font-weight: 800;
	font-style: italic;
	color: $light-blue;
	@media (max-width: $sw-xx-max) {
		font-size: 1.4rem;
		line-height: 1.21em;
	}
}

p {
	font-size: 1.4rem;
	line-height: 1.85em;
	color: $light-blue;
	@media (max-width: $sw-md-max) {
		font-size: 1.3rem;
	}
	@media (max-width: $sw-sm-max) {
		font-size: 1.2rem;
	}
	@media (max-width: $sw-xx-max) {
		line-height: 1.67em;
	}
}

.section-title {
	text-align: center;
	color: $light-blue;
	display: flex;
	align-items: center;
	&--left {
		text-align: left;
	}
	.icon {
		font-size: 2rem;
		margin-right: 1rem;
	}
	&__secondary {
		text-transform: uppercase;
		font-weight: 800;
		font-style: italic;
		color: $light-blue;
		font-size: 2.4rem;
		line-height: 1.33em;
		margin-bottom: 0;
		@media (max-width: $sw-xs-max) {
			font-size: 1.8rem;
		}
		@media (max-width: $sw-xx-max) {
			font-size: 1.4rem;
		}
	}
	.container {
		@media (max-width: $sw-xx-max) {
			padding-left: 2.4rem;
			padding-right: 2.4rem;
		}
	}
}

.article-title {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin-bottom: 2rem;
	@media (max-width: $sw-xx-max) {
		margin-bottom: 1rem;
	}
	&__item {
		margin-right: auto;
		font-weight: 600;
		font-size: 1.8rem;
		line-height: 1.5em;
		display: flex;
		align-items: flex-start;
		text-transform: capitalize;
		color: rgba(223, 225, 238, 0.3);
		margin-bottom: 0;
		transition: color .3s ease;
		.icon {
			font-size: 2rem;
			margin-right: 1rem;
			margin-top: 3px;
			flex-shrink: 0;
			transition: color .3s ease;
		}
		&--mob {
			@media (max-width: $sw-xx-max) {
				display: none;
			}
		}
	}
	&__link {
		margin-left: auto;
		font-weight: 300;
		font-size: 1.8rem;
		line-height: 1.6em;
		display: flex;
		align-items: center;
		text-transform: capitalize;
		color: $light-blue;
		&--green {
			&:hover {
				color: #6FCF97;
			}
		}
		&--blue {
			&:hover {
				color: #2F80ED;
			}
		}
		&:hover {
			@media (min-width: $sw-sm-min) {
				.icon-chevron-down {
					transform: translateX(3px) rotate(-90deg);
				}
			}
		}
		.icon-chevron-down {
			transform: translateX(0) rotate(-90deg);
			font-size: 1.1rem;
			margin-left: 1.2rem;
			transition: transform .2s ease;
			@media (max-width: $sw-xx-max) {
				margin-left: 1.1rem;
			}
		}
		&__mob {
			@media (max-width: $sw-xx-max) {
				display: none;
			}
		}
	}
}

.list-block {
	&-item {
		&__title {
			margin-right: 5px;
			font-weight: 600;
			font-size: 1.6rem;
			line-height: 1.875em;
			color: $yellow;
			@media (max-width: $sw-xs-max) {
				font-size: 1.2rem;
				line-height: 1.85em;
			}
		}
		&__text {
			color: $light-blue;
			font-size: 1.6rem;
			line-height: 1.875em;
			@media (max-width: $sw-xs-max) {
				font-size: 1.2rem;
				line-height: 1.85em;
			}
		}
	}
}

.centered-section {
	padding: 10rem 0;
    text-align: center;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
	align-content: center;
	@media (max-width: $sw-xx-max) {
		padding: 8rem 0;
	}
}

.account-confirmed-info {
	text-align: center;
	color: #ffffff;
	.btn {
		min-width: 14.4rem;
		margin-top: 5rem;
		@media (max-width: $sw-xx-max) {
			margin-top: 3rem;
		}
	}
}

.ui-section {
	padding: 5rem 0 2rem;
	.h2 {
		text-align: center;
		margin-bottom: 4rem;
	}
	&__box {
		display: flex;
		align-items: center;	
		padding: 2rem 0;
		&--jcc  {
			justify-content: center;
		}
		.btn {
			width: 100%;
		}
		.icon {
			color: $white;
			font-size: 3rem;
			margin: 0 auto;
		}
	}
}

.tooltip-item {
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	background-color: transparent;
	border: 2px solid rgba($yellow, 0.3);
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 1;
	font-size: 1.2rem;
	font-weight: 600;
	color: #DFE1EE;
	margin-right: auto;
	position: relative;
	@media (max-width: $sw-sm-max) {
		width: 2.8rem;
		height: 2.8rem;
	}
	@media (max-width: $sw-xx-max) {
		width: 2.2rem;
		height: 2.2rem;
		font-size: 1rem;
	}
	&:hover {
		.tooltip-item__inner {
			opacity: 1;
			visibility: visible;
			transform: translate(-50%, 0);
		}
	}
	&__inner {
		position: absolute;
		bottom: calc(100% + 3.3rem);
		left: 50%;
		transform: translate(-50%, -2rem);
		background-color: $grey;
		border-radius: 2.4rem;
		color: $light-blue;
		font-size: 1.2rem;
		line-height: 1.67em;
		width: 25.2rem;
		padding: 1.6rem 2.4rem 1.8rem 2.4rem;
		text-align: left;
		z-index: 30;
		opacity: 0;
		visibility: hidden;
		transition: opacity .3s ease, visibility .3s ease, transform .3s ease;
		@media (max-width: $sw-sm-max) {
			bottom: calc(100% + 2.5rem);
			width: 24rem;
			font-size: 1.1rem;
		}
		@media (max-width: $sw-xs-max) {
			padding: 1.3rem 1.9rem 1.5rem 1.9rem;
			bottom: calc(100% + 2rem);
			width: 22.9rem;
		}
		@media (max-width: $sw-xx-max) {
			font-size: 1rem;
			width: 18rem;
		}
		@media (max-width: 359px) {
			width: 17rem;
		}
		&:after {
			content: '';
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 1.5rem 1.5rem 0 1.5rem;
			border-color: $grey transparent transparent transparent;
			position: absolute;
			top: 100%;
			left: 50%;
			transform: translateX(-50%);
		}
	}
}

.count-box {
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: $dark;
	font-weight: 600;
	font-size: 1.4rem;
	line-height: 1em;
	background-color: $yellow;
}

.btn-copy {
	position: relative;
	overflow: hidden;
	&.is-copied {
		pointer-events: none;
		.btn-copy__inner {
			opacity: 1;
			visibility: visible;
		}
	}
	&__inner {
		position: absolute;
		left: 50%;
		top: 50%;
		width: 100%;
		height: 100%;
		transform: translate(-50%, -50%);
		border-radius: inherit;
		background-color: inherit;
		border-radius: inherit;
		display: flex;
		align-items: center;
		justify-content: center;
		color: $yellow;
		opacity: 0;
		visibility: hidden;
		transition: opacity .15s ease, visibility .15s ease;
		text-transform: capitalize;
		font-weight: 600;
		font-size: 1.4rem;
		.icon-chk {
			font-size: 1.4rem !important;
			margin-right: 1.3rem;
		}
		.btn--yellow &,
		.btn--red & {
			color: $dark;
		}
	}
}

