.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-logo {
  width: 8.8115234375em;
}

.icon-eng {
  width: 0.884765625em;
}

.icon-deu {
  width: 0.884765625em;
}

.icon-rus {
  width: 0.884765625em;
}

.icon-chevron {
  width: 1.6923828125em;
}

.icon-search {
  width: 1.044921875em;
}

.icon-on {
  width: 4.712890625em;
}

.icon-trustpilot {
  width: 4.0712890625em;
}

.icon-pdf {
  width: 0.810546875em;
}

.icon-on-sm {
  width: 3.2080078125em;
}

.icon-support {
  width: 1.0927734375em;
}

.icon-delivery {
  width: 1.076171875em;
}

.icon-quality {
  width: 0.69140625em;
}

.icon-direct {
  width: 1.095703125em;
}

.icon-order-step-fourth {
  width: 0.87109375em;
}

.icon-order-step-third {
  width: 0.8798828125em;
}

.icon-order-step-second {
  width: 0.8720703125em;
}

.icon-order-step-first {
  width: 0.880859375em;
}

.icon-star {
  width: 1.0400390625em;
}

.icon-star-filled {
  width: 1.0439453125em;
}

.icon-star-new {
  width: 1.0830078125em;
}

.icon-slider-arrow {
  width: 0.5263671875em;
}

.icon-close-sm {
  width: 1.05859375em;
}

.icon-checkmark {
  width: 1.466796875em;
}

.icon-size {
  width: 1.53125em;
}

.icon-wholesale-activate {
  width: 0.732421875em;
}

.icon-bitcoin {
  width: 1.0126953125em;
}

.icon-credit-card {
  width: 1.357421875em;
}

.icon-bank-wire {
  width: 0.9091796875em;
}

.icon-domestic-shipping {
  width: 1.142578125em;
}

.icon-order-over {
  width: 1.2265625em;
}

.icon-order-till {
  width: 0.9375em;
}

.icon-delivery-time {
  width: 1.337890625em;
}

.icon-shipping-from {
  width: 0.9658203125em;
}

.icon-tracking-number {
  width: 1.2490234375em;
}

.icon-reship-policy {
  width: 1.220703125em;
}

.icon-discret-packaging {
  width: 1.029296875em;
}

.icon-collect {
  width: 0.783203125em;
}

.icon-utensils {
  width: 0.923828125em;
}

.icon-remove-sm {
  width: 1.0478515625em;
}

.icon-checkmark-thin {
  width: 1.63671875em;
}

.icon-chevron-thin {
  width: 1.857421875em;
}

.icon-send {
  width: 1.2001953125em;
}

.icon-clipboard {
  width: 0.900390625em;
}

.icon-credits-lab {
  width: 0.7802734375em;
}

.icon-credits-photo {
  width: 0.9501953125em;
}

.icon-credits-review {
  width: 0.849609375em;
}

.icon-credits-trust {
  width: 1.021484375em;
}

.icon-date-lifetime {
  width: 0.91015625em;
}

.icon-date-month {
  width: 0.91015625em;
}

.icon-date-year {
  width: 0.91015625em;
}

.icon-download-pdf {
  width: 0.7998046875em;
}

.icon-lock {
  width: 0.7998046875em;
}

.icon-soc-viber {
  width: 0.91015625em;
}

.icon-terms {
  width: 0.7998046875em;
}

.icon-logo {
  width: 8em;
}

.icon-account-logo {
  width: 0.7890625em;
}

.icon-man-strong {
  width: 0.958984375em;
}

.icon-use-withdraw {
  width: 1.09765625em;
}

.icon-give-get {
  width: 0.9833984375em;
}

.icon-footer-contact {
  width: 0.8173828125em;
}

.icon-mg {
  width: 4.9404296875em;
}

.icon-payment-cr {
  width: 9.1630859375em;
}

.icon-wu {
  width: 10.6064453125em;
}

.icon-btc {
  width: 4.7900390625em;
}

.icon-payment-bw {
  width: 8.361328125em;
}

.icon-bin {
  width: 0.900390625em;
}

.icon-list-thin {
  width: 1.6669921875em;
}

.icon-star-simple {
  width: 1.0458984375em;
}

.icon-upload-doc {
  width: 0.7998046875em;
}

.icon-strong-man {
  width: 0.58203125em;
}

.icon-calculator {
  width: 0.7998046875em;
}

.icon-heart {
  width: 1.1298828125em;
}

.icon-icon-payments-strong {
  width: 0.78125em;
}

.icon-product-empty {
  width: 0.8154296875em;
}

.icon-fire {
  width: 0.8125em;
}

.icon-crypto {
  width: 5.47265625em;
}

.icon-Hot {
  width: 0.8154296875em;
}