//-----------   INCLUDES   --------------

//- helpers
include ../helpers/paths
include ../helpers/_mixins

//- components
include ../components/head/head
include ../components/header/header
include ../components/footer/footer
include ../components/modals/modals
include ../components/cart-sticky/cart-sticky
include ../components/support-sticky/support-sticky
include ../components/loader/loader
include ../components/rate/rate


//-----------   INCLUDES END  --------------

doctype html
html(lang='en')
	block head
		+head({'title':'Hello'})
	body
		.l-wrapper
			block header
				+header()
			main.main-content
				block content
			block footer
				+footer()
		.header-search-backdrop.js-search-close
		block beforescripts
			+sign-in-modal()
			+sign-up-modal()
			+sign-up-success()
			+photo-coins-modal()
			+coins-example-modal()
			+review-example-modal()
			+coins-submit-modal()
			+face-to-face-modal()
			+feedback-comments()
		script(src=route.js + "main.js")
		block scripts