.form-control {
	font-weight: 600;
	outline: none;
	width: 100%;
	border-radius: 1.6rem;
	border: none;
	box-shadow: none;
	transition: background-color .3s ease, border-color .3s ease;
	@include placeholder {
		opacity: 1;
		transition: opacity .15s ease;
	}
	&:focus {
		box-shadow: none;
		outline: none;
		@include placeholder {
			opacity: 0;
		}
	}
	&.error {
		background-color: #362c3e !important;
	}
	&[readonly] {
		background-color: #2F3548;
		cursor: default;
		pointer-events: none;
	}
	&--dark {
		background-color: $dark;
		color: $light;
		border-bottom: 2px solid #21273B;
		border-radius: 0;
		font-weight: 400;
		padding: 0;
		font-size: 1.6rem;
		line-height: 1em;
		height: 6rem;
		@media (max-width: $sw-xx-max) {
			font-size: 1.4rem;
			height: 4.1rem;
		}
		&:focus {
			color: $light;
			border-color: #21273B;
			background-color: rgba($dark, 0.2);
		}
		&:focus, &.is-filled {
			& + .form-control__placeholder {
				transform: translateY(-40px) scale(0.75);
				@media (max-width: $sw-xx-max) {
					transform: translateY(-29px) scale(0.75);
				}
			}
		}
	}
	&--silver {
		background-color: #2F3548;
		height: 5rem;
		font-size: 1.6rem;
		line-height: 5rem;
		padding: 0 2rem;
		color: $light;
		@include placeholder {
			font-weight: 600;
			font-size: 1.6rem;
			line-height: 5rem;
			color: rgba(223, 225, 238, 0.3);
		}
		&:focus {
			background-color: #2F3548;
			color: $light;
		}
	}
	&--green {
		border: 1px solid #6FCF97;
		&:focus {
			background-color: #2F3548;
			color: $light;
			border: 1px solid lighten(#6FCF97, 10%);
		}
	}
	&--simple {
		height: 6.4rem;
		padding: 0 10.7rem 0 2.8rem;
		background-color: rgba(#2F3548, 0.05);
		font-size: 1.6rem;
		color: $clay;
		@include placeholder {
			font-size: 1.6rem;
			color: rgba($clay, 0.4);
			opacity: 1;
			font-weight: 400;
			transition: opacity .3s ease;
			@media (max-width: $sw-xs-max) {
				font-size: 1.4rem;
			}
		}
		&:focus {
			background-color: rgba(#2F3548, 0.08);
		}
		&:focus, &.is-filled {
			& + .form-control-placeholder {
				transform: translate(0, -50%);
				opacity: 1;
				visibility: visible;
			}
		}
		.sign-in-modal &, .sign-up-modal & {
			height: 5.7rem;
			font-size: 1.4rem;
			@include placeholder {
				font-size: 1.4rem;
			}
		}
	}
	&__placeholder {
		position: absolute;
		left: 0;
		// top: 39%;
		top: 2.5rem;
		transform: translateY(-50%);
		color: rgba($light-blue, 0.25);
		font-size: 1.6rem;
		transition: transform .15s linear, font-size .15s linear;
		z-index: 1;
		display: flex;
		align-items: center;
		white-space: nowrap;
		transform-origin: 0 0;
		justify-content: flex-start;
		cursor: text;
		@media (max-width: $sw-xx-max) {
			font-size: 1.4rem;
		}
	}
	&-descr {
		font-size: 1.2rem;
		line-height: 1.65em;
		color: $light-blue;
		display: block;
		margin-top: 1rem;
	}
	&-wrap {
		position: relative;
		overflow: hidden;
		margin-bottom: 2rem;
		@media (max-width: $sw-sm-max) {
			margin-bottom: 1.6rem;
		}
	}
	&-submit {
		width: 100%;
		@media (max-width: $sw-xs-max) {
			height: 6.4rem;
			border-right: 1.6rem;
		}
	}
	&-placeholder {
		font-size: 1.2rem;
		text-align: left;
		font-weight: 400;
		line-height: 1;
		color: rgba($clay, 0.4);
		position: absolute;
		right: 2.8rem;
		top: 50%;
		transform: translate(200px, -50%);
		opacity: 0;
		visibility: hidden;
		transition: opacity .3s ease, visibility .3s ease, transform .3s ease;
	}
	&-error-text {
		font-size: 1.4rem;
		line-height: 1.3;
		color: $red;
		position: absolute;
		top: calc(100% + 4px);
		left: 0;
		display: none;
		@media (max-width: $sw-md-max) {
			font-size: 1.2rem;
		}
		&.is-active {
			display: block;
		}
	}
}

.input-wrap {
	position: relative;
	&_error {
		display: none !important;
	}
	&__hint {
		position: absolute;
		top: calc(100% + 1rem);
		left: 0;
		font-weight: 600;
		font-size: 1.4rem;
		line-height: 1.42em;
		color: rgba($light-blue, 0.3);
		@media (max-width: $sw-xx-max) {
			position: relative;
			top: auto;
			left: auto;
			margin-top: 1rem;
		}
	}
}

textarea.form-control--dark {
	resize: none;
	line-height: 1.875em;
	overflow: hidden;
	@include placeholder {
		color: red;
		font-size: 20px;
	}
	&:focus, &.is-filled {
		& + .form-control__placeholder {
			transform: translateY(-46px) scale(0.75);
			@media (max-width: $sw-xx-max) {
				transform: translateY(-40px) scale(0.75);
			}
		}
	}
}