.acc-support {
    position: relative;
    z-index: 1;
    width: 100%;
    height: calc(100vh - 14.1rem);
    position: sticky;
    top: 14.1rem;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #2F3548;
    @media (max-width: $sw-sm-max) {
        height: calc(100% - 11.2rem);
        position: fixed;
        top: 11.2rem;
    }
    &__top {
        border-bottom: 1px solid #2F3548;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 13rem;
        padding: 2rem 10rem 2rem 12rem;
        flex-shrink: 0;
        @media (max-width: $sw-md-max) {
            height: 9rem;
            padding: 1rem 5rem;
        }
        @media (max-width: $sw-xx-max) {
            display: none;
        }
        .section-title {
            width: auto;
            margin-right: 3rem;
            margin-bottom: 0;
        }
        &__count {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            font-weight: 300;
            font-size: 1.6rem;
            line-height: 1.875em;
            color: $light-blue;
            text-transform: capitalize;
            .count-box {
                margin-right: 1rem;
                width: 3rem;
                height: 3rem;
            }
        }
    }
    &__body {
        flex-grow: 1;
        background-image: url('../../s/images/useful/support-body-bg.png');
        background-repeat: repeat;
        background-position: 0 0;
        overflow: hidden;
        overflow-y: auto;
        display: flex;
        .loader-box {
            width: 1rem;
            height: 1rem;
            margin: 0 1.8rem;
            @media (max-width: $sw-md-max) {
                margin: 0 1.6rem;
            }
            @media (max-width: $sw-xx-max) {
                width: 8px;
                height: 8px;
                margin: 0 1.2rem;
            }
        }

        @keyframes wave {
            0%, 100% {
                transform: scale(1);
            }
            50% {
                transform: scale(2.2);
            }
        }
    }
    &__inner {
        width: 100%;
        padding: 7rem 10rem 4rem 12rem;
        @media (max-width: $sw-md-max) {
            padding: 6rem 5rem 3rem 5rem;
        }
        @media (max-width: $sw-xx-max) {
            padding: 2rem 1rem;
        }
        @media (max-width: $sw-xx-max) {
            padding: 5rem 1rem 2rem 1rem;
        }

        .loader-wrapper {
            margin: 0;
            opacity: 0;
            visibility: hidden;
            transition: opacity .3s ease, visibility .3s ease;
            position: absolute;
            width: 100%;
            left: 0;
            top: 3rem;
            @media (max-width: $sw-md-max) {
                top: 2rem;
            }
            &.is-active {
                opacity: 1;
                visibility: visible;
            }
        }
    }
    &__footer {
        border-top: 1px solid #2F3548;
        border-bottom: 1px solid #2F3548;
        height: 15rem;
        padding: 3rem 10rem 3rem 12rem;
        flex-shrink: 0;
        @media (max-width: $sw-md-max) {
            height: 12rem;
            padding: 2rem 5rem;
        }
        @media (max-width: $sw-xx-max) {
            height: 8rem;
            padding: 1rem;
        }
        &__field {
            height: 100%;
            width: 100%;
            padding-right: 2rem;
            background-color: transparent;
            border-radius: 1.6rem;
            border: 1px solid rgba(223, 225, 238, 0.3);
            display: flex;
            align-items: center;
            @media (max-width: $sw-xx-max) {
                padding-right: 0;
            }
            .btn {
                width: 20rem;
                flex-shrink: 0;
                @media (max-width: $sw-xx-max) {
                    height: 6rem;
                    padding: 0;
                    border-radius: 0;
                    color: $light-blue;
                    width: 6rem;
                    background-color: transparent;
                }
                .icon-send {
                    @media (max-width: $sw-xx-max) {
                        color: $yellow;
                        font-size: 1.8rem;
                        margin-right: 0;
                    }
                }
                .mob-text {
                    @media (max-width: $sw-xx-max) {
                        display: none;
                    }
                }
            }
            .input-wrap {
                flex-grow: 1;
                height: 100%;
                padding: 5px 2rem 5px 0;
                @media (max-width: $sw-xx-max) {
                    padding: 5px 1rem 5px 0;
                }
                &__inner {
                    width: 100%;
                    height: 100%;
                    padding: 0 1rem 0 0;
                    display: flex;
                    align-items: center;
                    position: relative;
                    overflow: hidden;
                    overflow-y: auto;
                }
            }
        }
        &__textarea {
            height: 20px;
            width: 100%;
            background-color: transparent;
            border-radius: 0;
            padding-left: 3rem;
            font-weight: 600;
            font-size: 1.6rem;
            line-height: 1.5em;
            color: $light-blue;
            outline: none;
            border: none;
            resize: none;
            overflow: hidden;
            margin: auto;
            box-shadow: none;
            @media (max-width: $sw-md-max) {
                padding-left: 2rem;
            }
            @media (max-width: $sw-xx-max) {
                padding-left: 1rem;
            }
            &:focus {
                outline: none;
                border: none;
                box-shadow: none;
                & + .acc-support__footer__textarea-placeholder {
                    opacity: 0;
                    visibility: hidden;
                }
            }
            &.is-filled {
                & + .acc-support__footer__textarea-placeholder {
                    opacity: 0;
                    visibility: hidden;
                }
            }
            &-placeholder {
                width: 100%;
                height: 100%;
                font-weight: 600;
                padding-left: 3rem;
                font-size: 1.6rem;
                line-height: 7.4rem;
                color: rgba(223, 225, 238, 0.3);
                opacity: 1;
                visibility: visible;
                transition: opacity .3s ease, visibility .3s ease;
                position: absolute;
                left: 0;
                margin: 0;
                cursor: text;
                @media (max-width: $sw-md-max) {
                    line-height: 6.4rem;
                    padding-left: 2rem;
                }
                @media (max-width: $sw-xx-max) {
                    line-height: 4.5rem;
                    padding-left: 1rem;
                }
            }
        }
    }
    &__message {
        display: flex;
        & + .acc-support__message {
            margin-top: 2rem;
            @media (max-width: $sw-md-max) {
                margin-top: 1.5rem;
            }
            @media (max-width: $sw-xx-max) {
                margin-top: 1rem;
            }
        }
        & + .message-support {
            margin-top: 5rem;
            @media (max-width: $sw-md-max) {
                margin-top: 3rem;
            }
            @media (max-width: $sw-xx-max) {
                margin-top: 2rem;
            }
        }
        p {
            margin: 0;
            @media (max-width: $sw-xx-max) {
                font-size: 1.6rem;
                line-height: 1.875em;
            }
        }
        &.message-support {
            & + .message-support {
                margin-top: 2rem;
                @media (max-width: $sw-md-max) {
                    margin-top: 1.5rem;
                }
                @media (max-width: $sw-xx-max) {
                    margin-top: 1rem;
                }
            }
            .acc-support__message__inner {
                border-radius: 0 1.6rem 1.6rem 1.6rem;
                margin-left: 0;
                margin-right: auto;
                border-color: $yellow;
            }
        }
        &.message-new {
            .acc-support__message__time {
                &:after {
                    display: block;
                }
                .icon-chk {
                    display: none;
                }
            }
        }
        &__inner {
            width: auto;
            max-width: 56rem;
            color: $light-blue;
            font-size: 1.6rem;
            line-height: 1.875em;
            background-color: $dark;
            padding: 1rem 2rem;
            border: 1px solid rgba(223, 225, 238, 0.3);;
            border-radius: 1.6rem 0 1.6rem 1.6rem;
            text-align: left;
            margin-left: auto;
            position: relative;
            @media (max-width: $sw-xx-max) {
                max-width: 85%;
            }
        }
        &__time {
            display: flex;
            align-items: center;
            margin-left: auto;
            justify-content: flex-end;
            font-size: 1.4rem;
            color: rgba(223, 225, 238, 0.3);
            &:after {
                content: '';
                display: none;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: $yellow;
                margin-left: 1.1rem;
            }
            .icon-chk {
                margin-left: 8px;
                font-size: 1.4rem;
            }
        }
    }
}