mixin acc-support(data)
	.acc-support
		.acc-support__top
			.section-title
				+svg('icon-headset')
				p.section-title__secondary Support
			.acc-support__top__count
				span.count-box 3
				span New Messages
		.acc-support__body
			.acc-support__inner
				.loader-wrapper
					.loader-box
					.loader-box
					.loader-box
					.loader-box
					.loader-box
		form.acc-support__footer(action="javascript:void(0)")
			.acc-support__footer__field
				.input-wrap
					.input-wrap__inner.h-scrollbar
						textarea#support_textarea.acc-support__footer__textarea(type="text")
						label.acc-support__footer__textarea-placeholder(for="support_textarea") Type your message...
				button.btn.btn--yellow.btn--md(type="submit")
					+svg('icon-send')
					span.mob-text Send Message