.partners-program {
    padding: 5rem 10rem 5rem 12rem;
    width: 100%;
    position: relative;
    z-index: 1;
    @media (max-width: $sw-md-max) {
        padding: 4.4rem 4.6rem 1rem 4.6rem;
    }
    @media (max-width: $sw-sm-max) {
        padding: 4rem 4rem 1rem 4rem;
        width: 100%;
    }
    @media (max-width: $sw-xx-max) {
        padding: 3.5rem 1rem 1rem 1rem;
    }

    &__top {
        margin-bottom: 8.5rem;
        @media (max-width: $sw-xs-max) {
            margin-bottom: 5.5rem;
        }
        .section-title {
            margin-bottom: 2rem;
        }
    }
    .history-store {
        margin-bottom: 8.7rem;
        @media (max-width: $sw-xs-max) {
            margin-bottom: 5.5rem;
        }
        .article-title {
            margin-bottom: 2.6rem;
            @media (max-width: $sw-xs-max) {
                margin-bottom: 2rem;
            }
        }
    }
}

.how-it-works {
    margin-bottom: 8.7rem;
    @media (max-width: $sw-xs-max) {
        margin-bottom: 5.7rem;
    }
    &--mobile-only {
        display: none;
        @media (max-width: $sw-xx-max) {
            display: flex;
        }
    }
    .article-title {
        margin-bottom: 2.6rem;
        @media (max-width: $sw-xs-max) {
            margin-bottom: 2rem;
        }
    }
    &__inner {
        display: flex;
        flex-wrap: wrap;
        margin-left: -2rem;
        margin-right: -2rem;
        @media (max-width: $sw-md-max) {
            margin-left: -1rem;
            margin-right: -1rem;
        }
        @media (max-width: $sw-xs-max) {
            margin-left: -6px;
            margin-right: -6px;
        }
        @media (max-width: $sw-xx-max) {
            margin-left: -1rem;
            margin-right: -1rem;
        }
        @media (max-width: 499px) {
            margin-left: 0;
            margin-right: 0;
        }
    }
    &__col {
        width: calc(100% / 3);
        padding: 0 2rem;
        margin-bottom: 2rem;
        @media (max-width: $sw-md-max) {
            padding: 0 1rem;
        }
        @media (max-width: $sw-xs-max) {
            padding: 0 6px;
            margin-bottom: 1.2rem;
        }
        @media (max-width: $sw-xx-max) {
            width: 50%;
            padding: 0 1rem;
            margin-bottom: 2rem;
        }
        @media (max-width: 499px) {
            width: 100%;
            padding: 0;
        }
    }
    &__item {
        width: 100%;
        height: 100%;
        border-radius: 1.6rem;
        background-color: #21273B;
        border: 1px solid rgba(223, 225, 238, 0.3);
        padding: 2rem;
        @media (max-width: $sw-md-max) {
            padding: 1.9rem 1.6rem;
        }
        @media (max-width: $sw-xx-max) {
            padding: 1rem 0.9rem 2.1rem 0.9rem;
        }
        &__info {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-bottom: 2rem;
            @media (max-width: $sw-xs-max) {
                margin-bottom: 1rem;
            }
        }
        &__icon {
            border: 1px solid $light-blue;
            border-radius: 3rem;
            width: 8rem;
            height: 8rem;
            margin-right: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            @media (max-width: $sw-md-max) {
                width: 7rem;
                height: 7rem;
                border-radius: 2.4rem;
            }
            @media (max-width: $sw-xs-max) {
                width: 5rem;
                height: 5rem;
                border-radius: 1.6rem;
                margin-right: 1rem;
            }
            @media (max-width: $sw-xx-max) {
                width: 6rem;
                height: 6rem;
                border-radius: 2.2rem;
            }
            .icon {
                color: #6FCF97;
                &-take-share {
                    font-size: 6.3rem;
                    @media (max-width: $sw-md-max) {
                        font-size: 5rem;
                    }
                    @media (max-width: $sw-xs-max) {
                        font-size: 3.6rem;
                    }
                }
                &-give-get {
                    font-size: 6rem;
                    @media (max-width: $sw-md-max) {
                        font-size: 5rem;
                    }
                    @media (max-width: $sw-xs-max) {
                        font-size: 3.6rem;
                    }
                }
                &-use-withdraw {
                    font-size: 5.1rem;
                    @media (max-width: $sw-md-max) {
                        font-size: 4.6rem;
                    }
                    @media (max-width: $sw-xs-max) {
                        font-size: 3.2rem;
                    }
                }
            }
        }
        &__order {
            font-size: 1.2rem;
            line-height: 1.65em;
            display: block;
            margin-bottom: 5px;
            color: rgba(223, 225, 238, 0.3);
        }
        &__title {
            display: block;
            width: 100%;
            font-size: 1.4rem;
            line-height: 1.4em;
            text-transform: uppercase;
            font-weight: 800;
            font-style: italic;
            color: $light-blue;
            text-align: left;
            @media (max-width: $sw-xs-max) {
                margin-bottom: 6px;
                font-size: 1.3rem;
            }
            @media (max-width: $sw-xx-max) {
                font-size: 1.4rem;
                margin-bottom: 1rem;
            }
        }
        &__text {
            font-size: 1.4rem;
            line-height: 1.4em;
            color: $light-blue;
            margin-bottom: 0;
        }
    }
    &__footer {
        width: 100%;
        height: auto;
        border-radius: 1.6rem;
        background-color: #21273B;
        border: 1px solid rgba(223, 225, 238, 0.3);
        padding: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        @media (max-width: $sw-xx-max) {
            flex-direction: column;
        }
        @media (max-width: 499px) {
            flex-direction: column;
        }
        .btn {
            min-width: auto;
            width: auto;
            min-width: 16rem;
            padding: 0 2rem;
            @media (max-width: $sw-xx-max) {
                min-width: auto;
                width: 100%;
                max-width: 22rem;
            }
            &--black {
                .icon-clipboard,
                .icon-qrcode {
                    margin-left: 1rem;
                    margin-right: 0;
                }
            }
        }
        &__divider {
            font-weight: 600;
            font-size: 1.4rem;
            line-height: 1em;
            color: rgba($light-blue, 0.3);
            margin: 0 1.3rem;
            @media (max-width: $sw-xx-max) {
                margin: 1.5rem 0;
            }
        }
    }
}

.terms-and-conditions {
    .article-title {
        margin-bottom: 2.6rem;
        @media (max-width: $sw-xs-max) {
            margin-bottom: 2rem;
        }
    }
}