mixin partner-program(data)
	.partners-program
		.partners-program__top
			.section-title
				+svg('icon-partner')
				p.section-title__secondary referral program
			.ref-program
				.ref-program__side
					.ref-program__icon
						img(src="s/images/useful/svg/ref-coins.svg", alt="refferal coins")
					.ref-program__text
						span Referral program
						span invite customers and get real money!
				.ref-program__side
					a.btn.btn--green.btn--lg(href="javascript:void(0)") How It works
		.history-store
			.article-title
				p.article-title__item
					+svg('icon-orders')
					span History Customer orders and rewards
				a.article-title__link.article-title__link--green(href="javascript:void(0)")
					span All #[span.article-title__link__mob Stats]
					+svg('icon-chevron-down')
			.history-store__table
				.history-store__table__head
					.history-store__table__col.col-start
						span Date
					.history-store__table__col.col-id
						span Customer ID
					.history-store__table__col.col-action-type
						span Acion type
					.history-store__table__col.col-amount
						span Amount
					.history-store__table__col.col-order-status
						span Status
					.history-store__table__col.col-reward
						span Reward
				.history-store__table__body
					.history-store__table__row
						.history-store__table__col.col-start
							.history-store__table__col__mob
								span Date
							.history-store__table__col__side
								span 21 Jan 2021
						.history-store__table__col.col-id
							.history-store__table__col__mob
								span Customer ID
							.history-store__table__col__side
								span 85478
						.history-store__table__col.col-action-type
							.history-store__table__col__mob
								span Action type
							.history-store__table__col__side
								span Order
						.history-store__table__col.col-amount
							.history-store__table__col__mob
								span Amount
							.history-store__table__col__side
								span 986 USD
						.history-store__table__col.col-order-status
							.history-store__table__col__mob
								span Status
							.history-store__table__col__side
								span Pending
						.history-store__table__col.col-reward.col-green
							.history-store__table__col__mob
								span Reward
							.history-store__table__col__side
								span -
					.history-store__table__row
						.history-store__table__col.col-start
							.history-store__table__col__mob
								span Date
							.history-store__table__col__side
								span 12 Jan 2021
						.history-store__table__col.col-id
							.history-store__table__col__mob
								span Customer ID
							.history-store__table__col__side
								span 85478
						.history-store__table__col.col-action-type
							.history-store__table__col__mob
								span Action type
							.history-store__table__col__side
								span Order
						.history-store__table__col.col-amount
							.history-store__table__col__mob
								span Amount
							.history-store__table__col__side
								span 986 USD
						.history-store__table__col.col-order-status
							.history-store__table__col__mob
								span Status
							.history-store__table__col__side
								span Pending
						.history-store__table__col.col-reward.col-green
							.history-store__table__col__mob
								span Reward
							.history-store__table__col__side
								span 148 USD
					.history-store__table__row
						.history-store__table__col.col-start
							.history-store__table__col__mob
								span Date
							.history-store__table__col__side
								span 10 Jan 2021
						.history-store__table__col.col-id
							.history-store__table__col__mob
								span Customer ID
							.history-store__table__col__side
								span 85478
						.history-store__table__col.col-action-type
							.history-store__table__col__mob
								span Action type
							.history-store__table__col__side
								span Order
						.history-store__table__col.col-amount
							.history-store__table__col__mob
								span Amount
							.history-store__table__col__side
								span 986 USD
						.history-store__table__col.col-order-status
							.history-store__table__col__mob
								span Status
							.history-store__table__col__side
								span Pending
						.history-store__table__col.col-reward.col-green
							.history-store__table__col__mob
								span Reward
							.history-store__table__col__side
								span 163 USD
		.how-it-works
			.article-title
				p.article-title__item
					+svg('icon-coins-tr')
					span use referral code or link
			.how-it-works__inner
				.how-it-works__col
					.how-it-works__item
						.how-it-works__item__info
							.how-it-works__item__icon
								+svg('icon-take-share')
							.how-it-works__item__descr
								span.how-it-works__item__order Step 01
								span.how-it-works__item__title Take & share
						p.how-it-works__item__text Use invite code or link to invite friends and earn money from their ourchases
				.how-it-works__col
					.how-it-works__item
						.how-it-works__item__info
							.how-it-works__item__icon
								+svg('icon-give-get')
							.how-it-works__item__descr
								span.how-it-works__item__order Step 02
								span.how-it-works__item__title Give & Get
						p.how-it-works__item__text Give 15% discounts to your customer at first order. Get 15% reward for each order of your customer
				.how-it-works__col
					.how-it-works__item
						.how-it-works__item__info
							.how-it-works__item__icon
								+svg('icon-use-withdraw')
							.how-it-works__item__descr
								span.how-it-works__item__order Step 03
								span.how-it-works__item__title Use or Withdraw
						p.how-it-works__item__text Use rewarded pounds to buy products or withdraw to personal wallet
			.how-it-works__footer
				button.btn.btn--md.btn--black.btn-copy(type="button") 
					| Invite Code: XF584KL 
					+svg('icon-clipboard')
					span.btn-copy__inner
						+svg('icon-chk')
						span Copied
				span.how-it-works__footer__divider or
				button.btn.btn--md.btn--black.how-it-works--mobile-only(type="button", data-target="#face_to_face_modal", data-toggle="modal") 
					span Face To Face
					+svg('icon-qrcode')
				span.how-it-works__footer__divider.how-it-works--mobile-only or
				button.btn.btn--yellow.btn--md.btn-copy(type="submit")
					+svg('icon-clipboard')
					span Copy link
					span.btn-copy__inner
						+svg('icon-chk')
						span Copied
		.terms-and-conditions
			.article-title
				p.article-title__item
					+svg('icon-terms')
					span Terms and Conditions
			.terms-and-conditions__inner
				+collapse-block({id: 'open_btc_wallet', target: '#open_btc_wallet', name: 'How to open a bitcoin wallet?'})
				+collapse-block({id: 'open_btc_wallet2', target: '#open_btc_wallet2', name: 'How to open a bitcoin wallet?'})