mixin cart-sticky(data)
	.cart-sticky.sticky-block
		button.sticky-helpers__trigger.sticky-helpers__trigger--cart.js-sticky-helper-trigger(type="button")
			+svg('icon-cart')
			span.sticky-helpers__count 2
			+svg('icon-close')
		.cart-sticky__inner.js-sticky-helper-inner
			.cart-sticky__content
				.cart-sticky__inner__top
					.cart-sticky__inner__top__title
						+svg('icon-cart')
						span Cart
						span.count-box 2
					button.cart-sticky__inner__top__close.js-sticky-helper-close(type="button")
						+svg('icon-close')
						spab Close
				.cart-sticky__inner__products.h-scrollbar
					.cart-sticky__inner__products__item
						.my-cart-table__product__img
							img(src="s/images/useful/products/sticky-card-product.jpg", alt="product")
						.my-cart-table__product__text
							.my-cart-table__product__text__main
								.product-indicator.product-indicator--sky
								span.my-cart-table__product__name Mesterolone
							.my-cart-table__product__text__secondary
								span 130.00 USD
						.my-cart-table__product__side
							.my-cart-table__product__count 12
							button.my-cart-table__product__remove.js-sticky-product-remove(type="button")
								+svg('icon-bin')
					.cart-sticky__inner__products__item
						.my-cart-table__product__img
							img(src="s/images/useful/products/sticky-card-product.jpg", alt="product")
						.my-cart-table__product__text
							.my-cart-table__product__text__main
								.product-indicator.product-indicator--sky
								span.my-cart-table__product__name Mesterolone
							.my-cart-table__product__text__secondary
								span 130.00 USD
						.my-cart-table__product__side
							.my-cart-table__product__count 12
							button.my-cart-table__product__remove.js-sticky-product-remove(type="button")
								+svg('icon-bin')
					.cart-sticky__inner__products__item
						.my-cart-table__product__img
							img(src="s/images/useful/products/sticky-card-product.jpg", alt="product")
						.my-cart-table__product__text
							.my-cart-table__product__text__main
								.product-indicator.product-indicator--sky
								span.my-cart-table__product__name Mesterolone
							.my-cart-table__product__text__secondary
								span 130.00 USD
						.my-cart-table__product__side
							.my-cart-table__product__count 12
							button.my-cart-table__product__remove.js-sticky-product-remove(type="button")
								+svg('icon-bin')
					.cart-sticky__inner__products__item
						.my-cart-table__product__img
							img(src="s/images/useful/products/sticky-card-product.jpg", alt="product")
						.my-cart-table__product__text
							.my-cart-table__product__text__main
								.product-indicator.product-indicator--sky
								span.my-cart-table__product__name Mesterolone
							.my-cart-table__product__text__secondary
								span 130.00 USD
						.my-cart-table__product__side
							.my-cart-table__product__count 12
							button.my-cart-table__product__remove.js-sticky-product-remove(type="button")
								+svg('icon-bin')
					.cart-sticky__inner__products__item
						.my-cart-table__product__img
							img(src="s/images/useful/products/sticky-card-product.jpg", alt="product")
						.my-cart-table__product__text
							.my-cart-table__product__text__main
								.product-indicator.product-indicator--sky
								span.my-cart-table__product__name Mesterolone
							.my-cart-table__product__text__secondary
								span 130.00 USD
						.my-cart-table__product__side
							.my-cart-table__product__count 12
							button.my-cart-table__product__remove.js-sticky-product-remove(type="button")
								+svg('icon-bin')
					.cart-sticky__inner__products__item
						.my-cart-table__product__img
							img(src="s/images/useful/products/sticky-card-product.jpg", alt="product")
						.my-cart-table__product__text
							.my-cart-table__product__text__main
								.product-indicator.product-indicator--sky
								span.my-cart-table__product__name Mesterolone
							.my-cart-table__product__text__secondary
								span 130.00 USD
						.my-cart-table__product__side
							.my-cart-table__product__count 12
							button.my-cart-table__product__remove.js-sticky-product-remove(type="button")
								+svg('icon-bin')
					.cart-sticky__inner__products__item
						.my-cart-table__product__img
							img(src="s/images/useful/products/sticky-card-product.jpg", alt="product")
						.my-cart-table__product__text
							.my-cart-table__product__text__main
								.product-indicator.product-indicator--sky
								span.my-cart-table__product__name Mesterolone
							.my-cart-table__product__text__secondary
								span 130.00 USD
						.my-cart-table__product__side
							.my-cart-table__product__count 12
							button.my-cart-table__product__remove.js-sticky-product-remove(type="button")
								+svg('icon-bin')
					.cart-sticky__inner__products__item
						.my-cart-table__product__img
							img(src="s/images/useful/products/sticky-card-product.jpg", alt="product")
						.my-cart-table__product__text
							.my-cart-table__product__text__main
								.product-indicator.product-indicator--sky
								span.my-cart-table__product__name Mesterolone
							.my-cart-table__product__text__secondary
								span 130.00 USD
						.my-cart-table__product__side
							.my-cart-table__product__count 12
							button.my-cart-table__product__remove.js-sticky-product-remove(type="button")
								+svg('icon-bin')
					.cart-sticky__inner__products__item
						.my-cart-table__product__img
							img(src="s/images/useful/products/sticky-card-product.jpg", alt="product")
						.my-cart-table__product__text
							.my-cart-table__product__text__main
								.product-indicator.product-indicator--sky
								span.my-cart-table__product__name Mesterolone
							.my-cart-table__product__text__secondary
								span 130.00 USD
						.my-cart-table__product__side
							.my-cart-table__product__count 12
							button.my-cart-table__product__remove.js-sticky-product-remove(type="button")
								+svg('icon-bin')
					.cart-sticky__inner__products__item
						.my-cart-table__product__img
							img(src="s/images/useful/products/sticky-card-product.jpg", alt="product")
						.my-cart-table__product__text
							.my-cart-table__product__text__main
								.product-indicator.product-indicator--sky
								span.my-cart-table__product__name Mesterolone
							.my-cart-table__product__text__secondary
								span 130.00 USD
						.my-cart-table__product__side
							.my-cart-table__product__count 12
							button.my-cart-table__product__remove.js-sticky-product-remove(type="button")
								+svg('icon-bin')
					.cart-sticky__inner__products__item
						.my-cart-table__product__img
							img(src="s/images/useful/products/sticky-card-product.jpg", alt="product")
						.my-cart-table__product__text
							.my-cart-table__product__text__main
								.product-indicator.product-indicator--sky
								span.my-cart-table__product__name Mesterolone
							.my-cart-table__product__text__secondary
								span 130.00 USD
						.my-cart-table__product__side
							.my-cart-table__product__count 12
							button.my-cart-table__product__remove.js-sticky-product-remove(type="button")
								+svg('icon-bin')
				.cart-sticky__inner__footer
					span.cart-sticky__inner__footer__price 72.56 USD
					a.btn.btn--yellow.btn--md(href="javascript:void(0)")
						span Open Cart 