.sticky-helpers {
    position: fixed;
    bottom: 4rem;
    right: 10rem;
    z-index: 65;
    transform: translateY(-3rem);
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease, visibility .3s ease, transform .3s ease;
    &.is-visible {
        opacity: 1;
        visibility: visible;
        transform: none;
    }
    @media (max-width: $sw-md-max) {
        bottom: 3rem;
        right: 4rem;
    }
    @media (max-width: $sw-sm-max) {
        right: 2rem;
        bottom: 2rem;
    }
    @media (max-width: $sw-xx-max) {
        right: 1rem;
        bottom: 1rem;
        z-index: 140;
    }
    &.is-opened {
        @media (max-width: $sw-xx-max) {
            height: calc(100% - 2rem);
        }
    }
    .sticky-block {
        position: absolute;
        right: 0;
        transition: transform .25s ease;
        transform: none;
        @media (max-width: $sw-xx-max) {
            display: flex;
            align-items: flex-end;
        }
        &:first-child {
            bottom: 0;
            &.is-active {
                @media (max-width: $sw-xx-max) {
                    // height: 100%;
                }
            }
        }
        &:nth-child(2) {
            bottom: 10rem;
            @media (max-width: $sw-sm-max) {
                bottom: 7.5rem;
            }
            @media (max-width: $sw-xx-max) {
                bottom: 6rem;
            }
            &.is-active {
                @media (max-width: $sw-xx-max) {
                    // height: 100%;
                    // transform: translateY(6rem);
                }
            }
        }
        &:nth-child(3) {
            bottom: 20rem;
            @media (max-width: $sw-sm-max) {
                bottom: 15rem;
            }
            @media (max-width: $sw-xx-max) {
                bottom: 12rem;
            }
            &.is-active {
                @media (max-width: $sw-xx-max) {
                    // height: 100%;
                    // transform: translateY(12rem);
                }
            }
        }
        &:nth-child(4) {
            bottom: 30rem;
            @media (max-width: $sw-sm-max) {
                bottom: 22.5rem;
            }
            @media (max-width: $sw-xx-max) {
                bottom: 18rem;
            }
            &.is-active {
                @media (max-width: $sw-xx-max) {
                    // height: 100%;
                    // transform: translateY(18rem);
                    opacity: 0;
                }
            }
        }
    }
    &__trigger {
        width: 8rem;
        height: 8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        background-color: #21273B;
        border-radius: 1.6rem;
        transition: background-color .3s ease;
        transform: none;
        overflow: hidden;
        opacity: 1;
        visibility: visible;
        transition: transform .3s ease, opacity .3s ease, visibility .3s ease, filter .3s ease, border-color .3s ease;
        @media (max-width: $sw-sm-max) {
            width: 6rem;
            height: 6rem;
        }
        @media (max-width: $sw-xx-max) {
            width: 5rem;
            height: 5rem;
        }
        &:hover {
            @media (min-width: $sw-xs-min) {
                background-color: lighten(#21273B, 3%);
            }
        }
        &:after {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            background-color: $yellow;
            opacity: 0;
            position: absolute;
            left: 0;
            top: 0;
            visibility: hidden;
            transition: opacity .3s ease, visibility .3s ease;
        }
        &.is-disabled {
            pointer-events: none;
            user-select: none;
            filter: blur(0.7px);
            opacity: 0.4;
            @media (max-width: $sw-xx-max) {
                filter: none;
                opacity: 0;
            }
        }
        &.is-active {
            border-color: $yellow;
            @media (max-width: $sw-xx-max) {
                opacity: 0;
            }
            &:after {
                opacity: 1;
                visibility: visible;
            }
            .icon-close {
                opacity: 1;
                visibility: visible;
                transform: translate(-50%,-50%) scale(1);
            }
        }
        .icon-cart {
            font-size: 4rem;
            @media (max-width: $sw-sm-max) {
                font-size: 3rem;
            }
            @media (max-width: $sw-xx-max) {
                font-size: 2.4rem;
            }
        }
        .icon-close {
            position: absolute;
            top: 50%;
            left: 50%;
            color: $dark;
            font-size: 2rem;
            opacity: 0;
            visibility: hidden;
            transform: translate(-50%,-50%) scale(0);
            transition: opacity .3s ease, visibility .3s ease, transform .3s ease;
            z-index: 10;
            @media (max-width: $sw-xx-max) {
                font-size: 1.4rem;
            }
        }
        .icon-headset {
            font-size: 4rem;
            @media (max-width: $sw-sm-max) {
                font-size: 3rem;
            }
            @media (max-width: $sw-xx-max) {
                font-size: 2.4rem;
            }
        }
        &--cart {
            color: $yellow;
            border: 1px solid $yellow;
        }
        &--support {
            color: $light-blue;
            border: 1px solid $light-blue;
            margin-top: 2rem;
            @media (max-width: $sw-sm-max) {
                margin-top: 1.5rem;
            }
            @media (max-width: $sw-xx-max) {
                margin-top: 1rem;
            }
        }
    }
    &__count {
        width: auto;
        min-width: 2rem;
        height: 2rem;
        position: absolute;
        bottom: 1rem;
        right: 1rem;
        border-radius: 1rem;
        padding: 0 2px;
        background-color: $yellow;
        font-weight: 600;
        font-size: 1.4rem;
        line-height: 1em;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        text-transform: capitalize;
        color: $dark;
        @media (max-width: $sw-sm-max) {
            bottom: 6px;
            right: 6px;
        }
        @media (max-width: $sw-xx-max) {
            bottom: 4px;
            right: 4px;
            width: 1.8rem;
            height: 1.8rem;
            font-size: 1.2rem;
        }
    }
}

.cart-sticky {
    &__inner {
        display: none;
        position: absolute;
        right: 0;
        bottom: 10rem;
        width: 32rem;
        z-index: 5;
        background-color: #21273B;
        border: 1px solid $light-blue;
        border-radius: 1.6rem;
        transform: translateY(2rem);
        transition: transform .2s ease;
        @media (max-width: $sw-sm-max) {
            width: 29rem;
            bottom: 7.5rem;
        }
        @media (max-width: $sw-xx-max) {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            position: fixed;
            border-radius: 0;
            border: none;
        }
        &.is-opened {
            transform: none;
        }
        &__top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 2rem;
            border-radius: 1.6rem 1.6rem 0 0;
            height: 7rem;
            cursor: pointer;
            border-bottom: 1px solid $light-blue;
            @media (max-width: $sw-sm-max) {
                height: 6rem;
            }
            @media (max-width: $sw-xx-max) {
                flex-shrink: 0;
                height: 5rem;
                border-bottom-color: #2F3548;
            }
            @media (max-width: 499px) {
                padding: 0 1rem;
                height: 4.5rem;
            }
            &__title {
                display: flex;
                align-items: center;
                color: $light-blue;
                font-style: italic;
                text-transform: uppercase;
                font-weight: 800;
                font-size: 2.4rem;
                line-height: 1.25em;
                text-transform: uppercase;
                color: $light-blue;
                @media (max-width: $sw-sm-max) {
                    font-size: 2.2rem;
                }
                @media (max-width: 499px) {
                    font-size: 1.8rem;
                }
                .icon-cart {
                    font-size: 2rem;
                    margin-right: 1rem;
                    @media (max-width: 499px) {
                        font-size: 1.8rem;
                    }
                }
                .count-box {
                    margin-left: 1.4rem;
                    width: auto;
                    min-width: 3rem;
                    height: 3rem;
                    padding: 0 2px;
                    font-weight: 600;
                    font-style: normal;
                    border-radius: 1.5rem;
                    @media (max-width: $sw-sm-max) {
                        min-width: 2.8rem;
                        height: 2.8rem;
                        border-radius: 1.4rem;
                    }
                    @media (max-width: 499px) {
                        height: 2.6rem;
                        min-width: 2.6rem;
                        border-radius: 1.3rem;
                    }
                }
            }
            &__icon {
                margin-left: 1rem;
                .icon-chevron-down {
                    color: $light-blue;
                    font-size: 1.1rem;
                }
            }
            &__close {
                display: none;
                z-index: 10;
                font-weight: 600;
                font-size: 1.6rem;
                line-height: 1em;
                align-items: center;
                text-transform: capitalize;
                color: $light-blue;
                cursor: pointer;
                transition: color .3s ease;
                @media (max-width: $sw-xx-max) {
                    display: flex;
                }
                .icon-close {
                    font-size: 1.2rem;
                    margin-right: 1.3rem;
                }
            }
        }
        &__footer {
            height: 7rem;
            padding: 0 2rem 1rem 2rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: 0 0 1.6rem 1.6rem;
            @media (max-width: $sw-sm-max) {
                padding: 0 1rem;
            }
            @media (max-width: $sw-xx-max) {
                flex-shrink: 0;
                height: 8rem;
                padding: 1rem;
                border-top: 1px solid #2F3548;
            }
            @media (max-width: 499px) {
                height: 6rem;
            }
            &__price {
                font-style: italic;
                font-weight: 800;
                font-size: 1.8rem;
                line-height: 1.5em;
                text-transform: uppercase;
                color: $light-blue;
                margin-right: 1rem;
                @media (max-width: $sw-xs-max) {
                    font-size: 1.6rem;
                }
            }
            .btn {
                padding: 0 1rem;
                min-width: auto;
                width: 11rem;
                padding: 0 1rem;
                @media (max-width: 499px) {
                    height: 4.5rem;
                }
            }
        }
        &__products {
            overflow: hidden;
            height: auto;
            max-height: 22rem;
            overflow: hidden;
            overflow-y: auto;
            @media (max-width: $sw-sm-max) {
                max-height: 16rem;
            }
            @media (max-width: $sw-xx-max) {
                max-height: none;
                flex-grow: 1;
            }
            &__item {
                padding: 2rem;
                height: 11rem;
                display: flex;
                align-items: center;
                @media (max-width: $sw-sm-max) {
                    padding: 1rem;
                    height: 8rem;
                }
                & + .cart-sticky__inner__products__item {
                    border-top: 1px solid rgba(223, 225, 238, 0.3);
                    @media (max-width: $sw-xx-max) {
                        border-top-color: #2F3548;
                    }
                }
            }
            .my-cart-table__product {
                &__img {
                    width: 7rem;
                    height: 7rem;
                    margin-right: 1.9rem;
                    @media (max-width: $sw-sm-max) {
                        width: 5.6rem;
                        height: 5.6rem;
                        margin-right: 1.5rem;
                    }
                }
                &__text {
                    &__main {
                        .product-indicator {
                            @media (max-width: $sw-sm-max) {
                                width: 1.2rem;
                                height: 1.2rem;
                            }
                        }
                    }
                    &__secondary {
                        font-weight: 600;
                        font-size: 1.6rem;
                        line-height: 1.875em;
                        color: $light-blue;
                        text-transform: capitalize;
                        margin-top: 1rem;
                        @media (max-width: $sw-sm-max) {
                            font-size: 1.5rem;
                            margin-top: 5px;
                        }
                        @media (max-width: $sw-xs-max) {
                            line-height: 1em;
                            margin-top: 1.5rem;
                        }
                    }
                }
                &__name {
                    max-width: 12rem;
                    @media (max-width: $sw-xs-max) {
                        line-height: 1em;
                    }
                }
                &__side {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-end;
                }
                &__count {
                    font-weight: 600;
                    font-size: 1.6rem;
                    line-height: 1.875em;
                    color: $light-blue;
                    &::before {
                        content: 'x'
                    }
                }
                &__remove {
                    margin-top: 1rem;
                    width: 3rem;
                    height: 3rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid rgba(223, 225, 238, 0.3);
                    border-radius: 4px;
                    background-color: #21273B;
                    transition: background-color .3s ease;
                    @media (max-width: $sw-sm-max) {
                        margin-top: 0;
                    }
                    .icon-bin {
                        font-size: 1.5rem;
                        color: #EB5757;
                    }
                    &:hover {
                        @media (min-width: $sw-xs-min) {
                            background-color: lighten(#21273B, 4%);
                        }
                    }
                    &:active {
                        background-color: lighten(#21273B, 7%);
                    }
                }
            }
        }
    }
    &__content {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        .simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
            min-height: 1rem;
        }
    }
}