.collapse-block {
    background: rgba(#2F3548, 0.3);
    border-radius: 8px;
    margin-bottom: 2.1rem;
    padding: 1.8rem 3.1rem 2rem 3.1rem;
    @media (max-width: $sw-xs-max) {
        padding: 2.2rem 3.5rem 2.5rem 3.1rem;
    }
    @media (max-width: $sw-xx-max) {
        padding: 7px 1.4rem 8px 2.4rem;
    }
    &.is-shown {
        padding-bottom: 3rem !important;
        @media (max-width: $sw-xs-max) {
            padding-bottom: 3.5rem !important;
        }
        @media (max-width: $sw-xx-max) {
            padding-bottom: 1.8rem !important;
        }
        .collapse-trigger {
            color: $yellow;
            &__icon {
                transform: translateY(-50%) rotate(180deg);
            }
        }
    }
    &-wrap {
        margin-bottom: 4rem;
    }
    p {
        margin-bottom: 0;
        font-size: 1.6rem;
        line-height: 1.875em;
        margin-bottom: 0;
        @media (max-width: $sw-xs-max) {
            font-size: 1.2rem;
            line-height: 1.83em;
        }
    }
    .collapse-trigger {
        color: $light-blue;
        font-size: 1.6rem;
        line-height: 1.875em;
        transition: color .3s ease;
        position: relative;
        width: 100%;
        text-align: left;
        padding: 1rem 2.9rem 1rem 0;
        @media (max-width: $sw-xs-max) {
            font-size: 1.2rem;
            line-height: 1.83em;
        }
        &__icon {
            position: absolute;
            right: 8px;
            top: 50%;
            transform: translateY(-50%) rotate(0deg);
            display: flex;
            transition: transform .3s ease;
            align-items: center;
            justify-content: center;
        }
        .icon-chevron {
            color: $light-blue;
            font-size: 7px;
        }
    }
    &__list {
        color: $light-blue;
        font-size: 1.6rem;
        line-height: 1.875em;
        list-style: decimal;
        list-style-position: inside;
        @media (max-width: $sw-xs-max) {
            font-size: 1.2rem;
            line-height: 1.83em;
        }
    }
}