.support-sticky {
    &__inner {
        display: none;
        position: absolute;
        right: 0;
        bottom: 10rem;
        width: 32rem;
        z-index: 5;
        background-color: #21273B;
        border: 1px solid $light-blue;
        border-radius: 1.6rem;
        transform: translateY(2rem);
        transition: transform .2s ease;
        overflow: hidden;
        @media (max-width: $sw-sm-max) {
            width: 29rem;
            bottom: 7.5rem;
        }
        @media (max-width: $sw-xx-max) {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            position: fixed;
            border-radius: 0;
            border: none;
        }
        &.is-opened {
            transform: none;
        }
        &__top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 2rem;
            border-radius: 1.6rem 1.6rem 0 0;
            height: 7rem;
            cursor: pointer;
            position: relative;
            z-index: 1;
            border-bottom: 1px solid $light-blue;
            @media (max-width: $sw-sm-max) {
                height: 6rem;
            }
            @media (max-width: $sw-xx-max) {
                flex-shrink: 0;
                height: 5rem;
                border-bottom-color: #2F3548;
            }
            &__title {
                display: flex;
                align-items: center;
                color: $light-blue;
                text-transform: uppercase;
                font-weight: 800;
                font-size: 2.4rem;
                line-height: 1.25em;
                font-style: italic;
                text-transform: uppercase;
                color: $light-blue;
                @media (max-width: $sw-sm-max) {
                    font-size: 2.2rem;
                }
                @media (max-width: 499px) {
                    font-size: 1.8rem;
                }
                .icon {
                    font-size: 2rem;
                    margin-right: 1rem;
                    @media (max-width: 499px) {
                        font-size: 1.8rem;
                    }
                }
                .count-box {
                    margin-left: 1.4rem;
                    width: auto;
                    min-width: 3rem;
                    height: 3rem;
                    padding: 0 2px;
                    font-weight: 600;
                    font-style: normal;
                    border-radius: 1.5rem;
                    @media (max-width: $sw-sm-max) {
                        min-width: 2.8rem;
                        height: 2.8rem;
                        border-radius: 1.4rem;
                    }
                    @media (max-width: 499px) {
                        height: 2.6rem;
                        min-width: 2.6rem;
                        border-radius: 1.3rem;
                    }
                }
            }
            &__icon {
                margin-left: 1rem;
                .icon-chevron-down {
                    color: $light-blue;
                    font-size: 1.1rem;
                }
            }
            &__close {
                display: none;
                z-index: 10;
                font-weight: 600;
                font-size: 1.6rem;
                line-height: 1em;
                align-items: center;
                text-transform: capitalize;
                color: $light-blue;
                cursor: pointer;
                transition: color .3s ease;
                @media (max-width: $sw-xx-max) {
                    display: flex;
                }
                .icon-close {
                    font-size: 1.2rem;
                    margin-right: 1.3rem;
                }
            }
        }
        &__messages {
            width: 100%;
            height: 36rem;
            background-image: url('../../s/images/useful/support-body-bg.png');
            background-repeat: repeat;
            background-position: 0 0;
            overflow: hidden;
            overflow-y: auto;
            @media (max-width: $sw-xx-max) {
                height: auto;
                flex-grow: 1;
            }
            .acc-support__inner {
                padding: 2rem;
            }
            .acc-support__message {
                & + .message-support {
                    margin-top: 2rem;
                    @media (max-width: $sw-md-max) {
                        margin-top: 1.5rem;
                    }
                    @media (max-width: $sw-xx-max) {
                        margin-top: 1rem;
                    }
                }
                &__inner {
                    max-width: 24rem;
                }
                p {
                    font-size: 1.5rem;
                    line-height: 2em;
                    @media (max-width: $sw-sm-max) {
                        font-size: 1.4rem;
                        line-height: 1.85em;
                    }
                }
            }
            .loader {
                &-wrapper {
                    margin: 0 0 2rem 0;
                }
                &-box {
                    width: 6px;
                    height: 6px;
                    margin: 0 1rem;
                }
            }
        }
        &__footer {
            border-top: 1px solid #DFE1EE;
            border-radius: 0 0 1.6rem 1.6rem;
            height: 7rem;
            @media (max-width: $sw-xx-max) {
                flex-shrink: 0;
                border-top-color: #2F3548;
                height: 8.1rem;
                border-radius: 0;
                padding: 1rem;
            }
            &__field {
                height: 100%;
                display: flex;
                position: relative;
                z-index: 1;
                align-items: center;
                justify-content: space-between;
                @media (max-width: $sw-xx-max) {
                    height: 100%;
                    width: 100%;
                    background-color: #1B2134;
                    border-radius: 1.6rem;
                    border: 1px solid rgba(223, 225, 238, 0.3);
                    display: flex;
                    align-items: center;
                }
            }
            .input-wrap {
                flex-grow: 1;
                height: 100%;
                padding: 6px 0;
                border-radius: 0 0 0 1.6rem;
                &__inner {
                    width: 100%;
                    height: 100%;
                    padding: 0 1rem 0 0;
                    display: flex;
                    align-items: center;
                    position: relative;
                    overflow: hidden;
                    overflow-y: auto;
                }
            }
            .acc-support__footer__textarea {
                padding-left: 2rem;
                &-placeholder {
                    line-height: 5.6rem;
                    padding-left: 2rem;
                    @media (max-width: $sw-xx-max) {
                        line-height: 4.6rem;
                    }
                }
            }
        }
        &__info, &__request-done {
            display: flex;
            align-items: center;
            padding: 2.2rem 2rem 2.7rem 2rem;
            @media (max-width: $sw-xs-max) {
                padding: 1.6rem;
            }
            &__icon {
                flex-shrink: 0;
                margin-right: 1.4rem;
                .icon-footer-contact {
                    color: $yellow;
                    font-size: 7.2rem;
                    @media (max-width: $sw-xs-max) {
                        font-size: 6rem;
                    }
                }
            }
            &__text {
                flex-grow: 1;
                p {
                    font-weight: 300;
                    font-size: 1.4rem;
                    line-height: 1.7em;
                    color: $light-blue;
                    margin-bottom: 0;
                }
            }
        }
        &__request-done {
            display: none;
            flex-wrap: wrap;
            height: 100%;
            @media (max-width: $sw-xx-max) {
                height: auto;
                margin: auto 0;
                padding-bottom: 8rem;
            }
            .is-done-request & {
                display: flex;
            }
            .btn {
                width: 100%;
                margin-top: 3.5rem;
            }
        }
        &__info {
            .is-done-request & {
                display: none;
            }
        }
        &__submit {
            border-radius: 1px solid red;
            height: 100%;
            width: 6rem;
            flex-shrink: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            margin-left: 1rem;
            .icon-send {
                font-size: 1.7rem;
                color: $light-blue;
            }
        }
        &__form {
            padding: 2.8rem 2rem 2rem 2rem;
            border-top: 1px solid $light-blue;
            @media (max-width: $sw-xs-max) {
                padding: 1.6rem;
            }
            @media (max-width: $sw-xx-max) {
                height: 100%;
                display: flex;
                flex-direction: column;
                padding: 0 6px 0 1.6rem;
                border-top-color: #2F3548;
            }
            .is-done-request & {
                display: none;
            }
            &__content {
                height: auto;
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                @media (max-width: $sw-xx-max) {
                    padding: 1rem 1rem 1rem 0;
                }
            }
            .acc-coins__photo__group {
                margin-bottom: 2rem;
                @media (max-width: $sw-xs-max) {
                    margin-bottom: 1rem;
                }
                & + .acc-coins__photo__group {
                    margin-top: 0;
                }
                &:nth-child(2) {
                    @media (max-width: $sw-xx-max) {
                        flex-grow: 1;
                    }
                }
                .input-wrap {
                    @media (max-width: $sw-xx-max) {
                        height: 100%;
                    }
                }
            }
            textarea.form-control {
                @media (max-width: $sw-xs-max) {
                    height: 10rem;
                    max-height: 11.6rem;
                }
                @media (max-width: $sw-xx-max) {
                    height: 100% !important;
                    max-height: 100% !important;
                }
            }
            .btn {
                min-width: auto;
                width: 100%;
                text-transform: capitalize;
                flex-shrink: 0;
            }
        }
    }
    &__content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        .simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
            min-height: 1rem;
        }
    }
}