mixin support-sticky(data)
	.support-sticky.sticky-block
		button.sticky-helpers__trigger.sticky-helpers__trigger--support.js-sticky-helper-trigger(type="button")
			+svg('icon-headset')
			+svg('icon-close')
		form.support-sticky__inner.js-sticky-helper-inner#support_request_form.js-form-check(action="javascript:void(0)")
			.support-sticky__content
				.support-sticky__inner__top
					.support-sticky__inner__top__title
						+svg('icon-headset')
						span support
					button.support-sticky__inner__top__close.js-sticky-helper-close(type="button")
						+svg('icon-close')
						spab Close
				.support-sticky__inner__request-done
					.support-sticky__inner__info__icon
						+svg('icon-footer-contact')
					.support-sticky__inner__info__text
						p All done! #[br] We’ll answer you in 24 hours
					button.btn.btn--yellow.btn--md.js-sticky-helper-close(type="button")
						span Ok, close
				.support-sticky__inner__info
					.support-sticky__inner__info__icon
						+svg('icon-footer-contact')
					.support-sticky__inner__info__text
						p Currently there are no operators, left your info and we will contact
				.support-sticky__inner__form.h-scrollbar
					.support-sticky__inner__form__content
						.acc-coins__photo__group
							.input-wrap.required
								input.form-control.form-control--silver(type="text", name="support_email", placeholder="Your email ...", required="")
						.acc-coins__photo__group
							.input-wrap.required
								textarea.form-control.form-control--silver(name="support_text", placeholder="Ask a question...", required="")
						button.btn.btn--yellow.btn--md(type="submit")
							span Send Request

	.support-sticky.sticky-block
		button.sticky-helpers__trigger.sticky-helpers__trigger--support.js-sticky-helper-trigger(type="button")
			+svg('icon-headset')
			span.sticky-helpers__count 3
			+svg('icon-close')
		form.support-sticky__inner.js-sticky-helper-inner(action="javascript:void(0)")
			.support-sticky__content
				.support-sticky__inner__top
					.support-sticky__inner__top__title
						+svg('icon-headset')
						span support
						span.count-box 3
					button.support-sticky__inner__top__close.js-sticky-helper-close(type="button")
						+svg('icon-close')
						spab Close
				.support-sticky__inner__messages.js-simplebar-instance
					.acc-support__inner
						.loader-wrapper
							.loader-box
							.loader-box
							.loader-box
							.loader-box
							.loader-box
						.acc-support__message
							.acc-support__message__inner
								p Hey
								span.acc-support__message__time 15 min ago #[img.icon-chk(src="s/images/useful/svg/check.svg", alt="check")]
						.acc-support__message.message-support.message-new
							.acc-support__message__inner
								p Give us few minutes to check
								span.acc-support__message__time 15 sec ago #[img.icon-chk(src="s/images/useful/svg/check.svg", alt="check")]
						.acc-support__message.message-support.message-new
							.acc-support__message__inner
								p Hey, Mann
								span.acc-support__message__time 15 sec ago #[img.icon-chk(src="s/images/useful/svg/check.svg", alt="check")]
						.acc-support__message
							.acc-support__message__inner
								p Could you help me with order RA5678, I tried to track this order and there are no information during last few weeks
								span.acc-support__message__time 15 min ago #[img.icon-chk(src="s/images/useful/svg/check.svg", alt="check")]
				.support-sticky__inner__footer
					.support-sticky__inner__footer__field
						.input-wrap
							.input-wrap__inner.h-scrollbar
								textarea#support_textarea.acc-support__footer__textarea(type="text")
								label.acc-support__footer__textarea-placeholder(for="support_textarea") Type your message...
						button.support-sticky__inner__submit(type="submit")
							+svg('icon-send')