mixin footer(data)
	footer.footer
		.container
			.footer__inner
				.footer__inner__side
					.products-overview__list-box
						span.footer__inner__side__title Manufacturers
						ul.products-overview__list.h-reset-list
							li.products-overview__list__item
								a.products-overview__list__item-link(href="javascript:void(0)")
									span Hilma biocare
									span.products-overview__list__item-count 12
							li.products-overview__list__item
								a.products-overview__list__item-link(href="javascript:void(0)")
									span Omstal Pharma
									span.products-overview__list__item-count 5
							li.products-overview__list__item
								a.products-overview__list__item-link(href="javascript:void(0)")
									span Bio Gamma
									span.products-overview__list__item-count 102
							li.products-overview__list__item
								a.products-overview__list__item-link(href="javascript:void(0)")
									span Hilma biocare
									span.products-overview__list__item-count 12
							li.products-overview__list__item
								a.products-overview__list__item-link(href="javascript:void(0)")
									span Omstal Pharma
									span.products-overview__list__item-count 5
							li.products-overview__list__item
								a.products-overview__list__item-link(href="javascript:void(0)")
									span Bio Gamma
									span.products-overview__list__item-count 102
				.footer__inner__side
					span.footer__inner__side__title Payment methods
					ul.payment-methods-list.h-reset-list
						li.payment-methods-list__item
							a(href="javascript:void(0)")
								+svg('icon-crypto')
						li.payment-methods-list__item
							a(href="javascript:void(0)")
								+svg('icon-payment-bw')
						li.payment-methods-list__item
							a(href="javascript:void(0)")
								+svg('icon-payment-cr')
						li.payment-methods-list__item
							a(href="javascript:void(0)")
								+svg('icon-mg')
						li.payment-methods-list__item
							a(href="javascript:void(0)")
								+svg('icon-wu')
				.footer__inner__side
					span.footer__inner__side__title Partners
					ul.partners-brands-list.h-reset-list
						li.partners-brands-list__item
							a(href="javascript:void(0)")
								+svg('icon-trustpilot')
						li.partners-brands-list__item
							a(href="javascript:void(0)")
								+svg('icon-trustpilot')
						li.partners-brands-list__item
							a(href="javascript:void(0)")
								+svg('icon-trustpilot')
						li.partners-brands-list__item
							a(href="javascript:void(0)")
								+svg('icon-trustpilot')
						li.partners-brands-list__item
							a(href="javascript:void(0)")
								+svg('icon-trustpilot')
						li.partners-brands-list__item
							a(href="javascript:void(0)")
								+svg('icon-trustpilot')
						li.partners-brands-list__item
							a(href="javascript:void(0)")
								+svg('icon-trustpilot')
						li.partners-brands-list__item
							a(href="javascript:void(0)")
								+svg('icon-trustpilot')
						li.partners-brands-list__item
							a(href="javascript:void(0)")
								+svg('icon-trustpilot')
						li.partners-brands-list__item
							a(href="javascript:void(0)")
								+svg('icon-trustpilot')
				.footer__inner__side
					.footer__contact
						.footer__contact__icon
							+svg('icon-footer-contact')
						.footer__contact__text
							span.footer__contact__title Contact with Henry:
							a.footer__contact__email(href="mailto:henry@sportsman.store") henry@sportsman.store