.index-page {
    .footer {
        @media (max-width: $sw-sm-max) {
            display: flex;
        }
    }
}

.footer {
    height: auto;
    position: relative;
    display: flex;
    align-items: flex-end;
    filter: none;
	transition: filter .15s ease;
    @media (max-width: $sw-sm-max) {
        display: none;
    }
    &:after, &:before {
        content: '';
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        bottom: 0;
    }
    &:before {
        left: 0;
        background-image: url('../../s/images/useful/footer/footer-cloud-left.png');
        background-position: bottom left;
        background-size: auto;
        background-repeat: no-repeat;
    }
    &:after {
        right: 0;
        background-image: url('../../s/images/useful/footer/footer-cloud-right.png');
        background-position: bottom right;
        background-size: auto;
        background-repeat: no-repeat;
    }
    .container {
        @media (max-width: $sw-sm-max) {
            max-width: 100%;
        }
        @media (max-width: $sw-xs-max) {
            max-width: 100%;
        }
    }
    &__inner {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        position: relative;
        z-index: 1;
        padding: 10.2rem 0 3.6rem 0;
        @media (max-width: $sw-sm-max) {
            padding: 7rem 0 3.6rem 0;
        }
        @media (max-width: $sw-xs-max) {
            flex-wrap: wrap;
            padding: 3rem 0 0 0;
        }
        &__side {
            display: flex;
            flex-direction: column;
            @media (max-width: $sw-sm-max) {
                padding: 0 1rem;
            }
            @media (max-width: $sw-xs-max) {
                width: 100%;
            }
            & + .footer__inner__side {
                @media (max-width: $sw-xs-max) {
                    margin-top: 2rem;
                }
            }
            &__title {
                display: block;
                width: 100%;
                font-weight: 600;
                font-size: 1.8rem;
                line-height: 1.65em;
                text-transform: capitalize;
                color: rgba(223, 225, 238, 0.3);
                margin-bottom: 2rem;
            }
        }
    }
    &__contact {
        display: flex;
        align-items: flex-start;
        @media (max-width: $sw-xs-max) {
            margin-left: auto;
        }
        &__icon {
            margin-right: 1.9rem;
            .icon-footer-contact {
                color: $yellow;
                font-size: 10.6rem;
                @media (max-width: $sw-md-max) {
                    font-size: 10rem;
                }
                @media (max-width: $sw-sm-max) {
                    font-size: 8rem;
                }
                @media (max-width: $sw-xs-max) {
                    font-size: 9.4rem;
                }
            }
        }
        &__text {
            padding-top: 2.2rem;
            text-align-last: left;
        }
        &__title {
            font-weight: 300;
            font-size: 1.6rem;
            line-height: 1.5em;
            color: $light-blue;
            display: block;
            width: 100%;
        }
        &__email {
            color: $yellow;
            font-weight: 300;
            font-size: 1.6rem;
            line-height: 1.5em;
            font-weight: 600;
        }
    }
}

.partners-brands-list {
    column-count: 2;
    column-gap: 6.8rem;
    @media (max-width: $sw-md-max) {
        column-gap: 5rem;
    }
    @media (max-width: $sw-sm-max) {
        column-gap: 4rem;
    }
    @media (max-width: $sw-xs-max) {
        column-count: unset;
        display: flex;
        flex-wrap: wrap;
    }
    &__item {
        margin-bottom: 2rem;
        @media (max-width: $sw-xs-max) {
            margin-right: 2rem;
        }
        .icon {
            font-size: 3rem;
            color: $yellow;
            @media (max-width: $sw-md-max) {
                font-size: 2.6rem;
            }
            @media (max-width: $sw-sm-max) {
                font-size: 2.2rem;
            }
        }
    }
}

.payment-methods-list {
    @media (max-width: $sw-xs-max) {
        flex-wrap: wrap;
        display: flex;
        margin-bottom: -1rem;
    }
    &__item {
        width: 100%;
        @media (max-width: $sw-xs-max) {
            width: auto;
            margin: 0 3rem 2rem 0;
        }
        & + .payment-methods-list__item {
            margin-top: 3.3rem;
            @media (max-width: $sw-sm-max) {
                margin-top: 2.8rem;
            }
            @media (max-width: $sw-xs-max) {
                margin-top: 0;
            }
        }
        .icon-crypto {
            font-size: 1.4rem;
            @media (max-width: $sw-sm-max) {
                font-size: 1.2rem;
            }
        }
        .icon-payment-bw {
            font-size: 1.4rem;
            @media (max-width: $sw-sm-max) {
                font-size: 1.2rem;
            }
        }
        .icon-payment-cr {
            font-size: 1.4rem;
            @media (max-width: $sw-sm-max) {
                font-size: 1.2rem;
            }
        }
        .icon-mg {
            font-size: 2.4rem;
            @media (max-width: $sw-sm-max) {
                font-size: 2rem;
            }
        }
        .icon-wu {
            font-size: 1.4rem;
            @media (max-width: $sw-sm-max) {
                font-size: 1.2rem;
            }
        }
    }
}

.products-overview__list {
    @media (max-width: $sw-xs-max) {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    &-title {
        display: block;
        font-weight: 600;
        font-size: 1.8rem;
        line-height: 1.65em;
        text-transform: capitalize;
        color: $light-blue;
        margin-bottom: 2rem;
        @media (max-width: $sw-xx-max) {
            font-size: 1.6rem;
            margin-bottom: 1rem;
        }
    }
    &__item {
        margin-bottom: 1rem;
        @media (max-width: $sw-xs-max) {
            margin-bottom: 5px;
            margin-right: 2rem;
        }
        &-link {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            font-size: 1.6rem;
            line-height: 1.875em;
            display: flex;
            align-items: center;
            text-transform: capitalize;
            color: $light-blue;
        }
        &-count {
            margin-left: 5px;
            font-size: 1.2rem;
            line-height: 1em;
            text-transform: uppercase;
            color: rgba(223, 225, 238, 0.3);
            @media (max-width: $sw-xx-max) {
                color: rgba(223, 225, 238, 0.6);
            }
        }
        .product-indicator {
            margin-left: 5px;
            @media (max-width: $sw-xx-max) {
                margin-left: 0;
            }
        }
    }
}