.all-stats {
    padding: 5rem 10rem 5rem 12rem;
    width: 100%;
    position: relative;
    z-index: 1;
    @media (max-width: $sw-md-max) {
        padding: 4.4rem 4.6rem 1rem 4.6rem;
    }
    @media (max-width: $sw-sm-max) {
        padding: 4rem 4rem 6rem 4rem;
        width: 100%;
    }
    @media (max-width: $sw-xx-max) {
        padding: 3.5rem 1rem 6rem 1rem;
    }

    &__top {
        margin-bottom: 5rem;
        @media (max-width: $sw-xs-max) {
            margin-bottom: 3rem;
        }
        .section-title {
            margin-bottom: 2rem;
        }
    }
    .partner-program {
        margin-bottom: 5.9rem;
        @media (max-width: $sw-xs-max) {
            margin-bottom: 3rem;
        }
    }
}