mixin all-stats(data)
	.all-stats
		.all-stats__top
			.section-title
				+svg('icon-stats')
				p.section-title__secondary All Stats
		.partner-program
			.partner-program__inner
				.partner-program__col
					.partner-program__item.is-active
						.partner-program__item__icon
							+svg('icon-balance')
						.partner-program__item__info
							span.partner-program__item__title Balance
							span.partner-program__item__num 200.00 USD
				.partner-program__col
					.partner-program__item
						.partner-program__item__icon
							+svg('icon-withdraw')
						.partner-program__item__info
							span.partner-program__item__title Pending Commision
							span.partner-program__item__num 60.00 USD
				.partner-program__col
					.partner-program__item
						.partner-program__item__icon
							+svg('icon-pending')
						.partner-program__item__info
							span.partner-program__item__title Total Income
							span.partner-program__item__num 1200.00 USD
		.partner-program
			.partner-program__tabs
				.partner-program__tabs__header
					span.partner-program__tabs__header__title Show For
					.partner-program__tabs__items
						button.partner-program__tabs__item.js-stats-tab.is-active(type="button", data-tab="data_last_month")
							+svg('icon-date-month')
							span Last Month
						button.partner-program__tabs__item.js-stats-tab(type="button", data-tab="data_last_year")
							+svg('icon-date-year')
							span Last Year
						button.partner-program__tabs__item.js-stats-tab(type="button", data-tab="data_lifetime")
							+svg('icon-date-lifetime')
							span Lifetime
				.partner-program__tabs__inner
					.partner-program__tabs__inner__box.js-stats-tab-content.is-active(id="data_last_month")
						.partner-program__inner
							.partner-program__col
								.partner-program__item
									.partner-program__item__icon
										+svg('icon-invite')
									.partner-program__item__info
										span.partner-program__item__title Invite friends
										span.partner-program__item__num 200.00 USD
							.partner-program__col
								.partner-program__item
									.partner-program__item__icon
										+svg('icon-orders')
									.partner-program__item__info
										span.partner-program__item__title Number of Orders
										span.partner-program__item__num 60.00 USD
							.partner-program__col
								.partner-program__item
									.partner-program__item__icon
										+svg('icon-last-month')
									.partner-program__item__info
										span.partner-program__item__title Income
										span.partner-program__item__num 1200.00 USD
					.partner-program__tabs__inner__box.js-stats-tab-content(id="data_last_year")
						.partner-program__inner
							.partner-program__col
								.partner-program__item
									.partner-program__item__icon
										+svg('icon-invite')
									.partner-program__item__info
										span.partner-program__item__title Invite friends
										span.partner-program__item__num 2200.00 USD
							.partner-program__col
								.partner-program__item
									.partner-program__item__icon
										+svg('icon-orders')
									.partner-program__item__info
										span.partner-program__item__title Number of Orders
										span.partner-program__item__num 160.00 USD
							.partner-program__col
								.partner-program__item
									.partner-program__item__icon
										+svg('icon-last-month')
									.partner-program__item__info
										span.partner-program__item__title Income
										span.partner-program__item__num 1800.00 USD
					.partner-program__tabs__inner__box.js-stats-tab-content(id="data_lifetime")
						.partner-program__inner
							.partner-program__col
								.partner-program__item
									.partner-program__item__icon
										+svg('icon-invite')
									.partner-program__item__info
										span.partner-program__item__title Invite friends
										span.partner-program__item__num 8200.00 USD
							.partner-program__col
								.partner-program__item
									.partner-program__item__icon
										+svg('icon-orders')
									.partner-program__item__info
										span.partner-program__item__title Number of Orders
										span.partner-program__item__num 1260.00 USD
							.partner-program__col
								.partner-program__item
									.partner-program__item__icon
										+svg('icon-last-month')
									.partner-program__item__info
										span.partner-program__item__title Income
										span.partner-program__item__num 11100.00 USD
		.history-store
			.article-title
				p.article-title__item
					+svg('icon-orders')
					span Your Customer orders and rewards
			.history-store__table
				.history-store__table__head
					.history-store__table__col.col-start
						span Date
					.history-store__table__col.col-id
						span Customer ID
					.history-store__table__col.col-action-type
						span Acion type
					.history-store__table__col.col-amount
						span Amount
					.history-store__table__col.col-order-status
						span Status
					.history-store__table__col.col-reward
						span Reward
				.history-store__table__body
					.history-store__table__row
						.history-store__table__col.col-start
							.history-store__table__col__mob
								span Date
							.history-store__table__col__side
								span 21 Jan 2021
						.history-store__table__col.col-id
							.history-store__table__col__mob
								span Customer ID
							.history-store__table__col__side
								span 85478
						.history-store__table__col.col-action-type
							.history-store__table__col__mob
								span Action type
							.history-store__table__col__side
								span Order
						.history-store__table__col.col-amount
							.history-store__table__col__mob
								span Amount
							.history-store__table__col__side
								span 986 USD
						.history-store__table__col.col-order-status
							.history-store__table__col__mob
								span Status
							.history-store__table__col__side
								span Pending
						.history-store__table__col.col-reward.col-green
							.history-store__table__col__mob
								span Reward
							.history-store__table__col__side
								span -
					.history-store__table__row
						.history-store__table__col.col-start
							.history-store__table__col__mob
								span Date
							.history-store__table__col__side
								span 21 Jan 2021
						.history-store__table__col.col-id
							.history-store__table__col__mob
								span Customer ID
							.history-store__table__col__side
								span 85478
						.history-store__table__col.col-action-type
							.history-store__table__col__mob
								span Action type
							.history-store__table__col__side
								span Withdraw cash
						.history-store__table__col.col-amount
							.history-store__table__col__mob
								span Amount
							.history-store__table__col__side
								span 986 USD
						.history-store__table__col.col-order-status
							.history-store__table__col__mob
								span Status
							.history-store__table__col__side
								span Pending
						.history-store__table__col.col-reward.col-green
							.history-store__table__col__mob
								span Reward
							.history-store__table__col__side
								span 148 USD
					.history-store__table__row
						.history-store__table__col.col-start
							.history-store__table__col__mob
								span Date
							.history-store__table__col__side
								span 21 Jan 2021
						.history-store__table__col.col-id
							.history-store__table__col__mob
								span Customer ID
							.history-store__table__col__side
								span 85478
						.history-store__table__col.col-action-type
							.history-store__table__col__mob
								span Action type
							.history-store__table__col__side
								span Order
						.history-store__table__col.col-amount
							.history-store__table__col__mob
								span Amount
							.history-store__table__col__side
								span 986 USD
						.history-store__table__col.col-order-status
							.history-store__table__col__mob
								span Status
							.history-store__table__col__side
								span Pending
						.history-store__table__col.col-reward.col-green
							.history-store__table__col__mob
								span Reward
							.history-store__table__col__side
								span -
					.history-store__table__row
						.history-store__table__col.col-start
							.history-store__table__col__mob
								span Date
							.history-store__table__col__side
								span 21 Jan 2021
						.history-store__table__col.col-id
							.history-store__table__col__mob
								span Customer ID
							.history-store__table__col__side
								span 85478
						.history-store__table__col.col-action-type
							.history-store__table__col__mob
								span Action type
							.history-store__table__col__side
								span Withdraw cash
						.history-store__table__col.col-amount
							.history-store__table__col__mob
								span Amount
							.history-store__table__col__side
								span 986 USD
						.history-store__table__col.col-order-status
							.history-store__table__col__mob
								span Status
							.history-store__table__col__side
								span Pending
						.history-store__table__col.col-reward.col-green
							.history-store__table__col__mob
								span Reward
							.history-store__table__col__side
								span 148 USD
					.history-store__table__row
						.history-store__table__col.col-start
							.history-store__table__col__mob
								span Date
							.history-store__table__col__side
								span 21 Jan 2021
						.history-store__table__col.col-id
							.history-store__table__col__mob
								span Customer ID
							.history-store__table__col__side
								span 85478
						.history-store__table__col.col-action-type
							.history-store__table__col__mob
								span Action type
							.history-store__table__col__side
								span Withdraw cash
						.history-store__table__col.col-amount
							.history-store__table__col__mob
								span Amount
							.history-store__table__col__side
								span 986 USD
						.history-store__table__col.col-order-status
							.history-store__table__col__mob
								span Status
							.history-store__table__col__side
								span Pending
						.history-store__table__col.col-reward.col-green
							.history-store__table__col__mob
								span Reward
							.history-store__table__col__side
								span 148 USD
			.pagination-wrap
				a.pagination-prev(href="javascript:void(0)", disabled="")
					+svg('icon-chevron-down')
					span Prev
				a.pagination-link.is-active(href="javascript:void(0)")
					span 1
				a.pagination-link(href="javascript:void(0)")
					span 2
				a.pagination-link(href="javascript:void(0)")
					span 3
				a.pagination-next(href="javascript:void(0)")
					span Next
					+svg('icon-chevron-down')