mixin main-page(data)
	.main-page
		.main-banner
			.container
				.main-banner__inner
					.main-banner__content
						.main-banner__carousel
							.main-banner__carousel__top
								.product-carousel__pagination
								.product-carousel__navigation
									button.product-carousel__navigation__left(type="button")
										+svg('icon-chevron-down')
									button.product-carousel__navigation__right(type="button")
										+svg('icon-chevron-down')
							.main-banner__carousel__inner
								.swiper-container
									.swiper-wrapper
										.swiper-slide
											span.main-banner__carousel__title Your Highest #[br] sport achievements
											span.main-banner__carousel__subtitle Get a great products for make a great things!
										.swiper-slide
											span.main-banner__carousel__title Your Highest #[br] sport achievements 1
											span.main-banner__carousel__subtitle Get a great products for make a great things!
										.swiper-slide
											span.main-banner__carousel__title Your Highest #[br] sport achievements 2
											span.main-banner__carousel__subtitle Get a great products for make a great things!
						a.btn.btn--yellow.btn--md(href="javascript:void(0)")
							span Check Store Products 
		.main-section-carousel.main-section-carousel--best-selling
			.container
				.main-section-carousel__inner
					.product-carousel
						.product-carousel__top
							.product-carousel__title
								+svg('icon-fire')
								span Best selling
							.product-carousel__pagination
							.product-carousel__navigation
								button.product-carousel__navigation__left(type="button")
									+svg('icon-chevron-down')
								button.product-carousel__navigation__right(type="button")
									+svg('icon-chevron-down')
						.product-carousel__inner
							.swiper-container
								.swiper-wrapper
									.swiper-slide
										.product-block.js-product(id="product1")
											.product-block__front
												a.product-block__img.h-object-fit(href="javascript:void(0)")
													img(src="s/images/tmp_file/goods/img2.png", alt="img")
												.product-block__info
													.product-block__top
														.product-block__top__box
															+svg('icon-credits-lab')
															span Lab Test
														.product-block__top__box
															+svg('icon-credits-publish')
															span 12 Reviews
													a.product-block__title(href="javascript:void(0)") ViagrON 100
													span.product-block__subtitle Sildenafil
												.product-block__footer
													button.product-block__submit.js-flip-product(type="button")
														+svg('icon-cart')
														span.product-block__old-price 47.43
														span.product-block__new-price 42.43 USD
													a.product-block__link(href="javascript:void(0)")
														span.product-block__submit__noty Product is in cart, open cart?
													.product-block__footer__info 
														span Buy 10 unit pack - Save 20%
											.product-block__back
												.product-block__info
													a.product-block__title(href="javascript:void(0)") HGH Liquid
													span.product-block__subtitle Growth hormone NEW formula
												.product-block__discount.product-discount
													.product-detail__discount__line
														label.label-radio-rounded(for="product_discount_type1")
															input(type="hidden", value="5")
															input.label-radio-rounded__input(type="radio", name="product_discount_type", id="product_discount_type1")
															span.label-radio-rounded__item
															span.label-radio-rounded__name Buy 5 units
														span.product-detail__discount__promo Get 10% off
													.product-detail__discount__line
														label.label-radio-rounded(for="product_discount_type2")
															input(type="hidden", value="10")
															input.label-radio-rounded__input(type="radio", name="product_discount_type", id="product_discount_type2")
															span.label-radio-rounded__item
															span.label-radio-rounded__name Buy 10 units
														span.product-detail__discount__promo.product-detail__discount__promo--yellow Get 20% off
													.goods-item__count
														button(type="button").goods-item__count__btn.goods-item__count__decrease
														input.goods-item__count__input.js-num-input(type="text", value='1')
														button(type="button").goods-item__count__btn.goods-item__count__increase
													a.product-block__add-to-cart.js-add-to-cart(href="javascript:void(0)")
														span.product-block__add-to-cart__name Add to cart 
														span.product-block__add-to-cart__added Added to cart 
														span.product-block__add-to-cart__checkmark
													.product-block__discount__price
														span.price-current 42.43
														span.price-discount
														span.price-currency usd
												.product-block__close
													button.btn.btn--md.btn--black.js-flip-back-product(type="button")
														span Close
									.swiper-slide
										.product-block.js-product(id="product2")
											.product-block__front
												a.product-block__img.h-object-fit(href="javascript:void(0)")
													img(src="s/images/tmp_file/goods/img3.png", alt="img")
												.product-block__info
													.product-block__top
														.product-block__top__box
															+svg('icon-credits-lab')
															span Lab Test
														.product-block__top__box
															+svg('icon-credits-publish')
															span 12 Reviews
													a.product-block__title(href="javascript:void(0)") Melanotan 2
													span.product-block__subtitle Tan skin
												.product-block__footer
													button.product-block__submit.js-flip-product(type="button")
														+svg('icon-cart')
														span.product-block__old-price 47.43
														span.product-block__new-price 42.43 USD
													a.product-block__link(href="javascript:void(0)")
														span.product-block__submit__noty Product is in cart, open cart?
													.product-block__footer__info 
														span Buy 10 unit pack - Save 20%
											.product-block__back
												.product-block__info
													a.product-block__title(href="javascript:void(0)") HGH Liquid
													span.product-block__subtitle Growth hormone NEW formula
												.product-block__discount.product-discount
													.product-detail__discount__line
														label.label-radio-rounded(for="discount_type_3")
															input(type="hidden", value="5")
															input.label-radio-rounded__input(type="radio", name="product_discount_type1", id="discount_type_3")
															span.label-radio-rounded__item
															span.label-radio-rounded__name Buy 5 units
														span.product-detail__discount__promo Get 10% off
													.product-detail__discount__line
														label.label-radio-rounded(for="discount_type_4")
															input(type="hidden", value="10")
															input.label-radio-rounded__input(type="radio", name="product_discount_type1", id="discount_type_4")
															span.label-radio-rounded__item
															span.label-radio-rounded__name Buy 10 units
														span.product-detail__discount__promo.product-detail__discount__promo--yellow Get 20% off
													.goods-item__count
														button(type="button").goods-item__count__btn.goods-item__count__decrease
														input.goods-item__count__input.js-num-input(type="text", value='1')
														button(type="button").goods-item__count__btn.goods-item__count__increase
													a.product-block__add-to-cart.js-add-to-cart(href="javascript:void(0)")
														span.product-block__add-to-cart__name Add to cart 
														span.product-block__add-to-cart__added Added to cart 
														span.product-block__add-to-cart__checkmark
													.product-block__discount__price
														span.price-current 42.43
														span.price-discount
														span.price-currency usd
												.product-block__close
													button.btn.btn--md.btn--black.js-flip-back-product(type="button")
														span Close
									.swiper-slide
										.product-block.js-product(id="product3")
											.product-block__front
												a.product-block__img.product-block__img--no-available.h-object-fit(href="javascript:void(0)")
													img(src="s/images/tmp_file/goods/no-available.png", alt="img")
												.product-block__info
													.product-block__top
														.product-block__top__box
															+svg('icon-credits-lab')
															span Lab Test
														.product-block__top__box
															+svg('icon-credits-publish')
															span 12 Reviews
													a.product-block__title(href="javascript:void(0)") Stanozolol Inj
													span.product-block__subtitle Winstrol Injection
												.product-block__footer
													button.product-block__submit.js-flip-product(type="button")
														+svg('icon-cart')
														span.product-block__old-price 47.43
														span.product-block__new-price 42.43 USD
													a.product-block__link(href="javascript:void(0)")
														span.product-block__submit__noty Product is in cart, open cart?
													.product-block__footer__info 
														span Buy 10 unit pack - Save 20%
											.product-block__back
												.product-block__info
													a.product-block__title(href="javascript:void(0)") HGH Liquid
													span.product-block__subtitle Growth hormone NEW formula
												.product-block__discount.product-discount
													.product-detail__discount__line
														label.label-radio-rounded(for="discount_type_5")
															input(type="hidden", value="5")
															input.label-radio-rounded__input(type="radio", name="product_discount_type2", id="discount_type_5")
															span.label-radio-rounded__item
															span.label-radio-rounded__name Buy 5 units
														span.product-detail__discount__promo Get 10% off
													.product-detail__discount__line
														label.label-radio-rounded(for="discount_type_6")
															input(type="hidden", value="10")
															input.label-radio-rounded__input(type="radio", name="product_discount_type2", id="discount_type_6")
															span.label-radio-rounded__item
															span.label-radio-rounded__name Buy 10 units
														span.product-detail__discount__promo.product-detail__discount__promo--yellow Get 20% off
													.goods-item__count
														button(type="button").goods-item__count__btn.goods-item__count__decrease
														input.goods-item__count__input.js-num-input(type="text", value='1')
														button(type="button").goods-item__count__btn.goods-item__count__increase
													a.product-block__add-to-cart.js-add-to-cart(href="javascript:void(0)")
														span.product-block__add-to-cart__name Add to cart 
														span.product-block__add-to-cart__added Added to cart 
														span.product-block__add-to-cart__checkmark
													.product-block__discount__price
														span.price-current 42.43
														span.price-discount
														span.price-currency usd
												.product-block__close
													button.btn.btn--md.btn--black.js-flip-back-product(type="button")
														span Close
									.swiper-slide
										.product-block.js-product(id="product4")
											.product-block__front
												a.product-block__img.h-object-fit(href="javascript:void(0)")
													img(src="s/images/tmp_file/goods/img2.png", alt="img")
												.product-block__info
													.product-block__top
														.product-block__top__box
															+svg('icon-credits-lab')
															span Lab Test
														.product-block__top__box
															+svg('icon-credits-publish')
															span 12 Reviews
													a.product-block__title(href="javascript:void(0)") ViagrON 100
													span.product-block__subtitle Sildenafil
												.product-block__footer
													button.product-block__submit.js-flip-product(type="button")
														+svg('icon-cart')
														span.product-block__old-price 47.43
														span.product-block__new-price 42.43 USD
													a.product-block__link(href="javascript:void(0)")
														span.product-block__submit__noty Product is in cart, open cart?
													.product-block__footer__info 
														span Buy 10 unit pack - Save 20%
											.product-block__back
												.product-block__info
													a.product-block__title(href="javascript:void(0)") HGH Liquid
													span.product-block__subtitle Growth hormone NEW formula
												.product-block__discount.product-discount
													.product-detail__discount__line
														label.label-radio-rounded(for="discount_type_7")
															input(type="hidden", value="5")
															input.label-radio-rounded__input(type="radio", name="product_discount_type3", id="discount_type_7")
															span.label-radio-rounded__item
															span.label-radio-rounded__name Buy 5 units
														span.product-detail__discount__promo Get 10% off
													.product-detail__discount__line
														label.label-radio-rounded(for="discount_type_8")
															input(type="hidden", value="10")
															input.label-radio-rounded__input(type="radio", name="product_discount_type3", id="discount_type_8")
															span.label-radio-rounded__item
															span.label-radio-rounded__name Buy 10 units
														span.product-detail__discount__promo.product-detail__discount__promo--yellow Get 20% off
													.goods-item__count
														button(type="button").goods-item__count__btn.goods-item__count__decrease
														input.goods-item__count__input.js-num-input(type="text", value='1')
														button(type="button").goods-item__count__btn.goods-item__count__increase
													a.product-block__add-to-cart.js-add-to-cart(href="javascript:void(0)")
														span.product-block__add-to-cart__name Add to cart 
														span.product-block__add-to-cart__added Added to cart 
														span.product-block__add-to-cart__checkmark 
													.product-block__discount__price
														span.price-current 42.43
														span.price-discount
														span.price-currency usd
												.product-block__close
													button.btn.btn--md.btn--black.js-flip-back-product(type="button")
														span Close
									.swiper-slide
										.product-block.product-block--out-of-stock.js-product(id="product5")
											.product-block__front
												a.product-block__img.h-object-fit(href="javascript:void(0)")
													img(src="s/images/tmp_file/goods/img2.png", alt="img")
												.product-block__info
													.product-block__top
														.product-block__top__box
															+svg('icon-credits-lab')
															span Lab Test
														.product-block__top__box
															+svg('icon-credits-publish')
															span 12 Reviews
													a.product-block__title(href="javascript:void(0)") ViagrON 100
													span.product-block__subtitle Sildenafil
												.product-block__footer
													a.product-block__link.js-out-of-stock-noty(href="javascript:void(0)")
														span.product-block__submit__noty Out of stock, notify you?
														span.product-block__submit__noty-receive
															span.product-block__submit__noty-receive__inner 
																+svg('icon-checkmark-bold')
																span All is done, coming soon
													.product-block__footer__info 
														span Buy 10 unit pack - Save 20%
									.swiper-slide
										.product-block.product-block--in-cart.js-product(id="product6")
											.product-block__front
												a.product-block__img.h-object-fit(href="javascript:void(0)")
													img(src="s/images/tmp_file/goods/img1.png", alt="img")
												.product-block__info
													.product-block__top
														.product-block__top__box
															+svg('icon-credits-lab')
															span Lab Test
														.product-block__top__box
															+svg('icon-credits-publish')
															span 12 Reviews
													a.product-block__title(href="javascript:void(0)") Testosterone En
													span.product-block__subtitle Testosterone enanthate
												.product-block__footer
													a.product-block__link(href="javascript:void(0)")
														span.product-block__submit__noty Product is in cart, open cart?
													.product-block__footer__info 
														span Buy 10 unit pack - Save 20%
									.swiper-slide
										.product-block.js-product(id="product7")
											.product-block__front
												a.product-block__img.h-object-fit(href="javascript:void(0)")
													img(src="s/images/tmp_file/goods/img2.png", alt="img")
												.product-block__info
													.product-block__top
														.product-block__top__box
															+svg('icon-credits-lab')
															span Lab Test
														.product-block__top__box
															+svg('icon-credits-publish')
															span 12 Reviews
													a.product-block__title(href="javascript:void(0)") ViagrON 100
													span.product-block__subtitle Sildenafil
												.product-block__footer
													button.product-block__submit.js-flip-product(type="button")
														+svg('icon-cart')
														span.product-block__old-price 47.43
														span.product-block__new-price 42.43 USD
													a.product-block__link(href="javascript:void(0)")
														span.product-block__submit__noty Product is in cart, open cart?
													.product-block__footer__info 
														span Buy 10 unit pack - Save 20%
											.product-block__back
												.product-block__info
													a.product-block__title(href="javascript:void(0)") HGH Liquid
													span.product-block__subtitle Growth hormone NEW formula
												.product-block__discount.product-discount
													.product-detail__discount__line
														label.label-radio-rounded(for="discount_type_9")
															input(type="hidden", value="5")
															input.label-radio-rounded__input(type="radio", name="product_discount_type4", id="discount_type_9")
															span.label-radio-rounded__item
															span.label-radio-rounded__name Buy 5 units
														span.product-detail__discount__promo Get 10% off
													.product-detail__discount__line
														label.label-radio-rounded(for="discount_type_10")
															input(type="hidden", value="10")
															input.label-radio-rounded__input(type="radio", name="product_discount_type4", id="discount_type_10")
															span.label-radio-rounded__item
															span.label-radio-rounded__name Buy 10 units
														span.product-detail__discount__promo.product-detail__discount__promo--yellow Get 20% off
													.goods-item__count
														button(type="button").goods-item__count__btn.goods-item__count__decrease
														input.goods-item__count__input.js-num-input(type="text", value='1')
														button(type="button").goods-item__count__btn.goods-item__count__increase
													a.product-block__add-to-cart.js-add-to-cart(href="javascript:void(0)")
														span.product-block__add-to-cart__name Add to cart 
														span.product-block__add-to-cart__added Added to cart 
														span.product-block__add-to-cart__checkmark
													.product-block__discount__price
														span.price-current 42.43
														span.price-discount
														span.price-currency usd
												.product-block__close
													button.btn.btn--md.btn--black.js-flip-back-product(type="button")
														span Close
									.swiper-slide
										.product-block.js-product(id="product8")
											.product-block__front
												a.product-block__img.h-object-fit(href="javascript:void(0)")
													img(src="s/images/tmp_file/goods/img3.png", alt="img")
												.product-block__info
													.product-block__top
														.product-block__top__box
															+svg('icon-credits-lab')
															span Lab Test
														.product-block__top__box
															+svg('icon-credits-publish')
															span 12 Reviews
													a.product-block__title(href="javascript:void(0)") Melanotan 2
													span.product-block__subtitle Tan skin
												.product-block__footer
													button.product-block__submit.js-flip-product(type="button")
														+svg('icon-cart')
														span.product-block__old-price 47.43
														span.product-block__new-price 42.43 USD
													a.product-block__link(href="javascript:void(0)")
														span.product-block__submit__noty Product is in cart, open cart?
													.product-block__footer__info 
														span Buy 10 unit pack - Save 20%
											.product-block__back
												.product-block__info
													a.product-block__title(href="javascript:void(0)") HGH Liquid
													span.product-block__subtitle Growth hormone NEW formula
												.product-block__discount.product-discount
													.product-detail__discount__line
														label.label-radio-rounded(for="discount_type_11")
															input(type="hidden", value="5")
															input.label-radio-rounded__input(type="radio", name="product_discount_type5", id="discount_type_11")
															span.label-radio-rounded__item
															span.label-radio-rounded__name Buy 5 units
														span.product-detail__discount__promo Get 10% off
													.product-detail__discount__line
														label.label-radio-rounded(for="discount_type_12")
															input(type="hidden", value="10")
															input.label-radio-rounded__input(type="radio", name="product_discount_type5", id="discount_type_12")
															span.label-radio-rounded__item
															span.label-radio-rounded__name Buy 10 units
														span.product-detail__discount__promo.product-detail__discount__promo--yellow Get 20% off
													.goods-item__count
														button(type="button").goods-item__count__btn.goods-item__count__decrease
														input.goods-item__count__input.js-num-input(type="text", value='1')
														button(type="button").goods-item__count__btn.goods-item__count__increase
													a.product-block__add-to-cart.js-add-to-cart(href="javascript:void(0)")
														span.product-block__add-to-cart__name Add to cart 
														span.product-block__add-to-cart__added Added to cart 
														span.product-block__add-to-cart__checkmark
													.product-block__discount__price
														span.price-current 42.43
														span.price-discount
														span.price-currency usd
												.product-block__close
													button.btn.btn--md.btn--black.js-flip-back-product(type="button")
														span Close
									.swiper-slide
										.product-block.js-product(id="product9")
											.product-block__front
												a.product-block__img.h-object-fit(href="javascript:void(0)")
													img(src="s/images/tmp_file/goods/img4.png", alt="img")
												.product-block__info
													.product-block__top
														.product-block__top__box
															+svg('icon-credits-lab')
															span Lab Test
														.product-block__top__box
															+svg('icon-credits-publish')
															span 12 Reviews
													a.product-block__title(href="javascript:void(0)") Stanozolol Inj
													span.product-block__subtitle Winstrol Injection
												.product-block__footer
													button.product-block__submit.js-flip-product(type="button")
														+svg('icon-cart')
														span.product-block__old-price 47.43
														span.product-block__new-price 42.43 USD
													a.product-block__link(href="javascript:void(0)")
														span.product-block__submit__noty Product is in cart, open cart?
													.product-block__footer__info 
														span Buy 10 unit pack - Save 20%
											.product-block__back
												.product-block__info
													a.product-block__title(href="javascript:void(0)") HGH Liquid
													span.product-block__subtitle Growth hormone NEW formula
												.product-block__discount.product-discount
													.product-detail__discount__line
														label.label-radio-rounded(for="discount_type_13")
															input(type="hidden", value="5")
															input.label-radio-rounded__input(type="radio", name="product_discount_type6", id="discount_type_13")
															span.label-radio-rounded__item
															span.label-radio-rounded__name Buy 5 units
														span.product-detail__discount__promo Get 10% off
													.product-detail__discount__line
														label.label-radio-rounded(for="discount_type_15")
															input(type="hidden", value="10")
															input.label-radio-rounded__input(type="radio", name="product_discount_type6", id="discount_type_15")
															span.label-radio-rounded__item
															span.label-radio-rounded__name Buy 10 units
														span.product-detail__discount__promo.product-detail__discount__promo--yellow Get 20% off
													.goods-item__count
														button(type="button").goods-item__count__btn.goods-item__count__decrease
														input.goods-item__count__input.js-num-input(type="text", value='1')
														button(type="button").goods-item__count__btn.goods-item__count__increase
													a.product-block__add-to-cart.js-add-to-cart(href="javascript:void(0)")
														span.product-block__add-to-cart__name Add to cart 
														span.product-block__add-to-cart__added Added to cart 
														span.product-block__add-to-cart__checkmark
													.product-block__discount__price
														span.price-current 42.43
														span.price-discount
														span.price-currency usd
												.product-block__close
													button.btn.btn--md.btn--black.js-flip-back-product(type="button")
														span Close
									.swiper-slide
										.product-block.js-product(id="product10")
											.product-block__front
												a.product-block__img.h-object-fit(href="javascript:void(0)")
													img(src="s/images/tmp_file/goods/img2.png", alt="img")
												.product-block__info
													.product-block__top
														.product-block__top__box
															+svg('icon-credits-lab')
															span Lab Test
														.product-block__top__box
															+svg('icon-credits-publish')
															span 12 Reviews
													a.product-block__title(href="javascript:void(0)") ViagrON 100
													span.product-block__subtitle Sildenafil
												.product-block__footer
													button.product-block__submit.js-flip-product(type="button")
														+svg('icon-cart')
														span.product-block__old-price 47.43
														span.product-block__new-price 42.43 USD
													a.product-block__link(href="javascript:void(0)")
														span.product-block__submit__noty Product is in cart, open cart?
													.product-block__footer__info 
														span Buy 10 unit pack - Save 20%
											.product-block__back
												.product-block__info
													a.product-block__title(href="javascript:void(0)") HGH Liquid
													span.product-block__subtitle Growth hormone NEW formula
												.product-block__discount.product-discount
													.product-detail__discount__line
														label.label-radio-rounded(for="discount_type_16")
															input(type="hidden", value="5")
															input.label-radio-rounded__input(type="radio", name="product_discount_type7", id="discount_type_16")
															span.label-radio-rounded__item
															span.label-radio-rounded__name Buy 5 units
														span.product-detail__discount__promo Get 10% off
													.product-detail__discount__line
														label.label-radio-rounded(for="discount_type_17")
															input(type="hidden", value="10")
															input.label-radio-rounded__input(type="radio", name="product_discount_type7", id="discount_type_17")
															span.label-radio-rounded__item
															span.label-radio-rounded__name Buy 10 units
														span.product-detail__discount__promo.product-detail__discount__promo--yellow Get 20% off
													.goods-item__count
														button(type="button").goods-item__count__btn.goods-item__count__decrease
														input.goods-item__count__input.js-num-input(type="text", value='1')
														button(type="button").goods-item__count__btn.goods-item__count__increase
													a.product-block__add-to-cart.js-add-to-cart(href="javascript:void(0)")
														span.product-block__add-to-cart__name Add to cart 
														span.product-block__add-to-cart__added Added to cart 
														span.product-block__add-to-cart__checkmark
													.product-block__discount__price
														span.price-current 42.43
														span.price-discount
														span.price-currency usd
												.product-block__close
													button.btn.btn--md.btn--black.js-flip-back-product(type="button")
														span Close
									.swiper-slide
										.product-block-empty
											.product-block-empty__inner
												+svg('icon-product-empty')
												a.btn.btn--yellow.btn--md(href="javascript:void(0)")
													+svg('icon-products')
													span All products
		.main-section-carousel
			.container
				.main-section-carousel__inner
					.product-carousel
						.product-carousel__top
							.product-carousel__title
								+svg('icon-products')
								span new arrivals
							.product-carousel__pagination
							.product-carousel__navigation
								button.product-carousel__navigation__left(type="button")
									+svg('icon-chevron-down')
								button.product-carousel__navigation__right(type="button")
									+svg('icon-chevron-down')
						.product-carousel__inner
							.swiper-container
								.swiper-wrapper
									.swiper-slide
										.product-block.js-product(id="product11")
											.product-block__front
												a.product-block__img.h-object-fit(href="javascript:void(0)")
													img(src="s/images/tmp_file/goods/img2.png", alt="img")
												.product-block__info
													.product-block__top
														.product-block__top__box
															+svg('icon-credits-lab')
															span Lab Test
														.product-block__top__box
															+svg('icon-credits-publish')
															span 12 Reviews
													a.product-block__title(href="javascript:void(0)") ViagrON 100
													span.product-block__subtitle Sildenafil
												.product-block__footer
													button.product-block__submit.js-flip-product(type="button")
														+svg('icon-cart')
														span.product-block__old-price 47.43
														span.product-block__new-price 42.43 USD
													a.product-block__link(href="javascript:void(0)")
														span.product-block__submit__noty Product is in cart, open cart?
													.product-block__footer__info 
														span Buy 10 unit pack - Save 20%
											.product-block__back
												.product-block__info
													a.product-block__title(href="javascript:void(0)") HGH Liquid
													span.product-block__subtitle Growth hormone NEW formula
												.product-block__discount.product-discount
													.product-detail__discount__line
														label.label-radio-rounded(for="product_discount_type21")
															input(type="hidden", value="5")
															input.label-radio-rounded__input(type="radio", name="product_discount_type111", id="product_discount_type21")
															span.label-radio-rounded__item
															span.label-radio-rounded__name Buy 5 units
														span.product-detail__discount__promo Get 10% off
													.product-detail__discount__line
														label.label-radio-rounded(for="product_discount_type22")
															input(type="hidden", value="10")
															input.label-radio-rounded__input(type="radio", name="product_discount_type111", id="product_discount_type22")
															span.label-radio-rounded__item
															span.label-radio-rounded__name Buy 10 units
														span.product-detail__discount__promo.product-detail__discount__promo--yellow Get 20% off
													.goods-item__count
														button(type="button").goods-item__count__btn.goods-item__count__decrease
														input.goods-item__count__input.js-num-input(type="text", value='1')
														button(type="button").goods-item__count__btn.goods-item__count__increase
													a.product-block__add-to-cart.js-add-to-cart(href="javascript:void(0)")
														span.product-block__add-to-cart__name Add to cart 
														span.product-block__add-to-cart__added Added to cart 
														span.product-block__add-to-cart__checkmark
													.product-block__discount__price
														span.price-current 42.43
														span.price-discount
														span.price-currency usd
												.product-block__close
													button.btn.btn--md.btn--black.js-flip-back-product(type="button")
														span Close
									.swiper-slide
										.product-block.js-product(id="product12")
											.product-block__front
												a.product-block__img.h-object-fit(href="javascript:void(0)")
													img(src="s/images/tmp_file/goods/img3.png", alt="img")
												.product-block__info
													.product-block__top
														.product-block__top__box
															+svg('icon-credits-lab')
															span Lab Test
														.product-block__top__box
															+svg('icon-credits-publish')
															span 12 Reviews
													a.product-block__title(href="javascript:void(0)") Melanotan 2
													span.product-block__subtitle Tan skin
												.product-block__footer
													button.product-block__submit.js-flip-product(type="button")
														+svg('icon-cart')
														span.product-block__old-price 47.43
														span.product-block__new-price 42.43 USD
													a.product-block__link(href="javascript:void(0)")
														span.product-block__submit__noty Product is in cart, open cart?
													.product-block__footer__info 
														span Buy 10 unit pack - Save 20%
											.product-block__back
												.product-block__info
													a.product-block__title(href="javascript:void(0)") HGH Liquid
													span.product-block__subtitle Growth hormone NEW formula
												.product-block__discount.product-discount
													.product-detail__discount__line
														label.label-radio-rounded(for="discount_type_23")
															input(type="hidden", value="5")
															input.label-radio-rounded__input(type="radio", name="product_discount_type222", id="discount_type_23")
															span.label-radio-rounded__item
															span.label-radio-rounded__name Buy 5 units
														span.product-detail__discount__promo Get 10% off
													.product-detail__discount__line
														label.label-radio-rounded(for="discount_type_24")
															input(type="hidden", value="10")
															input.label-radio-rounded__input(type="radio", name="product_discount_type222", id="discount_type_24")
															span.label-radio-rounded__item
															span.label-radio-rounded__name Buy 10 units
														span.product-detail__discount__promo.product-detail__discount__promo--yellow Get 20% off
													.goods-item__count
														button(type="button").goods-item__count__btn.goods-item__count__decrease
														input.goods-item__count__input.js-num-input(type="text", value='1')
														button(type="button").goods-item__count__btn.goods-item__count__increase
													a.product-block__add-to-cart.js-add-to-cart(href="javascript:void(0)")
														span.product-block__add-to-cart__name Add to cart 
														span.product-block__add-to-cart__added Added to cart 
														span.product-block__add-to-cart__checkmark
													.product-block__discount__price
														span.price-current 42.43
														span.price-discount
														span.price-currency usd
												.product-block__close
													button.btn.btn--md.btn--black.js-flip-back-product(type="button")
														span Close
									.swiper-slide
										.product-block.js-product(id="product13")
											.product-block__front
												a.product-block__img.product-block__img--no-available.h-object-fit(href="javascript:void(0)")
													img(src="s/images/tmp_file/goods/no-available.png", alt="img")
												.product-block__info
													.product-block__top
														.product-block__top__box
															+svg('icon-credits-lab')
															span Lab Test
														.product-block__top__box
															+svg('icon-credits-publish')
															span 12 Reviews
													a.product-block__title(href="javascript:void(0)") Stanozolol Inj
													span.product-block__subtitle Winstrol Injection
												.product-block__footer
													button.product-block__submit.js-flip-product(type="button")
														+svg('icon-cart')
														span.product-block__old-price 47.43
														span.product-block__new-price 42.43 USD
													a.product-block__link(href="javascript:void(0)")
														span.product-block__submit__noty Product is in cart, open cart?
													.product-block__footer__info 
														span Buy 10 unit pack - Save 20%
											.product-block__back
												.product-block__info
													a.product-block__title(href="javascript:void(0)") HGH Liquid
													span.product-block__subtitle Growth hormone NEW formula
												.product-block__discount.product-discount
													.product-detail__discount__line
														label.label-radio-rounded(for="discount_type_25")
															input(type="hidden", value="5")
															input.label-radio-rounded__input(type="radio", name="product_discount_type223", id="discount_type_25")
															span.label-radio-rounded__item
															span.label-radio-rounded__name Buy 5 units
														span.product-detail__discount__promo Get 10% off
													.product-detail__discount__line
														label.label-radio-rounded(for="discount_type_26")
															input(type="hidden", value="10")
															input.label-radio-rounded__input(type="radio", name="product_discount_type223", id="discount_type_26")
															span.label-radio-rounded__item
															span.label-radio-rounded__name Buy 10 units
														span.product-detail__discount__promo.product-detail__discount__promo--yellow Get 20% off
													.goods-item__count
														button(type="button").goods-item__count__btn.goods-item__count__decrease
														input.goods-item__count__input.js-num-input(type="text", value='1')
														button(type="button").goods-item__count__btn.goods-item__count__increase
													a.product-block__add-to-cart.js-add-to-cart(href="javascript:void(0)")
														span.product-block__add-to-cart__name Add to cart 
														span.product-block__add-to-cart__added Added to cart 
														span.product-block__add-to-cart__checkmark
													.product-block__discount__price
														span.price-current 42.43
														span.price-discount
														span.price-currency usd
												.product-block__close
													button.btn.btn--md.btn--black.js-flip-back-product(type="button")
														span Close
									.swiper-slide
										.product-block.js-product(id="product14")
											.product-block__front
												a.product-block__img.h-object-fit(href="javascript:void(0)")
													img(src="s/images/tmp_file/goods/img2.png", alt="img")
												.product-block__info
													.product-block__top
														.product-block__top__box
															+svg('icon-credits-lab')
															span Lab Test
														.product-block__top__box
															+svg('icon-credits-publish')
															span 12 Reviews
													a.product-block__title(href="javascript:void(0)") ViagrON 100
													span.product-block__subtitle Sildenafil
												.product-block__footer
													button.product-block__submit.js-flip-product(type="button")
														+svg('icon-cart')
														span.product-block__old-price 47.43
														span.product-block__new-price 42.43 USD
													a.product-block__link(href="javascript:void(0)")
														span.product-block__submit__noty Product is in cart, open cart?
													.product-block__footer__info 
														span Buy 10 unit pack - Save 20%
											.product-block__back
												.product-block__info
													a.product-block__title(href="javascript:void(0)") HGH Liquid
													span.product-block__subtitle Growth hormone NEW formula
												.product-block__discount.product-discount
													.product-detail__discount__line
														label.label-radio-rounded(for="discount_type_29")
															input(type="hidden", value="5")
															input.label-radio-rounded__input(type="radio", name="product_discount_type2313", id="discount_type_29")
															span.label-radio-rounded__item
															span.label-radio-rounded__name Buy 5 units
														span.product-detail__discount__promo Get 10% off
													.product-detail__discount__line
														label.label-radio-rounded(for="discount_type_30")
															input(type="hidden", value="10")
															input.label-radio-rounded__input(type="radio", name="product_discount_type2313", id="discount_type_30")
															span.label-radio-rounded__item
															span.label-radio-rounded__name Buy 10 units
														span.product-detail__discount__promo.product-detail__discount__promo--yellow Get 20% off
													.goods-item__count
														button(type="button").goods-item__count__btn.goods-item__count__decrease
														input.goods-item__count__input.js-num-input(type="text", value='1')
														button(type="button").goods-item__count__btn.goods-item__count__increase
													a.product-block__add-to-cart.js-add-to-cart(href="javascript:void(0)")
														span.product-block__add-to-cart__name Add to cart 
														span.product-block__add-to-cart__added Added to cart 
														span.product-block__add-to-cart__checkmark 
													.product-block__discount__price
														span.price-current 42.43
														span.price-discount
														span.price-currency usd
												.product-block__close
													button.btn.btn--md.btn--black.js-flip-back-product(type="button")
														span Close
									.swiper-slide
										.product-block.product-block--out-of-stock.js-product(id="product15")
											.product-block__front
												a.product-block__img.h-object-fit(href="javascript:void(0)")
													img(src="s/images/tmp_file/goods/img2.png", alt="img")
												.product-block__info
													.product-block__top
														.product-block__top__box
															+svg('icon-credits-lab')
															span Lab Test
														.product-block__top__box
															+svg('icon-credits-publish')
															span 12 Reviews
													a.product-block__title(href="javascript:void(0)") ViagrON 100
													span.product-block__subtitle Sildenafil
												.product-block__footer
													a.product-block__link.js-out-of-stock-noty(href="javascript:void(0)")
														span.product-block__submit__noty Out of stock, notify you?
														span.product-block__submit__noty-receive
															span.product-block__submit__noty-receive__inner 
																+svg('icon-checkmark-bold')
																span All is done, coming soon
													.product-block__footer__info 
														span Buy 10 unit pack - Save 20%
									.swiper-slide
										.product-block.product-block--in-cart.js-product(id="product16")
											.product-block__front
												a.product-block__img.h-object-fit(href="javascript:void(0)")
													img(src="s/images/tmp_file/goods/img1.png", alt="img")
												.product-block__info
													.product-block__top
														.product-block__top__box
															+svg('icon-credits-lab')
															span Lab Test
														.product-block__top__box
															+svg('icon-credits-publish')
															span 12 Reviews
													a.product-block__title(href="javascript:void(0)") Testosterone En
													span.product-block__subtitle Testosterone enanthate
												.product-block__footer
													a.product-block__link(href="javascript:void(0)")
														span.product-block__submit__noty Product is in cart, open cart?
													.product-block__footer__info 
														span Buy 10 unit pack - Save 20%
									.swiper-slide
										.product-block.js-product(id="product17")
											.product-block__front
												a.product-block__img.h-object-fit(href="javascript:void(0)")
													img(src="s/images/tmp_file/goods/img2.png", alt="img")
												.product-block__info
													.product-block__top
														.product-block__top__box
															+svg('icon-credits-lab')
															span Lab Test
														.product-block__top__box
															+svg('icon-credits-publish')
															span 12 Reviews
													a.product-block__title(href="javascript:void(0)") ViagrON 100
													span.product-block__subtitle Sildenafil
												.product-block__footer
													button.product-block__submit.js-flip-product(type="button")
														+svg('icon-cart')
														span.product-block__old-price 47.43
														span.product-block__new-price 42.43 USD
													a.product-block__link(href="javascript:void(0)")
														span.product-block__submit__noty Product is in cart, open cart?
													.product-block__footer__info 
														span Buy 10 unit pack - Save 20%
											.product-block__back
												.product-block__info
													a.product-block__title(href="javascript:void(0)") HGH Liquid
													span.product-block__subtitle Growth hormone NEW formula
												.product-block__discount.product-discount
													.product-detail__discount__line
														label.label-radio-rounded(for="discount_type_31")
															input(type="hidden", value="5")
															input.label-radio-rounded__input(type="radio", name="product_discount_type342423", id="discount_type_31")
															span.label-radio-rounded__item
															span.label-radio-rounded__name Buy 5 units
														span.product-detail__discount__promo Get 10% off
													.product-detail__discount__line
														label.label-radio-rounded(for="discount_type_32")
															input(type="hidden", value="10")
															input.label-radio-rounded__input(type="radio", name="product_discount_type342423", id="discount_type_32")
															span.label-radio-rounded__item
															span.label-radio-rounded__name Buy 10 units
														span.product-detail__discount__promo.product-detail__discount__promo--yellow Get 20% off
													.goods-item__count
														button(type="button").goods-item__count__btn.goods-item__count__decrease
														input.goods-item__count__input.js-num-input(type="text", value='1')
														button(type="button").goods-item__count__btn.goods-item__count__increase
													a.product-block__add-to-cart.js-add-to-cart(href="javascript:void(0)")
														span.product-block__add-to-cart__name Add to cart 
														span.product-block__add-to-cart__added Added to cart 
														span.product-block__add-to-cart__checkmark
													.product-block__discount__price
														span.price-current 42.43
														span.price-discount
														span.price-currency usd
												.product-block__close
													button.btn.btn--md.btn--black.js-flip-back-product(type="button")
														span Close
									.swiper-slide
										.product-block.js-product(id="product18")
											.product-block__front
												a.product-block__img.h-object-fit(href="javascript:void(0)")
													img(src="s/images/tmp_file/goods/img3.png", alt="img")
												.product-block__info
													.product-block__top
														.product-block__top__box
															+svg('icon-credits-lab')
															span Lab Test
														.product-block__top__box
															+svg('icon-credits-publish')
															span 12 Reviews
													a.product-block__title(href="javascript:void(0)") Melanotan 2
													span.product-block__subtitle Tan skin
												.product-block__footer
													button.product-block__submit.js-flip-product(type="button")
														+svg('icon-cart')
														span.product-block__old-price 47.43
														span.product-block__new-price 42.43 USD
													a.product-block__link(href="javascript:void(0)")
														span.product-block__submit__noty Product is in cart, open cart?
													.product-block__footer__info 
														span Buy 10 unit pack - Save 20%
											.product-block__back
												.product-block__info
													a.product-block__title(href="javascript:void(0)") HGH Liquid
													span.product-block__subtitle Growth hormone NEW formula
												.product-block__discount.product-discount
													.product-detail__discount__line
														label.label-radio-rounded(for="discount_type_33")
															input(type="hidden", value="5")
															input.label-radio-rounded__input(type="radio", name="product_discount_type5231", id="discount_type_33")
															span.label-radio-rounded__item
															span.label-radio-rounded__name Buy 5 units
														span.product-detail__discount__promo Get 10% off
													.product-detail__discount__line
														label.label-radio-rounded(for="discount_type_34")
															input(type="hidden", value="10")
															input.label-radio-rounded__input(type="radio", name="product_discount_type5231", id="discount_type_34")
															span.label-radio-rounded__item
															span.label-radio-rounded__name Buy 10 units
														span.product-detail__discount__promo.product-detail__discount__promo--yellow Get 20% off
													.goods-item__count
														button(type="button").goods-item__count__btn.goods-item__count__decrease
														input.goods-item__count__input.js-num-input(type="text", value='1')
														button(type="button").goods-item__count__btn.goods-item__count__increase
													a.product-block__add-to-cart.js-add-to-cart(href="javascript:void(0)")
														span.product-block__add-to-cart__name Add to cart 
														span.product-block__add-to-cart__added Added to cart 
														span.product-block__add-to-cart__checkmark
													.product-block__discount__price
														span.price-current 42.43
														span.price-discount
														span.price-currency usd
												.product-block__close
													button.btn.btn--md.btn--black.js-flip-back-product(type="button")
														span Close
									.swiper-slide
										.product-block.js-product(id="product19")
											.product-block__front
												a.product-block__img.h-object-fit(href="javascript:void(0)")
													img(src="s/images/tmp_file/goods/img4.png", alt="img")
												.product-block__info
													.product-block__top
														.product-block__top__box
															+svg('icon-credits-lab')
															span Lab Test
														.product-block__top__box
															+svg('icon-credits-publish')
															span 12 Reviews
													a.product-block__title(href="javascript:void(0)") Stanozolol Inj
													span.product-block__subtitle Winstrol Injection
												.product-block__footer
													button.product-block__submit.js-flip-product(type="button")
														+svg('icon-cart')
														span.product-block__old-price 47.43
														span.product-block__new-price 42.43 USD
													a.product-block__link(href="javascript:void(0)")
														span.product-block__submit__noty Product is in cart, open cart?
													.product-block__footer__info 
														span Buy 10 unit pack - Save 20%
											.product-block__back
												.product-block__info
													a.product-block__title(href="javascript:void(0)") HGH Liquid
													span.product-block__subtitle Growth hormone NEW formula
												.product-block__discount.product-discount
													.product-detail__discount__line
														label.label-radio-rounded(for="discount_type_35")
															input(type="hidden", value="5")
															input.label-radio-rounded__input(type="radio", name="product_discount_type666666", id="discount_type_35")
															span.label-radio-rounded__item
															span.label-radio-rounded__name Buy 5 units
														span.product-detail__discount__promo Get 10% off
													.product-detail__discount__line
														label.label-radio-rounded(for="discount_type_36")
															input(type="hidden", value="10")
															input.label-radio-rounded__input(type="radio", name="product_discount_type666666", id="discount_type_36")
															span.label-radio-rounded__item
															span.label-radio-rounded__name Buy 10 units
														span.product-detail__discount__promo.product-detail__discount__promo--yellow Get 20% off
													.goods-item__count
														button(type="button").goods-item__count__btn.goods-item__count__decrease
														input.goods-item__count__input.js-num-input(type="text", value='1')
														button(type="button").goods-item__count__btn.goods-item__count__increase
													a.product-block__add-to-cart.js-add-to-cart(href="javascript:void(0)")
														span.product-block__add-to-cart__name Add to cart 
														span.product-block__add-to-cart__added Added to cart 
														span.product-block__add-to-cart__checkmark
													.product-block__discount__price
														span.price-current 42.43
														span.price-discount
														span.price-currency usd
												.product-block__close
													button.btn.btn--md.btn--black.js-flip-back-product(type="button")
														span Close
									.swiper-slide
										.product-block.js-product(id="product20")
											.product-block__front
												a.product-block__img.h-object-fit(href="javascript:void(0)")
													img(src="s/images/tmp_file/goods/img2.png", alt="img")
												.product-block__info
													.product-block__top
														.product-block__top__box
															+svg('icon-credits-lab')
															span Lab Test
														.product-block__top__box
															+svg('icon-credits-publish')
															span 12 Reviews
													a.product-block__title(href="javascript:void(0)") ViagrON 100
													span.product-block__subtitle Sildenafil
												.product-block__footer
													button.product-block__submit.js-flip-product(type="button")
														+svg('icon-cart')
														span.product-block__old-price 47.43
														span.product-block__new-price 42.43 USD
													a.product-block__link(href="javascript:void(0)")
														span.product-block__submit__noty Product is in cart, open cart?
													.product-block__footer__info 
														span Buy 10 unit pack - Save 20%
											.product-block__back
												.product-block__info
													a.product-block__title(href="javascript:void(0)") HGH Liquid
													span.product-block__subtitle Growth hormone NEW formula
												.product-block__discount.product-discount
													.product-detail__discount__line
														label.label-radio-rounded(for="discount_type_37")
															input(type="hidden", value="5")
															input.label-radio-rounded__input(type="radio", name="product_discount_type7777", id="discount_type_37")
															span.label-radio-rounded__item
															span.label-radio-rounded__name Buy 5 units
														span.product-detail__discount__promo Get 10% off
													.product-detail__discount__line
														label.label-radio-rounded(for="discount_type_38")
															input(type="hidden", value="10")
															input.label-radio-rounded__input(type="radio", name="product_discount_type7777", id="discount_type_38")
															span.label-radio-rounded__item
															span.label-radio-rounded__name Buy 10 units
														span.product-detail__discount__promo.product-detail__discount__promo--yellow Get 20% off
													.goods-item__count
														button(type="button").goods-item__count__btn.goods-item__count__decrease
														input.goods-item__count__input.js-num-input(type="text", value='1')
														button(type="button").goods-item__count__btn.goods-item__count__increase
													a.product-block__add-to-cart.js-add-to-cart(href="javascript:void(0)")
														span.product-block__add-to-cart__name Add to cart 
														span.product-block__add-to-cart__added Added to cart 
														span.product-block__add-to-cart__checkmark
													.product-block__discount__price
														span.price-current 42.43
														span.price-discount
														span.price-currency usd
												.product-block__close
													button.btn.btn--md.btn--black.js-flip-back-product(type="button")
														span Close
									.swiper-slide
										.product-block-empty
											.product-block-empty__inner
												+svg('icon-product-empty')
												a.btn.btn--yellow.btn--md(href="javascript:void(0)")
													+svg('icon-products')
													span All products
		.main-section-refferal
			.container
				.main-section-refferal__inner
					.main-section-refferal__content
						span.main-banner__carousel__title Referral program #[br] get real money
						span.main-banner__carousel__subtitle Invite customers to get real cashback.
						a.btn.btn--yellow.btn--md(href="javascript:void(0)")
							span More details
		.main-section-coins
			.container
				.main-section-coins__inner
					.main-section-coins__content
						span.main-banner__carousel__title earn free coins #[br] and use for new orders
						span.main-banner__carousel__subtitle Just do it!
						a.btn.btn--yellow.btn--md(href="javascript:void(0)")
							span More details
					.how-it-works__inner
						.how-it-works__col
							.how-it-works__item
								.how-it-works__item__info
									.how-it-works__item__icon
										+svg('icon-pending')
									span.how-it-works__item__title Direct prices #[br] from manufacturer
								p.how-it-works__item__text We sell for retail and wholesale at the best prices
						.how-it-works__col
							.how-it-works__item
								.how-it-works__item__info
									.how-it-works__item__icon
										+svg('icon-headset')
									span.how-it-works__item__title Fastest support #[br] in the industry
								p.how-it-works__item__text We will always help you and answer any question
						.how-it-works__col
							.how-it-works__item
								.how-it-works__item__info
									.how-it-works__item__icon
										+svg('icon-truck-received')
									span.how-it-works__item__title Fast and secure #[br] delivery
								p.how-it-works__item__text The goods are always packed with high quality and discreet
						.how-it-works__col
							.how-it-works__item
								.how-it-works__item__info
									.how-it-works__item__icon
										+svg('icon-credits-trust')
									span.how-it-works__item__title High #[br] quality
								p.how-it-works__item__text We represent only those brands that have an impeccable reputation
		.main-section-feedbacks
			.container
				.product-carousel__top
					.product-carousel__title
						+svg('icon-products')
						span Feedbacks
					.product-carousel__pagination
					.product-carousel__navigation
						button.product-carousel__navigation__left(type="button")
							+svg('icon-chevron-down')
						button.product-carousel__navigation__right(type="button")
							+svg('icon-chevron-down')
				.main-section-feedbacks__inner
					.swiper-container
						.swiper-wrapper
							.swiper-slide
								.product-detail__reviews__item
									.product-detail__reviews__item__inner
										.product-detail__reviews__item__top
											span.product-detail__reviews__item__title XTOP3
											.feedbacks-rate(data-rate="5")
												+svg('icon-star-simple')
												+svg('icon-star-simple')
												+svg('icon-star-simple')
												+svg('icon-star-simple')
												+svg('icon-star-simple')
										.product-detail__reviews__item__text
											p Review from MESO FR: #[br] Excellent boulot, merci Andrea, réponse rapide. Suivi nickel.
							.swiper-slide
								.product-detail__reviews__item
									.product-detail__reviews__item__inner
										.product-detail__reviews__item__top
											span.product-detail__reviews__item__title XTOP3
											.feedbacks-rate(data-rate="5")
												+svg('icon-star-simple')
												+svg('icon-star-simple')
												+svg('icon-star-simple')
												+svg('icon-star-simple')
												+svg('icon-star-simple')
										.product-detail__reviews__item__text
											p Review from MESO FR: #[br] Excellent boulot, merci Andrea, réponse rapide. Suivi nickel. Conseiller par un membre bien connu du forum MESO FR ;) Bon boulot les gars. Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, tempore.
							.swiper-slide
								.product-detail__reviews__item
									.product-detail__reviews__item__inner
										.product-detail__reviews__item__top
											span.product-detail__reviews__item__title XTOP3
											.feedbacks-rate(data-rate="5")
												+svg('icon-star-simple')
												+svg('icon-star-simple')
												+svg('icon-star-simple')
												+svg('icon-star-simple')
												+svg('icon-star-simple')
										.product-detail__reviews__item__text
											p Review from MESO FR: #[br] Excellent boulot, merci Andrea, réponse rapide. Suivi nickel. Conseiller par un membre bien connu du forum MESO FR ;) Bon boulot les gars. Review from MESO FR: #[br] Excellent boulot, merci Andrea, réponse rapide. Suivi nickel. Conseiller par un membre bien connu du forum MESO FR ;) Bon boulot les gars.
							.swiper-slide
								.product-detail__reviews__item
									.product-detail__reviews__item__inner
										.product-detail__reviews__item__top
											span.product-detail__reviews__item__title XTOP3
											.feedbacks-rate(data-rate="5")
												+svg('icon-star-simple')
												+svg('icon-star-simple')
												+svg('icon-star-simple')
												+svg('icon-star-simple')
												+svg('icon-star-simple')
										.product-detail__reviews__item__text
											p Review from MESO FR: #[br] Excellent boulot, merci Andrea, réponse rapide. Suivi nickel. Conseiller par un membre bien connu du forum MESO FR ;) Bon boulot les gars. Lorem ipsum dolor sit amet.
							.swiper-slide
								.product-detail__reviews__item
									.product-detail__reviews__item__inner
										.product-detail__reviews__item__top
											span.product-detail__reviews__item__title XTOP3
											.feedbacks-rate(data-rate="5")
												+svg('icon-star-simple')
												+svg('icon-star-simple')
												+svg('icon-star-simple')
												+svg('icon-star-simple')
												+svg('icon-star-simple')
										.product-detail__reviews__item__text
											p Review from MESO FR: #[br] Excellent boulot, merci Andrea, réponse rapide. Suivi nickel. Conseiller par un membre bien connu du forum MESO FR ;) Bon boulot les gars. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							.swiper-slide
								.product-detail__reviews__item
									.product-detail__reviews__item__inner
										.product-detail__reviews__item__top
											span.product-detail__reviews__item__title XTOP3
											.feedbacks-rate(data-rate="5")
												+svg('icon-star-simple')
												+svg('icon-star-simple')
												+svg('icon-star-simple')
												+svg('icon-star-simple')
												+svg('icon-star-simple')
										.product-detail__reviews__item__text
											p Review from MESO FR: #[br] Excellent boulot, merci Andrea, réponse rapide. Suivi nickel. Conseiller par un membre bien connu du forum MESO FR ;) 
							.swiper-slide
								.product-detail__reviews__item
									.product-detail__reviews__item__inner
										.product-detail__reviews__item__top
											span.product-detail__reviews__item__title XTOP3
											.feedbacks-rate(data-rate="5")
												+svg('icon-star-simple')
												+svg('icon-star-simple')
												+svg('icon-star-simple')
												+svg('icon-star-simple')
												+svg('icon-star-simple')
										.product-detail__reviews__item__text
											p Review from MESO FR: #[br] Excellent boulot, merci Andrea, réponse rapide. Suivi nickel. Conseiller par un membre bien connu du forum MESO FR ;) Bon boulot les gars. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos laboriosam aut quibusdam. Mollitia, vero debitis.
							.swiper-slide
								.product-detail__reviews__item
									.product-detail__reviews__item__inner
										.product-detail__reviews__item__top
											span.product-detail__reviews__item__title XTOP3
											.feedbacks-rate(data-rate="5")
												+svg('icon-star-simple')
												+svg('icon-star-simple')
												+svg('icon-star-simple')
												+svg('icon-star-simple')
												+svg('icon-star-simple')
										.product-detail__reviews__item__text
											p Review from MESO FR: #[br] Excellent boulot, merci Andrea, réponse rapide. Suivi nickel. Conseiller par un membre bien connu du forum MESO FR ;) Bon boulot les gars. 
							.swiper-slide
								.product-detail__reviews__item
									.product-detail__reviews__item__inner
										.product-detail__reviews__item__top
											span.product-detail__reviews__item__title XTOP3
											.feedbacks-rate(data-rate="5")
												+svg('icon-star-simple')
												+svg('icon-star-simple')
												+svg('icon-star-simple')
												+svg('icon-star-simple')
												+svg('icon-star-simple')
										.product-detail__reviews__item__text
											p Review from MESO FR: #[br] Excellent boulot, merci Andrea, réponse rapide. Suivi nickel. Conseiller par un membre bien connu du forum MESO FR ;) Bon boulot les gars. Lorem ipsum dolor sit amet.
									