.main {
    &-page {
        width: 100%;
        overflow: hidden;
        .product-carousel__navigation {
            &__left, &__right {
                @media (max-width: $sw-xs-max) {
                    width: 3.6rem;
                    height: 3.6rem;
                }
                &:hover {
                    @media (min-width: $sw-xs-min) {
                        background-color: rgba($light-blue, 0.2);
                    }
                }
                &:active {
                    @media (min-width: $sw-xs-min) {
                        background-color: rgba($light-blue, 0.25);
                    }
                }
            }
            .icon-chevron-down {
                @media (max-width: $sw-xs-max) {
                    font-size: 1.8rem;
                }
            }
        }
        .swiper-pagination-bullet {
            opacity: 1;
        }
    }

    &-banner {
        width: 100%;
        border-bottom: 5px solid $yellow;
        position: relative;
        background-image: url('../../s/images/useful/main-banner/main-banner-cloud-center.png');
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: auto;
        &:after, &:before {
            background-repeat: no-repeat;
            background-size: auto;
            content: '';
            display: block;
            position: absolute; 
            bottom: 0;
            width: 100%;
            height: 100%;
            @media (max-width: $sw-xx-max) {
                opacity: 0.3;
            }
        }
        &:before {
            left: 0;
            background-position: bottom left;
            background-image: url('../../s/images/useful/main-banner/main-banner-cloud-left.png');
        }
        &:after {
            right: 0;
            background-position: bottom right;
            background-image: url('../../s/images/useful/main-banner/main-banner-cloud-right.png');
        }
        .container {
            padding-left: 0;
            padding-right: 0;
            @media (max-width: $sw-xs-max) {
                max-width: none;
                padding: 0 1.5rem;
            }
            @media (max-width: $sw-xx-max) {
                padding: 0 1rem;
            }
        }
        &__inner {
            position: relative;
            height: 67.5rem;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            @media (max-width: $sw-md-max) {
                height: 62rem;
            }
            @media (max-width: $sw-sm-max) {
                height: auto;
                padding: 4rem 0;
                min-height: 56rem;
            }
            @media (max-width: $sw-xs-max) {
                min-height: 50rem;
            }
            @media (max-width: 499px) {
                min-height: 36rem;
                padding: 10rem 0 2rem 0;
                align-items: flex-end;
            }
            &:after {
                content: '';
                display: block;
                position: absolute;
                width: 100%;
                right: 8.5rem;
                bottom: 0;
                height: 100%;
                background-image: url('../../s/images/useful/main-banner/main-banner-man.png');
                background-repeat: no-repeat;
                background-position: bottom right;
                @media (max-width: $sw-md-max) {
                    background-size: 56rem;
                    right: 2rem;
                    z-index: 3;
                }
                @media (max-width: $sw-sm-max) {
                    background-size: 50rem;
                    right: 0;
                }
                @media (max-width: $sw-xs-max) {
                    background-size: 43rem;
                }
                @media (max-width: $sw-xx-max) {
                    background-size: 34rem;
                    width: calc(100% + 2rem);
                    right: -1rem;
                }
            }
            .btn {
                margin-top: 5rem;
                min-width: 20rem;
                @media (max-width: $sw-md-max) {
                    margin-top: 4rem;
                }
                @media (max-width: $sw-xs-max) {
                    min-width: 18rem;
                }
                @media (max-width: 499px) {
                    margin-top: 2rem;
                }
            }
        }
        &__content {
            position: relative;
            z-index: 5;
            width: 100%;
            max-width: 65rem;
            margin-bottom: 2.1rem;
            @media (max-width: $sw-md-max) {
                max-width: 56rem;
                margin-bottom: 0;
            }
            @media (max-width: $sw-sm-max) {
                max-width: 52rem;
            }
            @media (max-width: $sw-xs-max) {
                max-width: 44rem;
            }
            @media (max-width: $sw-xx-max) {
                max-width: 38rem;
            }
        }
        &__carousel {
            width: 100%;
            .swiper-slide {
                width: 100%;
            }
            &__top {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 2rem;
                @media (max-width: $sw-xs-max) {
                    margin-bottom: 1rem;
                }
                .product-carousel__pagination {
                    margin-right: 1rem;
                }
                .product-carousel__navigation {
                    margin-right: 6rem;
                    @media (max-width: $sw-md-max) {
                        margin-right: 0;
                    }
                }
            }
            &__title {
                text-transform: uppercase;
                font-style: italic;
                font-weight: 800;
                font-size: 5rem;
                line-height: 1.1em;
                color: $light-blue;
                display: block;
                width: 100%;
                margin-bottom: 1rem;
                @media (max-width: $sw-md-max) {
                    font-size: 4.4rem;
                }
                @media (max-width: $sw-sm-max) {
                    font-size: 4rem;
                }
                @media (max-width: $sw-xs-max) {
                    font-size: 3.4rem;
                }
                @media (max-width: $sw-xx-max) {
                    font-size: 2.8rem;
                }
            }
            &__subtitle {
                font-size: 1.6rem;
                line-height: 1.875em;
                color: $light-blue;
                display: block;
                width: 100%;
                @media (max-width: $sw-xx-max) {
                    font-size: 1.4rem;
                    line-height: 1.5em;
                }
            }
        }
    }

    &-section-carousel {
        margin-bottom: 1rem;
        padding: 4rem 0;
        @media (max-width: $sw-sm-max) {
            padding: 2rem 0;
        }
        &--best-selling {
            padding: 14rem 0 15rem 0;
            position: relative;
            @media (max-width: $sw-md-max) {
                padding: 6rem 0;
            }
            @media (max-width: $sw-sm-max) {
                padding: 4rem 0;
            }
            &:after {
                content: '';
                display: block;
                width: 100%;
                height: 64rem;
                position: absolute;
                top: 0;
                left: 0;
                background: linear-gradient(180deg, #05070E 0%, #161B2B 100%);
                transform: matrix(1, 0, 0, -1, 0, 0);
            }
            .product-carousel__title {
                color: $yellow;
            }
        }
        .container {
            padding-left: 0;
            padding-right: 0;
            @media (max-width: $sw-xs-max) {
                max-width: none;
                padding: 0 1.5rem;
            }
            @media (max-width: $sw-xx-max) {
                padding: 0 1rem;
            }
        }
        &__inner {
            position: relative;
            z-index: 1;
            .product-block__footer {
                &:before {
                    background-image: url('../../s/images/useful/svg/product-divider-dark.svg');
                }
            }
            .product-block__discount {
                &:before, &:after {
                    background-image: url('../../s/images/useful/svg/product-divider-dark.svg');
                }
            }
        }
    }

    &-section-refferal {
        position: relative;
        background-image: url('../../s/images/useful/refferal-banner/refferal-banner-cloud-center.png');
        background-repeat: no-repeat;
        background-position: bottom left;
        background-size: auto;
        border-bottom: 5px solid $yellow;
        overflow: hidden;
        @media (max-width: $sw-xs-max) {
            background-position: 0 19rem;
        }
        &:after, &:before {
            background-repeat: no-repeat;
            background-size: auto;
            content: '';
            display: block;
            position: absolute; 
            bottom: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            @media (max-width: $sw-sm-max) {
                bottom: -5rem;
            }
            @media (max-width: $sw-xs-max) {
                bottom: -10rem;
            }
            @media (max-width: $sw-xx-max) {
                bottom: -13rem;
            }
        }
        &:before {
            left: 0;
            background-position: bottom left;
            background-image: url('../../s/images/useful/refferal-banner/refferal-banner-cloud-left.png');
        }
        &:after {
            right: 0;
            background-position: bottom right;
            background-image: url('../../s/images/useful/refferal-banner/refferal-banner-cloud-right.png');
        }
        &__inner {
            width: 100%;
            padding: 4rem 0;
            height: auto;
            min-height: 60.3rem;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            @media (max-width: $sw-md-max) {
                min-height: 55rem;
            }
            @media (max-width: $sw-sm-max) {
                min-height: 50rem;
            }
            @media (max-width: $sw-xs-max) {
                min-height: 44rem;
            }
            @media (max-width: $sw-xx-max) {
                min-height: 34rem;
                align-items: flex-end;
                padding: 4rem 0 2rem 0;
            }
            &:after {
                content: '';
                display: block;
                position: absolute;
                width: 100%;
                left: 1rem;
                bottom: 0;
                height: 100%;
                background-image: url('../../s/images/useful/refferal-banner/refferal-banner-man.png');
                background-repeat: no-repeat;
                background-position: bottom left;
                @media (max-width: $sw-md-max) {
                    z-index: 10;
                    background-size: 56rem;
                }
                @media (max-width: $sw-sm-max) {
                    background-size: 50rem;
                    left: 0;
                }
                @media (max-width: $sw-xs-max) {
                    background-size: 40rem;
                    left: -8rem;
                }
                @media (max-width: $sw-xx-max) {
                    background-size: 34rem;
                    width: calc(100% + 4rem);
                }
            }
            .container {
                padding-left: 0;
                padding-right: 0;
                @media (max-width: $sw-xs-max) {
                    max-width: none;
                    padding: 0 1.5rem;
                }
                @media (max-width: $sw-xx-max) {
                    padding: 0 1rem;
                }
            }
        }
        &__content {
            position: relative;
            z-index: 11;
            max-width: 56rem;
            margin-top: 5rem;
            margin-right: 18rem;
            @media (max-width: $sw-md-max) {
                margin-right: 5rem;
                margin-top: 0;
            }
            @media (max-width: $sw-sm-max) {
                margin-right: 0;
            }
            .btn {
                margin-top: 4.5rem;
                min-width: 20rem;
                @media (max-width: $sw-md-max) {
                    margin-top: 3rem;
                }
                @media (max-width: $sw-xs-max) {
                    min-width: 18rem;
                }
                @media (max-width: $sw-xx-max) {
                    margin-top: 2rem;
                }
            }
        }
    }

    &-section-coins {
        background-image: url('../../s/images/useful/section-earn/section-earn-cloud1.png');
        background-repeat: no-repeat;
        background-position: bottom right;
        background-size: auto;
        padding: 4rem 0 0 0;
        position: relative;
        @media (max-width: $sw-sm-max) {
            padding: 2rem 0 0 0;
        }
        @media (max-width: $sw-xs-max) {
            padding: 5rem 0 0 0;
        }
        @media (max-width: 499px) {
            background-position: 100% 100%;
        }
        &:after {
            content: '';
            display: block;
            width: 100%;
            height: 14rem;
            position: absolute;
            left: 0;
            bottom: 0;
            background-image: linear-gradient(0deg, #05070e 19.86%, rgba(27, 33, 52, 0) 100%);
        }
        &__inner {
            position: relative;
            min-height: 88rem;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            @media (max-width: $sw-md-max) {
                min-height: 79rem;
            }
            @media (max-width: $sw-sm-max) {
                min-height: 69rem;
            }
            @media (max-width: $sw-xs-max) {
                min-height: auto;
            }
            &:after {
                content: '';
                display: block;
                position: absolute;
                width: 100%;
                right: -2rem;
                bottom: 18rem;
                height: 100%;
                background-image: url('../../s/images/useful/section-earn/section-earn-man.png');
                background-repeat: no-repeat;
                background-position: bottom right;
                @media (max-width: $sw-md-max) {
                    background-size: 56rem;
                }
                @media (max-width: $sw-sm-max) {
                    background-size: 50rem;
                    right: -12rem;
                    bottom: 16rem;
                }
                @media (max-width: $sw-xs-max) {
                    background-size: 40rem;
                    right: -8rem;
                    bottom: 20rem;
                }
                @media (max-width: $sw-xx-max) {
                    background-size: 34rem;
                    opacity: 0.7;
                    right: -7rem;
                    bottom: 20rem;
                }
                @media (max-width: 499px) {
                    bottom: 52rem;
                    right: -8rem;
                }
            }
            .container {
                padding-left: 0;
                padding-right: 0;
                @media (max-width: $sw-xs-max) {
                    max-width: none;
                    padding: 0 1.5rem;
                }
                @media (max-width: $sw-xx-max) {
                    padding: 0 1rem;
                }
            }
        }
        &__content {
            position: relative;
            z-index: 3;
            max-width: 71rem;
            margin-left: 16rem;
            margin-top: 13rem;
            @media (max-width: $sw-md-max) {
                margin-left: 7rem;
            }
            @media (max-width: $sw-sm-max) {
                margin-left: 0;
                margin-top: 5rem;
            }
            @media (max-width: $sw-xs-max) {
                margin-top: 2rem;
            }
            @media (max-width: $sw-xx-max) {
                margin: 2rem auto 0 auto;
                text-align: center;
            }
            @media (max-width: 499px) {
                text-align: left;
                margin: 0 auto;
            }
            .btn {
                margin-top: 4.5rem;
                min-width: 20rem;
                @media (max-width: $sw-md-max) {
                    margin-top: 3rem;
                }
                @media (max-width: $sw-xs-max) {
                    min-width: 18rem;
                }
            }
        }
        .how-it-works {
            &__inner {
                position: relative;
                z-index: 5;
                margin: auto -4rem 5.5rem -4rem;
                @media (max-width: $sw-md-max) {
                    margin: auto -4rem 2rem -4rem;
                }
                @media (max-width: $sw-sm-max) {
                    flex-wrap: wrap;
                    margin: 10rem 0 0 -2rem;
                    width: 100%;
                    max-width: 69rem;
                }
                @media (max-width: $sw-xs-max) {
                    margin: 14rem 0 0 -5px;
                }
                @media (max-width: $sw-xx-max) {
                    margin: 15rem auto 0 auto;
                }
                @media (max-width: 499px) {
                    max-width: 32rem;
                }
            }
            &__col {
                width: 25%;
                @media (max-width: $sw-sm-max) {
                    width: 50%;
                }
                @media (max-width: $sw-xs-max) {
                    margin-bottom: 1rem;
                    padding: 0 5px;
                }
                @media (max-width: 499px) {
                    padding: 0;
                    width: 100%;
                }
            }
            &__item {
                padding: 1.7rem 2rem 2.7rem 2rem;
                @media (max-width: $sw-md-max) {
                    padding: 1.7rem 2rem 2rem 2rem;
                }
                @media (max-width: $sw-xs-max) {
                    padding: 1.5rem;
                }
                &__info {
                    @media (max-width: $sw-sm-max) {
                        margin-bottom: 1.5rem;
                    }
                    @media (max-width: $sw-xs-max) {
                        margin-bottom: 1rem;
                    }
                }
                &__icon {
                    .icon {
                        color: $yellow;
                        font-size: 4rem;
                        @media (max-width: $sw-md-max) {
                            font-size: 3.4rem;
                        }
                        @media (max-width: $sw-xs-max) {
                            font-size: 2.6rem;
                        }
                    }
                }
                &__text {
                    font-size: 1.6rem;
                    @media (max-width: $sw-xs-max) {
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }

    &-section-feedbacks {
        padding: 7rem 0 3rem 0;
        @media (max-width: $sw-xs-max) {
            padding: 6rem 0 4rem 0;
        }
        @media (max-width: $sw-xx-max) {
            padding: 6rem 0 0 0;
        }
        .container {
            padding-left: 0;
            padding-right: 0;
            @media (max-width: $sw-xs-max) {
                max-width: none;
                padding: 0 1.5rem;
            }
            @media (max-width: $sw-xx-max) {
                padding: 0 1rem;
            }
        }
        &__inner {
            position: relative;
            z-index: 1;
            overflow: hidden;
            width: 100%;
            max-width: 140rem;
            .product-detail__reviews__item {
                &__inner {
                    padding: 3rem 1.9rem 2rem 1.9rem;
                }
            }
        }
    }
}