.feedbacks {
    &-wrapper {
        padding: 5rem 0;
        @media (max-width: $sw-sm-max) {
            padding: 3rem 0 5rem 0;
        }
    }
    &-section {
        width: 100%;
        max-width: 90rem;
        margin: 0 auto;
        &__top {
            margin-bottom: 5rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            @media (max-width: $sw-sm-max) {
                margin-bottom: 3rem;
            }
            @media (max-width: $sw-xx-max) {
                margin-bottom: 1.3rem;
            }
            .section-title__secondary {
                font-size: 3.2rem;
                line-height: 1.25em;
                @media (max-width: $sw-sm-max) {
                    font-size: 2.4rem;
                    line-height: 1.33em;
                }
                @media (max-width: $sw-xx-max) {
                    font-size: 1.8rem;
                }
            }
            &__btn {
                display: none;
                align-items: center;
                justify-content: flex-start;
                color: $yellow;
                font-weight: 600;
                font-size: 1.4rem;
                line-height: 1em;
                margin-right: 1.5rem;
                @media (max-width: $sw-xs-max) {
                    display: flex;
                }
                .icon-filters {
                    font-size: 2rem;
                    margin-right: 1rem;
                }
            }
        }
    }
    &-inner {
        display: flex;
        @media (max-width: $sw-xs-max) {
            flex-wrap: wrap;
        }
        @media (max-width: $sw-xx-max) {
            margin-top: 3.3rem;
        }
    }
    &-content {
        width: 68rem;
        margin-right: 4rem;
        @media (max-width: $sw-xs-max) {
            margin-right: 0;
            width: 100%;
            order: 1;
        }
        .loader-wrapper {
            margin: 3rem 0;
            @media (max-width: $sw-xs-max) {
                margin: 2rem 0;
            }
            @media (max-width: $sw-xx-max) {
                margin: 1rem 0;
            }
        }
        &__grid {
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            margin: 0 -2rem;
            @media (max-width: $sw-xs-max) {
                margin: 0 -1rem;
            }
            @media (max-width: 599px) {
                margin: 0;
            }
        }
    }
    &-aside {
        width: 18rem;
        padding-top: 7px;
        padding-bottom: 13rem;
        @media (max-width: $sw-xs-max) {
            display: none;
            padding-bottom: 0;
            padding-top: 0;
            width: 100%;
            margin-bottom: 2rem;
            order: 0;
        }
        @media (max-width: 599px) {
            margin-bottom: 1.5rem;
        }
        @media (min-width: $sw-sm-min) {
            display: block !important;
        }
        &__inner {
            position: sticky;
            top: 15rem;
            @media (max-width: $sw-xs-max) {
                top: auto;
                position: relative;
            }
            .article-title {
                margin-bottom: 1.6rem;
                @media (max-width: $sw-xs-max) {
                    display: none;
                }
            }
        }
        .btn {
            min-width: 7rem;
            padding: 0 1.4rem;
            @media (max-width: $sw-xs-max) {
                min-width: auto;
                margin-right: 1.5rem;
                margin-bottom: 1rem;
                padding: 0 2rem;
            }
            @media (max-width: $sw-xx-max) {
                padding: 0 1.4rem;
                margin-right: 1rem;
                min-width: 5rem;
            }
            &.is-active {
                border-color: $yellow;
                color: $yellow !important;
                pointer-events: none;
                background-color: transparent !important;
            }
            .icon {
                display: none;
                @media (max-width: $sw-xs-max) {
                    margin-right: 5px;
                    display: block;
                    flex-shrink: 0;
                    font-size: 2rem;
                }
                
            }
            & + .btn {
                margin-top: 1rem;
                @media (max-width: $sw-xs-max) {
                    margin-top: 0;
                }
            }
        }
    }
    &-col {
        width: 50%;
        padding: 0 2rem;
        margin-bottom: 6rem;
        @media (max-width: $sw-xs-max) {
            margin-bottom: 3rem;
            padding: 0 1rem;
        }
        @media (max-width: $sw-xx-max) {
            margin-bottom: 5rem;
        }
        @media (max-width: 599px) {
            padding: 0;
            width: 100%;
        }
    }
    &-item {
        width: 100%;
        background-color: #21273B;
        border: 1px solid rgba(223, 225, 238, 0.3);
        border-radius: 1.6rem;
        padding: 1rem 1rem 2rem 1rem;
        @media (max-width: $sw-xx-max) {
            padding: 0;
            border-radius: 0;
            border: none;
            background-color: $dark;
        }
        @media (max-width: 599px) {
            max-width: 32rem;
            margin: 0 auto;
        }
        &__top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 1rem;
            height: 3rem;
        }
        &__user {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            &__image {
                width: 3rem;
                height: 3rem;
                border-radius: 50%;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 1rem;
                img {
                    width: auto;
                    height: auto;
                    max-width: 100%;
                    max-height: 100%;
                    border-radius: inherit;
                }
            }
            &__name {
                font-weight: 600;
                font-size: 1.6rem;
                line-height: 1.875em;
                display: flex;
                align-items: center;
                color: $light-blue;
            }
        }
        &__date {
            margin-left: 1rem;
            font-size: 1.4rem;
            line-height: 2.15em;
            color: rgba(223, 225, 238, 0.3);
            text-transform: capitalize;
        }
        &__image {
            width: 100%;
            height: auto;
            max-height: 43rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 6px;
            overflow: hidden;
            position: relative;
            margin-bottom: 1rem;
            @media (max-width: $sw-xx-max) {
                max-height: auto;
            }
            img {
                max-height: 43rem;
                max-width: 100%;
                height: auto;
                width: auto;
                border-radius: 6px;
                @media (max-width: $sw-xx-max) {
                    max-height: auto;
                    width: 100%;
                }
            }
        }
        &__cat {
            height: 3rem;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            top: 1rem;
            left: 1rem;
            background-color: #21273B;
            border-radius: 6px;
            padding: 8px;
            font-size: 1.6rem;
            line-height: 1em;
            color: $light-blue;
            z-index: 10;
            .product-indicator {
                margin-right: 1.3rem;
            }
        }
        &__source {
            height: 3rem;
            background-color: rgba(#21273B, 0.7);
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            bottom: 1rem;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 6px;
            padding: 8px;
            font-size: 1.6rem;
            line-height: 1em;
            color: $yellow;
            z-index: 10;
            white-space: nowrap;
            cursor: pointer;
            transition: background-color .3s ease;
            &:hover {
                background-color: lighten(#21273B, 7%); 
            }
            &:active {
                background-color: lighten(#21273B, 10%); 
            }
            .icon-external-link {
                margin-left: 7px;
                font-size: 1.6rem;
                flex-shrink: 0;
            }
            span {
                flex-shrink: 0;
            }
        }
        &__text {
            border: 1px solid rgba(223, 225, 238, 0.3);
            border-radius: 6px;
            background-color: #2F3548;
            position: relative;
            margin-bottom: 1rem;
            &__top {
                min-height: 7rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 1rem;
                border-bottom: 1px solid rgba(223, 225, 238, 0.3);
                @media (max-width: $sw-xx-max) {
                    flex-wrap: wrap;
                    min-height: 5rem;
                }
            }
            &__name {
                font-weight: 600;
                font-size: 1.6rem;
                line-height: 1.875em;
                color: $light-blue;
                text-transform: uppercase;
            }
            &__icon {
                margin-right: 1rem;
                @media (max-width: $sw-xx-max) {
                    margin-right: 0;
                    width: 100%;
                    text-align: center;
                }
                .icon-trustpilot {
                    font-size: 3rem;
                    color: #6FCF97;
                    margin-bottom: 1rem;
                }
            }
            &__inner {
                padding: 2rem 1rem 7rem 1rem;
            }
            &__title {
                margin-bottom: 1rem;
                display: block;
                width: 100%;
                font-weight: 600;
                font-size: 1.4rem;
                line-height: 1.4em;
                color: $light-blue;
            }
            &__item {
                font-size: 1.4rem;
                line-height: 1.4em;
                color: $light-blue;
                margin-bottom: 0;
                height: auto;
            }
        }
        &__actions {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 2rem;
            margin-bottom: 1.1rem;
            &__btn {
                width: 2rem;
                height: 2rem;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 2rem;
                color: $light-blue;
                transition: color .5s ease;
                &:hover {
                    color: rgba($light-blue, 0.8);
                }
                &:active {
                    color: rgba($light-blue, 0.5);
                }
                &.is-active {
                    color: $yellow;
                    pointer-events: none;
                }
            }
            &__btns {
                .icon-heart {
                    font-size: 1.8rem;
                }
            }
            &__btns, &__side {
                display: flex;
                align-items: center;
                .icon {
                    flex-shrink: 0;
                }
                .icon-comment {
                    font-size: 2rem;
                }
            }
            &__side {
                .icon-heart {
                    font-size: 1.8rem;
                    color: $light-blue
                }
            }
            &__count {
                font-weight: 600;
                font-size: 1.4rem;
                line-height: 1.4em;
                color: $light-blue;
                margin-left: 1rem;
                &__text {
                    margin-left: 3px;
                }
            }
        }
        &__info {
            margin-bottom: 2rem;
            max-height: 4rem;
            color: $light-blue;
            overflow: hidden;
            transition: max-height .4s ease;
            position: relative;
            @media (max-width: $sw-xx-max) {
                margin-bottom: 1rem;
            }
            p {
                font-weight: 400;
                font-size: 1.4rem;
                line-height: 1.4em;
            }
            b {
                font-weight: 600;
            }
            &__more {
                position: absolute;
                bottom: 2px;
                right: 0;
                width: 7.5rem;
                padding-left: 6px;
                background-color: #21273B;
                font-weight: 400;
                font-size: 1.4rem;
                line-height: 1.4em;
                color: $light-blue;
                transition: color .3s ease;
                cursor: pointer;
                text-align: left;
                @media (max-width: $sw-xx-max) {
                    background-color: $dark;
                }
                &:before {
                    content: attr(data-more)
                }
                &:hover {
                    color: $yellow;
                }
                .is-opened & {
                    color: $yellow;
                    padding-left: 0;
                    position: relative;
                    bottom: auto;
                    right: auto;
                    &:before {
                        content: attr(data-less);
                    }
                }
            }
        }
        &__comments {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            height: 2rem;
            &__btn {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                cursor: pointer;
                font-weight: 600;
                font-size: 1.4rem;
                line-height: 1.4em;
                text-transform: capitalize;
                color: $light-blue;
                transition: color .3s ease;
                &:hover {
                    color: rgba($light-blue, 0.8);
                }
                &:active {
                    color: rgba($light-blue, 0.5);
                }
            }
            .icon-comment {
                font-size: 2rem;
                margin-right: 1rem;
            }
        }
    }
}

.my-sizer-element {
    width: 50%;
}

.header.header--noty-active  {
    & + .main-content {
        .feedbacks-aside__inner {
            top: 20rem;
        }
    }
}

.feedbacks-rate {
    display: flex;
    flex-direction: row-reverse;
    @media (max-width: $sw-xx-max) {
        width: 100%;
        justify-content: center;
        margin-top: 1rem;
    }
    &[data-rate="1"] {
        .icon-star-simple:nth-child(5) {
            color: $yellow;
        }
    }
    &[data-rate="2"] {
        .icon-star-simple:nth-child(4) {
            color: $yellow;
            & ~ .icon-star-simple {
                color: $yellow;
            }
        }
    }
    &[data-rate="3"] {
        .icon-star-simple:nth-child(3) {
            color: $yellow;
            & ~ .icon-star-simple {
                color: $yellow;
            }
        }
    }
    &[data-rate="4"] {
        .icon-star-simple:nth-child(2) {
            color: $yellow;
            & ~ .icon-star-simple {
                color: $yellow;
            }
        }
    }
    &[data-rate="5"] {
        .icon-star-simple:nth-child(1) {
            color: $yellow;
            & ~ .icon-star-simple {
                color: $yellow;
            }
        }
    }
    .icon-star-simple {
        font-size: 1.5rem;
        color: transparent;
        transition: color .3s ease;
        & + .icon-star-simple {
            margin-right: 8px;
        }
    }
}