mixin feedbacks(data)
	.feedbacks-wrapper
		.container
			.feedbacks-section
				.feedbacks-section__top
					.section-title
						p.section-title__secondary Feedbacks
					button.feedbacks-section__top__btn.js-feedbacks-filters-trigger(type="button")
						+svg('icon-filters')
						span Filter
				.feedbacks-inner
					.feedbacks-content
						.feedbacks-content__grid.js-shuffle-container
							.feedbacks-col(data-groups='["trustpilot_review"]')
								.feedbacks-item
									.feedbacks-item__top
										.feedbacks-item__user
											.feedbacks-item__user__image
												img(src="s/images/useful/feedback-user.jpg", alt="user")
											span.feedbacks-item__user__name Stephan
										.feedbacks-item__date
											span 20 jan 2021
									.feedbacks-item__text
										a.feedbacks-item__source(href="javascript:void(0)")
											span Original source
											+svg('icon-external-link')
										.feedbacks-item__text__top
											span.feedbacks-item__text__name Meso-rx forum review 11
										.feedbacks-item__text__inner
											span.feedbacks-item__text__title Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate, inventore mollitia dolorum qui tempore repellat libero at porro dolorem delectus consectetur tenetur et animi exercitationem sapiente reprehenderit consequuntur minima unde rem non quia voluptates iure fuga. Itaque eum possimus delectus ducimus corrupti modi ipsa praesentium, id quae saepe alias enim facere inventore quos laboriosam soluta voluptatem corporis reprehenderit at, provident consectetur unde! Cumque iure doloribus non nostrum nulla nam iusto molestias, voluptas, reprehenderit omnis itaque porro error ipsam corrupti autem, ratione nihil molestiae voluptatem esse aperiam! Earum cum dolores tempora, porro explicabo corporis aspernatur, facilis corrupti beatae maxime deleniti animi.
									.feedbacks-item__actions
										.feedbacks-item__actions__btns
											button.feedbacks-item__actions__btn.js-feedback-like(type="button")
												+svg('icon-heart')
											button.feedbacks-item__actions__btn.js-feedback-comment(type="button", data-target="#feedback_comments_modal", data-toggle="modal")
												+svg('icon-comment')
										.feedbacks-item__actions__side
											+svg('icon-heart')
											span.feedbacks-item__actions__count 
												span.feedback_likes_count 22 
												span.feedbacks-item__actions__count__text Likes
									.feedbacks-item__info
										p #[b mainbody] Legit and purity tested on a few products. Enough for them to earn Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, amet voluptas? Accusamus quos dolor, dolorum inventore voluptatum sequi quas impedit eos voluptas necessitatibus tempora quod debitis beatae blanditiis nemo quam #[button(type="button", data-more="... more", data-less="... less").feedbacks-item__info__more]
									.feedbacks-item__comments
										button.feedbacks-item__comments__btn.js-feedback-comments(type="button", data-target="#feedback_comments_modal", data-toggle="modal")
											+svg('icon-comment')
											span All 5 comments
							.feedbacks-col(data-groups='["received_orders"]')
								.feedbacks-item
									.feedbacks-item__top
										.feedbacks-item__user
											.feedbacks-item__user__image
												img(src="s/images/useful/feedback-user.jpg", alt="user")
											span.feedbacks-item__user__name Stephan
										.feedbacks-item__date
											span 20 jan 2021
									.feedbacks-item__image
										a.feedbacks-item__source(href="javascript:void(0)")
											span Original source
											+svg('icon-external-link')
										img(src="s/images/useful/feedback-img1.png", alt="feedback")
									.feedbacks-item__actions
										.feedbacks-item__actions__btns
											button.feedbacks-item__actions__btn.js-feedback-like(type="button")
												+svg('icon-heart')
											button.feedbacks-item__actions__btn.js-feedback-comment(type="button", data-target="#feedback_comments_modal", data-toggle="modal")
												+svg('icon-comment')
										.feedbacks-item__actions__side
											+svg('icon-heart')
											span.feedbacks-item__actions__count 
												span.feedback_likes_count 22 
												span.feedbacks-item__actions__count__text Likes
									.feedbacks-item__info
										p #[b mainbody] Legit and purity tested on a few products. Enough for them to earn Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, amet voluptas? Accusamus quos dolor, dolorum inventore voluptatum sequi quas impedit eos voluptas necessitatibus tempora quod debitis beatae blanditiis nemo quam commodi unde, ad amet nisi a, eveniet libero perspiciatis. Eligendi possimus ex, sequi explicabo nostrum est consectetur tempora iste iure Legit and purity tested on a few products. Enough for them to earn Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, amet voluptas? Accusamus quos dolor, dolorum inventore voluptatum sequi quas impedit eos voluptas necessitatibus tempora quod debitis beatae blanditiis nemo quam commodi unde, ad amet nisi a, eveniet libero perspiciatis. Eligendi possimus ex, sequi explicabo nostrum est consectetur tempora iste iure #[button(type="button", data-more="... more", data-less="... less").feedbacks-item__info__more]
									.feedbacks-item__comments
										button.feedbacks-item__comments__btn.js-feedback-comments(type="button", data-target="#feedback_comments_modal", data-toggle="modal")
											+svg('icon-comment')
											span All 5 comments
							.feedbacks-col(data-groups='["independent_lab_tests"]')
								.feedbacks-item
									.feedbacks-item__top
										.feedbacks-item__user
											.feedbacks-item__user__image
												img(src="s/images/useful/feedback-user.jpg", alt="user")
											span.feedbacks-item__user__name Stephan
										.feedbacks-item__date
											span 20 jan 2021
									.feedbacks-item__image
										a.feedbacks-item__source(href="javascript:void(0)")
											span Original source
											+svg('icon-external-link')
										img(src="s/images/useful/feedback-img2.jpg", alt="feedback")
									.feedbacks-item__actions
										.feedbacks-item__actions__btns
											button.feedbacks-item__actions__btn.js-feedback-like(type="button")
												+svg('icon-heart')
											button.feedbacks-item__actions__btn.js-feedback-comment(type="button", data-target="#feedback_comments_modal", data-toggle="modal")
												+svg('icon-comment')
										.feedbacks-item__actions__side
											+svg('icon-heart')
											span.feedbacks-item__actions__count 
												span.feedback_likes_count 22 
												span.feedbacks-item__actions__count__text Likes
									.feedbacks-item__info
										p #[b mainbody] Legit and purity tested on a few products. Enough for them to earn Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, amet voluptas? Accusamus quos dolor, dolorum inventore voluptatum sequi quas impedit eos voluptas necessitatibus tempora quod debitis beatae blanditiis nemo quam commodi unde, ad amet nisi a, eveniet libero perspiciatis. Eligendi possimus ex, sequi explicabo nostrum est consectetur tempora iste iure Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius, ipsa. #[button(type="button", data-more="... more", data-less="... less").feedbacks-item__info__more]
									.feedbacks-item__comments
										button.feedbacks-item__comments__btn.js-feedback-comments(type="button", data-target="#feedback_comments_modal", data-toggle="modal")
											+svg('icon-comment')
											span All 5 comments
							.feedbacks-col(data-groups='["trustpilot_review"]')
								.feedbacks-item
									.feedbacks-item__top
										.feedbacks-item__user
											.feedbacks-item__user__image
												img(src="s/images/useful/feedback-user.jpg", alt="user")
											span.feedbacks-item__user__name Stephan
										.feedbacks-item__date
											span 20 jan 2021
									.feedbacks-item__text
										a.feedbacks-item__source(href="javascript:void(0)")
											span Original source
											+svg('icon-external-link')
										.feedbacks-item__text__top
											.feedbacks-item__text__icon
												+svg('icon-trustpilot')
											.feedbacks-rate(data-rate="4")
												+svg('icon-star-simple')
												+svg('icon-star-simple')
												+svg('icon-star-simple')
												+svg('icon-star-simple')
												+svg('icon-star-simple')
										.feedbacks-item__text__inner
											span.feedbacks-item__text__title Legit and purity tested
											p.feedbacks-item__text__item Enough for them to earn my lotalty and trust. I'm on basic 16 wk cycle 600 wkly. Test cyp. clean diet and Proviron to maintain mojo. Cleaning up with Tren E last 6 weeks of cycle alongside test. On my last cycle I gained a solid 8lbs muscle mass at 42yrs young. I am hoping to gain a dime or so of mass on this one. I am well on my way! This vendor can be trusted. Some items may take a bit to get to you but not all. They will keep you in the loop the whole way.
									.feedbacks-item__actions
										.feedbacks-item__actions__btns
											button.feedbacks-item__actions__btn.js-feedback-like(type="button")
												+svg('icon-heart')
											button.feedbacks-item__actions__btn.js-feedback-comment(type="button", data-target="#feedback_comments_modal", data-toggle="modal")
												+svg('icon-comment')
										.feedbacks-item__actions__side
											+svg('icon-heart')
											span.feedbacks-item__actions__count 
												span.feedback_likes_count 22 
												span.feedbacks-item__actions__count__text Likes
									.feedbacks-item__info
										p #[b mainbody] Legit and purity tested on a few products. Enough for them to earn Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, amet voluptas? Accusamus quos dolor, dolorum inventore voluptatum sequi quas impedit eos voluptas necessitatibus tempora quod debitis beatae blanditiis nemo quam commodi unde, ad amet nisi a, eveniet libero perspiciatis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, recusandae. Saepe error soluta qui aspernatur! Lorem ipsum dolor sit amet. Eligendi possimus ex, sequi explicabo nostrum est consectetur tempora iste iure #[button(type="button", data-more="... more", data-less="... less").feedbacks-item__info__more]
									.feedbacks-item__comments
										button.feedbacks-item__comments__btn.js-feedback-comments(type="button", data-target="#feedback_comments_modal", data-toggle="modal")
											+svg('icon-comment')
											span All 5 comments
							.feedbacks-col(data-groups='["received_orders", "trustpilot_review"]')
								.feedbacks-item
									.feedbacks-item__top
										.feedbacks-item__user
											.feedbacks-item__user__image
												img(src="s/images/useful/feedback-user.jpg", alt="user")
											span.feedbacks-item__user__name Stephan
										.feedbacks-item__date
											span 20 jan 2021
									.feedbacks-item__text
										a.feedbacks-item__source(href="javascript:void(0)")
											span Original source
											+svg('icon-external-link')
										.feedbacks-item__text__top
											span.feedbacks-item__text__name Proviron to tested
										.feedbacks-item__text__inner
											span.feedbacks-item__text__title Legit and purity tested
											p.feedbacks-item__text__item Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio fuga laudantium fugit debitis? Recusandae fugit temporibus omnis iusto illum esse aspernatur deleniti, in labore, veritatis beatae vero voluptatum laudantium nobis!
									.feedbacks-item__actions
										.feedbacks-item__actions__btns
											button.feedbacks-item__actions__btn.js-feedback-like(type="button")
												+svg('icon-heart')
											button.feedbacks-item__actions__btn.js-feedback-comment(type="button", data-target="#feedback_comments_modal", data-toggle="modal")
												+svg('icon-comment')
										.feedbacks-item__actions__side
											+svg('icon-heart')
											span.feedbacks-item__actions__count 
												span.feedback_likes_count 22 
												span.feedbacks-item__actions__count__text Likes
									.feedbacks-item__info
										p #[b mainbody] Legit and purity tested on a few products. Enough for them to earn Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, amet voluptas? Accusamus quos dolor, dolorum inventore voluptatum sequi quas impedit eos voluptas necessitatibus tempora quod debitis beatae blanditiis nemo quam #[button(type="button", data-more="... more", data-less="... less").feedbacks-item__info__more]
									.feedbacks-item__comments
										button.feedbacks-item__comments__btn.js-feedback-comments(type="button", data-target="#feedback_comments_modal", data-toggle="modal")
											+svg('icon-comment')
											span All 5 comments
							.feedbacks-col(data-groups='["independent_lab_tests"]')
								.feedbacks-item
									.feedbacks-item__top
										.feedbacks-item__user
											.feedbacks-item__user__image
												img(src="s/images/useful/feedback-user.jpg", alt="user")
											span.feedbacks-item__user__name Stephan
										.feedbacks-item__date
											span 20 jan 2021
									.feedbacks-item__image
										a.feedbacks-item__source(href="javascript:void(0)")
											span Original source
											+svg('icon-external-link')
										img(src="s/images/useful/feedback-img1.png", alt="feedback")
									.feedbacks-item__actions
										.feedbacks-item__actions__btns
											button.feedbacks-item__actions__btn.js-feedback-like(type="button")
												+svg('icon-heart')
											button.feedbacks-item__actions__btn.js-feedback-comment(type="button", data-target="#feedback_comments_modal", data-toggle="modal")
												+svg('icon-comment')
										.feedbacks-item__actions__side
											+svg('icon-heart')
											span.feedbacks-item__actions__count 
												span.feedback_likes_count 22 
												span.feedbacks-item__actions__count__text Likes
									.feedbacks-item__info
										p #[b mainbody] Legit and purity tested on a few products. Enough for them to earn Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, amet voluptas? Accusamus quos dolor, dolorum inventore voluptatum sequi quas impedit eos voluptas necessitatibus tempora quod debitis beatae blanditiis nemo quam commodi unde, ad amet nisi a, eveniet libero perspiciatis. Eligendi possimus ex, sequi explicabo nostrum est consectetur tempora iste iure #[button(type="button", data-more="... more", data-less="... less").feedbacks-item__info__more]
									.feedbacks-item__comments
										button.feedbacks-item__comments__btn.js-feedback-comments(type="button", data-target="#feedback_comments_modal", data-toggle="modal")
											+svg('icon-comment')
											span All 5 comments
							.feedbacks-col(data-groups='["received_orders"]')
								.feedbacks-item
									.feedbacks-item__top
										.feedbacks-item__user
											.feedbacks-item__user__image
												img(src="s/images/useful/feedback-user.jpg", alt="user")
											span.feedbacks-item__user__name Stephan
										.feedbacks-item__date
											span 20 jan 2021
									.feedbacks-item__image
										a.feedbacks-item__source(href="javascript:void(0)")
											span Original source
											+svg('icon-external-link')
										img(src="s/images/useful/feedback-img2.jpg", alt="feedback")
									.feedbacks-item__actions
										.feedbacks-item__actions__btns
											button.feedbacks-item__actions__btn.js-feedback-like(type="button")
												+svg('icon-heart')
											button.feedbacks-item__actions__btn.js-feedback-comment(type="button", data-target="#feedback_comments_modal", data-toggle="modal")
												+svg('icon-comment')
										.feedbacks-item__actions__side
											+svg('icon-heart')
											span.feedbacks-item__actions__count 
												span.feedback_likes_count 22 
												span.feedbacks-item__actions__count__text Likes
									.feedbacks-item__info
										p #[b mainbody] Legit and purity tested on a few products. Enough for them to earn Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, amet voluptas? Accusamus quos dolor, dolorum inventore voluptatum sequi quas impedit eos voluptas necessitatibus tempora quod debitis beatae blanditiis nemo quam commodi unde, ad amet nisi a, eveniet libero perspiciatis. Eligendi possimus ex, sequi explicabo nostrum est consectetur tempora iste iure Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius, ipsa. #[button(type="button", data-more="... more", data-less="... less").feedbacks-item__info__more]
									.feedbacks-item__comments
										button.feedbacks-item__comments__btn.js-feedback-comments(type="button", data-target="#feedback_comments_modal", data-toggle="modal")
											+svg('icon-comment')
											span All 5 comments
							.feedbacks-col(data-groups='["trustpilot_review"]')
								.feedbacks-item
									.feedbacks-item__top
										.feedbacks-item__user
											.feedbacks-item__user__image
												img(src="s/images/useful/feedback-user.jpg", alt="user")
											span.feedbacks-item__user__name Stephan
										.feedbacks-item__date
											span 20 jan 2021
									.feedbacks-item__text
										a.feedbacks-item__source(href="javascript:void(0)")
											span Original source
											+svg('icon-external-link')
										.feedbacks-item__text__top
											.feedbacks-item__text__icon
												+svg('icon-trustpilot')
											.feedbacks-rate(data-rate="4")
												+svg('icon-star-simple')
												+svg('icon-star-simple')
												+svg('icon-star-simple')
												+svg('icon-star-simple')
												+svg('icon-star-simple')
										.feedbacks-item__text__inner
											span.feedbacks-item__text__title Legit and purity tested
											p.feedbacks-item__text__item Enough for them to earn my lotalty and trust. I'm on basic 16 wk cycle 600 wkly. Test cyp. clean diet and Proviron to maintain mojo. Cleaning up with Tren E last 6 weeks of cycle alongside test. On my last cycle I gained a solid 8lbs muscle mass at 42yrs young. I am hoping to gain a dime or so of mass on this one. I am well on my way! This vendor can be trusted. Some items may take a bit to get to you but not all. They will keep you in the loop the whole way.
									.feedbacks-item__actions
										.feedbacks-item__actions__btns
											button.feedbacks-item__actions__btn.js-feedback-like(type="button")
												+svg('icon-heart')
											button.feedbacks-item__actions__btn.js-feedback-comment(type="button", data-target="#feedback_comments_modal", data-toggle="modal")
												+svg('icon-comment')
										.feedbacks-item__actions__side
											+svg('icon-heart')
											span.feedbacks-item__actions__count 
												span.feedback_likes_count 22 
												span.feedbacks-item__actions__count__text Likes
									.feedbacks-item__info
										p #[b mainbody] Legit and purity tested on a few products. Enough for them to earn Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, amet voluptas? Accusamus quos dolor, dolorum inventore voluptatum sequi quas impedit eos voluptas necessitatibus tempora quod debitis beatae blanditiis nemo quam commodi unde, ad amet nisi a, eveniet libero perspiciatis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, recusandae. Saepe error soluta qui aspernatur! Lorem ipsum dolor sit amet. Eligendi possimus ex, sequi explicabo nostrum est consectetur tempora iste iure #[button(type="button", data-more="... more", data-less="... less").feedbacks-item__info__more]
									.feedbacks-item__comments
										button.feedbacks-item__comments__btn.js-feedback-comments(type="button", data-target="#feedback_comments_modal", data-toggle="modal")
											+svg('icon-comment')
											span All 5 comments
							.my-sizer-element
						+loader()
					.feedbacks-aside
						.feedbacks-aside__inner
							.article-title
								p.article-title__item
									+svg('icon-filters')
									span Filter
							.feedbacks-aside__buttons
								button.btn.btn--md.btn--black.js-shuffle-trigger.is-active(type="button", data-group="all")
									+svg('icon-menu')
									span All
								button.btn.btn--md.btn--black.js-shuffle-trigger(type="button", data-group="received_orders")
									+svg('icon-truck-received')
									span Received orders
								button.btn.btn--md.btn--black.js-shuffle-trigger(type="button", data-group="trustpilot_review")
									+svg('icon-credits-review')
									span Reviews
								button.btn.btn--md.btn--black.js-shuffle-trigger(type="button", data-group="independent_lab_tests")
									+svg('icon-credits-lab')
									span Community Lab tests
							
