mixin products(data)
	.products-wrapper
		.products-aside
			.products-aside__top
				.products-aside__top__title
					+svg('icon-filters')
					span Filter
				button.products-aside__top__close.js-products-filters-close(type="button")
					+svg('icon-close')
					spab Close
			.products-filters
				form.products-filters__box(action="javascript:void(0)")
					.products-filters__box__top
						.products-filters__box__title
							span Promotions %
					.products-filters__box__inner
						label.products-filters__box__row(for="prod_promoted")
							input(type="checkbox", id="prod_promoted", name="prod_promoted")
							span.products-filters__box__input
								+svg('icon-chk')
							span.products-filters__box__name
								span Promoted
								span.products-overview__list__item-count 33
				form.products-filters__box(action="javascript:void(0)")
					.products-filters__box__top
						.products-filters__box__title
							span Categories
						.products-filters__box__help
							button.products-filters__box__reset(type="reset")
								span Clear
							button.products-filters__box__mark-all.js-mark-all(type="button")
								span Mark All
					.products-filters__box__inner
						label.products-filters__box__row(for="prod_injectable")
							input(type="checkbox", id="prod_injectable", name="prod_injectable")
							span.products-filters__box__input
								+svg('icon-chk')
							span.products-filters__box__name
								span.product-indicator.product-indicator--sky
								span Injectable
								span.products-overview__list__item-count 12
						label.products-filters__box__row(for="prod_oral")
							input(type="checkbox", id="prod_oral", name="prod_oral")
							span.products-filters__box__input
								+svg('icon-chk')
							span.products-filters__box__name
								span.product-indicator.product-indicator--orange
								span Oral
								span.products-overview__list__item-count 12
						label.products-filters__box__row(for="prod_post_therapy")
							input(type="checkbox", id="prod_post_therapy", name="prod_post_therapy")
							span.products-filters__box__input
								+svg('icon-chk')
							span.products-filters__box__name
								span.product-indicator.product-indicator--violet
								span Post Therapy
								span.products-overview__list__item-count 12
						label.products-filters__box__row(for="prod_weight_loss")
							input(type="checkbox", id="prod_weight_loss", name="prod_weight_loss")
							span.products-filters__box__input
								+svg('icon-chk')
							span.products-filters__box__name
								span.product-indicator.product-indicator--salat
								span Weight Loss
								span.products-overview__list__item-count 12
						label.products-filters__box__row(for="prod_hgh")
							input(type="checkbox", id="prod_hgh", name="prod_hgh")
							span.products-filters__box__input
								+svg('icon-chk')
							span.products-filters__box__name
								span.product-indicator.product-indicator--portage
								span HGH
								span.products-overview__list__item-count 12
						label.products-filters__box__row(for="prod_peptides")
							input(type="checkbox", id="prod_peptides", name="prod_peptides")
							span.products-filters__box__input
								+svg('icon-chk')
							span.products-filters__box__name
								span.product-indicator.product-indicator--green
								span Peptides
								span.products-overview__list__item-count 12
						label.products-filters__box__row(for="prod_sexual_health")
							input(type="checkbox", id="prod_sexual_health", name="prod_sexual_health")
							span.products-filters__box__input
								+svg('icon-chk')
							span.products-filters__box__name
								span.product-indicator.product-indicator--purple
								span sexual Health
								span.products-overview__list__item-count 12
				form.products-filters__box(action="javascript:void(0)")
					.products-filters__box__top
						.products-filters__box__title
							span Manufacturers
						.products-filters__box__help
							button.products-filters__box__reset(type="reset")
								span Clear
							button.products-filters__box__mark-all.js-mark-all(type="button")
								span Mark All
					.products-filters__box__inner
						label.products-filters__box__row(for="prod_hilma")
							input(type="checkbox", id="prod_hilma", name="prod_hilma")
							span.products-filters__box__input
								+svg('icon-chk')
							span.products-filters__box__name
								span Hilma Biocare
								span.products-overview__list__item-count 12
						label.products-filters__box__row(for="prod_omstal")
							input(type="checkbox", id="prod_omstal", name="prod_omstal")
							span.products-filters__box__input
								+svg('icon-chk')
							span.products-filters__box__name
								span Omstal Pharma
								span.products-overview__list__item-count 12
						label.products-filters__box__row(for="prod_gamma")
							input(type="checkbox", id="prod_gamma", name="prod_gamma")
							span.products-filters__box__input
								+svg('icon-chk')
							span.products-filters__box__name
								span Bio Gamma
								span.products-overview__list__item-count 12
				form.products-filters__box(action="javascript:void(0)")
					.products-filters__box__top
						.products-filters__box__title
							span Warehouses
						.products-filters__box__help
							button.products-filters__box__reset(type="reset")
								span Clear
							button.products-filters__box__mark-all.js-mark-all(type="button")
								span Mark All
					.products-filters__box__inner
						label.products-filters__box__row(for="prod_warehouse1")
							input(type="checkbox", id="prod_warehouse1", name="prod_warehouse1")
							span.products-filters__box__input
								+svg('icon-chk')
							span.products-filters__box__name
								span EU Warehouse 01
								span.products-overview__list__item-count 12
						label.products-filters__box__row(for="prod_warehouse2")
							input(type="checkbox", id="prod_warehouse2", name="prod_warehouse2")
							span.products-filters__box__input
								+svg('icon-chk')
							span.products-filters__box__name
								span EU Warehouse 02
								span.products-overview__list__item-count 12
						label.products-filters__box__row(for="prod_warehouse3")
							input(type="checkbox", id="prod_warehouse3", name="prod_warehouse3")
							span.products-filters__box__input
								+svg('icon-chk')
							span.products-filters__box__name
								span EU Warehouse 03
								span.products-overview__list__item-count 12
						label.products-filters__box__row(for="prod_warehouse4")
							input(type="checkbox", id="prod_warehouse4", name="prod_warehouse4")
							span.products-filters__box__input
								+svg('icon-chk')
							span.products-filters__box__name
								span EU Warehouse 04
								span.products-overview__list__item-count 12
						label.products-filters__box__row(for="prod_warehouse5")
							input(type="checkbox", id="prod_warehouse5", name="prod_warehouse5")
							span.products-filters__box__input
								+svg('icon-chk')
							span.products-filters__box__name
								span EU Warehouse 05
								span.products-overview__list__item-count 12
			.products-aside__footer
				button.products-aside__footer__submit.js-products-filters-close(type="submit")
					+svg('icon-chk')
					spab Apply filter
		.products-inner
			.products-inner__top
				.section-title
					+svg('icon-products')
					p.section-title__secondary Products
				.products-filters__trigger
					button.products-filters__trigger__btn.js-filters-trigger(type="button")
						+svg('icon-filters')
						span Filter
				.products-inner__view
					button.products-inner__view__btn.is-active.js-products-grid-view(type="button")
						+svg('icon-grid-thin')
						span Grid view
					button.products-inner__view__btn.js-products-list-view(type="button")
						+svg('icon-list-thin')
						span List view
			.products-inner__content
				.products-inner__content__side.side-grid
					.products-inner__content__col
						.product-block.js-product(id="product1")
							.product-block__front
								a.product-block__img.h-object-fit(href="javascript:void(0)")
									img(src="s/images/tmp_file/goods/img1.png", alt="img")
								.product-block__info
									a.product-block__title(href="javascript:void(0)") Testosterone En
									span.product-block__subtitle Testosterone enanthate
									.product-block__top
										.product-block__top__box
											+svg('icon-credits-lab')
											span Lab Test
										.product-block__top__box
											+svg('icon-credits-publish')
											span 12 Reviews
								.product-block__footer
									button.product-block__submit.js-flip-product(type="button")
										+svg('icon-cart')
										span.product-block__old-price 47.43
										span.product-block__new-price 42.43 USD
									a.product-block__link(href="javascript:void(0)")
										span.product-block__submit__noty Product is in cart, open cart?
									.product-block__footer__info 
										span Buy 10 unit pack - Save 20%
							.product-block__back
								.product-block__info
									a.product-block__title(href="javascript:void(0)") HGH Liquid
									span.product-block__subtitle Growth hormone NEW formula
								.product-block__discount.product-discount
									.product-detail__discount__line
										label.label-radio-rounded(for="product_discount_type1")
											input(type="hidden", value="5")
											input.label-radio-rounded__input(type="radio", name="product_discount_type", id="product_discount_type1")
											span.label-radio-rounded__item
											span.label-radio-rounded__name Buy 5 units
										span.product-detail__discount__promo Get 10% off
									.product-detail__discount__line
										label.label-radio-rounded(for="product_discount_type2")
											input(type="hidden", value="10")
											input.label-radio-rounded__input(type="radio", name="product_discount_type", id="product_discount_type2")
											span.label-radio-rounded__item
											span.label-radio-rounded__name Buy 10 units
										span.product-detail__discount__promo.product-detail__discount__promo--yellow Get 20% off
									.goods-item__count
										button(type="button").goods-item__count__btn.goods-item__count__decrease
										input.goods-item__count__input.js-num-input(type="text", value='1')
										button(type="button").goods-item__count__btn.goods-item__count__increase
									a.product-block__add-to-cart.js-add-to-cart(href="javascript:void(0)")
										span.product-block__add-to-cart__name Add to cart 
										span.product-block__add-to-cart__added Added to cart 
										span.product-block__add-to-cart__checkmark
									.product-block__discount__price
										span.price-current 42.43
										span.price-discount
										span.price-currency usd
								.product-block__close
									button.btn.btn--md.btn--black.js-flip-back-product(type="button")
										span Close
					.products-inner__content__col
						.product-block.js-product(id="product2")
							.product-block__front
								a.product-block__img.h-object-fit(href="javascript:void(0)")
									img(src="s/images/tmp_file/goods/img2.png", alt="img")
								.product-block__info
									.product-block__top
										.product-block__top__box.product-block__top__box--yellow
											+svg('icon-hot')
											span Best Selling
										.product-block__top__box
											+svg('icon-products')
											span New Arrivals
									a.product-block__title(href="javascript:void(0)") ViagrON 100
									span.product-block__subtitle Sildenafil
								.product-block__footer
									button.product-block__submit.js-flip-product(type="button")
										+svg('icon-cart')
										span.product-block__old-price 47.43
										span.product-block__new-price 42.43 USD
									a.product-block__link(href="javascript:void(0)")
										span.product-block__submit__noty Product is in cart, open cart?
									.product-block__footer__info 
										span Buy 10 unit pack - Save 20%
							.product-block__back
								.product-block__info
									a.product-block__title(href="javascript:void(0)") HGH Liquid
									span.product-block__subtitle Growth hormone NEW formula
								.product-block__discount.product-discount
									.product-detail__discount__line
										label.label-radio-rounded(for="product_discount_type3")
											input(type="hidden", value="5")
											input.label-radio-rounded__input(type="radio", name="product_discount_type1", id="product_discount_type3")
											span.label-radio-rounded__item
											span.label-radio-rounded__name Buy 5 units
										span.product-detail__discount__promo Get 10% off
									.product-detail__discount__line
										label.label-radio-rounded(for="product_discount_type4")
											input(type="hidden", value="10")
											input.label-radio-rounded__input(type="radio", name="product_discount_type1", id="product_discount_type4")
											span.label-radio-rounded__item
											span.label-radio-rounded__name Buy 10 units
										span.product-detail__discount__promo.product-detail__discount__promo--yellow Get 20% off
									.goods-item__count
										button(type="button").goods-item__count__btn.goods-item__count__decrease
										input.goods-item__count__input.js-num-input(type="text", value='1')
										button(type="button").goods-item__count__btn.goods-item__count__increase
									a.product-block__add-to-cart.js-add-to-cart(href="javascript:void(0)")
										span.product-block__add-to-cart__name Add to cart 
										span.product-block__add-to-cart__added Added to cart 
										span.product-block__add-to-cart__checkmark
									.product-block__discount__price
										span.price-current 42.43
										span.price-discount
										span.price-currency usd
								.product-block__close
									button.btn.btn--md.btn--black.js-flip-back-product(type="button")
										span Close
					.products-inner__content__col
						.product-block.js-product(id="product3")
							.product-block__front
								a.product-block__img.h-object-fit(href="javascript:void(0)")
									img(src="s/images/tmp_file/goods/img3.png", alt="img")
								.product-block__info
									.product-block__top
										.product-block__top__box
											+svg('icon-checkmark-bold')
											span Why we
										.product-block__top__box
											+svg('icon-credits-publish')
											span Feedbacks
									a.product-block__title(href="javascript:void(0)") Melanotan 2
									span.product-block__subtitle Tan skin
								.product-block__footer
									button.product-block__submit.js-flip-product(type="button")
										+svg('icon-cart')
										span.product-block__old-price 47.43
										span.product-block__new-price 42.43 USD
									a.product-block__link(href="javascript:void(0)")
										span.product-block__submit__noty Product is in cart, open cart?
									.product-block__footer__info 
										span Buy 10 unit pack - Save 20%
							.product-block__back
								.product-block__info
									a.product-block__title(href="javascript:void(0)") HGH Liquid
									span.product-block__subtitle Growth hormone NEW formula
								.product-block__discount.product-discount
									.product-detail__discount__line
										label.label-radio-rounded(for="product_discount_type5")
											input(type="hidden", value="5")
											input.label-radio-rounded__input(type="radio", name="product_discount_type2", id="product_discount_type5")
											span.label-radio-rounded__item
											span.label-radio-rounded__name Buy 5 units
										span.product-detail__discount__promo Get 10% off
									.product-detail__discount__line
										label.label-radio-rounded(for="product_discount_type6")
											input(type="hidden", value="10")
											input.label-radio-rounded__input(type="radio", name="product_discount_type2", id="product_discount_type6")
											span.label-radio-rounded__item
											span.label-radio-rounded__name Buy 10 units
										span.product-detail__discount__promo.product-detail__discount__promo--yellow Get 20% off
									.goods-item__count
										button(type="button").goods-item__count__btn.goods-item__count__decrease
										input.goods-item__count__input.js-num-input(type="text", value='1')
										button(type="button").goods-item__count__btn.goods-item__count__increase
									a.product-block__add-to-cart.js-add-to-cart(href="javascript:void(0)")
										span.product-block__add-to-cart__name Add to cart 
										span.product-block__add-to-cart__added Added to cart 
										span.product-block__add-to-cart__checkmark
									.product-block__discount__price
										span.price-current 42.43
										span.price-discount
										span.price-currency usd
								.product-block__close
									button.btn.btn--md.btn--black.js-flip-back-product(type="button")
										span Close
					.products-inner__content__col
						.product-block.js-product(id="product4")
							.product-block__front
								a.product-block__img.product-block__img--no-available.h-object-fit(href="javascript:void(0)")
									img(src="s/images/tmp_file/goods/no-available.png", alt="img")
								.product-block__info
									.product-block__top
										.product-block__top__box
											+svg('icon-credits-lab')
											span Lab Test
										.product-block__top__box
											+svg('icon-credits-publish')
											span 12 Reviews
									a.product-block__title(href="javascript:void(0)") Stanozolol Inj
									span.product-block__subtitle Winstrol Injection
								.product-block__footer
									button.product-block__submit.js-flip-product(type="button")
										+svg('icon-cart')
										span.product-block__old-price 47.43
										span.product-block__new-price 42.43 USD
									a.product-block__link(href="javascript:void(0)")
										span.product-block__submit__noty Product is in cart, open cart?
									.product-block__footer__info 
										span Buy 10 unit pack - Save 20%
							.product-block__back
								.product-block__info
									a.product-block__title(href="javascript:void(0)") HGH Liquid
									span.product-block__subtitle Growth hormone NEW formula
								.product-block__discount.product-discount
									.product-detail__discount__line
										label.label-radio-rounded(for="product_discount_type7")
											input(type="hidden", value="5")
											input.label-radio-rounded__input(type="radio", name="product_discount_type3", id="product_discount_type7")
											span.label-radio-rounded__item
											span.label-radio-rounded__name Buy 5 units
										span.product-detail__discount__promo Get 10% off
									.product-detail__discount__line
										label.label-radio-rounded(for="product_discount_type8")
											input(type="hidden", value="10")
											input.label-radio-rounded__input(type="radio", name="product_discount_type3", id="product_discount_type8")
											span.label-radio-rounded__item
											span.label-radio-rounded__name Buy 10 units
										span.product-detail__discount__promo.product-detail__discount__promo--yellow Get 20% off
									.goods-item__count
										button(type="button").goods-item__count__btn.goods-item__count__decrease
										input.goods-item__count__input.js-num-input(type="text", value='1')
										button(type="button").goods-item__count__btn.goods-item__count__increase
									a.product-block__add-to-cart.js-add-to-cart(href="javascript:void(0)")
										span.product-block__add-to-cart__name Add to cart 
										span.product-block__add-to-cart__added Added to cart 
										span.product-block__add-to-cart__checkmark
									.product-block__discount__price
										span.price-current 42.43
										span.price-discount
										span.price-currency usd
								.product-block__close
									button.btn.btn--md.btn--black.js-flip-back-product(type="button")
										span Close
					.products-inner__content__col
						.product-block.js-product(id="product5")
							.product-block__front
								a.product-block__img.h-object-fit(href="javascript:void(0)")
									img(src="s/images/tmp_file/goods/img3.png", alt="img")
								.product-block__info
									.product-block__top
										.product-block__top__box
											+svg('icon-credits-lab')
											span Lab Test
										.product-block__top__box
											+svg('icon-credits-publish')
											span 12 Reviews
									a.product-block__title(href="javascript:void(0)") Melanotan 2
									span.product-block__subtitle Tan skin
								.product-block__footer
									button.product-block__submit.js-flip-product(type="button")
										+svg('icon-cart')
										span.product-block__old-price 47.43
										span.product-block__new-price 42.43 USD
									a.product-block__link(href="javascript:void(0)")
										span.product-block__submit__noty Product is in cart, open cart?
									.product-block__footer__info 
										span Buy 10 unit pack - Save 20%
							.product-block__back
								.product-block__info
									a.product-block__title(href="javascript:void(0)") HGH Liquid
									span.product-block__subtitle Growth hormone NEW formula
								.product-block__discount.product-discount
									.product-detail__discount__line
										label.label-radio-rounded(for="product_discount_type9")
											input(type="hidden", value="5")
											input.label-radio-rounded__input(type="radio", name="product_discount_type4", id="product_discount_type9")
											span.label-radio-rounded__item
											span.label-radio-rounded__name Buy 5 units
										span.product-detail__discount__promo Get 10% off
									.product-detail__discount__line
										label.label-radio-rounded(for="product_discount_type10")
											input(type="hidden", value="10")
											input.label-radio-rounded__input(type="radio", name="product_discount_type4", id="product_discount_type10")
											span.label-radio-rounded__item
											span.label-radio-rounded__name Buy 10 units
										span.product-detail__discount__promo.product-detail__discount__promo--yellow Get 20% off
									.goods-item__count
										button(type="button").goods-item__count__btn.goods-item__count__decrease
										input.goods-item__count__input.js-num-input(type="text", value='1')
										button(type="button").goods-item__count__btn.goods-item__count__increase
									a.product-block__add-to-cart.js-add-to-cart(href="javascript:void(0)")
										span.product-block__add-to-cart__name Add to cart 
										span.product-block__add-to-cart__added Added to cart 
										span.product-block__add-to-cart__checkmark
									.product-block__discount__price
										span.price-current 42.43
										span.price-discount
										span.price-currency usd
								.product-block__close
									button.btn.btn--md.btn--black.js-flip-back-product(type="button")
										span Close
					.products-inner__content__col
						.product-block.product-block--out-of-stock.js-product(id="product6")
							.product-block__front
								a.product-block__img.h-object-fit(href="javascript:void(0)")
									img(src="s/images/tmp_file/goods/img2.png", alt="img")
								.product-block__info
									.product-block__top
										.product-block__top__box
											+svg('icon-credits-lab')
											span Lab Test
										.product-block__top__box
											+svg('icon-credits-publish')
											span 12 Reviews
									a.product-block__title(href="javascript:void(0)") ViagrON 100
									span.product-block__subtitle Sildenafil
								.product-block__footer
									a.product-block__link.js-out-of-stock-noty(href="javascript:void(0)")
										span.product-block__submit__noty Out of stock, notify you?
										span.product-block__submit__noty-receive
											span.product-block__submit__noty-receive__inner 
												+svg('icon-checkmark-bold')
												span All is done, coming soon
									.product-block__footer__info 
										span Buy 10 unit pack - Save 20%
					.products-inner__content__col
						.product-block.product-block--in-cart.js-product(id="product7")
							.product-block__front
								a.product-block__img.h-object-fit(href="javascript:void(0)")
									img(src="s/images/tmp_file/goods/img1.png", alt="img")
								.product-block__info
									.product-block__top
										.product-block__top__box
											+svg('icon-credits-lab')
											span Lab Test
										.product-block__top__box
											+svg('icon-credits-publish')
											span 12 Reviews
									a.product-block__title(href="javascript:void(0)") Testosterone En
									span.product-block__subtitle Testosterone enanthate
								.product-block__footer
									a.product-block__link(href="javascript:void(0)")
										span.product-block__submit__noty Product is in cart, open cart?
									.product-block__footer__info 
										span Buy 10 unit pack - Save 20%
					.products-inner__content__col
						.product-block.js-product(id="product8")
							.product-block__front
								a.product-block__img.h-object-fit(href="javascript:void(0)")
									img(src="s/images/tmp_file/goods/img2.png", alt="img")
								.product-block__info
									.product-block__top
										.product-block__top__box
											+svg('icon-credits-lab')
											span Lab Test
										.product-block__top__box
											+svg('icon-credits-publish')
											span 12 Reviews
									a.product-block__title(href="javascript:void(0)") ViagrON 100
									span.product-block__subtitle Sildenafil
								.product-block__footer
									button.product-block__submit.js-flip-product(type="button")
										+svg('icon-cart')
										span.product-block__old-price 47.43
										span.product-block__new-price 42.43 USD
									a.product-block__link(href="javascript:void(0)")
										span.product-block__submit__noty Product is in cart, open cart?
									.product-block__footer__info 
										span Buy 10 unit pack - Save 20%
							.product-block__back
								.product-block__info
									a.product-block__title(href="javascript:void(0)") HGH Liquid
									span.product-block__subtitle Growth hormone NEW formula
								.product-block__discount.product-discount
									.product-detail__discount__line
										label.label-radio-rounded(for="product_discount_type11")
											input(type="hidden", value="5")
											input.label-radio-rounded__input(type="radio", name="product_discount_type5", id="product_discount_type11")
											span.label-radio-rounded__item
											span.label-radio-rounded__name Buy 5 units
										span.product-detail__discount__promo Get 10% off
									.product-detail__discount__line
										label.label-radio-rounded(for="product_discount_type12")
											input(type="hidden", value="10")
											input.label-radio-rounded__input(type="radio", name="product_discount_type5", id="product_discount_type12")
											span.label-radio-rounded__item
											span.label-radio-rounded__name Buy 10 units
										span.product-detail__discount__promo.product-detail__discount__promo--yellow Get 20% off
									.goods-item__count
										button(type="button").goods-item__count__btn.goods-item__count__decrease
										input.goods-item__count__input.js-num-input(type="text", value='1')
										button(type="button").goods-item__count__btn.goods-item__count__increase
									a.product-block__add-to-cart.js-add-to-cart(href="javascript:void(0)")
										span.product-block__add-to-cart__name Add to cart 
										span.product-block__add-to-cart__added Added to cart 
										span.product-block__add-to-cart__checkmark
									.product-block__discount__price
										span.price-current 42.43
										span.price-discount
										span.price-currency usd
								.product-block__close
									button.btn.btn--md.btn--black.js-flip-back-product(type="button")
										span Close
					.products-inner__content__col
						.product-block.js-product(id="product9")
							.product-block__front
								a.product-block__img.h-object-fit(href="javascript:void(0)")
									img(src="s/images/tmp_file/goods/img3.png", alt="img")
								.product-block__info
									.product-block__top
										.product-block__top__box
											+svg('icon-credits-lab')
											span Lab Test
										.product-block__top__box
											+svg('icon-credits-publish')
											span 12 Reviews
									a.product-block__title(href="javascript:void(0)") Melanotan 2
									span.product-block__subtitle Tan skin
								.product-block__footer
									button.product-block__submit.js-flip-product(type="button")
										+svg('icon-cart')
										span.product-block__old-price 47.43
										span.product-block__new-price 42.43 USD
									a.product-block__link(href="javascript:void(0)")
										span.product-block__submit__noty Product is in cart, open cart?
									.product-block__footer__info 
										span Buy 10 unit pack - Save 20%
							.product-block__back
								.product-block__info
									a.product-block__title(href="javascript:void(0)") HGH Liquid
									span.product-block__subtitle Growth hormone NEW formula
								.product-block__discount.product-discount
									.product-detail__discount__line
										label.label-radio-rounded(for="product_discount_type13")
											input(type="hidden", value="5")
											input.label-radio-rounded__input(type="radio", name="product_discount_type6", id="product_discount_type13")
											span.label-radio-rounded__item
											span.label-radio-rounded__name Buy 5 units
										span.product-detail__discount__promo Get 10% off
									.product-detail__discount__line
										label.label-radio-rounded(for="product_discount_type14")
											input(type="hidden", value="10")
											input.label-radio-rounded__input(type="radio", name="product_discount_type6", id="product_discount_type14")
											span.label-radio-rounded__item
											span.label-radio-rounded__name Buy 10 units
										span.product-detail__discount__promo.product-detail__discount__promo--yellow Get 20% off
									.goods-item__count
										button(type="button").goods-item__count__btn.goods-item__count__decrease
										input.goods-item__count__input.js-num-input(type="text", value='1')
										button(type="button").goods-item__count__btn.goods-item__count__increase
									a.product-block__add-to-cart.js-add-to-cart(href="javascript:void(0)")
										span.product-block__add-to-cart__name Add to cart 
										span.product-block__add-to-cart__added Added to cart 
										span.product-block__add-to-cart__checkmark
									.product-block__discount__price
										span.price-current 42.43
										span.price-discount
										span.price-currency usd
								.product-block__close
									button.btn.btn--md.btn--black.js-flip-back-product(type="button")
										span Close
					.products-inner__content__col
						.product-block.js-product(id="product10")
							.product-block__front
								a.product-block__img.h-object-fit(href="javascript:void(0)")
									img(src="s/images/tmp_file/goods/img4.png", alt="img")
								.product-block__info
									.product-block__top
										.product-block__top__box
											+svg('icon-credits-lab')
											span Lab Test
										.product-block__top__box
											+svg('icon-credits-publish')
											span 12 Reviews
									a.product-block__title(href="javascript:void(0)") Stanozolol Inj
									span.product-block__subtitle Winstrol Injection
								.product-block__footer
									button.product-block__submit.js-flip-product(type="button")
										+svg('icon-cart')
										span.product-block__old-price 47.43
										span.product-block__new-price 42.43 USD
									a.product-block__link(href="javascript:void(0)")
										span.product-block__submit__noty Product is in cart, open cart?
									.product-block__footer__info 
										span Buy 10 unit pack - Save 20%
							.product-block__back
								.product-block__info
									a.product-block__title(href="javascript:void(0)") HGH Liquid
									span.product-block__subtitle Growth hormone NEW formula
								.product-block__discount.product-discount
									.product-detail__discount__line
										label.label-radio-rounded(for="product_discount_type15")
											input(type="hidden", value="5")
											input.label-radio-rounded__input(type="radio", name="product_discount_type7", id="product_discount_type15")
											span.label-radio-rounded__item
											span.label-radio-rounded__name Buy 5 units
										span.product-detail__discount__promo Get 10% off
									.product-detail__discount__line
										label.label-radio-rounded(for="product_discount_type16")
											input(type="hidden", value="10")
											input.label-radio-rounded__input(type="radio", name="product_discount_type7", id="product_discount_type16")
											span.label-radio-rounded__item
											span.label-radio-rounded__name Buy 10 units
										span.product-detail__discount__promo.product-detail__discount__promo--yellow Get 20% off
									.goods-item__count
										button(type="button").goods-item__count__btn.goods-item__count__decrease
										input.goods-item__count__input.js-num-input(type="text", value='1')
										button(type="button").goods-item__count__btn.goods-item__count__increase
									a.product-block__add-to-cart.js-add-to-cart(href="javascript:void(0)")
										span.product-block__add-to-cart__name Add to cart 
										span.product-block__add-to-cart__added Added to cart 
										span.product-block__add-to-cart__checkmark
									.product-block__discount__price
										span.price-current 42.43
										span.price-discount
										span.price-currency usd
								.product-block__close
									button.btn.btn--md.btn--black.js-flip-back-product(type="button")
										span Close
					.products-inner__content__col
						.product-block.js-product(id="product11")
							.product-block__front
								a.product-block__img.h-object-fit(href="javascript:void(0)")
									img(src="s/images/tmp_file/goods/img1.png", alt="img")
								.product-block__info
									.product-block__top
										.product-block__top__box
											+svg('icon-credits-lab')
											span Lab Test
										.product-block__top__box
											+svg('icon-credits-publish')
											span 12 Reviews
									a.product-block__title(href="javascript:void(0)") Testosterone En
									span.product-block__subtitle Testosterone enanthate
								.product-block__footer
									button.product-block__submit.js-flip-product(type="button")
										+svg('icon-cart')
										span.product-block__old-price 47.43
										span.product-block__new-price 42.43 USD
									a.product-block__link(href="javascript:void(0)")
										span.product-block__submit__noty Product is in cart, open cart?
									.product-block__footer__info 
										span Buy 10 unit pack - Save 20%
							.product-block__back
								.product-block__info
									a.product-block__title(href="javascript:void(0)") HGH Liquid
									span.product-block__subtitle Growth hormone NEW formula
								.product-block__discount.product-discount
									.product-detail__discount__line
										label.label-radio-rounded(for="product_discount_type19")
											input(type="hidden", value="5")
											input.label-radio-rounded__input(type="radio", name="product_discount_type9", id="product_discount_type19")
											span.label-radio-rounded__item
											span.label-radio-rounded__name Buy 5 units
										span.product-detail__discount__promo Get 10% off
									.product-detail__discount__line
										label.label-radio-rounded(for="product_discount_type20")
											input(type="hidden", value="10")
											input.label-radio-rounded__input(type="radio", name="product_discount_type9", id="product_discount_type20")
											span.label-radio-rounded__item
											span.label-radio-rounded__name Buy 10 units
										span.product-detail__discount__promo.product-detail__discount__promo--yellow Get 20% off
									.goods-item__count
										button(type="button").goods-item__count__btn.goods-item__count__decrease
										input.goods-item__count__input.js-num-input(type="text", value='1')
										button(type="button").goods-item__count__btn.goods-item__count__increase
									a.product-block__add-to-cart.js-add-to-cart(href="javascript:void(0)")
										span.product-block__add-to-cart__name Add to cart 
										span.product-block__add-to-cart__added Added to cart 
										span.product-block__add-to-cart__checkmark
									.product-block__discount__price
										span.price-current 42.43
										span.price-discount
										span.price-currency usd
								.product-block__close
									button.btn.btn--md.btn--black.js-flip-back-product(type="button")
										span Close
					.products-inner__content__col
						.product-block.js-product(id="product12")
							.product-block__front
								a.product-block__img.h-object-fit(href="javascript:void(0)")
									img(src="s/images/tmp_file/goods/img2.png", alt="img")
								.product-block__info
									.product-block__top
										.product-block__top__box
											+svg('icon-credits-lab')
											span Lab Test
										.product-block__top__box
											+svg('icon-credits-publish')
											span 12 Reviews
									a.product-block__title(href="javascript:void(0)") ViagrON 100
									span.product-block__subtitle Sildenafil
								.product-block__footer
									button.product-block__submit.js-flip-product(type="button")
										+svg('icon-cart')
										span.product-block__old-price 47.43
										span.product-block__new-price 42.43 USD
									a.product-block__link(href="javascript:void(0)")
										span.product-block__submit__noty Product is in cart, open cart?
									.product-block__footer__info 
										span Buy 10 unit pack - Save 20%
							.product-block__back
								.product-block__info
									a.product-block__title(href="javascript:void(0)") HGH Liquid
									span.product-block__subtitle Growth hormone NEW formula
								.product-block__discount.product-discount
									.product-detail__discount__line
										label.label-radio-rounded(for="product_discount_type21")
											input(type="hidden", value="5")
											input.label-radio-rounded__input(type="radio", name="product_discount_type10", id="product_discount_type21")
											span.label-radio-rounded__item
											span.label-radio-rounded__name Buy 5 units
										span.product-detail__discount__promo Get 10% off
									.product-detail__discount__line
										label.label-radio-rounded(for="product_discount_type22")
											input(type="hidden", value="10")
											input.label-radio-rounded__input(type="radio", name="product_discount_type10", id="product_discount_type22")
											span.label-radio-rounded__item
											span.label-radio-rounded__name Buy 10 units
										span.product-detail__discount__promo.product-detail__discount__promo--yellow Get 20% off
									.goods-item__count
										button(type="button").goods-item__count__btn.goods-item__count__decrease
										input.goods-item__count__input.js-num-input(type="text", value='1')
										button(type="button").goods-item__count__btn.goods-item__count__increase
									a.product-block__add-to-cart.js-add-to-cart(href="javascript:void(0)")
										span.product-block__add-to-cart__name Add to cart 
										span.product-block__add-to-cart__added Added to cart 
										span.product-block__add-to-cart__checkmark
									.product-block__discount__price
										span.price-current 42.43
										span.price-discount
										span.price-currency usd
								.product-block__close
									button.btn.btn--md.btn--black.js-flip-back-product(type="button")
										span Close					
					+loader()
				.products-inner__content__side.side-list
					form.my-cart-form(action="javascript:void(0)")
						.my-cart-table.product-list-table
							.my-cart-table-head
								.my-cart-table__product-info
									.my-cart-table__product
										span.my-cart-table__title Product
								.my-cart-table__side
									.my-cart-table__quantity
										span.my-cart-table__title Q-ty
									.my-cart-table__multiple
										span.my-cart-table__title #[+svg('icon-close')]
									.my-cart-table__price
										span.my-cart-table__title Amount
									.my-cart-table__total
										span.my-cart-table__title Total
							+table-row({value: '0', class: 'product-indicator--sky', prodId: 'product13'})
							+table-row({value: '0', class: 'product-indicator--violet', prodId: 'product14'})
							+table-row({value: '0', class: 'product-indicator--orange', prodId: 'product15'})
							+table-row({value: '0', class: 'product-indicator--salat', prodId: 'product16'})
							+table-row({value: '0', class: 'product-indicator--portage', prodId: 'product17'})
							+table-row({value: '0', class: 'product-indicator--green', prodId: 'product18'})
							+table-row({value: '0', class: 'product-indicator--purple', prodId: 'product19'})
							+table-row({value: '0', class: 'product-indicator--sky', prodId: 'product20'})
							+table-row({value: '0', class: 'product-indicator--violet', prodId: 'product21'})
							+table-row({value: '0', class: 'product-indicator--orange', prodId: 'product22'})
							+table-row({value: '0', class: 'product-indicator--salat', prodId: 'product23'})
							+table-row({value: '0', class: 'product-indicator--portage', prodId: 'product24'})
							+table-row({value: '0', class: 'product-indicator--green', prodId: 'product25'})
							+table-row({value: '0', class: 'product-indicator--purple', prodId: 'product26'})
							.my-cart-table-row.row--total
								.my-cart-table__price
									span.my-cart-table__price__title Subtotal:
								.my-cart-table__total
									span.my-cart-table__total__subtotal
									span.my-cart-table__total__currency USD

mixin table-row(data)
	.my-cart-table-row.row--products.js-product(id='' + data.prodId ? data.prodId : null)
		.my-cart-table__product-info
			.my-cart-table__product
				.my-cart-table__product__text
					.my-cart-table__product__text__secondary
						span Hilma Biocare / Warehouse EU01
					.my-cart-table__product__text__main
						.product-indicator(class='' + data.class ? data.class : null)
						span.my-cart-table__product__name Mesterolon (25 mg/tab, 50 tabs)
		.my-cart-table__side
			.my-cart-table__quantity
				.goods-item__count
					button(type="button").goods-item__count__btn.goods-item__count__decrease
					input.goods-item__count__input.js-num-input(type="text", value='' + data.value ? data.value : null)
					button(type="button").goods-item__count__btn.goods-item__count__increase
			.my-cart-table__multiple
				+svg('icon-close')
			.my-cart-table__price
				span.my-cart-table__price__value 42.43
				span.my-cart-table__price__currency USD
			.my-cart-table__total
				span.my-cart-table__total__value 
				span.my-cart-table__total__currency USD
				span.my-cart-table__total__empty —
				span.my-cart-table__total__promo You get #[span.my-cart-table__total__promo__val] off