.products {
    &-wrapper {
        width: 100%;
        max-width: 160rem;
        margin: 0 auto;
        display: flex;
        @media (max-width: $sw-md-max) {
            max-width: 120rem;
        }
        @media (max-width: $sw-sm-max) {
            max-width: 100%;
        }
    }
    &-aside {
        width: 34rem;
        border-right: 1px solid #2F3548;
        @media (max-width: $sw-md-max) {
            width: 27rem;
        }
        @media (max-width: $sw-sm-max) {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: auto;
            z-index: 60;
            padding: 1rem;
            background-color: $dark;
            transition: transform cubic-bezier(.77,0,.175,1) 0.5s, opacity cubic-bezier(.77,0,.175,1) 0.5s, visibility cubic-bezier(.77,0,.175,1) 0.5s;
            transform: scale(0.95);
            opacity: 0;
            visibility: hidden;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &.is-opened {
            @media (max-width: $sw-sm-max) {
                visibility: visible;
                transform: scale(1);
                opacity: 1;
                transition: transform cubic-bezier(.77,0,.175,1) 0.5s, opacity cubic-bezier(.77,0,.175,1) 0.5s;
            }
        }
        &__top {
            display: none;
            @media (max-width: $sw-sm-max) {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                max-width: 70rem;
                margin: 0 auto 1rem auto;
                height: 4rem;
                flex-shrink: 0;
            }
            &__title {
                color: $yellow;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                font-weight: 600;
                font-size: 1.4rem;
                line-height: 1.2em;
                margin-right: 1.5rem;
                .icon-filters {
                    font-size: 2rem;
                    margin-right: 1rem;
                }
            }
            &__close {
                font-weight: 600;
                font-size: 1.8rem;
                line-height: 1em;
                display: flex;
                align-items: center;
                text-transform: capitalize;
                color: $light-blue;
                cursor: pointer;
                transition: color .3s ease;
                @media (max-width: $sw-xx-max) {
                    font-size: 1.6rem;
                }
                &:hover {
                    @media (min-width: $sw-xs-min) {
                        color: darken($light-blue, 7%);
                    }
                }
                .icon-close {
                    margin-right: 1.3rem;
                    font-size: 1.2rem;
                }
            }
        }
        &__footer {
            display: none;
            @media (max-width: $sw-sm-max) {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                max-width: 70rem;
                margin: 1rem auto 0 auto;
                height: 4rem;
                flex-shrink: 0;
            }
            &__submit {
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                color: $yellow;
                text-transform: capitalize;
                font-weight: 600;
                font-size: 1.8rem;
                line-height: 1.6em;
                .icon-chk {
                    font-size: 1.4rem;
                    margin-right: 1.3rem;
                }
            }
        }
    }
    &-filters {
        padding: 5rem 4rem 0 10rem;
        @media (max-width: $sw-md-max) {
            padding: 5rem 3rem 0 3rem;
        }
        @media (max-width: $sw-sm-max) {
            padding: 2rem 2rem 0 2rem;
            width: 100%;
            max-width: 70rem;
            margin: 0 auto;
            background-color: #21273B;
            border-radius: 1.6rem;
            overflow: hidden;
            overflow-y: auto;
            flex-grow: 1;
        }
        &__trigger {
            display: none;
            align-items: center;
            justify-content: center;
            margin-left: auto;
            margin-right: 2rem;
            @media (max-width: $sw-sm-max) {
                display: flex;
            }
            @media (max-width: $sw-xx-max) {
                justify-content: center;
                margin-right: 0;
                margin-bottom: 2rem;
            }
            &__btn {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                color: $yellow;
                font-weight: 600;
                font-size: 1.4rem;
                line-height: 1em;
                margin-right: 1.5rem;
                .icon-filters {
                    font-size: 2rem;
                    margin-right: 1rem;
                }
            }
        }
        &__box {
            @media (max-width: $sw-sm-max) {
                padding-bottom: 3rem;
            }
            &:not(:last-child) {
                @media (max-width: $sw-sm-max) {
                    margin-bottom: 3rem;
                    border-bottom: 2px solid rgba(223, 225, 238, 0.3);
                }
            }
            & + .products-filters__box {
                padding-top: 4rem;
                margin-top: 4rem;
                border-top: 2px solid rgba(223, 225, 238, 0.3);
                @media (max-width: $sw-sm-max) {
                    padding-top: 0;
                    margin-top: 0;
                    border-top: none;
                }
            }
            &.is-marked {
                .products-filters__box__mark-all {
                    display: none;
                }
                .products-filters__box__reset {
                    display: block;
                }
            }
            &__top {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 2rem;
            }
            &__title {
                font-weight: 600;
                font-size: 1.8rem;
                line-height: 1.65em;
                text-transform: capitalize;
                color: $light-blue;
                margin-right: 1rem;
            }
            &__input {
                width: 3rem;
                height: 3rem;
                border: 1px solid rgba(223, 225, 238, 0.3);
                border-radius: 4px;
                background-color: $dark;
                position: relative;
                margin-right: 1.3rem;
                @media (max-width: $sw-md-max) {
                    width: 2.8rem;
                    height: 2.8rem;
                }
                .icon-chk {
                    color: $yellow;
                    font-size: 1.1rem;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    opacity: 0;
                    visibility: hidden;
                    transition: opacity .3s ease, visibility .3s ease;
                }
            }
            &__row {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                cursor: pointer;
                margin: 0;
                & + .products-filters__box__row {
                    margin: 2rem 0 0 0;
                }
                .product-indicator {
                    margin-top: 7px;
                    @media (max-width: $sw-md-max) {
                        margin-right: 1rem;
                    }
                }
                input {
                    width: 0;
                    height: 0;
                    position: absolute;
                    left: -9999em;
                    top: -9999em;
                    opacity: 0;
                    visibility: hidden;
                    &:checked {
                        & + .products-filters__box__input {
                            .icon-chk {
                                opacity: 1;
                                visibility: visible;
                            }
                        }
                    }
                }
            }
            &__name {
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                font-size: 1.6rem;
                line-height: 1.65em;
                color: $light-blue;
                text-transform: capitalize;
            }
            &__reset, 
            &__mark-all {
                text-transform: uppercase;
                font-size: 1.2rem;
                line-height: 2.5em;
                color: rgba(223, 225, 238, 0.3);
                transition: color .3s ease;
                &:hover {
                    @media (min-width: $sw-xs-min) {
                        color: rgba(223, 225, 238, 1);
                    }
                }
            }
            &__reset {
                display: none;
            }
            &__mark-all {
                display: block;
            }
        }
    }
    &-inner {
        padding: 4rem 10rem 0 12rem;
        width: calc(100% - 34rem);
        position: relative;
        @media (max-width: $sw-md-max) {
            padding: 4rem 1.7rem 0 4rem;
            width: calc(100% - 27rem);
        }
        @media (max-width: $sw-sm-max) {
            padding: 3rem 4rem 0 4rem;
            width: 100%;
        }
        @media (max-width: $sw-xx-max) {
            padding: 2rem 1rem 0 1rem;
        }
        &--list {
            .acc-checkout-form__footer {
                display: block !important;
            }
        }
        .acc-checkout-form__footer {
            display: none;
        }
        &:after {
            content: '';
            display: block;
            width: calc(100% + (100vw - 162rem) / 2);
            height: 30rem;
            position: absolute;
            top: 0;
            left: 0;
            background: linear-gradient(180deg, #21273B 0%, rgba(33, 39, 59, 0) 100%);
            @media (max-width: $sw-md-max) {
                width: calc(100% + (100vw - 120rem) / 2);
            }
            @media (max-width: $sw-sm-max) {
                display: none;
            }
        }
        &__top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            position: relative;
            z-index: 1;
            margin-bottom: 4rem;
            @media (max-width: $sw-sm-max) {
                margin-bottom: 3rem;
            }
            @media (max-width: $sw-xx-max) {
                flex-wrap: wrap;
            }
            .products-inner--list & {
                margin-bottom: 1.9rem;
            }
            .section-title {
                @media (max-width: $sw-xx-max) {
                    margin-bottom: 2rem;
                }
                &__secondary {
                    @media (max-width: $sw-xx-max) {
                        font-size: 1.8rem;
                    }
                }
            }
        }
        &__view {
            display: flex;
            @media (max-width: $sw-xx-max) {
                width: 100%;
                justify-content: center;
            }
            &__btn {
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                border: 1px solid  $yellow;
                width: 16rem;
                height: 5rem;
                background-color: #21273B;
                color: $light-blue;
                transition: color .3s ease;
                font-weight: 600;
                font-size: 1.4rem;
                line-height: 1.2em;
                text-transform: capitalize;
                @media (max-width: $sw-md-max) {
                    width: 14rem;
                }
                &.is-active {
                    color: $yellow;
                }
                &:first-child {
                    border-radius: 1.6rem 0 0 1.6rem;
                }
                &:last-child {
                    border-radius: 0 1.6rem 1.6rem 0;
                    border-left: none;
                }
                .icon {
                    margin-right: 1rem;
                    &-list-thin {
                        font-size: 1.2rem;
                    }
                    &-grid-thin {
                        font-size: 1.8rem;
                    }
                }
            }
        }
        &__content {
            &__side {
                display: flex;
                flex-wrap: wrap;
                position: relative;
                z-index: 1;
                @media (max-width: $sw-sm-max) {
                    justify-content: center;
                }
                &.side-grid {
                    margin: 0 -2rem;
                    @media (max-width: $sw-md-max) {
                        margin: 0 -1.5rem;
                    }
                    @media (max-width: $sw-sm-max) {
                        margin: 0 -1rem;
                    }
                    @media (max-width: $sw-xx-max) {
                        margin: 0;
                    }
                    .products-inner--list & {
                        display: none;
                    }
                }
                &.side-list {
                    display: none;
                    .products-inner--list & {
                        display: flex;
                    }
                }
                .my-cart-table-head {
                    border-bottom: 2px solid rgba(223, 225, 238, 0.1);
                    .my-cart-table__product-info {
                        padding-left: 2.6rem;
                    }

                }
                .my-cart-table-row {
                    min-height: 7rem;
                    &.is-filled {
                        .my-cart-table__total {
                            background-color: rgba(47, 53, 72, 0.3);
                            &:after {
                                opacity: 1;
                            }
                            &.is-promo-active {
                                .my-cart-table__total__promo {
                                    display: flex;
                                }
                            }
                            .my-cart-table__total {
                                &__currency, &__value {
                                    display: block;
                                }
                                &__empty {
                                    display: none;
                                }
                                &__promo {
                                    display: none;
                                    &__val {
                                        margin: 0 5px;
                                    }
                                }
                            }
                        }
                        .my-cart-table__remove {
                            display: flex;
                        }
                    }
                    .my-cart-table__product {
                        padding: 1rem 1.5rem 1rem 1rem;
                        @media (max-width: $sw-xx-max) {
                            padding: 1rem 0;
                        }
                        &-info {
                            padding-left: 1.7rem;
                            @media (max-width: $sw-xs-max) {
                                padding-left: 0;
                            }
                        }
                    }
                }
                .my-cart-table__remove {
                    display: none;
                }
                .my-cart-table__total {
                    background-color: transparent;
                    &:after {
                        opacity: 0;
                    }
                    &__currency, &__value, &__promo {
                        display: none;
                    }
                    &__empty{
                        color: $white;
                    }
                }
                .row--total {
                    .my-cart-table__total__currency {
                        display: block !important;
                    }
                }
            }
            &__col {
                width: calc(100% / 3);
                margin-bottom: 5rem;
                padding: 0 2rem;
                @media (max-width: $sw-md-max) {
                    padding: 0 1.5rem;
                    margin-bottom: 4rem;
                }
                @media (max-width: $sw-sm-max) {
                    padding: 0 1rem;
                    margin-bottom: 3rem;
                    width: 34rem;
                }
                @media (max-width: $sw-xx-max) {
                    width: 100%;
                    padding: 0;
                    display: flex;
                    justify-content: center;

                }
                .product-block {
                    margin: 0 auto;
                    height: 58rem;
                    @media (max-width: $sw-md-max) {
                        width: 100%;
                        height: 52.4rem;
                    }
                    @media (max-width: $sw-sm-max) {
                        height: 56.1rem;
                    }
                    @media (max-width: $sw-xs-max) {
                        max-width: none;
                    }
                    @media (max-width: $sw-xx-max) {
                        height: 49.1rem;
                        width: 27rem;
                    }
                    &__img {
                        @media (max-width: $sw-md-max) {
                            height: 29.8rem;
                        }
                        @media (max-width: $sw-sm-max) {
                            height: 34rem;
                        }
                        @media (max-width: $sw-xx-max) {
                            height: 28rem;
                        }
                    }
                    &__discount {
                        @media (max-width: $sw-md-max) {
                            margin-top: 1.2rem;
                            min-height: 31.6rem;
                            padding: 2rem;
                        }
                        @media (max-width: $sw-sm-max) {
                            min-height: 37.3rem;
                            padding: 4rem 2rem 2rem 2rem;
                        }
                        @media (max-width: $sw-xx-max) {
                            padding: 2rem;
                            min-height: auto;
                        }
                        .label-radio-rounded {
                            @media (max-width: $sw-md-max) {
                                min-width: 11.1rem;
                            }
                            &__item {
                                @media (max-width: $sw-md-max) {
                                    width: 2.4rem;
                                    height: 2.4rem;
                                    margin-right: 8px;
                                }
                                &:after {
                                    @media (max-width: $sw-md-max) {
                                        width: 8px;
                                        height: 8px;
                                    }
                                }
                            }
                            &__name {
                                @media (max-width: $sw-md-max) {
                                    font-size: 1.4rem;
                                }
                                @media (max-width: $sw-sm-max) {
                                    font-size: 1.5rem;
                                }
                            }
                        }
                        .product-detail__discount {
                            &__line {
                                & + .product-detail__discount__line {
                                    @media (max-width: $sw-md-max) {
                                        margin-top: 8px;
                                    }
                                    @media (max-width: $sw-sm-max) {
                                        margin-top: 1rem;
                                    }
                                }
                            }
                            &__promo {
                                @media (max-width: $sw-md-max) {
                                    padding: 4px 9px;
                                    font-size: 1.2rem;
                                }
                            }
                        }
                        .goods-item__count {
                            @media (max-width: $sw-md-max) {
                                margin: auto 0 2rem 0;
                            }
                            @media (max-width: $sw-sm-max) {
                                margin: auto 0 2rem 0;
                            }
                            @media (max-width: $sw-xx-max) {
                                margin: 1.8rem 0;
                            }
                        }
                    }
                    &__submit {
                        &__noty {
                            @media (max-width: $sw-md-max) {
                                font-size: 1.6rem;
                            }
                        }
                    }
                    &__footer {
                        &__info {
                            @media (max-width: $sw-md-max) {
                                font-size: 1.5rem;
                            }
                        }
                    }
                    &__close {
                        @media (max-width: $sw-md-max) {
                            padding: 3.8rem 2rem 3.2rem 2rem;
                        }
                        @media (max-width: $sw-sm-max) {
                            padding: 2.8rem 2rem 2.2rem 2rem;
                        }
                        @media (max-width: $sw-xx-max) {
                            padding: 2.5rem 2rem;
                        }
                    }
                    &__top__box {
                        @media (max-width: $sw-md-max) {
                            font-size: 1.3rem;
                        }
                        .icon {
                            @media (max-width: $sw-md-max) {
                                font-size: 1.8rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

.product-list-table {
    .my-cart-table__side {
        width: auto;
        @media (max-width: $sw-xx-max) {
            width: 100%;
        }
    }
}