.loader {
    &-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5rem 0;
        .goods-section & {
            margin-top: 15.4rem;
            @media (max-width: $sw-sm-max) {
                margin-top: 6.5rem;
            }
        }
    }
    &-box {
        border-radius: 4px;
        background-color: $yellow;
        transform: none;
        width: 1.2rem;
        height: 1.2rem;
        margin: 0 2.2rem;
        animation: wave 1s ease-in-out infinite;
        @media (max-width: $sw-sm-max) {
            width: 8px;
            height: 8px;
            border-radius: 3px;
            margin: 0 1.4rem;
        }
        @media (max-width: $sw-xs-max) {
            width: 1rem;
            height: 1rem;
            margin: 0 1.6rem;
        }
        @media (max-width: $sw-xx-max) {
            border-radius: 2px;
            width: 6px;
            height: 6px;
            margin: 0 1.4rem;
        }
        @for $i from 1 through 5 {
            &:nth-child(#{$i}) {
                animation-delay: $i * 0.1s;
            }
        }
    }
}

@keyframes wave {
    0%, 100% {
      transform: scale(1);
    }
    
    50% {
        transform: scale(2.5);
    }
}