mixin acc-cart-detail(data)
	.acc-cart__detail
		.acc-cart__detail__icon
			+svg('icon-attention')
		p.acc-cart__detail__text Your order will be shipped from different warehouses, shipping will be more expensive.
	form.my-cart-form(action="javascript:void(0)")
		.my-cart-table
			.my-cart-table-head
				.my-cart-table__product-info
					.my-cart-table__product
						span.my-cart-table__title Product
				.my-cart-table__side
					.my-cart-table__quantity
						span.my-cart-table__title Q-ty
					.my-cart-table__multiple
						span.my-cart-table__title #[+svg('icon-close')]
					.my-cart-table__price
						span.my-cart-table__title Amount
					.my-cart-table__total
						span.my-cart-table__title Total
			+table-row({value: '1', class: 'product-indicator--sky'})
			+table-row({value: '2', class: 'product-indicator--violet'})
			+table-row({value: '1', class: 'product-indicator--orange'})
			+table-row({value: '2', class: 'product-indicator--salat'})
			+table-row({value: '1', class: 'product-indicator--portage'})
			+table-row({value: '2', class: 'product-indicator--green'})
			+table-row({value: '1', class: 'product-indicator--purple'})
			+table-row({value: '1', class: 'product-indicator--sky'})
			+table-row({value: '2', class: 'product-indicator--violet'})
			+table-row({value: '1', class: 'product-indicator--orange'})
			+table-row({value: '2', class: 'product-indicator--salat'})
			+table-row({value: '1', class: 'product-indicator--portage'})
			+table-row({value: '2', class: 'product-indicator--green'})
			+table-row({value: '1', class: 'product-indicator--purple'})
			.my-cart-table-row.row--total
				.my-cart-table__price
					span.my-cart-table__price__title Subtotal:
				.my-cart-table__total
					span.my-cart-table__total__subtotal
					span.my-cart-table__total__currency USD

mixin table-row(data)
	.my-cart-table-row.row--products
		.my-cart-table__product-info
			.my-cart-table__product
				.my-cart-table__product__img
					img(src="s/images/useful/products/product-img.jpg", alt="product")
				.my-cart-table__product__text
					.my-cart-table__product__text__main
						.product-indicator(class='' + data.class ? data.class : null)
						span.my-cart-table__product__name Mesterolon
					.my-cart-table__product__text__secondary
						span Warehouse EU01
		.my-cart-table__side
			.my-cart-table__quantity
				.goods-item__count
					button(type="button").goods-item__count__btn.goods-item__count__decrease
					input.goods-item__count__input.js-num-input(type="text", value='' + data.value ? data.value : null)
					button(type="button").goods-item__count__btn.goods-item__count__increase
			.my-cart-table__multiple
				+svg('icon-close')
			.my-cart-table__price
				span.my-cart-table__price__value 42.43
				span.my-cart-table__price__currency USD
			.my-cart-table__total
				span.my-cart-table__total__value 
				span.my-cart-table__total__currency USD
			.my-cart-table__remove
				button.my-cart-table__remove__btn.js-product-remove(type="button") 
					span.my-cart-table__remove__btn__text Delete
					+svg('icon-remove-sm')