.acc-cart {
    width: 100%;
    padding: 5rem 10.3rem 1rem 11.7rem;
    position: relative;
    z-index: 1;
    margin-bottom: auto;
    @media (max-width: $sw-md-max) {
        padding: 5rem 5rem 1rem 5rem;
    }
    @media (max-width: $sw-sm-max) {
        padding: 4rem 4rem 3rem 4rem;
        width: 100%;
    }
    @media (max-width: $sw-xx-max) {
        padding: 3rem 1rem;
    }
    &__top {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 5rem;
        @media (max-width: $sw-sm-max) {
            margin-bottom: 3rem;
        }
        @media (max-width: $sw-xx-max) {
            margin-bottom: 2rem;
        }
        .section-title {
            margin-bottom: 0;
            margin-right: 3rem;
            width: auto;
        }
    }
    &__footer {
        position: sticky;
        bottom: 0;
        width: 100%;
        z-index: 11;
        &__inner {
            background-color: #21273B;
            border-top: 1px solid #2F3548;
            border-right: 1px solid #2F3548;
            border-bottom: 1px solid #2F3548;
            width: 100%;
            padding: 4rem 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            @media (max-width: $sw-md-max) {
                padding: 3rem 1.5rem;
            }
            @media (max-width: $sw-sm-max) {
                padding: 2rem 1rem;
            }
            @media (max-width: $sw-xx-max) {
                padding: 1.5rem 1rem;
            }
        }
        .btn {
            height: 6rem;
            font-size: 1.8rem;
            @media (max-width: $sw-md-max) {
                font-size: 1.6rem;
            }
            @media (max-width: $sw-sm-max) {
                font-size: 1.4rem;
                height: 5rem;
                padding: 0 1rem;
            }
            &--black {
                min-width: 22rem;
                @media (max-width: $sw-md-max) {
                    min-width: 20rem;
                }
                @media (max-width: $sw-sm-max) {
                    min-width: 17rem;
                }
                @media (max-width: $sw-xx-max) {
                    min-width: auto;
                }
            }
            &--yellow {
                min-width: 26rem;
                @media (max-width: $sw-md-max) {
                    min-width: 20rem;
                }
                @media (max-width: $sw-xx-max) {
                    min-width: auto;
                }
            }
            & + .btn {
                margin-left: 3rem;
                @media (max-width: $sw-sm-max) {
                    margin-left: 2rem;
                }
                @media (max-width: $sw-sm-max) {
                    min-width: 17rem;
                    margin-left: 1rem;
                }
            }
        }
    }
    &__detail {
        padding: 1.9rem 2.5rem;
        background: #21273B;
        border: 1px solid $yellow;
        border-radius: 1.6rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 3rem;
        &__icon {
            flex-shrink: 0;
            margin-right: 2.5rem;
            .icon-attention {
                color: $yellow;
                font-size: 2rem;
            }
        }
        &__text {
            font-weight: 600;
            font-size: 1.6rem;
            line-height: 1.25em;
            color: $light-blue;
            margin-bottom: 0;
        }
    }
}