mixin rate-static(data)
	.rate-line.rate-line--static(data-rate= data.rate)
		.rate-line__item
			+svg('icon-star')
		.rate-line__item
			+svg('icon-star')
		.rate-line__item
			+svg('icon-star')
		.rate-line__item
			+svg('icon-star')
		.rate-line__item
			+svg('icon-star')

mixin rate-clickable(data)
	.rate-line.rate-line--clickable
		each item in data.items
			input.rate-line__input(type="radio", name!= item.name, id!= item.id, checked= item.checked ? item.checked : null)
			label.rate-line__label(for!= item.id)
				+svg('icon-star')