.rate-line {
    width: 14.2rem;
    display: flex;
    &--clickable {
        flex-direction: row-reverse;
        .rate-line__label {
            cursor: pointer;
        }
    }
    &--static {
        &[data-rate="1"] {
            .rate-line__item {
                &:first-child {
                    .icon-star {
                        color: $yellow;
                        fill: $yellow;
                    }
                }
            }
        }
        &[data-rate="2"] {
            .rate-line__item {
                &:first-child, &:nth-child(2) {
                    .icon-star {
                        color: $yellow;
                        fill: $yellow;
                    }
                }
            }
        }
        &[data-rate="3"] {
            .rate-line__item {
                &:first-child, &:nth-child(2), &:nth-child(3) {
                    .icon-star {
                        color: $yellow;
                        fill: $yellow;
                    }
                }
            }
        }
        &[data-rate="4"] {
            .rate-line__item {
                &:first-child, &:nth-child(2), &:nth-child(3), &:nth-child(4) {
                    .icon-star {
                        color: $yellow;
                        fill: $yellow;
                    }
                }
            }
        }
        &[data-rate="5"] {
            .rate-line__item {
                .icon-star {
                    color: $yellow;
                    fill: $yellow;
                }
            }
        }
    }
    &__input {
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;
        visibility: hidden;
        left: -9999em;
        top: -9999em;
        &:checked ~ .rate-line__label .icon-star, &:hover ~ .rate-line__label .icon-star {
            color: $yellow;
            fill: $yellow;
		} 
    }
    &__label, &__item {
        display: flex;
        margin: 0;
        .icon-star {
            font-size: 1.6rem;
            color: #2F3548;
            fill: none;
            stroke-width: 4;
            flex-shrink: 0;
            transition: all .1s ease;
            @media (max-width: $sw-xs-max) {
                font-size: 1.3rem;
            }
            @media (max-width: $sw-xx-max) {
                font-size: 1rem;
            }
        }
    }
    &__label {    
        &:not(:first-child) {
            padding: 0 0 0 1.3rem;
        }
    }
    &__item {
        &:not(:last-child) {
            margin: 0 1.3rem 0 0;
            @media (max-width: $sw-xx-max) {
                margin: 0 9px 0 0;
            }
        }
    }
}

.review-person {
    display: flex;
    align-items: center;
    &--lg {
        .review-person__icon {
            width: 6.4rem;
            height: 6.4rem; 
            margin-right: 1.9rem;
            font-size: 2.4rem;
            border-radius: 2.4rem;
            @media (max-width: $sw-xx-max) {
                width: 6.4rem;
                height: 6.4rem; 
            }
        }
        .review-person__name {
            font-size: 1.6rem;
            color: $yellow;
        }
    }
    &__icon {
        width: 5.6rem;
        height: 5.6rem;
        margin-right: 1.8rem;
        font-size: 2rem;
        border-radius: 2.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1;
        text-transform: uppercase;
        color: $light-blue;
        font-weight: 600;
        overflow: hidden;
        @media (max-width: $sw-xs-max) {
            margin-right: 1.5rem;
        }
        @media (max-width: $sw-xx-max) {
            width: 4rem;
            height: 4rem;
            margin-right: 1.3rem;
            border-radius: 1.4rem;
            font-size: 1.4rem;
        }
    }
    &__name {
        font-size: 1.4rem;
        line-height: 1;
        color: $light-blue;
        font-weight: 700;
        margin-right: 2.4rem;
        @media (max-width: $sw-xx-max) {
            font-size: 1.2rem;
        }
    }
    &__time {
        font-size: 1.6rem;
        line-height: 1.875em;
        color: $light-blue;
        @media (max-width: $sw-xx-max) {
            font-size: 1.2rem;
        }
    }
    &__info {
        display: flex;
        align-items: center;
        @media (max-width: $sw-xx-max) {
            flex-wrap: wrap;
        }
    }
}