.acc-coins {
    padding: 5rem 10rem 5rem 12rem;
    width: 100%;
    position: relative;
    z-index: 1;
    @media (max-width: $sw-md-max) {
        padding: 4.4rem 4.6rem 1rem 4.6rem;
    }
    @media (max-width: $sw-sm-max) {
        padding: 4rem 4rem 1rem 4rem;
        width: 100%;
    }
    @media (max-width: $sw-xx-max) {
        padding: 3.5rem 1rem 1rem 1rem;
    }
    .history-store {
        margin-top: 8rem;
        @media (max-width: $sw-xx-max) {
            margin-top: 5.7rem;
        }
    }
    &__notice {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        &__icon {
            flex-shrink: 0;
            margin: 5px 1rem 0 0;
            .icon-attention {
                font-size: 2rem;
                color: $light-blue;
            }
        }
        &__text {
            font-size: 1.4rem;
            line-height: 2.15em;
            color: $light-blue;
            margin-bottom: 0;
            b {
                font-weight: 600;
                margin-right: 2px;
                text-transform: uppercase;
            }
        }
    }
    &__top {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        &__count {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            font-weight: 300;
            font-size: 1.6rem;
            line-height: 1.875em;
            color: $light-blue;
            .icon-coins {
                font-size: 2rem;
                margin-right: 1rem;
            }
        }
        .acc-coins__verify__text {
            display: none;
            @media (max-width: $sw-xx-max) {
                display: block;
                width: 100%;
                line-height: 1.75em;
                margin-top: 1rem;
                max-width: none;
            }
        }
    }
    .section-title {
        margin-bottom: 0;
        margin-right: 3rem;
        width: auto;
        @media (max-width: $sw-xx-max) {
            margin-right: 1.5rem;
        }
        &__secondary {
            @media (max-width: $sw-xx-max) {
                font-size: 1.8rem;
            }
        }
    }

    &__empty {
        margin-top: 7.9rem;
        width: 100%;
        padding: 0 4rem 0 5.1rem;
        border: 1px solid rgba(223, 225, 238, 0.3);
        border-radius: 2rem;
        background-color: transparent;
        background-image: url('../../s/images/useful/texture.png');
        background-repeat: repeat;
        background-size: cover;
        background-position: 0 0;
        display: flex;
        justify-content: space-between;
        @media (max-width: $sw-xs-max) {
        padding: 0 2rem;
        }
        @media (max-width: $sw-xx-max) {
            flex-wrap: wrap;
            margin-top: 3.7rem;
        }
        &__side {
            display: flex;
            align-items: center;
            height: auto;
            min-height: 14.8rem;
            @media (max-width: $sw-xx-max) {
                min-height: auto;
                width: 100%;
                padding: 1.5rem 0;
            }
            & + .acc-coins__stats__action__side {
                margin-left: 2rem;
                @media (max-width: $sw-xx-max) {
                    margin-left: 0;
                    margin-top: 2rem;
                }
            }
            .btn--black {
                min-width: 14rem;
                height: 6rem;
                background-color: #21273B;
                @media (max-width: $sw-xx-max) {
                    height: 5rem;
                    min-width: auto;
                    width: 100%;
                }
                &:not([disabled]):hover {
                    @media (min-width: $sw-xs-min) { 
                        background-color: lighten(#21273B, 2%);
                    }
                }
                &:not([disabled]):active {
                    background-color: lighten(#21273B, 5%);
                }
            }
            .btn--bordered {
                min-width: 20rem;
                height: 6rem;
                background-color: #21273B;
                @media (max-width: $sw-xx-max) {
                    height: 5rem;
                    min-width: auto;
                    width: 100%;
                }
            }
        }
        &__icon {
            position: relative;
            width: 16.4rem;
            height: 14.8rem;
            margin-right: 4.4rem;
            @media (max-width: $sw-xs-max) {
                margin-right: 2rem;
            }
            @media (max-width: $sw-xx-max) {
                width: auto;
                height: auto;
            }
            .icon-man-strong, .icon-payments-strong {
                font-size: 17.1rem;
                position: absolute;
                left: 0;
                bottom: 0;
                @media (max-width: $sw-xx-max) {
                    position: relative;
                    left: auto;
                    right: auto;
                    font-size: 10rem;
                }
            }
        }
        &__text {
            span, p {
                display: block;
                font-weight: 800;
                font-style: italic;
                font-size: 2.6rem;
                line-height: 1.15em;
                letter-spacing: -0.02em;
                text-transform: uppercase;
                color: $light-blue;
                @media (max-width: $sw-md-max) {
                    font-size: 2.4rem;
                }
                @media (max-width: $sw-xs-max) {
                    font-size: 2rem;
                }
                @media (max-width: $sw-xx-max) {
                    font-size: 1.6rem;
                    line-height: 1.25em;
                }
            }
        }
    }

    &__stats {
        margin-top: 2rem;
        @media (max-width: $sw-xx-max) {
            margin-top: 3.7rem;
        }
        &__inner {
            display: flex;
            flex-wrap: wrap;
            margin-left: -2rem;
            margin-right: -2rem;
            @media (max-width: $sw-md-max) {
                margin-left: -1rem;
                margin-right: -1rem;
            }
            @media (max-width: $sw-xs-max) {
                margin-left: -6px;
                margin-right: -6px;
            }
            @media (max-width: $sw-xx-max) {
                margin-left: -1rem;
                margin-right: -1rem;
            }
        }
        &__col {
            width: calc(100% / 3);
            padding: 0 2rem;
            margin-bottom: 2rem;
            @media (max-width: $sw-md-max) {
                padding: 0 1rem;
            }
            @media (max-width: $sw-xs-max) {
                padding: 0 6px;
                margin-bottom: 1.2rem;
            }
            @media (max-width: $sw-xx-max) {
                width: 50%;
                padding: 0 1rem;
                margin-bottom: 2rem;
            }
            &--fluid {
                @media (max-width: $sw-xx-max) {
                    width: 100%;
                }
                .acc-coins__stats__item {
                    @media (max-width: $sw-xx-max) {
                        padding: 2rem;
                    }
                }
                .btn {
                    @media (max-width: $sw-sm-max) {
                        height: 5rem;
                        min-width: 13.9rem;
                    }
                }
            }
        }
        &__item {
            width: 100%;
            height: 100%;
            border-radius: 1.6rem;
            background-color: #21273B;
            border: 1px solid rgba(223, 225, 238, 0.3);
            padding: 1.9rem 2rem;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            position: relative;
            @media (max-width: $sw-md-max) {
                padding: 1.9rem 1.6rem;
                align-items: center;
            }
            @media (max-width: $sw-xx-max) {
                flex-wrap: wrap;
                padding: 1rem 0.9rem 2.1rem 0.9rem;
            }
            &.is-active {
                border: 2px solid #2F80ED;
            }
            &__icon {
                background-color: #1B2134;
                border: 1px solid rgba(223, 225, 238, 0.3);
                border-radius: 3rem;
                width: 8rem;
                height: 8rem;
                margin-right: 2rem;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-shrink: 0;
                @media (max-width: $sw-md-max) {
                    width: 7rem;
                    height: 7rem;
                    border-radius: 2.4rem;
                }
                @media (max-width: $sw-xs-max) {
                    width: 5rem;
                    height: 5rem;
                    border-radius: 1.6rem;
                    margin-right: 1rem;
                }
                @media (max-width: $sw-xx-max) {
                    width: 6rem;
                    height: 6rem;
                    border-radius: 2.2rem;
                }
                .icon {
                    font-size: 2rem;
                    color: #2F80ED;
                }
            }
            &__info {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: flex-start;
                text-align: left;
                margin-top: 1rem;
                @media (max-width: $sw-md-max) {
                    margin-top: 0;
                }
                @media (max-width: $sw-xx-max) {
                    width: 100%;
                    margin-top: 1rem;
                }
            }
            &__title {
                display: block;
                width: 100%;
                font-size: 1.4rem;
                line-height: 1.4em;
                text-transform: capitalize;
                color: #2F80ED;
                margin-bottom: 1rem;
                text-align: left;
                @media (max-width: $sw-xs-max) {
                    margin-bottom: 6px;
                    font-size: 1.3rem;
                }
                @media (max-width: $sw-xx-max) {
                    font-size: 1.4rem;
                    margin-bottom: 1rem;
                }
            }
            &__num {
                font-style: italic;
                font-weight: 800;
                font-size: 2rem;
                line-height: 1em;
                letter-spacing: -0.02em;
                text-transform: uppercase;
                color: $light-blue;
                @media (max-width: $sw-md-max) {
                    font-size: 1.8rem;
                }
                @media (max-width: $sw-xs-max) {
                    font-size: 1.6rem;
                }
                @media (max-width: $sw-xx-max) {
                    font-size: 1.8rem;
                }
            }
            &__action {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                text-align: center;
                position: relative;
                z-index: 1;
                .btn--green {
                    background-color: $dark;   
                }
            }
            &__subtitle {
                display: block;
                width: 100%;
                font-weight: 600;
                font-size: 1.2rem;
                line-height: 1.65em;
                color: rgba(223, 225, 238, 0.3);
                margin-bottom: 1rem;
            }
        }
        &__action {
            width: 100%;
            padding: 3.3rem 4rem 3.3rem 3.2rem;
            border: 1px solid rgba(223, 225, 238, 0.3);
            border-radius: 2rem;
            background-color: transparent;
            background-image: url('../../s/images/useful/texture.png');
            background-repeat: repeat;
            background-size: cover;
            background-position: 0 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            @media (max-width: $sw-md-max) {
                padding: 2.5rem;
            }
            @media (max-width: $sw-xs-max) {
                padding: 2rem;
            }
            @media (max-width: $sw-xx-max) {
                flex-wrap: wrap;
            }
            &__side {
                display: flex;
                align-items: center;
                @media (max-width: $sw-xx-max) {
                    width: 100%;
                }
                & + .acc-coins__stats__action__side {
                    margin-left: 2rem;
                    @media (max-width: $sw-xx-max) {
                        margin-left: 0;
                        margin-top: 2rem;
                    }
                }
                .btn {
                    min-width: 14rem;
                    height: 6rem;
                    background-color: #21273B;
                    @media (max-width: $sw-xx-max) {
                        height: 5rem;
                        min-width: auto;
                        width: 100%;
                    }
                    &:not([disabled]):hover {
                        @media (min-width: $sw-xs-min) { 
                            background-color: lighten(#21273B, 2%);
                        }
                    }
                    &:not([disabled]):active {
                        background-color: lighten(#21273B, 5%);
                    }
                }
            }
            &__icon {
                width: 7.2rem;
                height: 7.2rem;
                margin-right: 3.4rem;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-shrink: 0;
                position: relative;
                background: #2F80ED;
                border-radius: 2.4rem 2.4rem 2.4rem 0px;
                @media (max-width: $sw-xx-max) {
                    width: 6rem;
                    height: 6rem;
                    margin-right: 1rem;
                }
                .icon-cart {
                    font-size: 3rem;
                    color: $light-blue;
                    @media (max-width: $sw-xx-max) {
                        font-size: 2.5rem;
                    }
                }
                .icon-coins {
                    font-size: 3rem;
                }
                .sub-icon {
                    position: absolute;
                    top: -1rem;
                    right: -1rem;
                }
            }
            &__text {
                span, p {
                    display: block;
                    font-weight: 800;
                    font-style: italic;
                    font-size: 2.6rem;
                    line-height: 1.15em;
                    letter-spacing: -0.02em;
                    text-transform: uppercase;
                    color: #2F80ED;
                    @media (max-width: $sw-md-max) {
                        font-size: 2.4rem;
                    }
                    @media (max-width: $sw-xs-max) {
                        font-size: 2rem;
                    }
                    @media (max-width: $sw-xx-max) {
                        font-size: 1.6rem;
                        line-height: 1.25em;
                    }
                }
            }
        }
    }

    &__earn {
        margin-top: 8rem;
        @media (max-width: $sw-xx-max) {
            margin-top: 5.7rem;
        }
        .acc-coins__notice {
            margin: 0 0 2rem 0;
            @media (max-width: $sw-xx-max) {
                margin: 0 0 3rem 0;
            }
        }
        &__inner {
            display: flex;
            flex-wrap: wrap;
            margin-left: -2rem;
            margin-right: -2rem;
            @media (max-width: $sw-md-max) {
                margin-left: -1rem;
                margin-right: -1rem;
            }
            @media (max-width: $sw-xs-max) {
                margin-left: -6px;
                margin-right: -6px;
            }
            @media (max-width: $sw-xx-max) {
                margin-left: -1rem;
                margin-right: -1rem;
            }
        }
        &__col {
            width: calc(100% / 3);
            padding: 0 2rem;
            margin-bottom: 2rem;
            opacity: 1;
            transition: opacity .3s ease;
            @media (max-width: $sw-md-max) {
                padding: 0 1rem;
            }
            @media (max-width: $sw-xs-max) {
                padding: 0 6px;
                margin-bottom: 1.2rem;
            }
            @media (max-width: $sw-xx-max) {
                width: 50%;
                padding: 0 1rem;
                margin-bottom: 2rem;
            }
            &--double {
                width: calc(100% / 3 * 2);
                @media (max-width: $sw-xx-max) {
                    width: 50%;
                }
            }
            &--not-active {
                opacity: 0.1;
                pointer-events: none;
            }
        }
        &__item {
            width: 100%;
            height: 100%;
            padding: 3rem 2rem;
            border-radius: 1.6rem;
            background-color: #21273B;
            border: 1px solid #2F80ED;
            position: relative;
            @media (max-width: $sw-md-max) {
                align-items: center;
            }
            @media (max-width: $sw-xs-max) {
                padding: 2rem 1.5rem;
            }
            @media (max-width: $sw-xx-max) {
                flex-wrap: wrap;
                padding: 1rem;
            }
            .acc-coins__earn__col--disabled & {
                border-color: rgba(223, 225, 238, 0.3);
                pointer-events: none;
                .acc-coins__earn__item__action {
                    .btn {
                        border-color: transparent !important;
                        background-color: transparent !important;
                        color: rgba(223, 225, 238, 0.3) !important;
                    }
                }
            }
            &__top {
                @media (max-width: $sw-xx-max) {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 1rem;
                }
            }
            &__icon {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 2rem;
                width: 100%;
                @media (max-width: $sw-xx-max) {
                    margin-bottom: 0;
                    width: auto;
                    margin-right: 1rem;
                }
                .icon {
                    font-size: 4rem;
                    color: $light-blue;
                    filter: drop-shadow(0px 0px 10px #2F80ED);
                    @media (max-width: $sw-xs-max) {
                        font-size: 3rem;
                    }
                    .acc-coins__earn__col--disabled & {
                        color: rgba(223, 225, 238, 0.3);
                        filter: none;
                    }
                }
            }
            &__title {
                display: block;
                width: 100%;
                text-align: center;
                color: $light-blue;
                margin-bottom: 1.6rem;
                font-weight: 600;
                font-size: 1.8rem;
                line-height: 1.65em;
                @media (max-width: $sw-xs-max) {
                    font-size: 1.7rem;
                }
                @media (max-width: $sw-xx-max) {
                    margin-bottom: 0;
                    font-size: 1.6rem;
                    line-height: 1.25em;
                    width: 100%;
                    max-width: 7.6rem;
                    text-align: left;
                }
                .acc-coins__earn__col--disabled & {
                    color: rgba(223, 225, 238, 0.3);
                }
            }
            &__coins {
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 300;
                font-size: 1.6rem;
                line-height: 1.875em;
                color: $light-blue;
                margin-bottom: 1.5rem;
                width: 100%;
                @media (max-width: $sw-xx-max) {
                    margin-bottom: 1rem;
                }
                .acc-coins__earn__col--disabled & {
                    color: rgba(223, 225, 238, 0.3);
                }
                .icon {
                    font-size: 2rem;
                    margin-right: 1rem;
                }
            }
            &__action {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                .btn {
                    min-width: auto;
                    width: 100%;
                    max-width: 18rem;
                    border-color: $light-blue;
                    padding: 0 1rem;
                    @media (max-width: $sw-xs-max) {
                        max-width: 16rem;
                    }
                }
            }
        }
    }

    &__photo {
        margin-top: 5rem;
        &__top {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: flex-start;
            margin-bottom: 2rem;
            .btn {
                margin-right: 2rem;
                margin-bottom: 1rem;
                flex-shrink: 0;
            }
            .acc-coins__verify__text {
                margin-bottom: 1rem;
                @media (max-width: $sw-xs-max) {
                    width: auto;
                }
                @media (max-width: $sw-xx-max) {
                    display: none;
                }
            }
        }
        &__inner {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            margin-bottom: 1.4rem;
            position: relative;
            @media (max-width: $sw-xx-max) {
                flex-wrap: wrap;
            }
        }
        &__list {
            width: calc(100% - 35.6rem);
            @media (max-width: $sw-xs-max) {
                width: calc(100% - 32.5rem);
            }
            @media (max-width: $sw-xx-max) {
                display: flex;
                flex-direction: column;
                width: 100%;
                margin-bottom: 2rem;
            }
        }
        &__form {
            width: 32rem;
            margin-left: 3.6rem;
            @media (max-width: $sw-xs-max) {
                margin-left: 2.5rem;
                width: 30rem;
            }
            @media (max-width: $sw-xx-max) {
                width: 100%;
                margin: 0 auto 1rem auto;
            }
            .btn--md {
                margin-top: 3rem;
                min-width: auto;
                width: 100%;
            }
        }
        &__products {
            width: 100%;
            display: flex;
            align-items: flex-end;
            flex-wrap: wrap;
            margin-bottom: 1rem;
            @media (max-width: $sw-xx-max) {
                margin-bottom: 0;
                order: 1;
            }
            .acc-coins__photo__group {
                display: flex;
                justify-content: flex-end;
                flex-direction: column;
                margin: 0 2rem 2rem 0;
                @media (max-width: $sw-xs-max) {
                    margin: 0 1rem 1rem 0;
                }
                & + .acc-coins__photo__group {
                    margin-top: 0;
                }
                &:first-child {
                    z-index: 101;
                }
            }
            &__item {
                border-radius: 1.6rem;
                cursor: pointer;
                border: 1px solid rgba(223, 225, 238, 0.3);
                background-color: $dark;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 1.3rem 0 2rem;
                height: 5rem;
                margin: 0 2rem 2rem 0;
                transition: background-color .3s ease;
                @media (max-width: $sw-xs-max) {
                    padding: 0 1rem;
                    margin: 0 1rem 1rem 0;
                }
                &:hover {
                    @media (min-width: $sw-xs-min) { 
                        background-color: lighten($dark, 3%);
                        .icon-close {
                            color: rgba(223, 225, 238, .6);
                        }
                    }
                }
                &:active {
                    @media (min-width: $sw-xs-min) { 
                        background-color: lighten($dark, 6%);
                        .icon-close {
                            color: rgba(223, 225, 238, 1);
                        }
                    }
                }
                &-inner {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                }
                &-title {
                    font-size: 1.2rem;
                    line-height: 1em;
                    margin-bottom: 3px;
                    display: block;
                    width: 100%;
                    color: rgba(223, 225, 238, 0.3);
                }
                &-text {
                    font-size: 1.6rem;
                    line-height: 1em;
                    color: $light-blue;
                    @media (max-width: $sw-xs-max) {
                        font-size: 1.4rem;
                    }
                }
                &-icon {
                    flex-shrink: 0;
                    margin-left: 2rem;
                    .close-svg {
                        width: 1.2rem;
                        height: 1.2rem;
                    }
                }
            }
            &__trigger {
                min-width: 20rem;
                cursor: pointer;
                background-color: #2F3548;
                border-radius: 1.6rem;
                padding: 0 1rem 0 2rem;
                height: 5rem;
                font-weight: 600;
                font-size: 1.6rem;
                line-height: 1.875em;
                display: flex;
                align-items: center;
                justify-content: space-between;
                color: rgba(223, 225, 238, 0.3);
                transition: background-color .3s ease;
                @media (max-width: $sw-xs-max) {
                    padding: 0 1rem;
                    font-size: 1.4rem;
                    min-width: auto;
                }
                &:not([disabled]):hover {
                    @media (min-width: $sw-xs-min) { 
                        background-color: lighten(#2F3548, 3%);
                    }
                }
                &:not([disabled]):active {
                    background-color: lighten(#2F3548, 6%);
                }
                .icon-plus-r {
                    color: $light-blue;
                    flex-shrink: 0;
                    font-size: 1.6rem;
                    margin-left: 1rem;
                }
            }
        }
        &__load {
            width: 100%;
            padding: 2rem;
            background-color: #21273B;
            border-radius: 1.6rem;
            margin-bottom: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: background-color .3s ease;
            &:hover {
                @media (min-width: $sw-xs-min) {
                    background-color: lighten(#21273B, 1%);
                }
            }
            &-wrap {
                @media (max-width: $sw-xx-max) {
                    order: 0;
                    margin-bottom: 2rem;
                }
                input {
                    width: 0;
                    height: 0;
                    opacity: 0;
                    visibility: hidden;
                    position: absolute;
                    left: -9999em;
                    top: -9999em;
                }
            }
            &__inner {
                width: 20rem;
                height: 32rem;
                border-radius: 1.6rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                position: relative;
                text-align: center;
                background-color: #2F3548;
                @media (max-width: $sw-xs-max) {
                    height: 28.8rem;
                }
                &:after {
                    content: '';
                    width: 8rem;
                    height: 1.6rem;
                    position: absolute;
                    left: 50%;
                    top: -1px;
                    transform: translateX(-50%);
                    background-image: url('../../s/images/useful/photo-load-bg.svg');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                }
                .icon-upload-img {
                    font-size: 4rem;
                    color: $yellow;
                    margin: 1rem 0;
                }
            }
            &__text {
                font-weight: 600;
                font-size: 1.2rem;
                line-height: 2.5em;
                color: rgba(223, 225, 238, 0.3);
            }
        }
        &__group {
            & + .acc-coins__photo__group {
                margin-top: 3rem;
                @media (max-width: $sw-xs-max) {
                    margin-top: 2rem;
                }
                @media (max-width: $sw-xx-max) {
                    margin-top: 1.5rem;
                }
            }
            textarea.form-control {
                height: 12rem;
                line-height: 1.5em;
                padding: 1rem 2rem;
                @include placeholder {
                    line-height: 1.5em;
                }
            }
            &__rate {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 3rem 0;
                .acc-coins__photo__group__title {
                    margin-bottom: 0;
                }
                &-inner {
                    display: flex;
                    flex-direction: row-reverse;
                    align-items: center;
                    justify-content: center;
                    @media (max-width: $sw-xx-max) {
                        justify-content: flex-start;
                    }
                    @media (max-width: 499px) {
                        justify-content: center;
                    }
                }
                input {
                    width: 0;
                    height: 0;
                    opacity: 0;
                    visibility: hidden;
                    position: absolute;
                    left: -9999em;
                    top: -9999em;
                    &:checked {
                        & ~ .acc-coins__photo__group__rate-item {
                            .icon-star-simple {
                                color: $yellow;
                            }
                        }
                    } 	
                }
                &-item {
                    width: 2.6rem;
                    padding: 0 5px;
                    cursor: pointer;
                    &:hover {
                        .icon-star-simple {
                            color: $yellow;
                        }
                        & ~ .acc-coins__photo__group__rate-item {
                            .icon-star-simple {
                                color: $yellow;
                            }
                        } 		
                    }
                    .icon-star-simple {
                        font-size: 1.6rem;
                        color: transparent;
                        flex-shrink: 0;
                        transition: color .1s ease;
                    }
                }
                &-box {
                    width: 100%;
                    height: 1.6rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
            &__title {
                font-weight: 600;
                font-size: 1.2rem;
                line-height: 2.5em;
                display: block;
                width: 100%;
                color: rgba(223, 225, 238, 0.3);
                margin-bottom: 1rem;
                @media (max-width: $sw-xs-max) {
                    line-height: 2em;
                }
            }
        }
    }

    &__verify {
        width: 100%;
        margin-top: 5rem;
        &__inner {
            display: flex;
            align-items: center;
            margin-bottom: 2rem;
            @media (max-width: $sw-xs-max) {
                flex-wrap: wrap;
            }
            & + .acc-coins__submit__form {
                margin-top: 3rem;
            }
            .btn-example {
                flex-shrink: 0;
                margin-right: 2rem;
                border-color: $light-blue;
                @media (max-width: $sw-xs-max) {
                    margin-bottom: 1.5rem;
                }
            }
        }
        &__btn {
            cursor: pointer;
            height: 5rem;
            padding: 0 2.3rem;
            margin-right: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            border: 1px solid $light-blue;
            border-radius: 1.6rem;
            font-weight: 600;
            font-size: 1.4rem;
            line-height: 1em;
            color: $light-blue;
            background-color: $dark;
            transition: background-color .3s ease;
            @media (max-width: $sw-xs-max) {
                margin-bottom: 1.5rem;
            }
            @media (max-width: $sw-xx-max) {
                padding: 0 1rem;
                font-size: 1.3rem;
            }
            &:hover {
                @media (min-width: $sw-xs-min) { 
                    background-color: lighten($dark, 3%);
                }
            }
            &:active {
                background-color: lighten($dark, 5%);
            }
            .dekor--yellow {
                text-transform: uppercase;
                margin-left: 5px;
            }
            .icon-clipboard {
                font-size: 1.8rem;
                margin-left: 1rem;
                @media (max-width: $sw-xx-max) {
                    margin-left: 7px;
                }
            }
        }
        &__text {
            margin-bottom: 0;
            font-size: 1.4rem;
            line-height: 2.15em;
            color: $light-blue;
            max-width: 35rem;
            @media (max-width: $sw-xs-max) {
                width: 100%;
                max-width: none;
            }
            @media (max-width: $sw-xx-max) {
                display: none;
            }
        }
        &__public {
            width: 100%;
            margin-bottom: 2rem;
            display: flex;
            align-items: flex-end;
            @media (max-width: $sw-xx-max) {
                flex-wrap: wrap;
            }
            .acc-coins__photo__group {
                flex-grow: 1;
                @media (max-width: $sw-xx-max) {
                    width: 100%;
                    margin-bottom: 2.5rem;
                }
            }
            .btn {
                margin-left: 4rem;
                min-width: auto;
                width: 100%;
                max-width: 32rem;
                @media (max-width: $sw-xs-max) {
                    max-width: 20rem;
                    margin-left: 2.5rem;
                }
                @media (max-width: $sw-xx-max) {
                    width: 100%;
                    max-width: none;
                    margin-left: 0;
                }
            }
        }
    }

    &__advices {
        margin-top: 8.6rem;
        @media (max-width: $sw-sm-max) {
            margin-top: 5.7rem;
        }
        .article-title {
            margin-bottom: 2.6rem;
        }
        &__inner {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-wrap: wrap;
        }
        &__link {
            border: 1px solid rgba(223, 225, 238, 0.3);
            border-radius: 1.6rem;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 5rem;
            padding: 0 1.9rem;
            font-weight: 600;
            font-size: 1.4rem;
            line-height: 1.4em;
            color: $light-blue;
            transition: color .3s ease, border-color .3s ease, background-color .3s ease;
            background-color: $dark;
            margin: 0 1rem 2rem 0;
            text-transform: capitalize;
            &:hover {
                @media (min-width: $sw-xs-min) { 
                    background-color: lighten($dark, 3%);
                }
            }
            &:active {
                background-color: lighten($dark, 5%);
            }
            .icon {
                font-size: 2rem;
                margin-right: 1rem;
            }
        }
    }
    
    &__review {
        width: 100%;
        margin-top: 5.6rem;
        .article-title {
            margin-bottom: 2.6rem;
        }
        &__form {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            @media (max-width: $sw-xx-max) {
                flex-wrap: wrap;
            }
        }
        &__user {
            margin-right: 3.6rem;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            @media (max-width: $sw-xx-max) {
                margin-right: 0;
                margin-bottom: 2rem;
                width: 100%;
                justify-content: center;
            }
            &__img {
                width: 5rem;
                height: 5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                @media (max-width: $sw-xx-max) {
                    width: 4rem;
                    height: 4rem;
                }
                img {
                    width: auto;
                    height: auto;
                    max-width: 100%;
                    max-height: 100%;
                    border-radius: 50%;
                }
            }
            .icon-trustpilot {
                font-size: 3.1rem;
                color: #6FCF97;
                margin-right: 2.5rem;
                @media (max-width: $sw-xx-max) {
                    margin-right: 2rem;
                }
            }
        }
        &__submit {
            display: flex;
            align-items: center;
            justify-content: center;
            @media (max-width: $sw-xx-max) {
                padding: 0 1.5rem;
                width: 50%;
                justify-content: flex-start;
            }
            @media (max-width: 499px) {
                width: 100%;
                padding: 0;
                justify-content: center;
            }
            .btn {
                min-width: 20rem;
                @media (max-width: $sw-xx-max) {
                    min-width: 15rem;
                }
                @media (max-width: 499px) {
                    min-width: auto;
                    max-width: none;
                    width: 100%;
                }
            }
        }
        &__stars {
            margin-right: 7rem;
            @media (max-width: $sw-xx-max) {
                margin-right: 0;
                padding: 0 1.5rem;
                width: 50%;
            }
            @media (max-width: 499px) {
                width: 100%;
                padding: 0;
                margin-bottom: 2rem;
            }
            &__inner {
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                justify-content: center;
                @media (max-width: $sw-xx-max) {
                    justify-content: flex-start;
                }
                @media (max-width: 499px) {
                    justify-content: center;
                }
            }
            input {
                width: 0;
                height: 0;
                opacity: 0;
                visibility: hidden;
                position: absolute;
                left: -9999em;
                top: -9999em;
                &:checked {
                    & ~ .acc-coins__review__stars__item {
                        .icon-star-new {
                            color: $yellow;
                        }
                    }
                } 	
            }
            &__item {
                width: 3.5rem;
                padding: 0 2.5px;
                cursor: pointer;
                &:hover {
                    .icon-star-new {
                        color: $yellow;
                    }
                    & ~ .acc-coins__review__stars__item {
                        .icon-star-new {
                            color: $yellow;
                        }
                    } 		
                }
                &-box {
                    width: 100%;
                    height: 3rem;
                    background: rgba(223, 225, 238, 0.3);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .icon-star-new {
                    font-size: 2.4rem;
                    color: $dark;
                    transition: color .1s ease;
                }
            }
        }
    }

    &__submit {
        margin-top: 8.7rem;
        @media (max-width: $sw-sm-max) {
            margin-top: 5.7rem;
        }
        .article-title {
            margin-bottom: 2.6rem;
        }
        &__form {
            display: flex;
            justify-content: space-between;
            @media (max-width: $sw-xx-max) {
                flex-wrap: wrap;
            }
            & + .acc-coins__notice {
                margin-top: 3rem;
            }
            &__side {
                textarea.form-control {
                    height: 13rem;
                }
                textarea.review-textarea {
                    height: 19rem;
                }
                textarea.trust-textarea {
                    height: 31rem;
                    @media (max-width: $sw-xx-max) {
                        height: 19rem;
                    }
                }
                .btn {
                    max-width: none;
                    width: 100%;
                    margin-top: auto;
                }
                &:first-child {
                    width: calc(100% - 36rem);
                    @media (max-width: $sw-xx-max) {
                        width: 100%;
                    }
                    .acc-coins__photo__group {
                        @media (max-width: $sw-xx-max) {
                            margin-bottom: 2rem;
                        }
                    }
                }
                &:last-child {
                    width: 32rem;
                    margin-left: 4rem;
                    display: flex;
                    flex-direction: column;
                    @media (max-width: $sw-xx-max) {
                        width: 100%;
                        margin-left: 0;
                    }
                }
            }
        }
    }
    
    &__lab {
        display: flex;
        align-items: flex-start;
        margin-bottom: 1.5rem;
        @media (max-width: $sw-xx-max) {
            flex-wrap: wrap;
        }
        &__doc {
            width: 20rem;
            margin-right: 4rem;
            @media (max-width: $sw-xs-max) {
                width: 17.8rem;
                margin-right: 3rem;
            }
            @media (max-width: $sw-xx-max) {
                width: 100%;
                margin-right: 0;
                margin-bottom: 1.5rem;
            }
            input {
                width: 0;
                height: 0;
                position: absolute;
                left: -999em;
                top: -9999em;
                opacity: 0;
                visibility: hidden;
            }
            &__load {
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                width: 100%;
                height: 20rem;
                background-color: #2F3548;
                cursor: pointer;
                border-radius: 1.6rem;
                margin: 0;
                transition: background-color .3s ease;
                @media (max-width: $sw-xs-max) {
                    height: 17.8rem;
                }
                @media (max-width: $sw-xx-max) {
                    height: 20rem;
                }
                &:hover {
                    @media (min-width: $sw-xs-min) {
                        background-color: lighten(#2F3548, 3%);
                    }
                }
                .icon-upload-doc {
                    font-size: 4rem;
                    color: $yellow;
                    margin: 1rem 0;
                    @media (max-width: $sw-xx-max) {
                        font-size: 3rem;
                    }
                }
                &__inner {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }
                &__text {
                    font-weight: 600;
                    font-size: 1.2rem;
                    line-height: 2.5em;
                    text-align: center;
                    color: rgba(223, 225, 238, 0.3);
                }
            }
        }
        &__form {
            width: calc(100% - 24rem);
            @media (max-width: $sw-xs-max) {
                width: calc(100% - 20.8rem);
            }
            @media (max-width: $sw-xx-max) {
                width: 100%;
            }
            .acc-coins__photo__products {
                margin-bottom: 0;
            }
            &__line {
                display: flex;
                align-items: flex-end;
                @media (max-width: 499px) {
                    flex-wrap: wrap;
                }
                .acc-coins__photo__group {
                    flex-grow: 1;
                    @media (max-width: 499px) {
                        flex-grow: unset;
                        width: 100%;
                    }
                }
                .btn {
                    width: 32rem;
                    margin-left: 4rem;
                    flex-shrink: 0;
                    @media (max-width: $sw-md-max) {
                        margin-left: 3rem;
                        width: 24rem;
                    }
                    @media (max-width: $sw-xs-max) {
                        margin-left: 2rem;
                        width: 18rem;
                        padding: 0 1rem;
                    }
                    @media (max-width: 499px) {
                        width: 100%;
                        margin-left: 0;
                        margin-top: 2.5rem;
                    }
                }
            }
        }
    }
}

.products-table {
    height: auto;
    display: flex;
    width: 100%;
    max-width: 96rem;
    background-color: #21273B;
    border-radius: 1.6rem;
    padding: 3rem 2rem 3rem 4rem;
    margin: 0 auto;
    position: relative;
    @media (max-width: $sw-sm-max) {
        max-width: 81rem;
    }
    @media (max-width: $sw-xs-max) {
        padding: 2.5rem 1.5rem 2.5rem 2.5rem;
    }
    @media (max-width: $sw-xx-max) {
        padding: 1.5rem 1rem 1.5rem 1.5rem;
    }
    .header__search__close {
        position: absolute;
        display: flex;
        top: 100%;
        width: auto;
        left: 50%;
        transform: translateX(-50%);
        transition: color .3s ease;
        @media (max-width: $sw-xx-max) {
            color: $light-blue;
        }
        &:hover {
            @media (min-width: $sw-xs-min) {
                color: $light-blue;
            }
        }
    }
    &__line {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 1rem 0;
        &:first-child {
            padding: 0 0 1rem 0;
        }
        &:last-child {
            padding: 1rem 0 0 0;
        }
        & + .products-table__line {
            border-top: 2px solid rgba(223, 225, 238, 0.3);
        }
        &-letter {
            font-weight: 600;
            width: 2rem;
            margin-right: 2rem;
            font-size: 1.8rem;
            padding-top: 1rem;
            line-height: 1.65em;
            text-transform: capitalize;
            flex-shrink: 0;
            color: rgba(223, 225, 238, 0.3);
        }
        &-inner {
            flex-grow: 1;
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            input {
                position: absolute;
                top: -9999em;
                left: -9999em;
                opacity: 0;
                visibility: hidden;
                width: 0;
                height: 0;
            }
        }
        &-item {
            width: 25%;
            min-width: 15rem;
            padding: 1rem 0;
        }
        &-label {
            display: inline-flex;
            flex-direction: column;
            align-items: flex-start;
            cursor: pointer;
            opacity: 1;
            text-align: left;
            transition: opacity .3s ease;
            &.is-active {
                pointer-events: none;
                .products-table__line-name {
                    color: rgba(223, 225, 238, 0.3);
                }
            }
        }
        &-brand {
            font-size: 1.2rem;
            line-height: 1em;
            color: rgba(223, 225, 238, 0.3);
            margin-bottom: 5px;
        }
        &-name {
            font-size: 1.6rem;
            line-height: 1em;
            color: $light-blue;
            transition: color .3s ease;
        }
    }
    &__inner {
        width: 100%;
        height: auto;
        padding-right: 2rem;
        @media (max-width: $sw-xs-max) {
            padding-right: 1rem;
        }
    }
}