mixin account-coins(data)
	.acc-coins__top
		.section-title
			+svg(data.top_icon)
			p.section-title__secondary!= data.title
		if data.count
			.acc-coins__top__count
				+svg('icon-coins')
				span!= data.count
		if data.top_verify
			p.acc-coins__verify__text!= data.top_verify
	if data.empty
		.acc-coins__empty
			.acc-coins__empty__side
				.acc-coins__empty__icon
					+svg('icon-man-strong')
				.acc-coins__empty__text
					span you need to make a first order #[br] for activate this feature
			.acc-coins__empty__side
				a.btn.btn--md.btn--black(href="javascript:void(0)") Go to Products
	if data.stats
		.acc-coins__stats
			.article-title
				p.article-title__item
					+svg('icon-stats')
					span Stats
				a.article-title__link.article-title__link--blue(href="javascript:void(0)")
					span Show all
					+svg('icon-chevron-down')
			.acc-coins__stats__inner
				.acc-coins__stats__col
					.acc-coins__stats__item.is-active
						.acc-coins__stats__item__icon
							+svg('icon-coins')
						.acc-coins__stats__item__info
							span.acc-coins__stats__item__title Balance
							span.acc-coins__stats__item__num 311 coins
				.acc-coins__stats__col
					.acc-coins__stats__item
						.acc-coins__stats__item__icon
							+svg('icon-last-month')
						.acc-coins__stats__item__info
							span.acc-coins__stats__item__title Pending
							span.acc-coins__stats__item__num 0 coins
				.acc-coins__stats__col.acc-coins__stats__col--fluid
					.acc-coins__stats__item
						.acc-coins__stats__item__action
							span.acc-coins__stats__item__subtitle Transfer money from referral program
							button.btn.btn--md.btn--green(type="button") Get more coins
			.acc-coins__stats__action
				.acc-coins__stats__action__side
					.acc-coins__stats__action__icon
						+svg('icon-cart')
						.sub-icon
							+svg('icon-coins')
					.acc-coins__stats__action__text
						span use coins as real money for new orders
				.acc-coins__stats__action__side
					a.btn.btn--blue-bordered.btn--lg(href="javascript:void(0)") Start Shopping
	if data.photo
		form#acc_coins_products.acc-coins__photo.js-form-check(action="javascript:void(0)")
			.acc-coins__photo__top
				button.btn.btn--md.btn--black.btn-example(type="button", data-target="#coins_example_modal", data-toggle="modal")
					span See Publish Example
				p.acc-coins__verify__text Write a positive review about our store at Trustpilot
			.acc-coins__photo__inner
				.acc-coins__photo__list
					.acc-coins__photo__products
						.acc-coins__photo__group
							span.acc-coins__photo__group__title Products at the photo
							button.acc-coins__photo__products__trigger.js-photo-products-trigger(type="button")
								span Add products
								+svg('icon-plus-r')
					.acc-coins__photo__load-wrap
						input#photo_load(type="file")
						label.acc-coins__photo__load(for="photo_load")
							span.acc-coins__photo__load__inner
								span.acc-coins__photo__load__text Upload photo
								+svg('icon-upload-img')
								span.acc-coins__photo__load__text Max size 20Mb
				.acc-coins__photo__form
					.acc-coins__photo__group
						span.acc-coins__photo__group__title Name
						.input-wrap.required
							input.form-control.form-control--silver(type="text", name="name", placeholder="Mr Smith...", required="")
					.acc-coins__photo__group
						span.acc-coins__photo__group__title Title of review
						.input-wrap.required
							input.form-control.form-control--silver(type="text", name="review_title", placeholder="Few key words...", required="")
					.acc-coins__photo__group
						span.acc-coins__photo__group__title Review our delivery
						.input-wrap.required
							textarea.form-control.form-control--silver(name="review_text", placeholder="Short review about delivery service...", required="")
					button.btn.btn--md.btn--yellow(type="submit") 
						span Submit For 10 Coins
			.acc-coins__notice
				.acc-coins__notice__icon
					+svg('icon-attention')
				p.acc-coins__notice__text #[b Important notice: ] Be sure there are no shipping packaging and personal datas at the shoot. Otherwise we will not credit Store Coins to your account
	if data.verify
		.acc-coins__verify
			.acc-coins__verify__inner
				button.acc-coins__verify__btn.btn-copy.btn-copy(type="button") 
					| My Verification ID: 
					span.dekor--yellow roidsmann 8578541 
					+svg('icon-clipboard')
					span.btn-copy__inner
						+svg('icon-chk')
						span Copied
				button.btn.btn--md.btn--black.btn-example(type="button", data-target="#coins_example_modal", data-toggle="modal")
					span!= data.verify_btn
				p.acc-coins__verify__text!= data.verify
			form.acc-coins__verify__public.js-form-check(action="javascript:void(0)")
				.acc-coins__photo__group
					span.acc-coins__photo__group__title Publication link
					.input-wrap.required
						input.form-control.form-control--silver(type="text", name="publication_link", placeholder="Insert link...", required="")
				button.btn.btn--yellow.btn--md(type="submit")
					span Submit for 30 Coins
			.acc-coins__notice
				.acc-coins__notice__icon
					+svg('icon-attention')
				p.acc-coins__notice__text #[b Important notice: ] Be sure to indicate your unique Verification ID under the post. Otherwise we will not credit Store Coins to your account
		.acc-coins__advices
			.article-title
				p.article-title__item
					+svg('icon-people')
					span #[span.article-title__item--mob Our advices: ] use these links at Forums
			.acc-coins__advices__inner
				a.acc-coins__advices__link(href="javascript:void(0)") 
					span Mann Forum
				a.acc-coins__advices__link(href="javascript:void(0)") 
					span SportsMann editors
				a.acc-coins__advices__link(href="javascript:void(0)") 
					span Operation Sports Forums
				a.acc-coins__advices__link(href="javascript:void(0)") 
					span Perfect body forum
	if data.lab
		.acc-coins__verify
			.acc-coins__verify__inner
				button.acc-coins__verify__btn.btn-copy.btn-copy(type="button") 
					| My Verification ID: 
					span.dekor--yellow roidsmann 8578541 
					+svg('icon-clipboard')
					span.btn-copy__inner
						+svg('icon-chk')
						span Copied
				button.btn.btn--md.btn--black.btn-example(type="button", data-target="#coins_example_modal", data-toggle="modal")
					span See lab Example
				p.acc-coins__verify__text Post private Lab test or Blood test on the forum with review
			form#acc_coins_products.acc-coins__lab.js-form-check(action="javascript:void(0)")
				.acc-coins__lab__doc
					input#doc_load(type="file")
					label.acc-coins__lab__doc__load(for="doc_load")
						span.acc-coins__lab__doc__load__inner
							span.acc-coins__lab__doc__load__text Upload doc with test
							+svg('icon-upload-doc')
							span.acc-coins__lab__doc__load__text Max size 20Mb
				.acc-coins__lab__form
					.acc-coins__photo__products
						.acc-coins__photo__group
							span.acc-coins__photo__group__title Products at the photo
							button.acc-coins__photo__products__trigger.js-photo-products-trigger(type="button")
								span Add products
								+svg('icon-plus-r')
					.acc-coins__lab__form__line
						.acc-coins__photo__group
							span.acc-coins__photo__group__title Publication link
							.input-wrap.required
								input.form-control.form-control--silver(type="text", name="publication_link", placeholder="Insert link...", required="")
						button.btn.btn--yellow.btn--md(type="submit")
							span Submit for 30 Coins
			.acc-coins__notice
				.acc-coins__notice__icon
					+svg('icon-attention')
				p.acc-coins__notice__text #[b Important notice: ] Be sure to indicate your unique Verification ID under the post. Otherwise we will not credit Store Coins to your account
		.acc-coins__advices
			.article-title
				p.article-title__item
					+svg('icon-people')
					span #[span.article-title__item--mob Our advices: ] use these links at Forums
			.acc-coins__advices__inner
				a.acc-coins__advices__link(href="javascript:void(0)") 
					span Mann Forum
				a.acc-coins__advices__link(href="javascript:void(0)") 
					span SportsMann editors
				a.acc-coins__advices__link(href="javascript:void(0)") 
					span Operation Sports Forums
				a.acc-coins__advices__link(href="javascript:void(0)") 
					span Perfect body forum
	if data.review
		.acc-coins__verify
			.acc-coins__verify__inner
				button.acc-coins__verify__btn.btn-copy(type="button") 
					| My Verification ID: 
					span.dekor--yellow roidsmann 8578541 
					+svg('icon-clipboard')
					span.btn-copy__inner
						+svg('icon-chk')
						span Copied
				button.btn.btn--md.btn--black.btn-example(type="button", data-target="#coins_review_modal", data-toggle="modal")
					span See review Example
				p.acc-coins__verify__text Post a positive review about our store on the forum and insert publication link
			form.acc-coins__submit__form.js-form-check(action="javascript:void(0)")
				.acc-coins__submit__form__side
					.acc-coins__photo__group
						span.acc-coins__photo__group__title Publication link
						.input-wrap.required
							input.form-control.form-control--silver(type="text", name="publication_link", placeholder="Insert link...", required="", autocomplete="none")
					.acc-coins__photo__group
						span.acc-coins__photo__group__title Your text review
						.input-wrap.required
							textarea.review-textarea.form-control.form-control--silver(name="review_text", placeholder="Short review about delivery service...", required="")
				.acc-coins__submit__form__side 
					.acc-coins__photo__group
						span.acc-coins__photo__group__title Name on review
						.input-wrap.required
							input.form-control.form-control--silver(type="text", name="review_name", placeholder="Mr Smith...", required="")
					.acc-coins__photo__group
						span.acc-coins__photo__group__title Your title review
						.input-wrap.required
							input.form-control.form-control--silver(type="text", name="review_name", placeholder="Mr Smith...", required="")
					.acc-coins__photo__group__rate
						span.acc-coins__photo__group__title Your rate review
						.acc-coins__photo__group__rate-inner
							input(type="radio", name="review_rtng", id="rtng5")
							label.acc-coins__photo__group__rate-item(for="rtng5")
								span.acc-coins__photo__group__rate-box
									+svg('icon-star-simple')
							input(type="radio", name="review_rtng", id="rtng4")
							label.acc-coins__photo__group__rate-item(for="rtng4")
								span.acc-coins__photo__group__rate-box
									+svg('icon-star-simple')
							input(type="radio", name="review_rtng", id="rtng3")
							label.acc-coins__photo__group__rate-item(for="rtng3")
								span.acc-coins__photo__group__rate-box
									+svg('icon-star-simple')
							input(type="radio", name="review_rtng", id="rtng2")
							label.acc-coins__photo__group__rate-item(for="rtng2")
								span.acc-coins__photo__group__rate-box
									+svg('icon-star-simple')
							input(type="radio", name="review_rtng", id="rtng1")
							label.acc-coins__photo__group__rate-item(for="rtng1")
								span.acc-coins__photo__group__rate-box
									+svg('icon-star-simple')
					button.btn.btn--md.btn--yellow(type="submit") 
						span Submit For 15 Coins
			.acc-coins__notice
				.acc-coins__notice__icon
					+svg('icon-attention')
				p.acc-coins__notice__text #[b Important notice: ] Be sure to indicate your unique Verification ID under the post. Otherwise we will not credit Store Coins to your account
		.acc-coins__advices
			.article-title
				p.article-title__item
					+svg('icon-people')
					span #[span.article-title__item--mob Our advices: ] use these links at Forums
			.acc-coins__advices__inner
				a.acc-coins__advices__link(href="javascript:void(0)") 
					span Mann Forum
				a.acc-coins__advices__link(href="javascript:void(0)") 
					span SportsMann editors
				a.acc-coins__advices__link(href="javascript:void(0)") 
					span Operation Sports Forums
				a.acc-coins__advices__link(href="javascript:void(0)") 
					span Perfect body forum
	if data.trust
		.acc-coins__review
			.article-title.mobile-hidden
				p.article-title__item
					+svg('icon-messages')
					span Post positive review on trustpilot.com
			form.acc-coins__review__form(action="javascript:void(0)")
				.acc-coins__review__user
					+svg('icon-trustpilot')
					.acc-coins__review__user__img
						img(src="s/images/useful/user-img.png", alt="user")
				.acc-coins__review__stars
					.acc-coins__review__stars__inner
						input(type="radio", name="review_rating", id="rating5")
						label.acc-coins__review__stars__item(for="rating5")
							span.acc-coins__review__stars__item-box
								+svg('icon-star-new')
						input(type="radio", name="review_rating", id="rating4")
						label.acc-coins__review__stars__item(for="rating4")
							span.acc-coins__review__stars__item-box
								+svg('icon-star-new')
						input(type="radio", name="review_rating", id="rating3")
						label.acc-coins__review__stars__item(for="rating3")
							span.acc-coins__review__stars__item-box
								+svg('icon-star-new')
						input(type="radio", name="review_rating", id="rating2")
						label.acc-coins__review__stars__item(for="rating2")
							span.acc-coins__review__stars__item-box
								+svg('icon-star-new')
						input(type="radio", name="review_rating", id="rating1")
						label.acc-coins__review__stars__item(for="rating1")
							span.acc-coins__review__stars__item-box
								+svg('icon-star-new')
				.acc-coins__review__submit
					button.btn.btn--yellow.btn--md(type="button")
						span Write a review
		.acc-coins__submit
			.article-title
				p.article-title__item
					+svg('icon-coins-tr')
					span Submit for Coins
			form.acc-coins__submit__form.js-form-check(action="javascript:void(0)")
				.acc-coins__submit__form__side
					.acc-coins__photo__group
						span.acc-coins__photo__group__title Your text
						.input-wrap.required
							textarea.trust-textarea.form-control.form-control--silver(name="review_submit_text", placeholder="Cop-paste your review text...", required="")
				.acc-coins__submit__form__side 
					.acc-coins__photo__group
						span.acc-coins__photo__group__title Name on Trustpilot
						.input-wrap.required
							input.form-control.form-control--silver(type="text", name="review_name", placeholder="Mr Smith...", required="")
					.acc-coins__photo__group
						span.acc-coins__photo__group__title Your title review
						.input-wrap.required
							input.form-control.form-control--silver(type="text", name="review_title", placeholder="Mr Smith...", required="")
					.acc-coins__photo__group__rate
						span.acc-coins__photo__group__title Your rate review
						.acc-coins__photo__group__rate-inner
							input(type="radio", name="review_rtng", id="rtng5")
							label.acc-coins__photo__group__rate-item(for="rtng5")
								span.acc-coins__photo__group__rate-box
									+svg('icon-star-simple')
							input(type="radio", name="review_rtng", id="rtng4")
							label.acc-coins__photo__group__rate-item(for="rtng4")
								span.acc-coins__photo__group__rate-box
									+svg('icon-star-simple')
							input(type="radio", name="review_rtng", id="rtng3")
							label.acc-coins__photo__group__rate-item(for="rtng3")
								span.acc-coins__photo__group__rate-box
									+svg('icon-star-simple')
							input(type="radio", name="review_rtng", id="rtng2")
							label.acc-coins__photo__group__rate-item(for="rtng2")
								span.acc-coins__photo__group__rate-box
									+svg('icon-star-simple')
							input(type="radio", name="review_rtng", id="rtng1")
							label.acc-coins__photo__group__rate-item(for="rtng1")
								span.acc-coins__photo__group__rate-box
									+svg('icon-star-simple')
					button.btn.btn--md.btn--yellow(type="submit") 
						span Submit For 15 Coins
	if data.earn
		.acc-coins__earn
			if data.earn_title
				.article-title
					p.article-title__item
						+svg('icon-last-month')
						span #[span.article-title__item--mob Don’t miss the chance:] Earn more Coins
			if data.notice
				.acc-coins__notice
					.acc-coins__notice__icon
						+svg('icon-attention')
					p.acc-coins__notice__text #[b Important notice: ] You can choose 2 options. They will reactivate after the new order. Truspilot Coins could be activated only once.
			.acc-coins__earn__inner
				each item in data.items
					.acc-coins__earn__col(class='' + item.class ? item.class : null)
						.acc-coins__earn__item
							.acc-coins__earn__item__top
								.acc-coins__earn__item__icon
									+svg(item.icon)
								span.acc-coins__earn__item__title!= item.title
							.acc-coins__earn__item__coins
								+svg(item.coins_icon)
								span!= item.coins
							.acc-coins__earn__item__action
								button.btn.btn--md.btn--black(type="button") Get Store Coins
	if data.history
		.history-store
			.article-title
				p.article-title__item
					+svg('icon-coins-tr')
					span History Store Coins
				a.article-title__link.article-title__link--blue(href="javascript:void(0)")
					span #[span.article-title__link__mob Show] All
					+svg('icon-chevron-down')
			.history-store__table
				.history-store__table__head
					.history-store__table__col.col-date
						span Date
					.history-store__table__col.col-type
						span Coins Type
					.history-store__table__col.col-status
						span Coins status
					.history-store__table__col.col-credited
						span Credited
				.history-store__table__body
					.history-store__table__row
						.history-store__table__col.col-date
							.history-store__table__col__mob
								span Date
							.history-store__table__col__side
								span 12 Jan 2021
						.history-store__table__col.col-type
							.history-store__table__col__mob
								span Coins Type
							.history-store__table__col__side
								span Photo Coins
						.history-store__table__col.col-status
							.history-store__table__col__mob
								span Coins status
							.history-store__table__col__side
								span Pending
						.history-store__table__col.col-credited.col-blue
							.history-store__table__col__mob
								span Credited
							.history-store__table__col__side
								span -
					.history-store__table__row
						.history-store__table__col.col-date
							.history-store__table__col__mob
								span Date
							.history-store__table__col__side
								span 08 Jan 2021
						.history-store__table__col.col-type
							.history-store__table__col__mob
								span Coins Type
							.history-store__table__col__side
								span Review Coins
						.history-store__table__col.col-status
							.history-store__table__col__mob
								span Coins status
							.history-store__table__col__side
								span Received
						.history-store__table__col.col-credited.col-blue
							.history-store__table__col__mob
								span Credited
							.history-store__table__col__side
								+svg('icon-coins')
								span 15
					.history-store__table__row
						.history-store__table__col.col-date
							.history-store__table__col__mob
								span Date
							.history-store__table__col__side
								span 02 Jan 2021
						.history-store__table__col.col-type
							.history-store__table__col__mob
								span Coins Type
							.history-store__table__col__side
								span Photo Coins
						.history-store__table__col.col-status
							.history-store__table__col__mob
								span Coins status
							.history-store__table__col__side
								span Received
						.history-store__table__col.col-credited.col-blue
							.history-store__table__col__mob
								span Credited
							.history-store__table__col__side
								+svg('icon-coins')
								span 10