.site-search {
    position: relative;
    @media (max-width: $sw-sm-max) {
        background-color: $clay;
    }
    &.is-active {
        .site-search-backdrop {
            opacity: 1;
            visibility: visible;
        }
        .site-search-result {
            transform: translate(-50%, 0);
            opacity: 1;
            visibility: visible;
        }
        .site-search-inner {
            z-index: 121;
        }
    }
    .support-page & {
        @media (max-width: $sw-sm-max) {
            position: fixed;
            left: 0;
            width: 100%;
            top: 7.2rem;
            z-index: 60;
        }
        @media (max-width: $sw-xx-max) {
            top: 5.6rem;
        }
    }
    .container {
        @media (max-width: $sw-xx-max) {
            padding: 0;
        }
    }
    &-backdrop {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: fixed;
        left: 0;
        top: 0;
        background-color: rgba(0,0,0,.7);
        opacity: 0;
        visibility: hidden;
        transition: opacity .3s ease, visibility .3s ease;
        z-index: 120;
    }
    &-inner {
        display: flex;
        justify-content: center;
        position: relative;
    }
    &-result {
        position: absolute;
        width: 100%;
        max-width: 99.2rem;
        top: calc(100% + 1rem);
        left: 50%;
        transform: translate(-50%, 5px);
        background-color: #21273B;
        z-index: 20;
        border-radius: 1.6rem;
        transition: opacity .3s ease, visibility .3s ease, transform .3s ease;
        opacity: 0;
        visibility: hidden;
        overflow: hidden;
        @media (max-width: $sw-sm-max) {
            border-radius: 0;
        }
        .scrollbar-outer > .scroll-element.scroll-y {
            height: calc(100% - 30px);
            top: 15px;
            margin-bottom: 15px;
        }
        &__inner {
            height: auto;
            max-height: calc(100vh - 18.4rem);
            overflow: hidden;
            overflow-y: auto;
            width: 100%;
            @media (max-width: $sw-xx-max) {
                max-height: calc(100vh - 14rem);
            }
        }
        &__list {
            &:empty {
                &:before {
                    content: attr(data-empty-text);
                    display: block;
                    padding: 1.4rem 2.3rem;
                    text-align: center;
                    font-weight: 600;
                    font-size: 1.6rem;
                    line-height: 1em;
                    color: $light-blue;
                }
            }
            &__item {
                a {
                    display: flex;
                    align-items: center;
                    padding: 1.6rem 2.3rem;
                    font-size: 1.6rem;
                    line-height: 1em;
                    font-weight: 600;
                    background-color: transparent;
                    transition: color .3s ease, background-color .3s ease;
                    @media (max-width: $sw-xx-max) {
                        padding: 1.4rem 2.5rem;
                    }
                    &:hover {
                        @media (min-width: $sw-sm-min) {
                            background-color: rgba($light-blue, 0.05);
                        }
                    }
                }
            }
        }
    }
    &__form {
        width: 100%;
        max-width: 99.2rem;
        position: relative;
        &__submit {
            position: absolute;
            right: 0;
            top: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 1.9rem;
            height: 100%;
            border-radius: 0 1.6rem 1.6rem 0;
            @media (max-width: $sw-sm-max) {
                right: 0;
                padding: 0;
                width: 5rem;
                border-radius: 0;
                z-index: 11;
            }
            @media (max-width: $sw-xs-max) {
            }
            @media (max-width: $sw-xx-max) {
                right: 1px;
            }
            .icon-search {
                font-size: 2.7rem;
                color: $yellow;
                @media (max-width: $sw-xx-max) {
                    font-size: 2.3rem;
                }
            }
        }
        .input-wrap {
            position: relative;
            @media (max-width: $sw-sm-max) {
                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 100vw;
                    left: 50%;
                    transform: translateX(-50%);
                    top: 0;
                    height: 100%;
                    background-color: #21273B;
                }
            }
        }
        .form-control {
            height: 6.4rem;
            padding: 0 7.2rem 0 2.3rem;
            @media (max-width: $sw-sm-max) {
                height: 7.2rem;
                border-radius: 0;
                position: relative;
                z-index: 10;
                padding: 0 7.2rem 0 2rem;
            }
            @media (max-width: $sw-xx-max) {
                height: 5.6rem;
                padding: 0 7.2rem 0 2.5rem;
            }
            &:focus {
                @media (max-width: $sw-sm-max) {
                    background-color: $clay;
                }
            }
        }
    }
}