mixin search(data)
	.site-search
		.site-search-backdrop
		.container
			.site-search-inner
				form.site-search__form(action="javascript:void(0)")
					.input-wrap
						input#site-search-input.form-control.form-control--search(type="text", placeholder="Products Search", required, value='' + data.value ? data.value : null, autocomplete="off")
					button.site-search__form__submit(type="submit")
						+svg('icon-search')
				.site-search-result
					.site-search-result__inner.scrollbar-outer.js-support-scrollbar
						ul.site-search-result__list.h-reset-list(data-empty-text="No results")