extends _includes/_extends/main

include _includes/components/account-sidebar/account-sidebar
include _includes/components/acc-cart-detail/acc-cart-detail
include _includes/components/products-in-order/products-in-order



block head
	+head({'title':'Cart'})

block header
	+header({
		class: '', 
		noty_receive: false, 
		noty_withdrawn: false, 
		noty_new: false, 
		noty_error: false,
		mob_items: [
			{class: '', name: 'Products'},
			{class: '', name: 'Feedbacks'},
			{class: '', name: 'Referral program'},
			{class: '', icon: 'icon-headset', name: 'Club'},
			{class: '', icon: 'icon-settings', name: 'Payments'},
			{class: 'is-active', icon: 'icon-partner', name: 'Shipping'},
			{class: '', icon: 'icon-invite', name: 'FAQ'},
			{class: '', icon: 'icon-withdraw', name: 'Contact us'}
		]
	})

block content
	.acc-wrapper
		+account-sidebar({
			list: [
				{name: 'My Account', icon: 'icon-my-acc', count_box: false},
				{name: 'Orders', icon: 'icon-orders', count_box: '1'},
				{name: 'Store Coins', icon: 'icon-coins-tr', count_box: false},
				{name: 'Support', icon: 'icon-headset', count_box: '3'},
				{name: 'Settings', icon: 'icon-settings', count_box: false}
			],
			list_second: [
				{name: 'Refferal Program', icon: 'icon-partner'},
				{name: 'Invite Customer', icon: 'icon-invite'},
				{name: 'Withdraw Funds', icon: 'icon-withdraw'},
				{name: 'All stats', icon: 'icon-stats'}
			]
		})
		.acc-content
			.acc-cart
				.acc-cart__top
					.section-title
						+svg('icon-cart')
						p.section-title__secondary Cart
					.acc-coins__top__count
						+svg('icon-coins')
						span 211 Coins Available
				+acc-cart-detail()
			.acc-cart__footer
				.acc-cart__footer__inner
					a.btn.btn--md.btn--black(href="javascript:void(0)") 
						span Continue Shop
					a.btn.btn--yellow.btn--md(href="javascript:void(0)")
						span Proceed To Checkout