extends _includes/_extends/main

include _includes/components/products/products
include _includes/components/loader/loader



block head
	+head({'title':'Products'})

block header
	+header({
		class: '', 
		noty_receive: false, 
		noty_withdrawn: false, 
		noty_new: false, 
		noty_error: false,
		mob_items: [
			{class: 'is-active', name: 'Products'},
			{class: '', name: 'Feedbacks'},
			{class: '', name: 'Referral program'},
			{class: '', icon: 'icon-headset', name: 'Club'},
			{class: '', icon: 'icon-settings', name: 'Payments'},
			{class: '', icon: 'icon-partner', name: 'Shipping'},
			{class: '', icon: 'icon-invite', name: 'FAQ'},
			{class: '', icon: 'icon-withdraw', name: 'Contact us'}
		]
	})

block content
	+products()

block beforescripts
	.sticky-helpers
		.cart-sticky.sticky-block
			button.sticky-helpers__trigger.sticky-helpers__trigger--cart.js-sticky-helper-trigger(type="button")
				+svg('icon-cart')
				span.sticky-helpers__count 0
				+svg('icon-close')
			.cart-sticky__inner.js-sticky-helper-inner
				.cart-sticky__content
					.cart-sticky__inner__top
						.cart-sticky__inner__top__title
							+svg('icon-cart')
							span Cart
							span.count-box 0
						button.cart-sticky__inner__top__close.js-sticky-helper-close(type="button")
							+svg('icon-close')
							spab Close
					.cart-sticky__inner__products.h-scrollbar
					.cart-sticky__inner__footer
						span.cart-sticky__inner__footer__price 72.56 USD
						a.btn.btn--yellow.btn--md(href="javascript:void(0)")
							span Open Cart 