extends _includes/_extends/timer

include _includes/components/product-open/product-open
include _includes/components/faq/faq
include _includes/components/timer/timer


block head
	+head({'title':'Timer'})

block header
	+header({
		class: '', 
		noty_receive: false, 
		noty_withdrawn: false, 
		noty_new: false, 
		noty_error: false,
		mob_items: [
			{class: '', name: 'Products'},
			{class: '', name: 'Feedbacks'},
			{class: 'is-active', name: 'Referral program'},
			{class: '', icon: 'icon-headset', name: 'Club'},
			{class: '', icon: 'icon-settings', name: 'Payments'},
			{class: '', icon: 'icon-partner', name: 'Shipping'},
			{class: '', icon: 'icon-invite', name: 'FAQ'},
			{class: '', icon: 'icon-withdraw', name: 'Contact us'}
		]
	})

block content
	+product-open()