extends _includes/_extends/main

include _includes/components/account-sidebar/account-sidebar
include _includes/components/account-coins/account-coins



block head
	+head({'title':'Trust coins'})

block header
	+header({
		class: '', 
		noty_receive: false, 
		noty_withdrawn: false, 
		noty_new: false, 
		noty_error: false,
		mob_items: [
			{class: '', name: 'Products'},
			{class: '', name: 'Feedbacks'},
			{class: 'is-active', name: 'Referral program'},
			{class: '', icon: 'icon-headset', name: 'Club'},
			{class: '', icon: 'icon-settings', name: 'Payments'},
			{class: '', icon: 'icon-partner', name: 'Shipping'},
			{class: '', icon: 'icon-invite', name: 'FAQ'},
			{class: '', icon: 'icon-withdraw', name: 'Contact us'}
		]
	})

block content
	.acc-wrapper
		+account-sidebar({
			list: [
				{name: 'My Account', icon: 'icon-my-acc', count_box: false},
				{name: 'Orders', icon: 'icon-orders', count_box: '1'},
				{name: 'Store Coins', icon: 'icon-coins-tr', count_box: false, class: 'is-active'},
				{name: 'Support', icon: 'icon-headset', count_box: '3'},
				{name: 'Settings', icon: 'icon-settings', count_box: false}
			],
			list_second: [
				{name: 'Refferal Program', icon: 'icon-partner'},
				{name: 'Invite Customer', icon: 'icon-invite'},
				{name: 'Withdraw Funds', icon: 'icon-withdraw'},
				{name: 'All stats', icon: 'icon-stats'}
			]
		})
		.acc-content
			.acc-coins
				+account-coins({
					top_icon: 'icon-credits-trust',
					title: 'Trustpilot Coins',
					count: '15 Coins',
					top_verify: 'Post positive review on trustpilot.com',
					stats: false,
					verify: false,
					lab: false,
					trust: true,
					earn: true,
                    earn_title: true,
					review: false,
                    empty: false,
                    notice: false,
					history: false,
					items: [
						{class: '', icon: 'icon-credits-photo', title: 'Photo Coins', coins_icon: 'icon-coins', coins: '10 Coins'},
						{class: '', icon: 'icon-credits-publish', title: 'Publish Coins', coins_icon: 'icon-coins', coins: '20 Coins'},
						{class: '', icon: 'icon-credits-review', title: 'Review Coins', coins_icon: 'icon-coins', coins: '15 Coins'},
						{class: '', icon: 'icon-blood', title: 'Blood Test Coins', coins_icon: 'icon-coins', coins: '30 Coins'},
						{class: 'acc-coins__earn__col--double', icon: 'icon-credits-lab', title: 'Lab Test Coins', coins_icon: 'icon-coins', coins: '50 Coins'},
					]
				})