extends _includes/_extends/main

block head
	+head({'title':'UI'})

block header

block footer

block content
	.container
		.ui-section
			p.h2.dekor--light-blue Icons
			.row
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-logo')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-eng')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-deu')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-rus')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-chevron')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-search')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-cart')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-on')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-trustpilot')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-pdf')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-on-sm')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-support')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-delivery')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-quality')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-direct')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-star-filled')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-slider-arrow')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-star')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-star-new')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-close-sm')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-checkmark')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-check-list-filled')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-check-list-dark')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-size')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-plus')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-picture')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-withdrawal')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-income')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-referal')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-headset')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-settings')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-orders')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-my-acc')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-wholesale-activate')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-warning')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-bitcoin')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-credit-card')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-bank-wire')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-domestic-shipping')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-order-over')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-order-till')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-delivery-time')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-shipping-from')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-tracking-number')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-reship-policy')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-discret-packaging')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-collect')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-circled-arrow')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-utensils')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-checkmark-stroke')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-checkmark-bold')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-remove-sm')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-headphones')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-checkmark-thin')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-chevron-thin')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-send')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-confirmed')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-email')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-grid')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-list')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-attention')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-balance')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-bannes')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-billed')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-blood')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-chevron-down')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-chk')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-clipboard')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-close')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-coins')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-coins-tr')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-credits-lab')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-credits-photo')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-credits-publish')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-credits-review')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-credits-trust')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-date-lifetime')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-date-month')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-date-year')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-download-pdf')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-invite')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-last-month')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-lock')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-log-out')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-menu')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-messages')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-online')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-partner')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-pending')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-people')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-plus-r')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-received')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-remove')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-report')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-soc-fb')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-soc-ig')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-soc-pin')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-soc-quora')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-soc-reddit')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-soc-skype')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-soc-snap')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-soc-tumblr')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-soc-twitter')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-soc-viber')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-soc-vk')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-soc-wa')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-soc-we-chat')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-soc-wickr')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-soc-yt')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-stats')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-support')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-terms')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-tracked')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-truck-received')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-upload-img')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-withdraw')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-account-logo')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-man-strong')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-take-share')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-use-withdraw')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-give-get')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-footer-contact')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-mg')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-payment-cr')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-wu')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-btc')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-payment-bw')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-time')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-bin')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-products')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-list-thin')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-grid-thin')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-star-simple')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-upload-doc')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-external-link')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-strong-man')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-calculator')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-heart')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-comment')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-filters')
				.col-12.col-md-6
					.ui-section__box
						+svg('icon-payments-strong')
		.ui-section
			p.h2.dekor--light-blue Buttons
			.row
				.col-12.col-md-6
					.ui-section__box
						button.btn.btn--md.btn--transparent(type="button") Button
				.col-12.col-md-6
					.ui-section__box
						button.btn.btn--md.btn--yellow(type="button") Button
				.col-12.col-md-6
					.ui-section__box
						button.btn.btn--md.btn--dark(type="button") Button
				.col-12.col-md-6
					.ui-section__box
						button.btn.btn--md.btn--black(type="button") Button
				.col-12.col-md-6
					.ui-section__box
						button.btn.btn--md.btn--green(type="button") Button
				.col-12.col-md-6
					.ui-section__box
						button.btn.btn--md.btn--clay(type="button") Button
				.col-12.col-md-6
					.ui-section__box
						button.btn.btn--md.btn--yellow-bordered(type="button") Button
				.col-12.col-md-6
					.ui-section__box
						button.btn.btn--md.btn--red-bordered(type="button") Button
				.col-12.col-md-6
					.ui-section__box
						button.btn.btn--md.btn--silver-bordered(type="button") Button
				.col-12.col-md-6
					.ui-section__box
						button.btn.btn--md.btn--blue-bordered(type="button") Button
				.col-12.col-md-6
					.ui-section__box
						button.btn.btn--md.btn--bordered(type="button") Button
				.col-12.col-md-6
					.ui-section__box
						button.btn.btn--md.btn--silver(type="button") Button
				.col-12.col-md-6
					.ui-section__box
						button.btn.btn--lg.btn--yellow(type="button") Button
				.col-12.col-md-6
					.ui-section__box
						button.btn.btn--xl.btn--yellow(type="button") Button