button{
    // button reset
    display: inline-block;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
    outline: none;
    box-shadow: none;
    border: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    &:focus {
        outline: none;
        box-shadow: none;
    }
}

a {
    -webkit-appearance: none;
    -moz-appearance: none;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    outline: none;
    box-shadow: none;
    border: none;
    transition: background-color .3s ease, color .3s ease, opacity .3s ease, visibility .3s ease;
    font-size: 1.4rem;
    line-height: 1;
    border-radius: 1.6rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    overflow: hidden;
    text-transform: capitalize;
    &:focus {
        outline: none;
        box-shadow: none;
    }
    &[disabled] {
        background-color: #555869;
        cursor: default;
        color: $dark;
    }
    .icon {
        font-size: 2rem;
        margin-right: 1rem;
        flex-shrink: 0;
    }
    &__mob-text {
        @media (max-width: $sw-xx-max) {
            display: none;
        }
    }
    &--transparent {
        background-color: transparent;
        color: $yellow;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 1.875em;
        @media (max-width: $sw-xx-max) {
            color: $yellow !important;
        }
        &:not([disabled]):hover {
            @media (min-width: $sw-xs-min) { 
                color: lighten($yellow, 10%);
            }
        }
        &:not([disabled]):active {
            @media (min-width: $sw-xs-min) {
                color: lighten($yellow, 20%);
            }
        }
    }
    &--yellow {
        background-color: $yellow;
        color: $dark;
        @media (max-width: $sw-xx-max) {
            color: $dark !important;
        }
        &:not([disabled]):hover {
            @media (min-width: $sw-xs-min) { 
                background-color: lighten($yellow, 10%);
            }
        }
        &:not([disabled]):active {
            @media (min-width: $sw-xs-min) {
                background-color: lighten($yellow, 20%);
            } 
        }
        &[disabled] {
            background-color: #21273B;
            color: rgba(223, 225, 238, 0.3);
        }
    }
    &--dark {
        background-color: $dark;
        border-radius: 1.6rem;
        color: $light-blue !important;
        font-weight: 600;
        &:not([disabled]):hover {
            @media (min-width: $sw-xs-min) { 
                background-color: lighten($dark, 3%);
            }
        }
        &:not([disabled]):active {
            @media (min-width: $sw-xs-min) {
                background-color: lighten($dark, 5%);
            }
        }
    }
    &--black {
        border-radius: 1.6rem;
        border: 1px solid rgba(223, 225, 238, 0.3);
        background-color: $dark;
        font-weight: 600;
        color: $light-blue !important;
        &:not([disabled]):hover {
            @media (min-width: $sw-xs-min) { 
                background-color: lighten($dark, 3%);
            }
        }
        &:not([disabled]):active {
            @media (min-width: $sw-xs-min) {
                background-color: lighten($dark, 5%);
            }
        }
    }
    &--green {
        background-color: #21273B;
        border: 1px solid #6FCF97;
        border-radius: 1.6rem;
        font-weight: 600;
        color: #6FCF97 !important;
        padding: 0 1rem;
        min-width: 13rem;
        &:not([disabled]):hover {
            @media (min-width: $sw-xs-min) { 
                background-color: lighten(#21273B, 4%);
            }
        }
        &:not([disabled]):active {
            @media (min-width: $sw-xs-min) {
                background-color: lighten(#21273B, 6%);
            }
        }
    }
    &--green-filled {
        background-color: #6FCF97;
        border: 1px solid #6FCF97;
        border-radius: 1.6rem;
        font-weight: 600;
        color: $dark !important;
        padding: 0 1rem;
        &:not([disabled]):hover {
            @media (min-width: $sw-xs-min) { 
                background-color: darken(#6FCF97, 6%);
            }
        }
        &:not([disabled]):active {
            @media (min-width: $sw-xs-min) {
                background-color: darken(#6FCF97, 10%);
            }
        }
        .icon-chk {
            font-size: 1.4rem;
        }
    }
    &--clay {
        background-color: $clay;
        color: rgba($light-blue, 0.5) !important;
        font-weight: 600;
        text-transform: capitalize;
        &:not([disabled]):hover {
            @media (min-width: $sw-xs-min) { 
                background-color: lighten($clay, 3%);
            }
        }
        &:not([disabled]):active {
            @media (min-width: $sw-xs-min) {
                background-color: lighten($clay, 5%);
            }
        }
    }
    &--yellow-bordered {
        background-color: $yellow;
        border-radius: 1.6rem;
        color: $dark !important;
        font-weight: 600;
        border: 2px solid rgba(0,0,0,.2);
        @media (max-width: $sw-sm-max) {
            border: 1px solid #000000;
        }
        &:not([disabled]):hover {
            @media (min-width: $sw-xs-min) { 
                background-color: lighten($yellow, 6%);
            }
        }
        &:not([disabled]):active {
            @media (min-width: $sw-xs-min) {
                background-color: lighten($yellow, 14%);
            } 
        }
    }
    &--red-bordered {
        background-color: transparent;
        color: #EB5757 !important;
        font-weight: 600;
        padding: 0 1.3rem !important;
        border: 1px solid rgba(223, 225, 238, 0.3);
        &:not([disabled]):hover {
            @media (min-width: $sw-xs-min) { 
                background-color: rgba(223, 225, 238, 0.05)
            }
        }
        &:not([disabled]):active {
            @media (min-width: $sw-xs-min) {
                background-color: rgba(223, 225, 238, 0.1)
            }
        }
    }
    &--red-dark {
        background-color: $dark;
        color: #EB5757 !important;
        font-weight: 600;
        padding: 0 1.3rem !important;
        border: 1px solid #EB5757;
        &:not([disabled]):hover {
            @media (min-width: $sw-xs-min) { 
                background-color: rgba(223, 225, 238, 0.05)
            }
        }
        &:not([disabled]):active {
            @media (min-width: $sw-xs-min) {
                background-color: rgba(223, 225, 238, 0.1)
            }
        }
    }
    &--white {
        background-color: #21273b;
        color: $light-blue !important;
        font-weight: 600;
        padding: 0 1.3rem !important;
        border: 1px solid $light-blue;
        &:not([disabled]):hover {
            @media (min-width: $sw-xs-min) { 
                background-color: darken(#21273b, 3%);
            }
        }
        &:not([disabled]):active {
            @media (min-width: $sw-xs-min) {
                background-color: darken(#21273b, 6%);
            }
        }
    }
    &--silver-bordered {
        color: rgba(223, 225, 238, 0.3) !important;
        background-color: transparent;
        color: $yellow;
        font-weight: 600;
        border: 1px solid rgba(223, 225, 238, 0.3);
        &:not([disabled]):hover {
            @media (min-width: $sw-xs-min) { 
                background-color: rgba(223, 225, 238, 0.05);
            }
        }
        &:not([disabled]):active {
            @media (min-width: $sw-xs-min) {
                background-color: rgba(223, 225, 238, 0.1);
            }
        }
    }
    &--blue-bordered {
        color: #2F80ED !important;
        background-color: transparent;
        color: $yellow;
        font-weight: 600;
        border: 1px solid #2F80ED;
        &:not([disabled]):hover {
            @media (min-width: $sw-xs-min) { 
                background-color: rgba(#2F80ED, 0.05);
            }
        }
        &:not([disabled]):active {
            @media (min-width: $sw-xs-min) {
                background-color: rgba(#2F80ED, 0.1);
            }
        }
    }
    &--bordered {
        background-color: $dark;
        color: $yellow;
        font-weight: 600;
        border: 1px solid $yellow;
        @media (max-width: $sw-xx-max) {
            color: $yellow !important;
        }
        &:not([disabled]):hover {
            @media (min-width: $sw-xs-min) { 
                background-color: $yellow;
                color: $dark;
            }
        }
        &:not([disabled]):active {
            @media (min-width: $sw-xs-min) {
                color: $dark;
                background-color: lighten($yellow, 10%);
            }
        }
        &[disabled] {
            color: rgba(223, 225, 238, 0.3) !important;
            background-color: transparent;
            color: $yellow !important;
            font-weight: 600;
            border: 1px solid rgba(223, 225, 238, 0.3);
        }
    }
    &--silver {
        background-color: rgba(47, 53, 72, 0.05);
        border-radius: 1.6rem;
        color: $dark !important;
        font-weight: 600;
        font-size: 1.8rem;
        @media (max-width: $sw-sm-max) {
            font-size: 1.4rem;
        }
        &:not([disabled]):hover {
            @media (min-width: $sw-xs-min) { 
                background-color: rgba(47, 53, 72, 0.1);
            }
        }
        &:not([disabled]):active {
            @media (min-width: $sw-xs-min) {
                background-color: rgba(47, 53, 72, 0.15);
            }
        }
    }
    &--salat {
        background-color: #6FCF97;
        border-radius: 1.6rem;
        color: $dark !important;
        font-weight: 600;
        font-size: 1.4rem;
        padding: 0 1rem !important;
        &:not([disabled]):hover {
            @media (min-width: $sw-xs-min) { 
                background-color: darken(#6FCF97, 10%);
            }
        }
        &:not([disabled]):active {
            @media (min-width: $sw-xs-min) {
                background-color: darken(#6FCF97, 15%);
            }
        }
    }
    &--red {
        background-color: #EB5757;
        border-radius: 1.6rem;
        color: $dark !important;
        font-weight: 600;
        font-size: 1.4rem;
        padding: 0 1rem !important;
        &:not([disabled]):hover {
            @media (min-width: $sw-xs-min) {
                background-color: darken(#EB5757, 3%);
            }
        }
        &:not([disabled]):active {
            @media (min-width: $sw-xs-min) {
                background-color: darken(#EB5757, 7%);
            }
        }
    }
    &--fluid {
        width: 100%;
    }
    &--md {
        padding: 0 2rem;
        height: 5rem;
        font-weight: 600;
        @media (max-width: $sw-sm-max) {
            // height: 4rem;
            padding: 0 1.7rem;
        }
    }
    &--lg {
        padding: 0 2rem;
        height: 6.4rem;
        font-weight: 600;
        @media (max-width: $sw-sm-max) {
            height: 5.6rem;
            padding: 0 1.7rem;
        }
    }
    &--xl {
        height: 8.8rem;
        padding: 0 3rem;
        font-size: 1.8rem;
        min-width: 22.4rem;
        font-weight: 600;
        @media (max-width: $sw-md-max) {
            height: 7.6rem;
        }
        @media (max-width: $sw-sm-max) {
            min-width: 17.6rem;
            height: 6.4rem;
            font-size: 1.4rem;
        }
        @media (max-width: $sw-xs-max) {
            border-radius: 1.6rem;
        }
        @media (max-width: $sw-xx-max) {
            height: 4.8rem;
            padding: 0 2rem;
            min-width: 15.2rem;
        }
    }
}