.modal {
    min-width: 320px;
    @media (max-width: $sw-xs-max) {
        padding-left: 0 !important;
    }
    .modal-active & {
        overflow-x: hidden;
        overflow-y: auto;
    }
}

.modal-dialog {
    max-width: none;
    position: relative;
}

.modal-backdrop {
    background-color: #1B2134;
    &.show {
        opacity: 0.85;
    }
}

.modal-close {
    position: absolute;
    top: -3.1rem;
    right: 0;
    z-index: 10;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1em;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: $light-blue;
    cursor: pointer;
    transition: color .3s ease;
    @media (max-width: $sw-xx-max) {
        font-size: 1.6rem;
        top: -2.5rem;
    }
    &:hover {
        @media (min-width: $sw-xs-min) {
            color: darken($light-blue, 7%);
        }
    }
    .icon-close {
        margin-right: 1.3rem;
        font-size: 1.2rem;
    }
}

.modal-content {
    background-color: transparent;
    border: none;
    padding: 4rem 5px 2rem 5px;
    @media (max-width: $sw-xs-max) {
        padding: 4rem 1.9rem 2rem 1.9rem;
    }
    @media (max-width: $sw-xx-max) {
        padding: 4rem 5px 2rem 5px;
    }
}

.modal-inner {
    width: 100%;
    max-width: 66.4rem;
    margin: 0 auto;
    background-color: $light-blue;
    border-radius: 3.2rem;
    padding: 6.4rem 6.4rem 5.5rem 6.4rem;
    @media (max-width: $sw-md-max) {
        max-width: 59rem;
        padding: 4.8rem 4.8rem 4.7rem 4.8rem;
    }
    @media (max-width: $sw-sm-max) {
        max-width: 51.2rem;
        padding: 3.2rem 3.2rem 3.8rem 3.2rem;
    }
    @media (max-width: $sw-xx-max) {
        max-width: 40rem;
        border-radius: 2.4rem;
        padding: 2.4rem 2.4rem 4.3rem 2.4rem;
    }
    .sign-in-modal & {
        max-width: 45.1rem;
        padding: 6rem 5.9rem 7rem 5.9rem;
        @media (max-width: $sw-md-max) {
            padding: 4.8rem 4.8rem 4.7rem 4.8rem;
        }
        @media (max-width: $sw-sm-max) {
            padding: 3.2rem 3.2rem 3.8rem 3.2rem;
        }
        @media (max-width: $sw-xx-max) {
            padding: 3rem 2.4rem 3.5rem 2.4rem;
        }
    }
    .sign-up-modal & {
        max-width: 45.1rem;
        padding: 6rem 5.9rem 3.5rem 5.9rem;
        @media (max-width: $sw-md-max) {
            padding: 4.8rem 4.8rem 3.5rem 4.8rem;
        }
        @media (max-width: $sw-sm-max) {
            padding: 3.2rem 3.2rem 3.5rem 3.2rem;
        }
        @media (max-width: $sw-xx-max) {
            padding: 3rem 2.4rem 3.5rem 2.4rem;
        }
    }
    
    .sign-in-modal & {
        .btn--silver {
            margin-top: 1.5rem;
            height: 5.7rem;
        }
    }

    &-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12rem;
        @media (max-width: $sw-xs-max) {
            font-size: 9rem;
        }
    }

    &-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 6.4rem;
        @media (max-width: $sw-md-max) {
            margin-bottom: 5.6rem;
        }
        @media (max-width: $sw-sm-max) {
            margin-bottom: 4.8rem;
        }
        @media (max-width: $sw-xx-max) {
            margin-bottom: 2.4rem;
        }
        .sign-in-modal &, .sign-up-modal & {
            text-align: center;
            justify-content: center;
            margin-bottom: 4.4rem;
        }
        .h1, .h2 {
            margin-bottom: 0;
            @media (max-width: $sw-xx-max) {
                font-size: 1.8rem;
            }
            .sign-in-modal &, .sign-up-modal & {
                font-size: 2.9rem;
                @media (max-width: $sw-xx-max) {
                    font-size: 1.8rem;
                }
            }
        }
        .btn {
            font-style: italic;
            min-width: 26.8rem;
            text-transform: uppercase;
            border-radius: 2.4rem;
            @media (max-width: $sw-md-max) {
                border-radius: 2rem;
                min-width: 23.8rem;
            }
            @media (max-width: $sw-sm-max) {
                min-width: 20.8rem;
                border-radius: 1.6rem;
                font-size: 1.8rem;
            }
            @media (max-width: $sw-xs-max) {
                height: 6.4rem;
            }
            @media (max-width: $sw-xx-max) {
                min-width: 12rem;
                font-size: 1.2rem;
            }
        }
    }
    &-form {
        &.sign-in-form {
            .form-control-submit {
                margin-top: 1rem;
                width: 100%;
                height: 6.7rem;
                @media (max-width: $sw-sm-max) {
                    margin-top: 1rem;
                }
                @media (max-width: $sw-xx-max) {
                    margin-top: 8px;
                }
            }
        }
        &.sign-up-form {
            .form-control-submit {
                margin-top: 2rem;
                width: 100%;
                height: 6.7rem;
                @media (max-width: $sw-xs-max) {
                    margin-top: 8px;
                }
            }
        }
        &__links {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin-top: -10px;
            .modal-inner-links__item {
                margin: 0 5px 0 0;
            }
        }
    }
    &-text {
        font-size: 1.4rem;
        line-height: 1.57em;
        color: $clay;
        margin: 3.1rem 0 3.4rem 0;
        text-align: center;
        padding: 0 3.2rem;
        @media (max-width: $sw-sm-max) {
            padding: 0 1rem;
            margin: 2rem 0;
        }
        @media (max-width: $sw-xx-max) {
            font-size: 1.2rem;
        }
        .sign-up-modal & {
            font-size: 1rem;
            margin: 1rem 0 2rem 0;
            padding: 0 6px;
        }
        .check-email-modal & {
            font-size: 1.4rem;
            line-height: 1.875em;
            margin: 4.3rem 0 4.7rem 0;
            padding: 0;
            @media (max-width: $sw-md-max) {
                margin: 4rem 0 4.5rem 0;
            }
            @media (max-width: $sw-sm-max) {
                margin: 3rem 0;
            }
            br {
                @media (max-width: $sw-xs-max) {
                    display: none;
                }
            }
        }
        .select-region-modal & {
            margin: 2.4rem 0 4.2rem 0;
            @media (max-width: $sw-sm-max) {
                margin: 2rem 0 3.4rem 0;
                font-size: 1.2rem;
                line-height: 1.875em;
            }
            @media (max-width: $sw-xx-max) {
                margin: 2.1rem 0 3.4rem 0;
            }
            br {
                @media (max-width: $sw-xx-max) {
                    display: none;
                }
            }
        }
    }
    &-btn-group {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: $sw-xs-max) {
            flex-wrap: wrap;
        }
        .select-region-modal & {
            flex-wrap: wrap;
        }
        .check-email-modal & {
            justify-content: center;
        }
        .btn {
            min-width: 25.2rem;
            @media (max-width: $sw-md-max) {
                min-width: 23rem;
            }
            @media (max-width: $sw-sm-max) {
                min-width: 21rem;
            }
            @media (max-width: $sw-xs-max) {
                width: 100%;
                height: 6.4rem;
            }
            & + .btn {
                @media (max-width: $sw-xs-max) {
                    margin-top: 1.5rem;
                }
            }
            .check-email-modal & {
                min-width: 23rem;
                height: 6.4rem;
                font-size: 1.8rem;
            }
            .select-region-modal & {
                font-weight: 400;
                width: 100%;
                font-size: 1.4rem;
                @media (max-width: $sw-xx-max) {
                    flex-wrap: wrap;
                    line-height: 1.4em;
                    min-height: 7.2rem;
                    height: auto;
                    padding: 1.4rem 2rem;
                }
                & + .btn {
                    margin-top: 1.6rem;
                    @media (max-width: $sw-xx-max) {
                        margin-top: 2.4rem;
                    }
                }
                b {
                    margin-right: 8px;
                    font-size: 1.8rem;
                    font-weight: 600;
                    @media (max-width: $sw-sm-max) {
                        font-size: 1.4rem;
                    }
                    @media (max-width: $sw-xx-max) {
                        margin-right: 5px;
                    }
                }
            }
        }
    }
    &-links {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 3.4rem;
        @media (max-width: $sw-xx-max) {
            margin-top: 4rem;
            flex-direction: column;
        }
        &__item {
            font-size: 1.4rem;
            line-height: 1.875em;
            color: $clay;
            font-weight: 600;
            margin: 0 2.6rem;
            @media (max-width: $sw-xx-max) {
                line-height: 2em;
                margin-left: 0;
                margin-right: 0;
            }
            & + .modal-inner-links__item {
                @media (max-width: $sw-xx-max) {
                    margin-top: 2.3rem;
                }
            }
        }
    }
    &-cta-title {
        font-size: 1.6rem;
        line-height: 1.875em;
        color: rgba($dark, 0.4);
        text-align: center;
        margin-bottom: 1.3rem;
        @media (max-width: $sw-sm-max) {
            font-size: 1.4rem;
        }
        @media (max-width: $sw-xs-max) {
            font-size: 1.2rem;
            margin-bottom: 8px;
        }
        @media (max-width: $sw-xx-max) {
            font-size: 1rem;
        }
    }
}

.review-example {
    width: 100%;
    max-width: 50rem;
    margin: 0 auto;
    position: relative;
    background-color: #272E46;
    border: 1px solid rgba(223, 225, 238, 0.3);
    border-radius: 1.6rem;
    .publication-example__inner {
        padding: 3rem 2rem;
    }
}

.publication-example {
    width: 100%;
    max-width: 72rem;
    margin: 0 auto;
    position: relative;
    background-color: #272E46;
    border: 1px solid rgba(223, 225, 238, 0.3);
    border-radius: 1.6rem;
    &__top {
        border-bottom: 1px solid rgba(223, 225, 238, 0.3);
        padding: 2rem;
        @media (max-width: $sw-xx-max) {
            padding: 1.5rem;
        }
    }
    &__title {
        font-style: italic;
        font-weight: 800;
        font-size: 2.4rem;
        line-height: 1.65em;
        text-transform: uppercase;
        color: $light-blue;
        @media (max-width: $sw-sm-max) {
            font-size: 2rem;
        }
        @media (max-width: $sw-xx-max) {
            font-size: 1.8rem;
        }
    }
    &__inner {
        padding: 2rem;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        @media (max-width: $sw-xx-max) {
            padding: 1.5rem;
            flex-wrap: wrap;
        }
    }
    &__image {
        width: 32rem;
        height: 32rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 6px;
        overflow: hidden;
        flex-shrink: 0;
        margin-right: 4rem;
        @media (max-width: $sw-xx-max) {
            margin-right: 0;
            margin-bottom: 2rem;
            width: 100%;
            height: auto;
        }
        img {
            max-width: 100%;
            max-height: 100%;
            width: auto;
            height: auto;
            border-radius: inherit;
            @media (max-width: $sw-xx-max) {
                max-height: 32rem;
            }
        }
    }
    &__text {
        flex-grow: 1;
        &__title {
            display: block;
            width: 100%;
            text-transform: uppercase;
            color: $light-blue;
            font-weight: 600;
            font-size: 1.8rem;
            line-height: 1.1em;
            margin-bottom: 1rem;
        }
        p {
            margin-bottom: 2rem;
            font-size: 1.6rem;
            line-height: 1.25em;
            text-transform: capitalize;
            color: $light-blue;
            @media (max-width: $sw-xx-max) {
                line-height: 1.4em;
                font-size: 1.4em;
            }
        }
    }
    &__id {
        text-transform: uppercase;
        color: $yellow;
        display: block;
        width: 100%;
        font-weight: 600;
        font-size: 1.4rem;
        line-height: 1.4em;
    }
}

.sign-in-content {
    position: relative;
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    background-color: #272E46;
    border: 1px solid rgba(223, 225, 238, 0.3);
    border-radius: 1.6rem;
    display: flex;
    min-height: 48rem;
    @media (max-width: $sw-sm-max) {
        max-width: 70rem;
        min-height: 40rem;
    }
    @media (max-width: $sw-xx-max) {
        flex-wrap: wrap;
    }
    .input-wrap {
        width: 100%;
        margin-bottom: 2rem;
        @media (max-width: $sw-xx-max) {
            margin-bottom: 1.5rem;
        }
        p {
            margin-bottom: 0;
            text-align: center;
            font-size: 1.2rem;
            line-height: 1.6em;
        }
    }
    &__info {
        margin-bottom: 2rem;
        @media (max-width: $sw-xx-max) {
            margin-bottom: 1.5rem;
        }
        p {
            margin-bottom: 0;
            text-align: center;
            font-size: 1.6rem;
            line-height: 1.25em;
            & + p {
                margin-top: 1.5rem;
            }
        }
    }
    &__image {
        width: 36rem;
        background-color: $dark;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding: 3rem;
        border-radius: 1.6rem 0 0 1.6rem;
        position: relative;
        @media (max-width: $sw-sm-max) {
            width: 32rem;
        }
        @media (max-width: $sw-xx-max) {
            width: 100%;
            background-color: transparent;
            padding: 2rem 2rem 0 2rem;
            box-shadow: none;
            border-radius: 1.6rem 1.6rem 0 0;
            text-align: center;
        }
        &:after {
            content: '';
            display: block;
            width: 100%;
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background-image: url('../../s/images/useful/refferal-banner/refferal-banner-man.png');
            background-repeat: no-repeat;
            background-position: bottom left;
            background-position: -8.1rem 100%;
            background-size: 43rem;
            @media (max-width: $sw-sm-max) {
                background-position: -5rem 100%;
                background-size: 34rem;
            }
            @media (max-width: $sw-xx-max) {
                display: none;
            }
        }
        .icon-logo {
            font-size: 2rem;
            @media (max-width: $sw-sm-max) {
                font-size: 1.8rem;
            }
        }
    }
    &__form {
        width: calc(100% - 36rem);
        border-radius: 0 1.6rem 1.6rem 0;
        padding: 4rem 6rem 5rem 6rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        @media (max-width: $sw-sm-max) {
            padding: 3rem;
            width: calc(100% - 32rem);
        }
        @media (max-width: $sw-xx-max) {
            width: 100%;
            border-radius: 0 0 1.6rem 1.6rem;
            padding: 2rem;
        }
    }
    &__switcher {
        width: 100%;
        display: flex;
        margin-bottom: 3rem;
        @media (max-width: $sw-xx-max) {
            margin-bottom: 2rem;
        }
        &__btn {
            width: 50%;
            height: 5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 1rem;
            border: 1px solid $light-blue;
            background-color: #272E46;
            transition: background-color .3s ease, color .3s ease;
            cursor: pointer;
            font-size: 1.4rem;
            line-height: 1.2em;
            text-transform: capitalize;
            color: $light-blue;
            outline: none;
            box-shadow: none;
            @media (max-width: $sw-xx-max) {

            }
            &:not(.is-active) {
                &:hover {
                    @media (min-width: $sw-xs-min) {
                        background-color: lighten(#272E46, 5%);
                    }
                }
                &:active {
                    background-color: lighten(#272E46, 8%);
                }
            }
            &:first-child {
                border-radius: 1.6rem 0 0 1.6rem;
            }
            &:last-child {
                border-radius: 0 1.6rem 1.6rem 0;
            }
            &.is-active {
                background-color: $light-blue;
                font-weight: 600;
                color: $dark;
                pointer-events: none;
            }
            .icon {
                margin-right: 1rem;
                font-size: 2rem;
                @media (max-width: $sw-xx-max) {
                    font-size: 1.8rem;
                }
            }
        }
    }
    &__btn-group {
        width: 100%;
        margin-top: auto;
        @media (max-width: $sw-xx-max) {
            margin-top: 0;
        }
        .btn {
            min-width: auto;
            width: 100%;
            & + .btn {
                margin-top: 2rem;
            }
        }
        .btn--silver-bordered {
            color: $light-blue !important;
        }
    }
    &__link {
        color: $light-blue !important;
        font-weight: 300;
        font-size: 1.4rem;
        line-height: 2em;
        &:hover {
            @media (min-width: $sw-xs-min) {
                color: $yellow !important;
            }
        }
    }
}

.coins-submit {
    &-wrapper {
        width: 100%;
        max-width: 50rem;
        margin: 0 auto;
        position: relative;
        background-color: #272E46;
        border: 1px solid rgba(223, 225, 238, 0.3);
        border-radius: 1.6rem;
    }
    &-inner {
        padding: 4rem 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        @media (max-width: $sw-xs-max) {
            padding: 2rem;
        }
    }
    &-icon {
        margin-bottom: 5rem;
        @media (max-width: $sw-xs-max) {
            margin-bottom: 3rem;
        }
        .icon-time {
            font-size: 4rem;
            color: $light-blue;
            @media (max-width: $sw-xs-max) {
                font-size: 3rem;
            }
            @media (max-width: $sw-xx-max) {
                font-size: 2rem;
            }
        }
    }
    &-text {
        text-transform: uppercase;
        margin-bottom: 4rem;
        @media (max-width: $sw-xs-max) {
            margin-bottom: 3rem;
        }
        @media (max-width: $sw-xx-max) {
            margin-bottom: 2rem;
        }
        p {
            color: $light-blue;
            margin-bottom: 0;
            font-style: italic;
            font-weight: 800;
            font-size: 2.6rem;
            line-height: 1.15em;
            letter-spacing: -0.02em;
            @media (max-width: $sw-xs-max) {
                font-size: 2rem;
            }
            @media (max-width: $sw-xx-max) {
                font-size: 1.8rem;
            }
        }
    }
    &-submit {
        display: flex;
        align-items: center;
        justify-content: center;
        .btn {
            height: 6rem;
            width: auto;
            min-width: 14rem;
            @media (max-width: $sw-xs-max) {
                height: 5rem;
            }
        }
    }
}

.face-to-face {
    &-wrapper {
        width: 100%;
        max-width: 28rem;
        margin: 0 auto;
        position: relative;
    }
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2rem;
        .modal-close {
            position: relative;
            top: auto;
            right: auto;
        }
    }
    &__logo {
        font-size: 2rem;
        flex-shrink: 0;
        margin-right: 1rem;
    }
    &__title {
        margin-bottom: 3rem;
        text-align: center;
        font-size: 1.4rem;
        line-height: 1.42em;
        text-transform: capitalize;
        color: $light-blue;
    }
    &__image {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 28rem;
        height: 28rem;
        margin: 0 auto 3rem auto;
        img {
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 100%;
            border-radius: 1.6rem;
        }
    }
    &__invite-code {
        font-weight: 600;
        font-size: 1.8rem;
        line-height: 1.65em;
        text-align: center;
        text-transform: capitalize;
        color: $yellow;
    }
}

.feedback-comments-modal {
    @media (max-width: $sw-xx-max) {
        overflow: hidden !important;
    }
    .modal-dialog,
    .modal-content {
        @media (max-width: $sw-xx-max) {
            margin: 0;
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            overflow: hidden !important;
        }
    }
}

.feedbacks-comments {
    width: 100%;
    max-width: 72rem;
    margin: 0 auto;
    position: relative;
    background-color: #272E46;
    border: 1px solid rgba(223, 225, 238, 0.3);
    border-radius: 1.6rem;
    @media (max-width: $sw-xx-max) {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        height: 100%;
        max-width: none;
        border-radius: 0;
        border: none;
    }
    &__top {
        border-bottom: 1px solid rgba(223, 225, 238, 0.3);
        padding: 2rem;
        @media (max-width: $sw-xx-max) {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 5rem;
            padding: 0 1rem;
            flex-shrink: 0;
            border-bottom-color: #2F3548;
        }
        .modal-close {
            @media (max-width: $sw-xx-max) {
                position: relative;
                top: auto;
                right: auto;
            }
        }
    }
    &__title {
        font-style: italic;
        font-weight: 800;
        font-size: 2.4rem;
        line-height: 1.65em;
        text-transform: uppercase;
        color: $light-blue;
        @media (max-width: $sw-sm-max) {
            font-size: 2rem;
        }
        @media (max-width: $sw-xx-max) {
            font-size: 2.4rem;
        }
    }
    &__inner {
        padding: 2rem;
        display: flex;
        justify-content: space-between;
        @media (max-width: $sw-xx-max) {
            overflow: hidden;
            flex-grow: 1;
            padding: 1rem 1rem 0 1rem;
        }
    }
    &__side {
        width: calc(50% - 2rem);
        display: flex;
        flex-direction: column;
        &:first-child {
            @media (max-width: $sw-xx-max) {
                display: none;
            }
        }
        &:last-child {
            width: calc(50% - 1rem);
            margin-right: -1rem;
            @media (max-width: $sw-xx-max) {
                margin-right: 0;
                width: 100%;
            }
        }
        .feedbacks-item__top {
            margin-bottom: 0;
        }
    }
    &__image {
        width: 100%;
        height: 27rem;
        margin-bottom: 2rem;
        border-radius: 6px;
        overflow: hidden;
        img {
            border-radius: 6px;
        }
    }
    &__list {
        width: 100%;
        flex-grow: 1;
        margin-bottom: 2rem;
        max-height: 24rem;
        padding-right: 1rem;
        @media (max-width: $sw-xx-max) {
            max-height: none;
            margin-bottom: 0;
        }
        &__item {
            padding: 1rem 0;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            border-bottom: 1px solid #555869;
            @media (max-width: $sw-xx-max) {
                border-bottom: 1px solid #2F3548;
            }
            .feedbacks-item__user__image {
                margin-right: 1rem;
                flex-shrink: 0;
            }
            &:last-child {
                @media (max-width: $sw-xx-max) {
                    border-bottom: none;
                }
            }
            &__content {
                width: calc(100% - 4rem);
            }
            &__info {
                display: flex;
                align-items: center;
                justify-content: flex-start;
            }
            &__time,
            &__reply,
            &__text {
                margin-right: 2rem;
                font-size: 1.2rem;
                line-height: 2.5em;
                color: $light-blue;
            }
            &__reply {
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
            }
            &__name {
                font-weight: 600;
                font-size: 1.4rem;
                line-height: 1.4em;
                color: $light-blue;
                margin-right: 5px;
            }
            &__text {
                line-height: 1.4em;
            }
        }
    }
    &__footer {
        height: 6rem;
        flex-shrink: 0;
        width: 100%;
        margin-top: auto;
        padding-right: 1rem;
        @media (max-width: $sw-xx-max) {
            height: 8rem;
            padding: 1rem;
            border-top: 1px solid #2F3548;
            width: calc(100% + 2rem);
            margin-left: -1rem;
        }
        &__field {
            height: 100%;
            width: 100%;
            background-color: $dark;
            border-radius: 1.6rem;
            border: 1px solid rgba(223, 225, 238, 0.3);
            display: flex;
            align-items: center;
            .btn {
                height: 6rem;
                padding: 0;
                border-radius: 0;
                color: $light-blue;
                width: 6rem;
                background-color: transparent;
                .icon-send {
                    color: $light-blue;
                    font-size: 1.8rem;
                    margin-right: 0;
                }
            }
            .input-wrap {
                flex-grow: 1;
                height: 100%;
                padding: 5px 2rem 5px 0;
                @media (max-width: $sw-xx-max) {
                    padding: 5px 1rem 5px 0;
                }
                &__inner {
                    width: 100%;
                    height: 100%;
                    padding: 0 1rem 0 0;
                    display: flex;
                    align-items: center;
                    position: relative;
                    overflow: hidden;
                    overflow-y: auto;
                }
            }
        }
        &__textarea {
            height: 20px;
            width: 100%;
            background-color: transparent;
            border-radius: 0;
            font-weight: 600;
            font-size: 1.6rem;
            line-height: 1.5em;
            color: $light-blue;
            outline: none;
            border: none;
            resize: none;
            overflow: hidden;
            box-shadow: none;
            padding-left: 1rem;
            margin: auto;
            &:focus {
                outline: none;
                border: none;
                box-shadow: none;
                & + .feedbacks-comments__footer__textarea-placeholder {
                    opacity: 0;
                    visibility: hidden;
                }
            }
            &.is-filled {
                & + .feedbacks-comments__footer__textarea-placeholder {
                    opacity: 0;
                    visibility: hidden;
                }
            }
            &-placeholder {
                width: 100%;
                height: 100%;
                font-weight: 600;
                padding-left: 3rem;
                font-size: 1.6rem;
                line-height: 4.6rem;
                color: rgba(223, 225, 238, 0.3);
                opacity: 1;
                visibility: visible;
                transition: opacity .3s ease, visibility .3s ease;
                position: absolute;
                left: 0;
                margin: 0;
                cursor: text;
                padding-left: 1rem;
            }
        }
    }
}