mixin sign-in-modal(data)
	.fade.modal.sign-in-modal(tabindex='-1', role='dialog', data-keyboard="false", aria-hidden='true', data-backdrop="static", id='sign_in_modal')
		button.modal-close.js-modal-close(type="button", data-dismiss="modal")
		.modal-dialog.modal-dialog-centered(role='document')
			.modal-content
				.sign-in-content
					button.modal-close.js-modal-close(type="button", data-dismiss="modal")
						+svg('icon-close')
						spab Close
					.sign-in-content__image
						+svg('icon-logo')
					form.sign-in-content__form.js-form-check#sign_in_form(action="javascript:void(0)")
						.sign-in-content__switcher
							button(type="button").sign-in-content__switcher__btn.is-active
								+svg('icon-log-out')
								span Log in
							button(type="button", data-target="#sign_up_modal", data-toggle="modal", data-dismiss="modal").sign-in-content__switcher__btn
								+svg('icon-invite')
								span Sign up
						.input-wrap.required
							input.form-control.form-control--silver(type="text", name="sign_in_email", placeholder="Your email ...", required)
						.input-wrap.required
							input.form-control.form-control--silver(type="password", name="sign_in_password", placeholder="Your password ...", required)
						.input-wrap.required
							a.sign-in-content__link(href="javascript:void(0)") Forgot password? 
						.sign-in-content__btn-group
							button.btn.btn--md.btn--yellow(type="submit")
								span Auth
					

mixin sign-up-modal(data)
	.fade.modal.sign-up-modal(tabindex='-1', role='dialog', data-keyboard="false", aria-hidden='true', data-backdrop="static", id='sign_up_modal')
		button.modal-close.js-modal-close(type="button", data-dismiss="modal")
		.modal-dialog.modal-dialog-centered(role='document')
			.modal-content
				.sign-in-content
					button.modal-close.js-modal-close(type="button", data-dismiss="modal")
						+svg('icon-close')
						spab Close
					.sign-in-content__image
						+svg('icon-logo')
					form.sign-in-content__form.js-form-check#sign_up_form(action="javascript:void(0)")
						.sign-in-content__switcher
							button(type="button", data-target="#sign_in_modal", data-toggle="modal", data-dismiss="modal").sign-in-content__switcher__btn
								+svg('icon-log-out')
								span Log in
							button(type="button").sign-in-content__switcher__btn.is-active
								+svg('icon-invite')
								span Sign up
						.input-wrap.required
							input.form-control.form-control--silver(type="text", name="sign_in_email", placeholder="Your email ...", required)
						.input-wrap.required
							input.form-control.form-control--silver(type="password", name="sign_in_password", placeholder="Your password ...", required)
						.input-wrap.required
							p Password must be at least 6 characters long and contain letters, numbers and special characters, no whitespace
						.input-wrap
							input.form-control.form-control--silver(type="password", name="invite_code", placeholder="Invite code ...")
						.sign-in-content__btn-group
							button.btn.btn--md.btn--yellow(type="submit")
								span Auth

mixin sign-up-success(data)
	.fade.modal.sign-up-modal(tabindex='-1', role='dialog', data-keyboard="false", aria-hidden='true', data-backdrop="static", id='sign_up_success')
		button.modal-close.js-modal-close(type="button", data-dismiss="modal")
		.modal-dialog.modal-dialog-centered(role='document')
			.modal-content
				.sign-in-content
					button.modal-close.js-modal-close(type="button", data-dismiss="modal")
						+svg('icon-close')
						spab Close
					.sign-in-content__image
						+svg('icon-logo')
					form.sign-in-content__form.js-form-check(action="javascript:void(0)")
						.sign-in-content__switcher
							button(type="button", data-target="#sign_in_modal", data-toggle="modal", data-dismiss="modal").sign-in-content__switcher__btn
								+svg('icon-log-out')
								span Log in
							button(type="button").sign-in-content__switcher__btn.is-active
								+svg('icon-invite')
								span Sign up
						.sign-in-content__info
							p Thank you!
							p You completed the first step of registering. To complete registration, go to your email and click on the verification link.
							p Check the spam folder, as the letter may be there too.
						.sign-in-content__btn-group
							button.btn.btn--md.btn--yellow(type="button", data-dismiss="modal")
								span Close
							button.btn.btn--md.btn--silver-bordered(type="button", data-dismiss="modal")
								span Resend email

mixin coins-example-modal(data)
	.fade.modal.publication-example-modal(tabindex='-1', role='dialog', data-keyboard="false", aria-hidden='true', data-backdrop="static", id='coins_example_modal')
		.modal-dialog.modal-dialog-centered(role='document')
			.modal-content
				.publication-example
					button.modal-close.js-modal-close(type="button", data-dismiss="modal")
						+svg('icon-close')
						spab Close
					.publication-example__top
						span.publication-example__title Publication example in the forum
					.publication-example__inner
						.publication-example__image
							img(src="s/images/useful/publication-example.png", alt="publication example")
						.publication-example__text
							p Enough for them to earn my lotalty and trust. I'm on basic 16 wk cycle 600 wkly. Test cyp. clean diet and Proviron to maintain mojo. Cleaning up with Tren E last 6 weeks of cycle alongside test. On my last cycle I gained a solid 8lbs muscle mass at 42yrs young. I am hoping to gain a dime or so of mass on this one. I am well on my way! This vendor can be trusted. Some items may take a bit to get to you but not all. They will keep you in the loop the whole way.
							span.publication-example__id roidsmann 8578541

mixin review-example-modal(data)
	.fade.modal.publication-example-modal(tabindex='-1', role='dialog', data-keyboard="false", aria-hidden='true', data-backdrop="static", id='coins_review_modal')
		.modal-dialog.modal-dialog-centered(role='document')
			.modal-content
				.review-example
					button.modal-close.js-modal-close(type="button", data-dismiss="modal")
						+svg('icon-close')
						spab Close
					.publication-example__top
						span.publication-example__title review example
					.publication-example__inner
						.publication-example__text
							span.publication-example__text__title Awesome delivery and stuff
							p Enough for them to earn my lotalty and trust. I'm on basic 16 wk cycle 600 wkly. Test cyp. clean diet and Proviron to maintain mojo. Cleaning up with Tren E last 6 weeks of cycle alongside test. On my last cycle I gained a solid 8lbs muscle mass at 42yrs young. I am hoping to gain a dime or so of mass on this one. I am well on my way! This vendor can be trusted. Some items may take a bit to get to you but not all. They will keep you in the loop the whole way.
							span.publication-example__id roidsmann 8578541

mixin coins-submit-modal(data)
	.fade.modal.publication-example-modal(tabindex='-1', role='dialog', data-keyboard="false", aria-hidden='true', data-backdrop="static", id='coins_submit_modal')
		.modal-dialog.modal-dialog-centered(role='document')
			.modal-content
				.coins-submit-wrapper
					button.modal-close.js-modal-close(type="button", data-dismiss="modal")
						+svg('icon-close')
						spab Close
					.coins-submit-inner
						.coins-submit-icon
							+svg('icon-time')
						.coins-submit-text
							p request was sent #[br] we need some time for reviews
						.coins-submit-submit
							button.btn.btn--md.btn--bordered(type="button", data-dismiss="modal")
								span Ok, thanks

mixin photo-coins-modal(data)
	.fade.modal.photo-coins-modal(tabindex='-1', role='dialog', data-keyboard="false", aria-hidden='true', data-backdrop="static", id='photo_coins_modal')
		.modal-dialog.modal-dialog-centered(role='document')
			.modal-content
				.products-table
					button.modal-close.js-modal-close(type="button", data-dismiss="modal")
						+svg('icon-close')
						spab Close
					.products-table__inner
						.products-table__line
							.products-table__line-letter
								span A
							.products-table__line-inner
								.products-table__line-item
									button.products-table__line-label(type="button", id="brand1")
										span.products-table__line-brand Hilma Biocare
										span.products-table__line-name Anastrozole
						.products-table__line
							.products-table__line-letter
								span B
							.products-table__line-inner
								.products-table__line-item
									button.products-table__line-label(type="button", id="brand2")
										span.products-table__line-brand Hilma Biocare
										span.products-table__line-name Bact. Water
								.products-table__line-item
									button.products-table__line-label(type="button", id="brand3")
										span.products-table__line-brand Hilma Biocare
										span.products-table__line-name Boldenone
								.products-table__line-item
									button.products-table__line-label(type="button", id="brand4")
										span.products-table__line-brand Hilma Biocare
										span.products-table__line-name Boldenone x 5
								.products-table__line-item
									button.products-table__line-label(type="button", id="brand5")
										span.products-table__line-brand Hilma Biocare
										span.products-table__line-name Boldenone x 10
						.products-table__line
							.products-table__line-letter
								span c
							.products-table__line-inner
								.products-table__line-item
									button.products-table__line-label(type="button", id="brand6")
										span.products-table__line-brand Hilma Biocare
										span.products-table__line-name Clenbuterol
								.products-table__line-item
									button.products-table__line-label(type="button", id="brand7")
										span.products-table__line-brand Hilma Biocare
										span.products-table__line-name Clenbuterol x 5
								.products-table__line-item
									button.products-table__line-label(type="button", id="brand8")
										span.products-table__line-brand Hilma Biocare
										span.products-table__line-name Clomid
								.products-table__line-item
									button.products-table__line-label(type="button", id="brand9")
										span.products-table__line-brand Hilma Biocare
										span.products-table__line-name Cut Stack
						.products-table__line
							.products-table__line-letter
								span D
							.products-table__line-inner
								.products-table__line-item
									button.products-table__line-label(type="button", id="brand10")
										span.products-table__line-brand Hilma Biocare
										span.products-table__line-name Drostanolone En
								.products-table__line-item
									button.products-table__line-label(type="button", id="brand11")
										span.products-table__line-brand Hilma Biocare
										span.products-table__line-name Drostanolone En
								.products-table__line-item
									button.products-table__line-label(type="button", id="brand12")
										span.products-table__line-brand Hilma Biocare
										span.products-table__line-name Drostanolone En
						.products-table__line
							.products-table__line-letter
								span E
							.products-table__line-inner
								.products-table__line-item
									button.products-table__line-label(type="button", id="brand13")
										span.products-table__line-brand Hilma Biocare
										span.products-table__line-name Exemestane 250
						.products-table__line
							.products-table__line-letter
								span H
							.products-table__line-inner
								.products-table__line-item
									button.products-table__line-label(type="button", id="brand14")
										span.products-table__line-brand Hilma Biocare
										span.products-table__line-name Halotestin
								.products-table__line-item
									button.products-table__line-label(type="button", id="brand15")
										span.products-table__line-brand Hilma Biocare
										span.products-table__line-name HGH Liquid
								.products-table__line-item
									button.products-table__line-label(type="button", id="brand16")
										span.products-table__line-brand Hilma Biocare
										span.products-table__line-name HGH Powder

mixin face-to-face-modal(data)
	.fade.modal.face-to-face-modal(tabindex='-1', role='dialog', data-keyboard="false", aria-hidden='true', data-backdrop="static", id='face_to_face_modal')
		.modal-dialog.modal-dialog-centered(role='document')
			.modal-content
				.face-to-face-wrapper
					.face-to-face__header
						.face-to-face__logo
							+svg('icon-logo')
						button.modal-close.js-modal-close(type="button", data-dismiss="modal")
							+svg('icon-close')
							spab Close
					.face-to-face__title
						span Join Roidsmann And Earn Crypto together
					.face-to-face__image
						img(src="s/images/useful/face-to-face-qr.png", alt="qrcode")
					.face-to-face__invite-code
						span Invite code: XF584KL

mixin feedback-comments(data)
	.fade.modal.feedback-comments-modal(tabindex='-1', role='dialog', data-keyboard="false", aria-hidden='true', data-backdrop="static", id='feedback_comments_modal')
		.modal-dialog.modal-dialog-centered(role='document')
			.modal-content
				.feedbacks-comments
					.feedbacks-comments__top
						span.publication-example__title Comments
						button.modal-close.js-modal-close(type="button", data-dismiss="modal")
							+svg('icon-close')
							spab Close
					.feedbacks-comments__inner
						.feedbacks-comments__side
							.feedbacks-comments__image.h-object-fit
								img(src="s/images/useful/feedback-comments-img.jpg", alt="feedback")
							.feedbacks-item__top
								.feedbacks-item__user
									.feedbacks-item__user__image
										img(src="s/images/useful/feedback-user.jpg", alt="user")
									span.feedbacks-item__user__name Stephan
								.feedbacks-item__date
									span 20 jan 2021
						.feedbacks-comments__side
							.feedbacks-comments__list.h-scrollbar
								.feedbacks-comments__list__item
									.feedbacks-item__user__image
										img(src="s/images/useful/feedback-user.jpg", alt="user")
									.feedbacks-comments__list__item__content
										.feedbacks-comments__list__item__main
											span.feedbacks-comments__list__item__name mainbody
											span.feedbacks-comments__list__item__text You are the dream guy🔥
										.feedbacks-comments__list__item__info
											.feedbacks-comments__list__item__time
												span 1 day
											button.feedbacks-comments__list__item__reply.js-feedback-comment-reply(type="button")
								.feedbacks-comments__list__item
									.feedbacks-item__user__image
										img(src="s/images/useful/feedback-user.jpg", alt="user")
									.feedbacks-comments__list__item__content
										.feedbacks-comments__list__item__main
											span.feedbacks-comments__list__item__name pilargurt
											span.feedbacks-comments__list__item__text Una poma, la poma, les pomes, un fruit amb una gran càrrega de simbolisme que, tu, l'has captat molt bé
										.feedbacks-comments__list__item__info
											.feedbacks-comments__list__item__time
												span 1 day
											button.feedbacks-comments__list__item__reply.js-feedback-comment-reply(type="button")
								.feedbacks-comments__list__item
									.feedbacks-item__user__image
										img(src="s/images/useful/feedback-user.jpg", alt="user")
									.feedbacks-comments__list__item__content
										.feedbacks-comments__list__item__main
											span.feedbacks-comments__list__item__name pilargurt
											span.feedbacks-comments__list__item__text Una poma, la poma, les pomes, un fruit amb una gran càrrega de simbolisme que, tu, l'has captat molt bé
										.feedbacks-comments__list__item__info
											.feedbacks-comments__list__item__time
												span 1 day
											button.feedbacks-comments__list__item__reply.js-feedback-comment-reply(type="button")
								.feedbacks-comments__list__item
									.feedbacks-item__user__image
										img(src="s/images/useful/feedback-user.jpg", alt="user")
									.feedbacks-comments__list__item__content
										.feedbacks-comments__list__item__main
											span.feedbacks-comments__list__item__name pilargurt
											span.feedbacks-comments__list__item__text Una poma, la poma, les pomes, un fruit amb una gran càrrega de simbolisme que, tu, l'has captat molt bé
										.feedbacks-comments__list__item__info
											.feedbacks-comments__list__item__time
												span 1 day
											button.feedbacks-comments__list__item__reply.js-feedback-comment-reply(type="button")
								.feedbacks-comments__list__item
									.feedbacks-item__user__image
										img(src="s/images/useful/feedback-user.jpg", alt="user")
									.feedbacks-comments__list__item__content
										.feedbacks-comments__list__item__main
											span.feedbacks-comments__list__item__name pilargurt
											span.feedbacks-comments__list__item__text Una poma, la poma, les pomes, un fruit amb una gran càrrega de simbolisme que, tu, l'has captat molt bé
										.feedbacks-comments__list__item__info
											.feedbacks-comments__list__item__time
												span 1 day
											button.feedbacks-comments__list__item__reply.js-feedback-comment-reply(type="button")
								.feedbacks-comments__list__item
									.feedbacks-item__user__image
										img(src="s/images/useful/feedback-user.jpg", alt="user")
									.feedbacks-comments__list__item__content
										.feedbacks-comments__list__item__main
											span.feedbacks-comments__list__item__name pilargurt
											span.feedbacks-comments__list__item__text Una poma, la poma, les pomes, un fruit amb una gran càrrega de simbolisme que, tu, l'has captat molt bé
										.feedbacks-comments__list__item__info
											.feedbacks-comments__list__item__time
												span 1 day
											button.feedbacks-comments__list__item__reply.js-feedback-comment-reply(type="button")
								.feedbacks-comments__list__item
									.feedbacks-item__user__image
										img(src="s/images/useful/feedback-user.jpg", alt="user")
									.feedbacks-comments__list__item__content
										.feedbacks-comments__list__item__main
											span.feedbacks-comments__list__item__name pilargurt
											span.feedbacks-comments__list__item__text Una poma, la poma, les pomes, un fruit amb una gran càrrega de simbolisme que, tu, l'has captat molt bé
										.feedbacks-comments__list__item__info
											.feedbacks-comments__list__item__time
												span 1 day
											button.feedbacks-comments__list__item__reply.js-feedback-comment-reply(type="button")
							form.feedbacks-comments__footer(action="javascript:void(0)")
								.feedbacks-comments__footer__field
									.input-wrap
										.input-wrap__inner.h-scrollbar
											textarea#comments_textarea.feedbacks-comments__footer__textarea(type="text")
											label.feedbacks-comments__footer__textarea-placeholder(for="comments_textarea") Add a comment...
									button.btn(type="submit")
										+svg('icon-send')