mixin acc-checkout(data)
	form.acc-checkout-form.js-form-check(action="javascript:void(0)")
		.acc-checkout-form__inner
			.acc-checkout-form__main
				.acc-checkout-form__steps
					.acc-checkout-form__steps__item
						.acc-checkout-form__steps__circle
							span 4
						.acc-checkout-form__steps__name
							span Total
					.acc-checkout-form__steps__item
						.acc-checkout-form__steps__circle
							span 3
						.acc-checkout-form__steps__name
							span Discounts & Coins
					.acc-checkout-form__steps__item.is-active
						.acc-checkout-form__steps__circle
							span 2
						.acc-checkout-form__steps__name
							span Payment Method
					.acc-checkout-form__steps__item
						.acc-checkout-form__steps__circle
							span 1
						.acc-checkout-form__steps__name
							span Delivery address
				.acc-checkout-form__delivery
					.article-title.is-done
						p.article-title__item
							+svg('icon-truck-received')
							span Delivery Address
					.acc-checkout-form__group
						span.acc-checkout-form__group__title Full Name / Company Name
						.input-wrap.required
							input.form-control.form-control--silver(type="text", name="full_name", placeholder="Mr Smith...", required)
					.acc-checkout-form__group-wrap
						.acc-checkout-form__group.acc-checkout-form__group--lg
							span.acc-checkout-form__group__title Street Address
							.input-wrap.required
								input.form-control.form-control--silver(type="text", name="street_address", placeholder="Street Address...", required)
						.acc-checkout-form__group.acc-checkout-form__group--sm
							span.acc-checkout-form__group__title City
							.input-wrap.required
								input.form-control.form-control--silver(type="text", name="city", placeholder="City...", required)
					.acc-checkout-form__group-wrap
						.acc-checkout-form__group.acc-checkout-form__group--sm
							span.acc-checkout-form__group__title Postal Code
							.input-wrap.required
								input.form-control.form-control--silver(type="text", name="postal_code", placeholder="Postal Code...", required)
						.acc-checkout-form__group.acc-checkout-form__group--lg
							span.acc-checkout-form__group__title Country
							.input-wrap
								select.js-select(name="country", data-placeholder="Select country...")
									option(value="", label=" ")
									option(value="1") Russia
									option(value="2") Ukraine
									option(value="3") Germany
					.acc-checkout-form__group
						span.acc-checkout-form__group__title Comments
						.input-wrap.required
							textarea.form-control.form-control--silver(name="review_text", placeholder="Any more...", required)
				.acc-checkout-form__payment
					.article-title
						p.article-title__item
							+svg('icon-pending')
							span Payment Method
					.acc-checkout-form__payment__inner
						.acc-checkout-form__payment__col
							.acc-checkout-form__payment__item
								input(type="radio", name="payment_method", id="cryptocash_method", checked="")
								label.acc-checkout-form__payment__label(for="cryptocash_method")
									span.acc-checkout-form__payment__label__check-icon
									.acc-checkout-form__payment__label__icon
										+svg('icon-crypto')
									p.acc-checkout-form__payment__label__info
										+svg('icon-time')
										span Instant Anonymous payment
						.acc-checkout-form__payment__col
							.acc-checkout-form__payment__item
								input(type="radio", name="payment_method", id="moneygram_method")
								label.acc-checkout-form__payment__label(for="moneygram_method")
									span.acc-checkout-form__payment__label__check-icon
									.acc-checkout-form__payment__label__icon
										+svg('icon-mg')
									p.acc-checkout-form__payment__label__info
										+svg('icon-time')
										span 1-2 days for payment crediting
						.acc-checkout-form__payment__col
							.acc-checkout-form__payment__item
								input(type="radio", name="payment_method", id="bankwire_method")
								label.acc-checkout-form__payment__label(for="bankwire_method")
									span.acc-checkout-form__payment__label__check-icon
									.acc-checkout-form__payment__label__icon
										+svg('icon-payment-bw')
									p.acc-checkout-form__payment__label__info
										+svg('icon-time')
										span 1-3 days for payment crediting
						.acc-checkout-form__payment__col
							.acc-checkout-form__payment__item
								input(type="radio", name="payment_method", id="westernunion_method")
								label.acc-checkout-form__payment__label(for="westernunion_method")
									span.acc-checkout-form__payment__label__check-icon
									.acc-checkout-form__payment__label__icon
										+svg('icon-wu')
									p.acc-checkout-form__payment__label__info
										+svg('icon-time')
										span 1-2 days for payment crediting
						.acc-checkout-form__payment__col
							.acc-checkout-form__payment__item
								input(type="radio", name="payment_method", id="cerditcard_method")
								label.acc-checkout-form__payment__label(for="cerditcard_method")
									span.acc-checkout-form__payment__label__check-icon
									.acc-checkout-form__payment__label__icon
										+svg('icon-payment-cr')
									p.acc-checkout-form__payment__label__info
										+svg('icon-time')
										span 1-2 days for payment crediting
				.acc-checkout-form__discount
					.article-title
						p.article-title__item
							+svg('icon-coins-tr')
							span Discounts & Coins
					.acc-checkout-form__discount__row
						.acc-checkout-form__group
							span.acc-checkout-form__group__title Discount Promocode
							.input-wrap.required
								input.form-control.form-control--silver(type="text", name="full_name", placeholder="Enter promocode...")
						.acc-checkout-form__discount__row__btn
							button.btn.btn--yellow.btn--md(type="button")
								span Apply
					.acc-checkout-form__discount__row
						.acc-checkout-form__group
							.acc-checkout-form__group__title 
								span Coins
								.acc-checkout-form__group__title__info
									+svg('icon-coins')
									span 211 Coins Available
							.input-wrap.required
								input.form-control.form-control--silver.js-num-input(type="text", name="full_name", placeholder="0.00 USD")
								.input-wrap__hint
									span Coins couldn’t use as discount for delivery
						.acc-checkout-form__discount__row__btn
							button.btn.btn--yellow.btn--md.js-discount-coins-apply(type="button")
								span Apply
							button.btn.btn--black.btn--md.js-discount-coins-change(type="button")
								span Change Coins
				.acc-checkout-form__total
					.article-title
						p.article-title__item
							+svg('icon-billed')
							span Total
					.acc-checkout-form__total__inner
						.acc-checkout-form__total__row
							.acc-checkout-form__total__row__descr
								span Products:
							.acc-checkout-form__total__row__count
								span 625.56 USD
						.acc-checkout-form__total__row
							.acc-checkout-form__total__row__descr
								span Discount:
							.acc-checkout-form__total__row__count
								span -25.15 USD
						.acc-checkout-form__total__row.acc-checkout-form__total__row--coins
							.acc-checkout-form__total__row__descr
								span Coins:
							.acc-checkout-form__total__row__count
								span -46.21 USD
						.acc-checkout-form__total__row
							.acc-checkout-form__total__row__descr
								span Shiping:
							.acc-checkout-form__total__row__count
								span 20.00 USD
						.acc-checkout-form__total__row
							.acc-checkout-form__total__row__descr
								span Total:
							.acc-checkout-form__total__row__count
								span 574.20 USD
			.acc-checkout-form__aside
				.acc-checkout-form__aside__inner
					.article-title
						button.article-title__item(type="button")
							+svg('icon-orders')
							span Products In order
							+svg('icon-chevron-down')
					.acc-checkout-form__aside__items
						.acc-checkout-form__aside__item
							.my-cart-table__product__img
								img(src="s/images/useful/products/product-img.jpg", alt="product")
							.my-cart-table__product__text
								.my-cart-table__product__text__main
									.product-indicator.product-indicator--sky
									span.my-cart-table__product__name Mesterolon
								.my-cart-table__product__text__secondary
									span Warehouse EU01
						.acc-checkout-form__aside__item
							.my-cart-table__product__img
								img(src="s/images/useful/products/product-img.jpg", alt="product")
							.my-cart-table__product__text
								.my-cart-table__product__text__main
									.product-indicator.product-indicator--sky
									span.my-cart-table__product__name Mesterolon
								.my-cart-table__product__text__secondary
									span Warehouse EU01
		.acc-checkout-form__footer.acc-checkout-form__footer--static-mobile
			.acc-checkout-form__footer__inner
				button.btn.btn--yellow.btn--md(type="submit")
					+svg('icon-cart')
					span Checkout
					span.btn__total-count (645.56 USD) 
				.acc-checkout-form__footer__total
					span Total:
					span 645.56
					span Usd