.acc-checkout {
    width: 100%;
    padding: 5rem 10.3rem 1rem 11.7rem;
    position: relative;
    z-index: 1;
    @media (max-width: $sw-md-max) {
        padding: 5rem 5rem 1rem 5rem;
    }
    @media (max-width: $sw-sm-max) {
        padding: 4rem 4rem 3rem 4rem;
        width: 100%;
    }
    @media (max-width: $sw-xx-max) {
        padding: 3rem 1rem;
    }
    &__top {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 5rem;
        @media (max-width: $sw-sm-max) {
            margin-bottom: 3rem;
        }
        @media (max-width: $sw-xx-max) {
            margin-bottom: 2rem;
        }
        .section-title {
            margin-bottom: 0;
            margin-right: 3rem;
            width: auto;
        }
    }
    &-form {
        width: 100%;
        border-radius: 1.6rem;
        margin-bottom: 8rem;
        position: relative;
        @media (max-width: $sw-xs-max) {
            margin-bottom: 6rem;
        }
        @media (max-width: $sw-xx-max) {
            margin-bottom: 4.7rem;
        }
        &__crypto {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: flex-start;
            margin-bottom: 3rem;
            &__inner {
                display: flex;
                align-items: center;
                justify-content: flex-start;
            }
            &__input {
                position: absolute;
                left: -9999em;
                top: -9999em;
                opacity: 0;
                visibility: hidden;
                width: 0;
                height: 0;
                &:checked {
                    & + .acc-checkout-form__crypto__label {
                        border-color: $yellow;
                        .acc-checkout-form__crypto__label {
                            &__circle {
                                &:after {
                                    background-color: $yellow;
                                }
                            }
                            &__name {
                                color: $yellow;
                            }
                        }
                    }
                }
            }
            &__label {
                height: 5rem;
                flex-shrink: 0;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 1.5rem 0 1rem;
                border: 1px solid rgba(223, 225, 238, 0.3);
                border-radius: 1.6rem;
                background-color: transparent;
                transition: border-color .3s ease, background-color .3s ease;
                margin-right: 2rem;
                margin-bottom: 1rem;
                cursor: pointer;
                @media (max-width: $sw-xs-max) {
                    margin-right: 1rem;
                    padding: 0 1rem;
                }
                &:hover {
                    @media (min-width: $sw-xs-min) { 
                        background-color: darken(#21273b, 3%);
                    }
                }
                &__name {
                    font-weight: 600;
                    font-size: 1.4rem;
                    line-height: 1.5em;
                    color: $light-blue;
                    transition: color .3s ease;
                    @media (max-width: $sw-xs-max) {
                        font-size: 1.3rem;
                    }
                }
                &__circle {
                    width: 3rem;
                    height: 3rem;
                    display: block;
                    border-radius: 50%;
                    margin-right: 1rem;
                    position: relative;
                    border: 1px solid $yellow;
                    @media (max-width: $sw-xs-max) {
                        width: 2.6rem;
                        height: 2.6rem;
                        margin-right: 5px;
                    }
                    &:after {
                        content: '';
                        display: block;
                        width: 1.2rem;
                        height: 1.2rem;
                        border-radius: 50%;
                        background-color: rgba(223, 225, 238, 0.3);
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        transition: background-color .3s ease;
                        @media (max-width: $sw-xs-max) {
                            width: 1rem;
                            height: 1rem;
                        }
                    }
                }
            }
        }
        &__delivery {
            margin-bottom: 6.5rem;
            @media (max-width: $sw-xx-max) {
                margin-bottom: 4rem;
            }
            .article-title {
                margin-bottom: 2.8rem;
                @media (max-width: $sw-xx-max) {
                    margin-bottom: 1.5rem;
                }
            }
        }
        &__payment {
            margin-bottom: 4.7rem;
            @media (max-width: $sw-xx-max) {
                margin-bottom: 4rem;
            }
            .article-title {
                margin-bottom: 2.6rem;
            }
            &__inner {
                display: flex;
                flex-wrap: wrap;
                margin: 0 -1rem;
                @media (max-width: $sw-xx-max) {
                    margin: 0 -5px;
                }
                @media (max-width: 479px) {
                    margin: 0;
                }
            }
            &__col {
                width: 50%;
                padding: 0 1rem;
                margin-bottom: 2rem;
                @media (max-width: $sw-xx-max) {
                    padding: 0 5px;
                    margin-bottom: 1rem;
                }
                @media (max-width: 479px) {
                    width: 100%;
                    padding: 0;
                }
            }
            &__item {
                width: 100%;
                height: 100%;
                input {
                    position: absolute;
                    left: -9999em;
                    top: -9999em;
                    width: 0;
                    height: 0;
                    opacity: 0;
                    visibility: hidden;
                    &:checked + .acc-checkout-form__payment__label {
                        border-color: $yellow;
                        .acc-checkout-form__payment__label {
                            &__check-icon {
                                &:after {
                                    background-color: $yellow;
                                }
                            }
                            &__icon {
                                .icon {
                                    color: $yellow;
                                }
                            }
                            &__info {
                                color: $yellow;
                            }
                        }
                    }
                }
            }
            &__label {
                display: block;
                height: 100%;
                min-height: 18rem;
                margin: 0;
                width: 100%;
                position: relative;
                background: #21273B;
                border: 1px solid rgba(223, 225, 238, 0.3);
                box-sizing: border-box;
                border-radius: 1.6rem;
                transition: border-color .3s ease;
                cursor: pointer;
                padding: 1rem;
                @media (max-width: $sw-xx-max) {
                    min-height: auto;
                    padding: 3rem 1rem 2rem 1rem;
                }
                &__check-icon {
                    position: absolute;
                    top: 8px;
                    left: 8px;
                    width: 3rem;
                    height: 3rem;
                    border-radius: 50%;
                    border: 1px solid $yellow;
                    @media (max-width: $sw-xx-max) {
                        width: 2rem;
                        height: 2rem;
                    }
                    &:after {
                        content: '';
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        width: 1.2rem;
                        height: 1.2rem;
                        border-radius: 50%;
                        background-color: rgba(223, 225, 238, 0.3);
                        transition: background-color .3s ease;
                        @media (max-width: $sw-xx-max) {
                            width: 8px;
                            height: 8px;
                        }
                    }
                }
                &__icon {
                    margin: 3rem 0;
                    height: 4rem;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    @media (max-width: $sw-md-max) {
                        margin: 3rem 0 2rem 0;
                    }
                    @media (max-width: $sw-xx-max) {
                        margin: 0 0 1rem 0;
                    }
                    .icon {
                        color: $light-blue;
                        transition: color .3s ease;
                        &-mg {
                            font-size: 4rem;
                            @media (max-width: $sw-md-max) {
                                font-size: 3rem;
                            }
                            @media (max-width: $sw-xx-max) {
                                font-size: 2.8rem;
                            }
                        }
                        &-payment-cr {
                            font-size: 2.4rem;
                            @media (max-width: $sw-md-max) {
                                font-size: 1.6rem;
                            }
                            @media (max-width: $sw-xx-max) {
                                font-size: 1.4rem;
                            }
                        }
                        &-wu {
                            font-size: 2.6rem;
                            @media (max-width: $sw-md-max) {
                                font-size: 1.8rem;
                            }
                        }
                        &-btc {
                            font-size: 3.1rem;
                            @media (max-width: $sw-md-max) {
                                font-size: 2.4rem;
                            }
                            @media (max-width: $sw-xx-max) {
                                font-size: 2.2rem;
                            }
                        }
                        &-crypto{
                            font-size: 2.4rem;
                            @media (max-width: $sw-md-max) {
                                font-size: 1.7rem;
                            }
                            @media (max-width: $sw-xx-max) {
                                font-size: 1.4rem;
                            }
                        }
                        &-payment-bw {
                            font-size: 2.3rem;
                            @media (max-width: $sw-md-max) {
                                font-size: 1.6rem;
                            }
                            @media (max-width: $sw-xx-max) {
                                font-size: 1.4rem;
                            }
                        }
                    }
                }
                &__info {
                    text-align: center;
                    color: $light-blue;
                    transition: color .3s ease;
                    font-weight: 300;
                    font-size: 1.6rem;
                    line-height: 1.875em;
                    text-transform: capitalize;
                    margin-bottom: 0;
                    @media (max-width: $sw-xx-max) {
                        font-size: 1.4rem;
                    }
                    .icon-time {
                        font-size: 2rem;
                        margin-right: 1rem;
                        flex-shrink: 0;
                        @media (max-width: $sw-xx-max) {
                            font-size: 1.8rem;
                        }
                    }
                }
            }
        }
        &__discount {
            margin-bottom: 9.7rem;
            @media (max-width: $sw-xx-max) {
                margin-bottom: 4rem;
            }
            .article-title {
                margin-bottom: 2.6rem;
            }
            &__row {
                width: 100%;
                display: flex;
                align-items: flex-end;
                @media (max-width: $sw-xx-max) {
                    flex-wrap: wrap;
                }
                & + .acc-checkout-form__discount__row {
                    margin-top: 4rem;
                    @media (max-width: $sw-xs-max) {
                        margin-top: 2rem;
                    }
                }
                .acc-checkout-form__group {
                    flex-grow: 1;
                    @media (max-width: $sw-xx-max) {
                        width: 100%;
                    }
                }
                &__btn {
                    margin-left: 4rem;
                    width: 20rem;
                    height: 5rem;
                    position: relative;
                    @media (max-width: $sw-xx-max) {
                        margin-left: 0;
                        margin-top: 1.5rem;
                    }
                    @media (max-width: 479px) {
                        width: 100%;
                    }
                    .btn {
                        min-width: auto;
                        width: 100%;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        &--block {
                            color: $yellow !important;
                        }
                    }
                    .js-discount-coins-apply {
                        opacity: 1;
                        visibility: visible;
                        .is-applied & {
                            opacity: 0;
                            visibility: hidden;
                        }
                    }
                    .js-discount-coins-change {
                        opacity: 0;
                        visibility: hidden;
                        .is-applied & {
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
            }
        }
        &__total {
            margin-bottom: 6rem;
            @media (max-width: $sw-xx-max) {
                margin-bottom: 4rem;
            }
            .article-title {
                margin-bottom: 7px;
            }
            &__inner {
                width: 100%;
            }
            &__row {
                width: 100%;
                height: 6rem;
                padding-right: 8rem;
                display: flex;
                position: relative;
                @media (max-width: $sw-xx-max) {
                    padding-right: 0;
                }
                & + .acc-checkout-form__total__row {
                    &:after {
                        content: '';
                        display: block;
                        width: 100%;
                        height: 2px;
                        position: absolute;
                        top: 0;
                        left: 0;
                        opacity: 0.3;
                        background-color: rgba(223, 225, 238, 0.3);
                    }
                }
                &--coins {
                    .acc-checkout-form__total__row__count {
                        color: #2f80ed;
                    }
                }
                &__descr {
                    height: 100%;
                    min-width: 36rem;
                    width: 50%;
                    text-align: right;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    padding-right: 3rem;
                    font-size: 1.6rem;
                    line-height: 1.875em;
                    color: $light-blue;
                    @media (max-width: $sw-md-max) {
                        width: auto;
                        flex-grow: 1;
                        min-width: auto;
                    }
                    @media (max-width: $sw-xx-max) {
                        font-size: 1.4rem;
                        padding-right: 1rem;
                    }
                }
                &__count {
                    width: 20rem;
                    height: 100%;
                    background-color: #1B2134;
                    padding: 0 1rem 0 3.6rem;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    font-weight: 600;
                    font-size: 1.6rem;
                    line-height: 1.875em;
                    color: $yellow;
                    text-transform: uppercase;
                    @media (max-width: $sw-xx-max) {
                        padding: 0 2rem;
                        width: 18rem;
                    }
                }
            }
        }
        &__invoice {
            background-color: #21273B;
            border-radius: 1.6rem 1.6rem 0 0;
            border-left: 1px solid rgba(223, 225, 238, 0.3);
            border-top: 1px solid rgba(223, 225, 238, 0.3);
            border-right: 1px solid rgba(223, 225, 238, 0.3);
            display: flex;
            flex-direction: column;
            &__top {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 2rem 3rem 2rem 4rem;
                min-height: 10.8rem;
                border-bottom: 1px solid rgba(223, 225, 238, 0.3);
                @media (max-width: $sw-md-max) {
                    padding: 2rem 2.5rem;
                    min-height: auto;
                }
                @media (max-width: $sw-xs-max) {
                    flex-wrap: wrap;
                }
                &--crypto {
                    @media (max-width: $sw-xx-max) {
                        order: 1;
                        border-bottom: none;
                        border-top: 1px solid rgba(223, 225, 238, 0.3);
                    }
                }
                &__side {
                    display: flex;
                    align-items: center;
                    @media (max-width: $sw-xs-max) {
                        width: 100%;
                        justify-content: center;
                    }
                    @media (max-width: $sw-xx-max) {
                        flex-wrap: wrap;
                        text-align: center;
                    }
                    & + .acc-checkout-form__invoice__top__side {
                        margin-left: 1rem;
                        @media (max-width: $sw-xs-max) {
                            margin-left: 0;
                            margin-top: 2rem;
                        }
                    }
                }
                &__date {
                    font-weight: 600;
                    font-size: 1.4rem;
                    line-height: 1.4em;
                    color: rgba(223, 225, 238, 0.3);
                    @media (max-width: $sw-xx-max) {
                        display: block;
                        text-align: center;
                        margin-bottom: 2rem;
                    }
                }
                &__buttons {
                    display: flex;
                    align-items: center;
                    @media (max-width: $sw-xx-max) {
                        width: 100%;
                        justify-content: center;
                    }
                }
                .btn {
                    margin-left: 2rem;
                    min-width: 14rem;
                    @media (max-width: $sw-md-max) {
                        margin-left: 1rem;
                        min-width: auto;
                    }
                    @media (max-width: $sw-xx-max) {
                        margin: 0;
                    }
                    & + .btn {
                        @media (max-width: $sw-xx-max) {
                            margin-left: 1.5rem;
                        }
                    }
                }
                .order-block {
                    &__num {
                        margin-right: 1.4rem;
                        @media (max-width: $sw-xs-max) {
                            margin-bottom: 0;
                        }
                        @media (max-width: $sw-xx-max) {
                            margin: 0 0 2rem 0;
                            text-align: center;
                        }
                    }
                    &__info {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        @media (max-width: $sw-xx-max) {
                            width: 100%;
                            justify-content: center;
                        }
                        &__icon {
                            margin-right: 1rem;
                            .icon-circled-arrow {
                                font-size: 3rem;
                                color: $light-blue;
                            }
                        }
                        &__name {
                            font-weight: 600;
                            font-size: 1.6rem;
                            line-height: 1.875em;
                            text-transform: capitalize;
                            color: $light-blue;
                        }
                    }
                }
            }
            &__reference {
                width: 100%;
                padding: 2.8rem 2.8rem 2.8rem 3.6rem;
                border-bottom: 1px solid rgba(223, 225, 238, 0.3);
                display: flex;
                align-items: center;
                justify-content: space-between;
                position: relative;
                width: 100%;
                height: 100%;
                background-color: $dark;
                background-image: url('../../s/images/useful/invoice-bg.png');
                background-repeat: repeat;
                background-size: cover;
                background-position: 0 0;
                @media (max-width: $sw-md-max) {
                    padding: 2.5rem;
                }
                @media (max-width: $sw-xs-max) {
                    padding: 2rem;
                    flex-wrap: wrap;
                }
                &__code {
                    width: auto;
                    min-width: 18rem;
                    height: 5rem;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0 1rem;
                    font-weight: 600;
                    background-color: $dark;
                    color: $light-blue;
                    border: 1px solid #EB5757;;
                    font-size: 1.4rem;
                    line-height: 1;
                    border-radius: 1.6rem;
                    @media (max-width: $sw-xs-max) {
                        min-width: auto;
                        width: 100%;
                    }
                    @media (max-width: $sw-xx-max) {
                        max-width: 40rem;
                        margin: 0 auto;
                    }
                }
                &__divider {
                    font-weight: 600;
                    font-size: 1.4rem;
                    line-height: 1.4em;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    color: rgba($light-blue, 0.3);
                    margin: 0 1.3rem;
                    @media (max-width: $sw-xx-max) {
                        width: 100%;
                        margin: 1rem 0;
                        justify-content: center;
                    }
                }
                &__side {
                    display: flex;
                    align-items: center;
                    position: relative;
                    z-index: 11;
                    @media (max-width: $sw-xs-max) {
                        width: 100%;
                    }
                    &:last-child {
                        @media (max-width: $sw-xx-max) {
                            flex-wrap: wrap;
                        }
                    }
                    & + .acc-checkout-form__invoice__reference__side {
                        margin-left: 2rem;
                        @media (max-width: $sw-xs-max) {
                            margin-left: 0;
                            margin-top: 2.3rem;
                        }
                    }
                    .btn {
                        min-width: 20rem;
                        padding: 0 1rem;
                        @media (max-width: $sw-md-max) {
                            min-width: 18rem;
                        }
                        @media (max-width: $sw-xs-max) {
                            min-width: auto;
                            width: 100%;
                        }
                        @media (max-width: $sw-xx-max) {
                            max-width: 40rem;
                            margin: 0 auto;
                        }
                        &--black {
                            border-color: #EB5757;
                            .icon-clipboard {
                                font-size: 2rem;
                                margin-left: 1rem;
                                margin-right: 0;
                            }
                        }
                    }
                }
                &__icon {
                    width: 7.2rem;
                    height: 7.2rem;
                    margin-right: 3rem;
                    margin-bottom: auto;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-shrink: 0;
                    position: relative;
                    background: #EB5757;
                    border-radius: 2.4rem 2.4rem 2.4rem 0px;
                    @media (max-width: $sw-md-max) {
                        margin-right: 1.5rem;
                    }
                    @media (max-width: $sw-xx-max) {
                        width: 6rem;
                        height: 6rem;
                        margin-right: 1rem;
                    }
                    .icon-attention {
                        font-size: 2rem;
                        color: $light-blue;
                        @media (max-width: $sw-xx-max) {
                            font-size: 2.4rem;
                        }
                    }
                }
                &__title {
                    display: block;
                    font-weight: 800;
                    font-style: italic;
                    font-size: 2.6rem;
                    line-height: 1.15em;
                    letter-spacing: -0.02em;
                    text-transform: uppercase;
                    color: #EB5757;
                    @media (max-width: $sw-md-max) {
                        font-size: 2.4rem;
                    }
                    @media (max-width: $sw-xs-max) {
                        font-size: 2rem;
                    }
                    @media (max-width: $sw-xx-max) {
                        font-size: 1.6rem;
                        line-height: 1.25em;
                        margin: 5px 0;
                    }
                }
                &__subtitle {
                    font-size: 1.6rem;
                    line-height: 1.25em;
                    color: $light-blue;
                    @media (max-width: $sw-xx-max) {
                        font-size: 1.4rem;
                        line-height: 1.4em;
                    }
                    br {
                        @media (max-width: $sw-xs-max) {
                            display: none;
                        }
                    }
                }
            }
            &__list {
                display: flex;
                justify-content: center;
                align-items: flex-start;
                padding: 2rem 2rem 3.5rem 2rem;
                @media (max-width: $sw-xx-max) {
                    flex-wrap: wrap;
                }
                &__side {
                    margin: 0 5.9rem;
                    @media (max-width: $sw-md-max) {
                        margin: 0 4rem;
                        max-width: 40rem;
                    }
                    @media (max-width: $sw-xs-max) {
                        max-width: none;
                        width: 50%;
                        margin: 0 2rem;
                    }
                    @media (max-width: $sw-xx-max) {
                        width: auto;
                        min-width: 32rem;
                        margin: 1rem;
                    }
                    @media (max-width: 499px) {
                        width: 100%;
                        min-width: auto;
                        margin: 0;
                    }
                    & + .acc-checkout-form__invoice__list__side {
                        @media (max-width: 499px) {
                            margin-top: 2rem;
                        }
                    }
                }
                &__title {
                    display: block;
                    width: 100%;
                    margin-bottom: 1.5rem;
                    font-weight: 700;
                    font-size: 1.8rem;
                    line-height: 1.65em;
                    color: $light-blue;
                }
                &__block {
                    li {
                        display: flex;
                        align-items: flex-start;
                        justify-content: flex-start;
                        margin-bottom: 8px;
                    }
                }
                &__name {
                    font-weight: 300;
                    font-size: 1.6rem;
                    line-height: 2em;
                    color: $light-blue;
                    margin-right: 3rem;
                    min-width: 12.1rem;
                    @media (max-width: $sw-xs-max) {
                        font-size: 1.4rem;
                        min-width: 11rem;
                    }
                }
                &__descr {
                    font-weight: 600;
                    font-size: 1.6rem;
                    line-height: 2em;
                    color: $light-blue;
                    @media (max-width: $sw-xs-max) {
                        font-size: 1.4rem;
                    }
                }
            }
            &__wu {
                padding: 4rem 4rem 2rem 4rem;
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                flex-wrap: wrap;
                @media (max-width: $sw-md-max) {
                    padding: 4rem 2.5rem 2rem 2.5rem;
                }
                @media (max-width: $sw-xs-max) {
                    padding: 3rem 3rem 1rem 3rem;
                }
                @media (max-width: $sw-xx-max) {
                    padding: 2rem 2rem 0 2rem;
                }
                &__side {
                    // border: 1px solid red;
                    &:first-child {
                        // width: calc(32% - 4rem);
                        width: 35rem;
                        @media (max-width: $sw-md-max) {
                            width: 32rem;
                        }
                        @media (max-width: $sw-xs-max) {
                            width: 100%;
                            margin-bottom: 2rem;
                        }
                    }
                    &:last-child {
                        // width: calc(68% - 4rem);
                        width: calc(100% - 39rem);
                        @media (max-width: $sw-md-max) {
                            width: calc(100% - 35rem);
                        }
                        @media (max-width: $sw-xs-max) {
                            width: 100%;
                        }
                    }
                }
                &__info {
                    margin-left: -1rem;
                    margin-right: -1rem;
                    display: flex;
                    flex-wrap: wrap;
                }
                &__group {
                    // outline: 1px solid red;
                    width: 50%;
                    padding: 0 1rem;
                    margin-bottom: 3.4rem;
                    display: flex;
                    flex-direction: column;
                    @media (max-width: $sw-xs-max) {
                        margin-bottom: 2rem;
                    }
                    &-label {
                        display: block;
                        width: 100%;
                        font-size: 1.4rem;
                        line-height: 1.5em;
                        color: $light-blue;
                        margin-bottom: 5px;
                    }
                    &-name {
                        display: block;
                        width: 100%;
                        font-weight: 700;
                        font-size: 2rem;
                        line-height: 1.5em;
                        color: $light-blue;
                        word-break: break-all;
                        @media (max-width: $sw-xs-max) {
                            font-size: 1.8rem;
                        }
                    }
                }
            }
            &__btc {
                padding: 4rem;
                @media (max-width: $sw-md-max) {
                    padding: 4rem 2.5rem;
                }
                @media (max-width: $sw-xs-max) {
                    padding: 3rem;
                }
                @media (max-width: $sw-xx-max) {
                    padding: 2rem;
                    order: 0;
                }
                &__content {
                    display: none;
                    &.is-active {
                        display: block;
                    }
                    &__inner {
                        display: flex;
                        align-items: flex-start;
                        @media (max-width: 499px) {
                            flex-direction: column;
                            align-items: center;
                        }
                    }
                }
                &__img {
                    width: 28rem;
                    height: 28rem;
                    margin-right: 4rem;
                    flex-shrink: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    @media (max-width: $sw-xs-max) {
                        width: 20rem;
                        height: 20rem;
                        margin-right: 2.5rem;
                    }
                    @media (max-width: $sw-xx-max) {
                        width: 16rem;
                        height: 16rem;
                        margin-right: 2rem;
                    }
                    @media (max-width: 499px) {
                        margin-right: 0;
                        margin-bottom: 1.5rem;
                    }
                    img {
                        width: auto;
                        height: auto;
                        max-width: 100%;
                        max-height: 100%;
                        border-radius: 1.6rem;
                    }
                }
                &__info {
                    width: calc(100% - 32rem);
                    @media (max-width: $sw-xs-max) {
                        width: calc(100% - 22.5rem);
                    }
                    @media (max-width: $sw-xx-max) {
                        width: calc(100% - 18rem);
                    }
                    @media (max-width: 499px) {
                        width: 100%;
                    }
                }
                &__box {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: flex-end;
                    @media (max-width: $sw-xx-max) {
                        flex-wrap: wrap;
                    }
                    &:not(:last-child) {
                        margin-bottom: 3rem;
                        @media (max-width: $sw-xs-max) {
                            margin-bottom: 1.5rem;
                        }
                    }
                    .btn {
                        width: 13rem;
                        min-width: auto;
                        flex-shrink: 0;
                        margin-top: 1rem;
                        margin-bottom: -1rem;
                        @media (max-width: $sw-xx-max) {
                            margin-bottom: 0;
                            height: 4rem;
                        }
                    }
                    &-info {
                        margin-right: 2rem;
                        @media (max-width: $sw-xx-max) {
                            margin-right: 0;
                            width: 100%;
                        }
                    }
                }
                &__label {
                    font-size: 1.4rem;
                    line-height: 2.15em;
                    color: $light-blue;
                    display: block;
                    width: 100%;
                    @media (max-width: $sw-xs-max) {
                        line-height: 1.875em;
                    }
                }
                &__val {
                    font-weight: 700;
                    font-size: 2rem;
                    line-height: 1.5em;
                    color: $light-blue;
                    display: block;
                    width: 100%;
                    word-break: break-all;
                    @media (max-width: $sw-xs-max) {
                        font-size: 1.8rem;
                    }
                }
            }
        }
        &__inner {
            padding: 3rem 4rem;
            display: flex;
            border-radius: 1.6rem 1.6rem 0 0;
            // align-items: flex-start;
            justify-content: space-between;
            background-color: #21273B;
            border-left: 1px solid #5a5f71;
            border-top: 1px solid #5a5f71;
            border-right: 1px solid #5a5f71;
            @media (max-width: $sw-md-max) {
                padding: 3rem;
            }
            @media (max-width: $sw-xs-max) {
                padding: 2rem;
                flex-wrap: wrap;
            }
            @media (max-width: $sw-xx-max) {
                padding: 1.5rem;
            }
        }
        &__main {
            margin-right: 4rem;
            width: calc(100% - 3.2rem);
            padding-top: 8px;
            @media (max-width: $sw-xs-max) {
                width: 100%;
                margin-right: 0;
            }
            .article-title {
                &.is-done {
                    .article-title__item,
                    .icon {
                        color: $yellow;
                    }
                }
            }
        }
        &__aside {
            width: 28rem;
            padding-top: 1.5rem;
            flex-shrink: 0;
            @media (max-width: $sw-xs-max) {
                width: 100%;
                padding-top: 0;
                margin-bottom: 2rem;
            }
            &__inner {
                width: 100%;
                position: sticky;
                top: 15rem;
                @media (max-width: $sw-xs-max) {
                    top: auto;
                    position: relative;
                }
                .article-title {
                    margin-bottom: 0;
                    &__item {
                        cursor: default;
                        align-items: center;
                        @media (max-width: $sw-xs-max) {
                            cursor: pointer;
                        }
                        &.is-active {
                            .icon-chevron-down {
                                transform: rotate(180deg);
                            }
                        }
                    }
                    .icon-orders {
                        margin-top: 0;
                    }
                    .icon-chevron-down {
                        display: none;
                        transform: none;
                        transition: transform .4s ease;
                        margin-top: 0;
                        margin-left: 2rem;
                        font-size: 1.6rem;
                        @media (max-width: $sw-xs-max) {
                            display: block;
                        }
                    }
                }
            }
            &__items {
                @media (max-width: $sw-xs-max) {
                    display: none;
                }
                @media (min-width: $sw-sm-min) {
                    display: block !important;
                }
            }
            &__item {
                padding: 2rem 0;
                display: flex;
                align-items: center;
                & + .acc-checkout-form__aside__item {
                    border-top: 2px solid rgba(223, 225, 238, 0.3);
                }
                .my-cart-table__product__img {
                    width: 7rem;
                    height: 7rem;
                    margin-right: 1.8rem;
                }
                .my-cart-table__product__text {
                    width: calc(100% - 8.8rem);
                    &__secondary {
                        width: 100%;
                        span {
                            display: block;
                            width: 100%;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                    }
                    &__main {
                        width: 100%;
                    }
                }
                .my-cart-table__product__name {
                    display: block;
                    width: calc(100% - 2.7rem);
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
        }
        &__steps {
            margin: 0 -3rem 3.8rem -3rem;
            @media (max-width: $sw-xx-max) {
                margin: 0 0 3rem 0;
            }
            display: flex;
            flex-direction: row-reverse;
            &__item {
                width: 25%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                position: relative;
                &.is-active {
                    &:after {
                        background-color: $yellow !important;
                    }
                    .acc-checkout-form__steps__circle {
                        background-color: $yellow;
                        border-color: $yellow;
                        span {
                            color: $dark;
                        }
                    } 
                    .acc-checkout-form__steps__name {
                        color: $light-blue;
                    }
                    & ~ .acc-checkout-form__steps__item {
                        &:after {
                            background-color: $yellow !important;
                        }
                        .acc-checkout-form__steps__circle {
                            background-color: $yellow;
                            border-color: $yellow;
                            span {
                                color: $dark;
                            }
                        } 
                        .acc-checkout-form__steps__name {
                            color: $light-blue;
                        }

                    }
                }
                &:not(:last-child) {
                    &:after {
                        content: '';
                        display: block;
                        position: absolute;
                        top: 2rem;
                        right: 50%;
                        height: 2px;
                        width: 100%;
                        background-color: rgba(223, 225, 238, 0.3);
                        @media (max-width: $sw-xx-max) {
                            top: 1.4rem;
                        }
                    }
                }
            }
            &__circle {
                width: 4rem;
                height: 4rem;
                position: relative;
                margin-bottom: 1rem;
                border-radius: 50%;
                border: 1px solid rgba(223, 225, 238, 0.3);
                background-color: #21273b;
                z-index: 1;
                transition: background-color .3s ease, border-color .3s ease;
                @media (max-width: $sw-xx-max) {
                    width: 2.8rem;
                    height: 2.8rem;
                }
                span {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    font-weight: 600;
                    font-size: 1.4rem;
                    line-height: 1em;
                    color: rgba(223, 225, 238, 0.3);
                    transition: color .3s ease;
                }
            }
            &__name {
                font-size: 1.4rem;
                line-height: 1.4em;
                text-align: center;
                text-transform: capitalize;
                color: rgba(223, 225, 238, 0.3);
                transition: color .3s ease;
                @media (max-width: $sw-xx-max) {
                    font-size: 1.2rem;
                }
            }
        }
        &__footer {
            width: calc(100% + 2rem);
            margin-left: -1rem;
            padding: 0 1rem 1rem 1rem;
            z-index: 11;
            background-color: $dark;
            position: sticky;
            bottom: 0;
            &--static-mobile {
                @media (max-width: $sw-xs-max) {
                    position: relative;
                    bottom: auto;
                }
            }
            &__inner {
                padding: 3rem 3rem 4rem 3rem;
                border-radius: 0 0 1.6rem 1.6rem;
                position: relative;
                border-bottom: 1px solid #5a5f71;
                border-right: 1px solid #5a5f71;
                border-left: 1px solid #5a5f71;
                border-top: 1px solid rgba(223, 225, 238, 0.3);
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #21273b;
                @media (max-width: $sw-xs-max) {
                    justify-content: space-between;
                }
                @media (max-width: $sw-xx-max) {
                    padding: 2rem 1rem 3rem 1rem;
                    justify-content: center;
                }
                &:after {
                    content: '';
                    display: block;
                    height: 1.3rem;
                    width: calc(100% - 7rem);
                    position: absolute;
                    left: 50%;
                    -webkit-transform: translateX(-50%);
                    transform: translateX(-50%);
                    background-image: url(../../s/images/useful/svg/circle-border-2.svg);
                    background-repeat: repeat-x;
                    bottom: -1px;
                    z-index: 30;
                    background-position: top;
                    background-size: auto 26px;
                    @media (max-width: $sw-xs-max) {
                        width: calc(100% - 4rem);
                    }
                    @media (max-width: $sw-xx-max) {
                        width: calc(100% - 3.2rem);
                    }
                }
            }
            .btn {
                min-width: 20rem;
                @media (max-width: $sw-xx-max) {
                    order: 1;
                    min-width: auto;
                    width: auto;
                }
                &__total-count {
                    margin-left: 4px;
                    display: none;
                    text-transform: uppercase;
                    @media (max-width: $sw-xx-max) {
                        display: block;
                    }
                }
            }
            &__total {
                text-transform: uppercase;
                color: $light-blue;
                font-weight: 800;
                font-style: italic;
                font-size: 2rem;
                line-height: 1.5em;
                display: flex;
                align-items: center;
                text-align: right;
                position: absolute;
                top: calc(50% - 5px);
                right: 2.4rem;
                transform: translateY(-50%);
                @media (max-width: $sw-xs-max) {
                    font-size: 1.6rem;
                    position: relative;
                    top: auto;
                    right: auto;
                    transform: none;
                }
                @media (max-width: $sw-xx-max) {
                    display: none;
                }
                span {
                    margin-right: 5px;
                }
            }
        }
        &__group {
            &--lg {
                width: 56.25%;
                @media (max-width: $sw-xx-max) {
                    width: 100%;
                }
            }
            &--sm {
                width: 37.5%;
                @media (max-width: $sw-xx-max) {
                    width: 100%;
                }
            }
            &-wrap {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                @media (max-width: $sw-xx-max) {
                    flex-wrap: wrap;
                }
                .acc-checkout-form__group {
                    & + .acc-checkout-form__group {
                        margin-top: 0;
                        @media (max-width: $sw-xx-max) {
                            margin-top: 1.5rem;
                        }
                    }
                }
                & + .acc-checkout-form__group, & + .acc-checkout-form__group-wrap {
                    margin-top: 4rem;
                    @media (max-width: $sw-md-max) {
                        margin-top: 3rem;
                    }
                    @media (max-width: $sw-xs-max) {
                        margin-top: 2rem;
                    }
                    @media (max-width: $sw-xx-max) {
                        margin-top: 1.5rem;
                    }
                }
            }
            & + .acc-checkout-form__group, & + .acc-checkout-form__group-wrap {
                margin-top: 4rem;
                @media (max-width: $sw-md-max) {
                    margin-top: 3rem;
                }
                @media (max-width: $sw-xs-max) {
                    margin-top: 2rem;
                }
                @media (max-width: $sw-xx-max) {
                    margin-top: 1.5rem;
                }
            }
            .select2-container {
                width: 100% !important;
            }
            .select2-container--default .select2-selection--single {
                border-radius: 1.6rem;
                .select2-selection__rendered {
                    border-radius: 1.6rem;
                }
            }
            &__title {
                font-weight: 600;
                font-size: 1.2rem;
                line-height: 2.5em;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                width: 100%;
                color: rgba(223, 225, 238, 0.3);
                margin-bottom: 1rem;
                @media (max-width: $sw-xs-max) {
                    line-height: 2em;
                }
                &__info {
                    margin-left: 1.8rem;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    font-weight: 300;
                    font-size: 1.6rem;
                    line-height: 1.875em;
                    color: $light-blue;
                    .icon {
                        font-size: 2rem;
                        margin-right: 1rem;
                    }
                }
            }
        }
        &__modal {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: calc(100% - 1rem);
            background: rgba(33, 39, 59, 0.97);
            border: 1px solid rgba(223, 225, 238, 0.3);
            border-radius: 1.6rem;
            opacity: 0;
            visibility: hidden;
            transition: opacity .25s ease, visibility .25s ease;
            z-index: 30;
            &:after {
                content: '';
                display: block;
                height: 1.3rem;
                width: calc(100% - 7rem);
                position: absolute;
                left: 50%;
                -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
                background-image: url(../../s/images/useful/svg/circle-border-2.svg);
                background-repeat: repeat-x;
                bottom: -1px;
                z-index: 30;
                background-position: top;
                background-size: auto 26px;
                @media (max-width: $sw-xs-max) {
                    width: calc(100% - 4rem);
                }
                @media (max-width: $sw-xx-max) {
                    width: calc(100% - 3.2rem);
                }
            }
            .is-modal-active & {
                opacity: 1;
                visibility: visible;
            }
            &__close {
                position: absolute;
                right: 0;
                top: 0;
                width: 8.4rem;
                height: 8.4rem;
                @media (max-width: $sw-md-max) {
                    width: 5.5rem;
                }
                @media (max-width: $sw-xx-max) {
                    right: 0px;
                    top: 0;
                    width: 5rem;
                    height: 5rem;
                    border-radius: 0 1.6rem 0 0;
                }
                .icon-remove-sm {
                    font-size: 1.2rem;
                    color: $light-blue;
                }
            }
            &__inner {
                height: 100%;
                padding: 3rem 1.5rem 4rem 1.5rem;
                .is-submitted & {
                    display: none;
                }
                @media (max-width: $sw-xx-max) {
                    padding: 3rem 1.5rem;
                }
                &--single {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;
                    padding: 14rem 2rem 6rem 2rem;
                    @media (max-width: $sw-xs-max) {
                        padding: 8rem 1.5rem 4rem 1.5rem;
                    }
                    @media (max-width: $sw-xx-max) {
                        padding: 4rem 1.5rem;
                    }
                }
                &--sm {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;
                    padding: 3rem 2rem 4rem 2rem;
                    @media (max-width: $sw-xs-max) {
                        padding: 3rem 1.5rem;
                    }
                    @media (max-width: $sw-xx-max) {
                        padding: 4rem 1.5rem;
                    }
                    .acc-coins__photo__group {
                        &:not(:last-child) {
                            margin-bottom: 1.5rem !important;
                            @media (max-width: $sw-xs-max) {
                                margin-bottom: 1rem;
                            }
                        }
                    }
                }
                .acc-coins__notice {
                    margin-top: auto;
                    justify-content: center;
                    @media (max-width: $sw-xs-max) {
                        margin-top: 3rem;
                    }
                    @media (max-width: $sw-xx-max) {
                        margin-top: 2rem;
                    }
                }
            }
            &__side {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                max-width: 32rem;
                .acc-coins__photo__group {
                    width: 100%;
                }
                &--lg {
                    max-width: 68rem;
                    justify-content: space-between;
                    @media (max-width: $sw-xs-max) {
                        max-width: 66rem;
                    }
                    .acc-coins__photo__group {
                        width: calc(50% - 2rem);
                        @media (max-width: $sw-xs-max) {
                            width: calc(50% - 1rem);
                        }
                        @media (max-width: $sw-xx-max) {
                            width: 100%;
                        }
                    }
                }
                &-wrap {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                }
            }
            &__title {
                display: block;
                width: 100%;
                font-style: italic;
                font-weight: 800;
                font-size: 2.4rem;
                line-height: 1.65em;
                text-align: center;
                text-transform: uppercase;
                color: $light-blue;
                margin-bottom: 3rem;
                padding: 0 2rem;
                @media (max-width: $sw-xx-max) {
                    font-size: 1.8rem;
                    margin-bottom: 2rem;
                }
                .acc-checkout-form__modal__inner--sm & {
                    margin-bottom: 2rem;
                    @media (max-width: $sw-xs-max) {
                        margin-bottom: 1.5rem;
                    }
                }
            }
            .acc-coins__photo__group {
                & + .acc-coins__photo__group {
                    margin-top: 0;
                }
                &:not(:last-child) {
                    margin-bottom: 3rem;
                    @media (max-width: $sw-xs-max) {
                        margin-bottom: 2rem;
                    }
                    @media (max-width: $sw-xx-max) {
                        margin-bottom: 1.5rem;
                    }
                }
                textarea.form-control {
                    height: 10.4rem;
                    @media (max-width: $sw-xs-max) {
                        height: 9rem;
                    }
                }
                .btn {
                    min-width: auto;
                    width: 100%;
                    text-transform: capitalize;
                }
            }
            &__submitted {
                opacity: 0;
                visibility: hidden;
                display: flex;
                align-items: flex-start;
                justify-content: center;
                padding: 8rem 1rem;
                position: sticky;
                top: 10rem;
                .is-submitted & {
                    opacity: 1; 
                    visibility: visible;
                    transition: opacity .3s ease, visibility .3s ease;
                }
                &__inner {
                    width: 100%;
                    max-width: 80rem;
                    margin: 0 auto;
                    height: auto;
                    border-radius: 1.6rem;
                    border: 1px solid rgba(223, 225, 238, 0.3);
                    background-color: rgba(33, 39, 59, 0.97);
                    background-image: url('../../s/images/useful/texture.png');
                    background-repeat: repeat;
                    background-size: cover;
                    background-position: 0 0;
                    padding: 3.4rem 4rem 3.4rem 3.4rem;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    @media (max-width: $sw-sm-max) {
                        padding: 1rem 2rem;
                    }
                    @media (max-width: $sw-xx-max) {
                        padding: 1rem;
                        flex-wrap: wrap;
                        justify-content: center;
                    }
                    .btn {
                        width: 14rem;
                        height: 6rem;
                        min-width: auto;
                    }
                }
                &__side {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    margin-right: 1rem;
                    @media (max-width: $sw-xx-max) {
                        margin-right: 0;
                        width: 100%;
                        text-align: center;
                        justify-content: center;
                        margin-bottom: 1.5rem;
                    }
                }
                &__icon {
                    width: 7.2rem;
                    height: 7.2rem;
                    background-color: $yellow;
                    border-radius: 2.4rem 2.4rem 2.4rem 0;
                    margin-right: 3.4rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-shrink: 0;
                    @media (max-width: $sw-sm-max) {
                        margin-right: 2rem;
                        width: 6rem;
                        height: 6rem;
                    }
                    @media (max-width: $sw-xx-max) {
                        width: 5.6rem;
                        height: 5.6rem;
                    }
                    .icon-withdraw {
                        font-size: 2.7rem;
                        color: $dark;
                        @media (max-width: $sw-sm-max) {
                            font-size: 2rem;
                        }
                    }
                }
                &__title {
                    font-style: italic;
                    font-weight: 800;
                    font-size: 2.6rem;
                    line-height: 1.15em;
                    letter-spacing: -0.02em;
                    text-transform: uppercase;
                    color: $yellow;
                    @media (max-width: $sw-sm-max) {
                        font-size: 2rem;
                    }
                    @media (max-width: $sw-xx-max) {
                        font-size: 1.8rem;
                    }
                }
            }
        }
    }
}

.wu-danger {
    width: 100%;
    margin-bottom: 2rem;
    background: $dark;
    border: 1px solid rgba(223, 225, 238, 0.3);
    border-radius: 1.6rem;
    padding: 2rem 2rem 2rem 2.5rem;
    display: flex;
    align-items: center;
    @media (max-width: $sw-xs-max) {
        padding: 1.5rem;
    }
    @media (max-width: $sw-xx-max) {
        padding: 1rem;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
    }
    &--red {
        border-color: #EB5757;
        background-image: url(../../s/images/useful/invoice-bg.png);
        background-repeat: repeat;
        background-size: cover;
        background-position: 0 0;
        .wu-danger__icon {
            .icon-attention {
                color: #EB5757;
            }
        }
        .wu-danger__text {
            p {
                font-weight: 600;
            }
        }
    }
    &__icon {
        margin-right: 2.5rem;
        flex-shrink: 0;
        @media (max-width: $sw-xs-max) {
            margin-right: 1.5rem;
        }
        @media (max-width: $sw-xx-max) {
            margin-right: 0;
            margin-bottom: 1rem;
        }
        .icon-attention {
            font-size: 2rem;
            color: $light-blue;
        }
    }
    &__text {
        @media (max-width: $sw-xx-max) {
            width: 100%;
        }
        p {
            font-weight: 300;
            font-size: 1.6rem;
            line-height: 1.25em;
            color: $light-blue;
            margin-bottom: 0;
            @media (max-width: $sw-xs-max) {
                font-size: 1.5rem;
                line-height: 1.4em;
            }
        }
    }
}

.header.header--noty-active {
    & + .main-content {
        .acc-checkout-form__aside__inner {
            top: 20rem;
            @media (max-width: $sw-xs-max) {
                top: auto;
            }
        }
    }
}