.acc-settings {
    width: 100%;
    padding: 5rem 10.3rem 1rem 12rem;
    position: relative;
    z-index: 1;
    @media (max-width: $sw-md-max) {
        padding: 5rem 5rem 1rem 5rem;
    }
    @media (max-width: $sw-sm-max) {
        padding: 4rem 4rem 1rem 4rem;
        width: 100%;
    }
    @media (max-width: $sw-xx-max) {
        padding: 3.4rem 1rem 1rem 1rem;
    }

    .section-title {
        margin-bottom: 4.9rem;
        @media (max-width: $sw-sm-max) {
            margin-bottom: 5.7rem;
        }
        @media (max-width: $sw-xx-max) {
            margin-bottom: 2.3rem;
        }
        &__secondary {
            @media (max-width: $sw-xx-max) {
                font-size: 1.8rem;
            }
        }
    }

    &__form {
        &__top, &__line {
            height: 9rem;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            @media (max-width: $sw-xs-max) {
                padding: 1rem 0;
            }
            @media (max-width: $sw-xx-max) {
                height: 8rem;
            }
        }
        &__top {
            @media (max-width: $sw-xs-max) {
                justify-content: space-between;   
                height: auto;
            }
            .acc-settings__form__title {
                @media (max-width: $sw-xs-max) {
                    width: auto;
                    max-width: none;
                }
            }
            .acc-settings__form__val {
                @media (max-width: $sw-xs-max) {
                    flex-grow: unset;
                    width: auto;
                    margin-right: 0;
                    padding: 0;
                }
            }
        }
        &__line {
            border-top: 1px solid #2F3548;
            &:last-child {
                @media (max-width: $sw-xx-max) {
                    height: 6rem;
                }
            }
            &:last-child {
                @media (max-width: $sw-xx-max) {
                    height: 12rem;
                }
                .acc-settings__form__line__side {
                    width: 36rem;
                    @media (max-width: $sw-xx-max) {
                        width: 13rem;
                        justify-content: flex-start;
                    }
                    .btn {
                        @media (max-width: $sw-xx-max) {
                            transform: none;
                            top: 5px;
                        }
                    }
                }
            }
            &__side {
                display: flex;
                align-items: center;
                height: 100%;
                position: relative;
                &:first-child {
                    flex-grow: 1;
                    margin-right: 2rem;
                    @media (max-width: $sw-xs-max) {
                        margin-right: 1rem;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: center;
                        justify-items: center;
                    }
                }
                &:last-child {
                    width: 17rem;
                    flex-shrink: 0;
                    @media (max-width: $sw-xx-max) {
                        width: 13rem;
                    }
                    .btn {
                        min-width: auto;
                        width: 17rem;
                        margin-left: auto;
                        flex-shrink: 0;
                        @media (max-width: $sw-xs-max) {
                            height: 4rem;
                        }
                        @media (max-width: $sw-xx-max) {
                            padding: 0 1rem;
                            width: 13rem;
                            font-size: 1.4rem;
                        }
                    }
                }
                .btn {
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translate(0,-50%);
                    transition: background-color .3s ease, color .3s ease, opacity .3s ease, visibility .3s ease;
                    &.is-hidden {
                        opacity: 0;
                        visibility: hidden;
                    }
                    &.js-cancel-delete {
                        left: 0;
                        right: auto;
                        @media (max-width: $sw-xx-max) {
                            left: auto;
                            right: 0;
                            bottom: 0;
                            top: auto !important;
                        }
                    }
                }
                .btn--transparent {
                    color: #EB5757 !important;
                    &:not([disabled]):hover {
                        @media (min-width: $sw-xs-min) { 
                            background-color: lighten($dark, 3%);
                        }
                    }
                    &:not([disabled]):active {
                        background-color: lighten($dark, 6%);
                    }
                }
            }
        }
        &__title {
            width: 100%;
            max-width: 35rem;
            height: 100%;
            display: flex;
            align-items: center;
            font-size: 1.6rem;
            line-height: 1.875em;
            color: $light-blue;
            padding-right: 1rem;
            @media (max-width: $sw-md-max) {
                max-width: 30rem;
            }
            @media (max-width: $sw-xs-max) {
                height: 50%;
            }
            &--lg {
                max-width: none;
            }
        }
        &__val {
            width: auto;
            height: 100%;
            display: flex;
            align-items: center;
            font-size: 1.6rem;
            line-height: 1.875em;
            color: $light-blue;
            flex-grow: 1;
            text-align: left;
            @media (max-width: $sw-xs-max) {
                height: 50%;
                width: 100%;
            }
            &:after {
                content: '-------';
                display: none;
                font-size: 1.6rem;
                line-height: 1.875em;
                color: $light-blue;
            }
            &:empty {
                &:after {
                    display: block;
                }
            } 
            input {
                font-size: 1.6rem;
                line-height: 1.875em;
                color: $light-blue;
                height: 5rem;
                border-radius: 1.6rem;
                flex-grow: 1;
                width: 100%;
                transition: background-color .3s ease, padding .3s ease;
                border: none;
                -webkit-appearance: none;
                border: none;
                outline: none;
                box-shadow: none;
                @media (max-width: $sw-xs-max) {
                    padding: 0;
                    height: 3.6rem;
                    border-radius: 6px;
                    background-color: transparent;
                }
                &:not([readonly]) {
                    padding: 0 2rem;
                    background-color: #2F3548;
                    @media (max-width: $sw-xs-max) {
                        padding: 0 1rem;
                    }
                }
                &[readonly] {
                    padding: 0 2rem 0 0;
                    background-color: transparent;
                    cursor: default;
                }
                &:focus {
                    border: none;
                    outline: none;
                    box-shadow: none;
                    @include placeholder {
                        opacity: 0;
                    }
                }
                @include placeholder {
                    font-size: 1.6rem;
                    line-height: 1.875em;
                    color: rgba($light-blue, 0.6);
                    opacity: 1;
                    transition: opacity .3s ease;
                }
            }
        }
    }
}