mixin acc-settings(data)
	.acc-settings
		.section-title
			+svg('icon-settings')
			p.section-title__secondary Settings
		form.acc-settings__form(action="javascript:void(0)")
			.acc-settings__form__top
				.acc-settings__form__title 
					span My Customer ID
				.acc-settings__form__val
					span 8578541
			.acc-settings__form__line
				.acc-settings__form__line__side
					.acc-settings__form__title 
						span Email
					.acc-settings__form__val
						input(type="text", readonly, placeholder="Enter your email...", value="user@protonmail.com")
				.acc-settings__form__line__side
					button.btn.btn--bordered.btn--md.js-btn-change(type="button")
						span Change
					button.btn.btn--yellow.btn--md.js-btn-approve.is-hidden(type="button")
						span Save & Update
			.acc-settings__form__line
				.acc-settings__form__line__side
					.acc-settings__form__title 
						span Password
					.acc-settings__form__val
						input(type="password", readonly, placeholder="Enter your password...", value="roidsmannpass")
				.acc-settings__form__line__side
					button.btn.btn--bordered.btn--md.js-btn-change(type="button")
						span Change
					button.btn.btn--yellow.btn--md.js-btn-approve.is-hidden(type="button")
						span Save & Update
			.acc-settings__form__line
				.acc-settings__form__line__side
					.acc-settings__form__title.acc-settings__form__title--lg
						span Account
				.acc-settings__form__line__side
					button.btn.btn--transparent.btn--md.js-btn-change(type="button")
						span Delete
					button.btn.btn--yellow.btn--md.js-cancel-delete.is-hidden(type="button")
						span Cancel
					button.btn.btn--md.btn--red-dark.js-confirm-delete.is-hidden(type="button")
						span Are you sure?