mixin invoice-btc(data)
	form#invoice_form.acc-checkout-form.js-form-check(action="javascript:void(0)")
		.acc-checkout-form__invoice
			.acc-checkout-form__invoice__top.acc-checkout-form__invoice__top--crypto
				.acc-checkout-form__invoice__top__side
					span.order-block__num RA0547
					.order-block__info
						.order-block__info__icon
							+svg('icon-circled-arrow')
						span.order-block__info__name Order Status: Pay Invoice
				.acc-checkout-form__invoice__top__side
					span.acc-checkout-form__invoice__top__date 2020-02-06
					.acc-checkout-form__invoice__top__buttons
						a.btn.btn--md.btn--black.js-see-products(href="#products_in_order")
							span See Products
			.acc-checkout-form__invoice__btc
				.acc-checkout-form__crypto.h-scrollbar-x
					.acc-checkout-form__crypto__inner
						input.acc-checkout-form__crypto__input#crypto_invoice_btc(type="radio", name="crypto_invoice_type", checked="")
						label.acc-checkout-form__crypto__label(for="crypto_invoice_btc")
							span.acc-checkout-form__crypto__label__circle
							span.acc-checkout-form__crypto__label__name Bitcoin BTC 
						input.acc-checkout-form__crypto__input#crypto_invoice_eth(type="radio", name="crypto_invoice_type")
						label.acc-checkout-form__crypto__label(for="crypto_invoice_eth")
							span.acc-checkout-form__crypto__label__circle
							span.acc-checkout-form__crypto__label__name Ethereum ETH
						input.acc-checkout-form__crypto__input#crypto_invoice_usdt(type="radio", name="crypto_invoice_type")
						label.acc-checkout-form__crypto__label(for="crypto_invoice_usdt")
							span.acc-checkout-form__crypto__label__circle
							span.acc-checkout-form__crypto__label__name Tether USDT
						input.acc-checkout-form__crypto__input#crypto_invoice_bnb(type="radio", name="crypto_invoice_type")
						label.acc-checkout-form__crypto__label(for="crypto_invoice_bnb")
							span.acc-checkout-form__crypto__label__circle
							span.acc-checkout-form__crypto__label__name Binance Coin BNB
						input.acc-checkout-form__crypto__input#crypto_invoice_ltc(type="radio", name="crypto_invoice_type")
						label.acc-checkout-form__crypto__label(for="crypto_invoice_ltc")
							span.acc-checkout-form__crypto__label__circle
							span.acc-checkout-form__crypto__label__name Litecoin LTC
				.acc-checkout-form__invoice__btc__content.is-active(data-info="crypto_invoice_btc")
					.acc-checkout-form__invoice__btc__content__inner
						.acc-checkout-form__invoice__btc__img
							img(src="s/images/useful/svg/qr-code.svg", alt="qr")
						.acc-checkout-form__invoice__btc__info
							.acc-checkout-form__invoice__btc__box
								.acc-checkout-form__invoice__btc__box-info
									span.acc-checkout-form__invoice__btc__label Bitcoin amount:
									span.acc-checkout-form__invoice__btc__val 0.00160561
							.acc-checkout-form__invoice__btc__box
								.acc-checkout-form__invoice__btc__box-info
									span.acc-checkout-form__invoice__btc__label Bitcoin address:
									span.acc-checkout-form__invoice__btc__val 34Z4a9vKPg4bx2PKPJWCn5fY3ohybR4mzA
								button.btn.btn--md.btn--white.btn-copy(type="button")
									+svg('icon-clipboard')
									span Copy
									span.btn-copy__inner
										+svg('icon-chk')
										span Copied
							.acc-checkout-form__invoice__btc__box
								.acc-checkout-form__invoice__btc__box-info
									span.acc-checkout-form__invoice__btc__label Bitcoin price will be updated in:
									span.acc-checkout-form__invoice__btc__val 00:02:31
				.acc-checkout-form__invoice__btc__content(data-info="crypto_invoice_eth")
					.acc-checkout-form__invoice__btc__content__inner
						.acc-checkout-form__invoice__btc__img
							img(src="s/images/useful/svg/qr-code.svg", alt="qr")
						.acc-checkout-form__invoice__btc__info
							.acc-checkout-form__invoice__btc__box
								.acc-checkout-form__invoice__btc__box-info
									span.acc-checkout-form__invoice__btc__label Etherum amount:
									span.acc-checkout-form__invoice__btc__val 0.00160561
							.acc-checkout-form__invoice__btc__box
								.acc-checkout-form__invoice__btc__box-info
									span.acc-checkout-form__invoice__btc__label Etherum address:
									span.acc-checkout-form__invoice__btc__val 34Z4a9vKPg4bx2PKPJWCn5fY3ohybR4mzA
								button.btn.btn--md.btn--white.btn-copy(type="button")
									+svg('icon-clipboard')
									span Copy
									span.btn-copy__inner
										+svg('icon-chk')
										span Copied
							.acc-checkout-form__invoice__btc__box
								.acc-checkout-form__invoice__btc__box-info
									span.acc-checkout-form__invoice__btc__label Etherum price will be updated in:
									span.acc-checkout-form__invoice__btc__val 00:02:31
				.acc-checkout-form__invoice__btc__content(data-info="crypto_invoice_usdt")
					.acc-checkout-form__invoice__btc__content__inner
						.acc-checkout-form__invoice__btc__img
							img(src="s/images/useful/svg/qr-code.svg", alt="qr")
						.acc-checkout-form__invoice__btc__info
							.acc-checkout-form__invoice__btc__box
								.acc-checkout-form__invoice__btc__box-info
									span.acc-checkout-form__invoice__btc__label Tether amount:
									span.acc-checkout-form__invoice__btc__val 0.00160561
							.acc-checkout-form__invoice__btc__box
								.acc-checkout-form__invoice__btc__box-info
									span.acc-checkout-form__invoice__btc__label Tether address:
									span.acc-checkout-form__invoice__btc__val 34Z4a9vKPg4bx2PKPJWCn5fY3ohybR4mzA
								button.btn.btn--md.btn--white.btn-copy(type="button")
									+svg('icon-clipboard')
									span Copy
									span.btn-copy__inner
										+svg('icon-chk')
										span Copied
							.acc-checkout-form__invoice__btc__box
								.acc-checkout-form__invoice__btc__box-info
									span.acc-checkout-form__invoice__btc__label Tether price will be updated in:
									span.acc-checkout-form__invoice__btc__val 00:02:31
				.acc-checkout-form__invoice__btc__content(data-info="crypto_invoice_bnb")
					.acc-checkout-form__invoice__btc__content__inner
						.acc-checkout-form__invoice__btc__img
							img(src="s/images/useful/svg/qr-code.svg", alt="qr")
						.acc-checkout-form__invoice__btc__info
							.acc-checkout-form__invoice__btc__box
								.acc-checkout-form__invoice__btc__box-info
									span.acc-checkout-form__invoice__btc__label BNB amount:
									span.acc-checkout-form__invoice__btc__val 0.00160561
							.acc-checkout-form__invoice__btc__box
								.acc-checkout-form__invoice__btc__box-info
									span.acc-checkout-form__invoice__btc__label BNB address:
									span.acc-checkout-form__invoice__btc__val 34Z4a9vKPg4bx2PKPJWCn5fY3ohybR4mzA
								button.btn.btn--md.btn--white.btn-copy(type="button")
									+svg('icon-clipboard')
									span Copy
									span.btn-copy__inner
										+svg('icon-chk')
										span Copied
							.acc-checkout-form__invoice__btc__box
								.acc-checkout-form__invoice__btc__box-info
									span.acc-checkout-form__invoice__btc__label BNB price will be updated in:
									span.acc-checkout-form__invoice__btc__val 00:02:31
				.acc-checkout-form__invoice__btc__content(data-info="crypto_invoice_ltc")
					.acc-checkout-form__invoice__btc__content__inner
						.acc-checkout-form__invoice__btc__img
							img(src="s/images/useful/svg/qr-code.svg", alt="qr")
						.acc-checkout-form__invoice__btc__info
							.acc-checkout-form__invoice__btc__box
								.acc-checkout-form__invoice__btc__box-info
									span.acc-checkout-form__invoice__btc__label Litecoin amount:
									span.acc-checkout-form__invoice__btc__val 0.00160561
							.acc-checkout-form__invoice__btc__box
								.acc-checkout-form__invoice__btc__box-info
									span.acc-checkout-form__invoice__btc__label Litecoin address:
									span.acc-checkout-form__invoice__btc__val 34Z4a9vKPg4bx2PKPJWCn5fY3ohybR4mzA
								button.btn.btn--md.btn--white.btn-copy(type="button")
									+svg('icon-clipboard')
									span Copy
									span.btn-copy__inner
										+svg('icon-chk')
										span Copied
							.acc-checkout-form__invoice__btc__box
								.acc-checkout-form__invoice__btc__box-info
									span.acc-checkout-form__invoice__btc__label Litecoin price will be updated in:
									span.acc-checkout-form__invoice__btc__val 00:02:31
		.acc-checkout-form__footer.acc-checkout-form__footer--static-mobile
			.acc-checkout-form__footer__inner
				button.btn.btn--yellow.btn--md.js-confirm-modal-trigger(type="button")
					+svg('icon-billed')
					span Confirm Payment
					span.btn__total-count (72.56 USD) 
				.acc-checkout-form__footer__total
					span Total:
					span 72.56
					span Usd
		.acc-checkout-form__modal
			.acc-checkout-form__modal__inner.acc-checkout-form__modal__inner--sm
				span.acc-checkout-form__modal__title confirm double check
				.acc-checkout-form__modal__side-wrap
					.acc-checkout-form__modal__side
						.acc-coins__photo__group
							span.acc-coins__photo__group__title The exact amount in BTC with all digits:
							.input-wrap.required
								input.form-control.form-control--silver(type="text", name="name", placeholder="0.00000000 BTC", required="")
						.acc-coins__photo__group
							span.acc-coins__photo__group__title Transaction ID:
							.input-wrap.required
								textarea.form-control.form-control--silver(type="text", name="transaction_id", placeholder="ID...", required="")
						.acc-coins__photo__group
							button.btn.btn--yellow.btn--md(type="submit")
								+svg('icon-chk')
								span Yes, i want to confirm
						.acc-coins__photo__group
							button.btn.btn--bordered.btn--md.js-confirm-modal-close(type="button")
								span Not sure, review invoice
				.acc-coins__notice
					.acc-coins__notice__icon
						+svg('icon-attention')
					p.acc-coins__notice__text #[b Important notice: ] Confirm the payment only after the invoice has been paid.
			.acc-checkout-form__modal__submitted
				.acc-checkout-form__modal__submitted__inner
					.acc-checkout-form__modal__submitted__side
						.acc-checkout-form__modal__submitted__icon
							+svg('icon-withdraw')
						span.acc-checkout-form__modal__submitted__title All is done, payment confirmed
					button.btn.btn--md.btn--bordered.js-confirm-modal-close(type="button")
						span Close
			button.acc-checkout-form__modal__close.js-confirm-modal-close(type="button")
				+svg('icon-remove-sm')