.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 41;
    border-bottom: 1px solid #2F3548;
    body.product-modal-active & {
        padding-right: 1.6rem;
        @media (max-width: $sw-xx-max) {
            padding-right: 0;
        }
    }
    html.safari & {
        body.product-modal-active & {
            padding-right: 0 !important;
        }
    }
    .container {
        @media (min-width: $sw-xs-min) {
            max-width: 100%;
        }
        @media (min-width: $sw-md-min) {
            max-width: 1200px;
        }
        @media (min-width: $sw-lg-min) {
            max-width: 1427px;
        }
    }

    &__desktop {
        @media (max-width: $sw-sm-max) {
            display: none;
        }
    }
    &__mobile {
        display: none;
        @media (max-width: $sw-sm-max) {
            display: block;
            position: relative;
            z-index: 101;
            &.is-scrolled {
                &:before {
                    opacity: 1;
                }
            }
            &:after, &:before {
                content: '';
                display: block;
                height: 5rem;
                width: 5rem;
                position: absolute;
                bottom: 0;
                z-index: 10;
                opacity: 1;
                transition: opacity .15s ease;
            }
            &:before {
                transform: rotate(180deg);
                left: 0;
                opacity: 0;
                background-image: linear-gradient(270deg, #1B2134 19.86%, rgba(27, 33, 52, 0) 100%);
            }
            &:after {
                right: 0;
                background-image: linear-gradient(270deg, #1B2134 19.86%, rgba(27, 33, 52, 0) 100%);
            }
        }
        &__main {
            border-bottom: 1px solid #2F3548;
            background-color: $dark;
            transition: border-color .2s ease;
            .search-active & {
                border-color: transparent;
            }
            &__inner {
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 6rem;
                position: relative;
            }
            &__side {
                display: flex;
                align-items: center;
                justify-content: flex-start;
            }
        }
        &__btn {
            width: 5rem;
            height: 4rem;
            background: #21273B;
            border: 2px solid #21273B;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 1.6rem;
            position: relative;
            transition: opacity .3s ease, visibility .3s ease;
            &:not(:first-child) {
                margin-left: 1rem;
            }
            .icon {
                font-size: 2rem;
                color: $light-blue;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%) scale(1);
                transition: opacity .2s ease, visibility .2s ease, transform .3s ease;
                &-close {
                    font-size: 1.2rem;
                    transform: translate(-50%,-50%) scale(0);
                    opacity: 0;
                    visibility: hidden;
                    .menu-is-active & {
                        opacity: 1;
                        visibility: visible;
                        transform: translate(-50%,-50%) scale(1);
                    } 
                }
                &-menu {
                    .menu-is-active & {
                        opacity: 0;
                        visibility: hidden;
                        transform: translate(-50%,-50%) scale(0);
                    } 
                }
            }
            .count-box {
                width: 1.4rem;
                height: 1.4rem;
                position: absolute;
                right: -2px;
                top: -2px;
                font-size: 1rem;
            }
        }
        &__search {
            width: 5rem;
            transition: width .3s ease;
            position: relative;
            margin-left: 1rem;
            &.is-active {
                .header__search {
                    opacity: 1;
                    visibility: visible;
                }
                @media (max-width: $sw-sm-max) {
                    width: 40rem;
                }
                @media (max-width: $sw-xx-max) {
                    width: auto;
                    .header__search {
                        width: calc(100vw - 1.9rem);
                        opacity: 1;
                        visibility: visible;
                        transform: translateX(58px);
                    }
                }
            }
            .header__mobile__btn {
                margin-left: auto;
            }
            .header__search {
                position: absolute;
                right: 0;
                width: 100%;
                top: 0;
                height: 4rem;
                margin-right: -2px;
                z-index: 20;
                opacity: 0;
                visibility: hidden;
                transition: opacity .4s ease, visibility .4s ease, transform .3s ease, width .3s ease;
                
                body.menu-is-active & {
                    opacity: 1;
                    visibility: visible;
                    @media (max-width: $sw-sm-max) {
                        width: 40rem;
                    }
                    @media (max-width: $sw-xx-max) {
                        width: 13rem;
                    }
                    @media (max-width: 359px) {
                        width: 11.5rem;
                    }
                    
                    &.is-focused {
                        @media (max-width: $sw-sm-max) {
                            width: calc(100vw - 3rem);
                            opacity: 1;
                            visibility: visible;
                            transform: translateX(58px);
                        }
                        @media (max-width: $sw-xx-max) {
                            width: calc(100vw - 1.9rem);
                        }
                    }
                }
            }
        }
        &__list {
            display: flex;
            padding: 0 3.5rem 0 1.5rem;
            @media (max-width: $sw-xx-max) {
                padding: 0 3.5rem 0 1rem;
            }
            &-wrap {
                width: 100%;
                background-color: $dark;
                overflow: hidden;
                overflow-x: auto;
                -webkit-overflow-scrolling: touch;
                display: flex;
                position: relative;
                z-index: 1;
                transition: border-color .2s ease;
                .search-active & {
                    border-color: transparent;
                }
            }
            li {
                position: relative;
                &.is-active {
                    a {
                        color: $yellow;
                    }
                }
                &:not(:last-child) {
                    padding-right: 2.1rem;
                    margin-right: 2.1rem;
                    &:after {
                        content: '';
                        display: block;
                        width: 4px;
                        height: 4px;
                        border-radius: 50%;
                        position: absolute;
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        background-color: rgba(223, 225, 238, 0.3);
                    }
                }
            }
            a {
                height: 5rem;
                color: $light-blue;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                font-weight: 600;
                font-size: 1.8rem;
                line-height: 1.66em;
                white-space: nowrap;
                .icon {
                    font-size: 2rem;
                    margin-right: 1rem;
                    flex-shrink: 0;
                }
            }
        }
    }

    &__logo {
        margin-right: 4rem;
        @media (max-width: $sw-md-max) {
            margin-right: 2rem;
        }
        .icon-logo {
            font-size: 2rem;
            @media (max-width: $sw-md-max) {
                font-size: 1.6rem;
            }
        }
    }

    &__mobile__logo {
        margin-right: 1rem;
        .icon-logo {
            font-size: 1.5rem;
        }
    }

    &__noty {
        width: 100%;
        text-align: center;
        display: none;
        align-items: center;
        justify-content: center;
        padding: 1.1rem 2rem;
        position: relative;
        z-index: 1;
        @media (max-width: $sw-sm-max) {
            padding: 7px 1.6rem;
        }
        @media (max-width: $sw-xx-max) {
            padding: 7px 0;
            text-align: left;
            justify-content: flex-start;
        }
        .container {
            position: relative;
            padding: 0 5rem 0 2rem;
            @media (max-width: $sw-xx-max) {
                padding: 0 4rem 0 1rem;
            }
        }
        &--receive {
            background-color: $yellow;
            p {
                color: $dark;
            }
        }
        .header--noty-active & {
            display: flex;
        }
        &--withdrawn {
            background-color: #6FCF97;
            p {
                color: $dark;
            }
        }
        &--new {
            background-color: #2F80ED;
            p {
                color: $light-blue;
            }
            .icon-close {
                color: $light-blue;
            }
        }
        &--error {
            background-color: #EB5757;
            p {
                color: $light-blue;
            }
            .icon-close {
                color: $light-blue;
            }
        }
        &__close {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 4rem;
            height: 4rem;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            @media (max-width: $sw-xx-max) {
                width: 3rem;
                height: 3.5rem;
            }
            .icon-close {
                font-size: 1.2rem;
                color: $dark;
            }
        }
        p {
            display: block;
            width: 100%;
            text-align: center;
            font-size: 1.8rem;
            line-height: 1.6em;
            font-weight: 600;
            margin: 0;
            @media (max-width: $sw-sm-max) {
                font-size: 1.6rem;
            }
            @media (max-width: $sw-xx-max) {
                font-size: 1.4rem;
                text-align: left;
            }
        }
        span {
            text-decoration: underline;
        }
    }

    &__top {
        position: relative;
        z-index: 2;
        width: 100%;
        background-color: #141A2B;
        &__inner {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 5rem;
        }
        &__side {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            height: 100%;
        }
        &__list,
        &__info-list {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            height: 100%;
            li {
                position: relative;
                &:not(:last-child) {
                    &:after {
                        content: '';
                        display: block;
                        width: 4px;
                        height: 4px;
                        border-radius: 50%;
                        position: absolute;
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        background-color: rgba(223, 225, 238, 0.3);
                    }
                }
            }
            a {
                font-weight: 300;
                font-size: 1.6rem;
                line-height: 1.875em;
                display: flex;
                align-items: center;
                justify-content: flex-start;
            }
        }
        &__list {
            li {
                &:not(:last-child) {
                    padding-right: 2rem;
                    margin-right: 2rem;
                }
            }
        }
        &__info-list {
            margin-right: 6.2rem;
            @media (max-width: $sw-md-max) {
                margin-right: 4rem;
            }
            li {
                &:not(:last-child) {
                    padding-right: 3rem;
                    margin-right: 3rem;
                    @media (max-width: $sw-md-max) {
                        padding-right: 2rem;
                        margin-right: 2rem;
                    }
                }
                .icon {
                    color: $white;
                    margin-right: 1rem;
                    font-size: 2rem;
                }
                .count-box {
                    margin-left: 1rem;
                }
            }
        }
    }

    &__currency-wrap {

        &.show {
            .currency-dropdown__btn .icon-chevron-down {
                transform: translateY(-50%) rotate(180deg);
            }
            .dropdown-menu {
                transform: translate3d(-50%, 5rem, 0px) !important;
                opacity: 1;
                visibility: visible;
                @media (max-width: $sw-md-max) {
                    transform: translate3d(-50%, 4rem, 0px) !important;
                }
                @media (max-width: $sw-xx-max) {
                    transform: translate3d(-50%, 2.5rem, 0px) !important;
                }
            }
        }

        .currency-dropdown__btn {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-weight: 500;
            color: $light-blue;
            font-size: 1.6rem;
            line-height: 1;
            width: 5.5rem;
            padding-right: 1.2rem;
            position: relative;

            .icon-chevron-down {
                margin-left: 9px;
                flex-shrink: 0;
                font-size: 1.1rem;
                flex-shrink: 0;
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%) rotate(0deg);
                transition: transform .3s ease;
            }
        }
    
        .dropdown-menu {
            width: 9.2rem;
            box-shadow: 0px 24px 32px rgba(27, 33, 52, 0.15);
            min-width: auto;
            left: 50% !important;
            border-radius: 2.4rem;
            transform: translate3d(-50%, 30px, 0px) !important;
            overflow: hidden;
            padding: 0;
            margin: 0;
            background-color: transparent;
            display: block !important;
            opacity: 0;
            visibility: hidden;
            transition: opacity .3s ease, visibility .3s ease, transform .3s ease;
            @media (max-width: $sw-xx-max) {
                border-radius: 1.6rem;
            }
        }
    
        .dropdown-item {
            display: flex;
            background-color: $clay;
            align-items: center;
            justify-content: center;
            height: 7.3rem;
            padding: 0;
            transition: background-color .3s ease, color .3s ease;
            @media (max-width: $sw-xx-max) {
                height: 4.2rem;
            }
    
            &:hover {
                @media (min-width: $sw-xs-min) {
                    background-color: lighten($clay, 2%);
                }
            }
    
            & + .dropdown-item {
                border-top: 2px solid rgba($light-blue, 0.05);
            }
        }

        .dropdown-item {
            font-weight: 500;
            color: $light-blue;
            font-size: 1.5rem;
            line-height: 1;
            @media (max-width: $sw-xx-max) {
                font-size: 1.4rem;
            }
            &:hover {
                @media (min-width: $sw-xs-min) {
                    color: $yellow;
                }
            }
        }
    }

    &__lang-wrap {
        margin-right: 2.2rem;
        &.show {
            .dropdown-menu {
                transform: translate3d(-50%, 5rem, 0px) !important;
                opacity: 1;
                visibility: visible;
                @media (max-width: $sw-md-max) {
                    transform: translate3d(-50%, 4rem, 0px) !important;
                }
                @media (max-width: $sw-xx-max) {
                    transform: translate3d(-50%, 2.5rem, 0px) !important;
                }
            }
        }

        .lang-dropdown__btn {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 3rem;
            height: 3rem;
            position: relative;
            .icon {
                font-size: 3rem;
            }
        }
    
        .dropdown-menu {
            width: 7rem;
            box-shadow: 0px 24px 32px rgba(27, 33, 52, 0.15);
            min-width: auto;
            left: 50% !important;
            border-radius: 2.4rem;
            transform: translate3d(-50%, 30px, 0px) !important;
            overflow: hidden;
            padding: 0;
            margin: 0;
            background-color: transparent;
            display: block !important;
            opacity: 0;
            visibility: hidden;
            transition: opacity .3s ease, visibility .3s ease, transform .3s ease;
            @media (max-width: $sw-xx-max) {
                border-radius: 1.6rem;
            }
        }
    
        .dropdown-item {
            display: flex;
            background-color: $clay;
            align-items: center;
            justify-content: center;
            height: 6rem;
            padding: 0;
            transition: background-color .3s ease, color .3s ease;
            @media (max-width: $sw-xx-max) {
                height: 4.2rem;
            }
    
            &:hover {
                @media (min-width: $sw-xs-min) {
                    background-color: lighten($clay, 2%);
                }
            }
    
            & + .dropdown-item {
                border-top: 2px solid rgba($light-blue, 0.05);
            }
        }

        .dropdown-item {
            .icon {
                font-size: 2.5rem;
            }
            &:hover {
                @media (min-width: $sw-xs-min) {
                    color: $yellow;
                }
            }
        }
    }



    &__main {
        background-color: $dark;
        position: relative;
        z-index: 1;
        &__inner {
            height: 9rem;
            display: flex;
            align-items: center;
            .btn--bordered {
                width: 17rem;
            }
        }
        &__list {
            margin-right: 3.6rem;
            display: flex;
            align-items: center;
            @media (max-width: $sw-md-max) {
                margin-right: 2.5rem;
            }
            &__trigger {
                &.is-active {
                    .icon-chevron-down {
                        transform: rotate(180deg);
                    }
                }
            }
            li {
                &:not(:last-child) {
                    margin-right: 4rem;
                    @media (max-width: $sw-md-max) {
                        margin-right: 2.4rem;
                    }
                }
            }
            a {
                color: $light-blue;
                font-weight: 600;
                font-size: 1.8rem;
                line-height: 1em;
                text-transform: capitalize;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                @media (max-width: $sw-md-max) {
                    font-size: 1.6rem;
                }
                &:hover {
                    @media (min-width: $sw-xs-min) {
                        color: $yellow;
                    }
                }
            }
            .icon-chevron-down {
                font-size: 1.1rem;
                margin-left: 1rem;
                transform: none;
                transition: transform .3s ease;
            }
        }
    }

    &__menu {
        min-width: 320px;
        width: 100%;
        height: calc(100vh - 6.1rem);
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 0;
        top: 6.1rem;
        background-color: $dark;
        display: block;
        z-index: 103;
        border-top: 1px solid #2F3548;
        transition: transform cubic-bezier(.77,0,.175,1) 0.5s, opacity cubic-bezier(.77,0,.175,1) 0.5s, visibility cubic-bezier(.77,0,.175,1) 0.5s;
        transform: scale(0.95);
        opacity: 0;
        visibility: hidden;
        @media (min-width: $sw-md-min) {
            display: none !important;
        }
        .menu-is-active & {
            visibility: visible;
            transform: scale(1);
            opacity: 1;
            transition: transform cubic-bezier(.77,0,.175,1) 0.5s, opacity cubic-bezier(.77,0,.175,1) 0.5s;
        }
        .header--noty-active & {
            // top: 10rem;
            // height: calc(100vh - 10rem);
            // @media (max-width: $sw-xx-max) {
            //     top: 9.6rem;
            //     height: calc(100vh - 9.6rem);
            // }
        }

        &__inner {
            height: calc(100% - 5rem);
            padding: 0 0 2rem 0;
            flex-grow: 1;
            overflow: hidden;
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;
        }

        &__list {
            display: flex;
            border-bottom: 1px solid #2F3548;
            &__side {
                &:first-child {
                    width: 44.1%;
                    border-right: 1px solid #2F3548;
                    padding: 5px 3rem 0 3rem;
                    @media (max-width: $sw-xx-max) {
                        padding: 0 1rem;
                    }
                }
                &:last-child {
                    width: 55.9%;
                    padding: 5px 4.5rem 0 4.5rem;
                    @media (max-width: $sw-xx-max) {
                        padding: 0 1rem 0 2rem;
                    }
                }
            }
            a {
                height: 5rem;
                color: $light-blue;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                font-weight: 600;
                font-size: 1.4rem;
                line-height: 2.15em;
                .icon {
                    font-size: 2rem;
                    margin-right: 1rem;
                    flex-shrink: 0;
                }
                .count-box {
                    width: 3rem;
                    height: 3rem;
                    margin-left: 1rem;
                    font-weight: 600;
                    font-size: 1.4rem;
                    line-height: 1em;
                    flex-shrink: 0;
                }
            }
        }

        &__info {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 5rem;
            padding: 0 1rem;
            border-bottom: 1px solid #2F3548;
            &__link {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                font-weight: 300;
                font-size: 1.6rem;
                line-height: 1.875em;
                margin-right: 4rem;
                .icon-coins {
                    font-size: 2rem;
                    margin-right: 1rem;
                }
            }
            .header__lang-wrap {
                margin-right: 0;
                margin-left: 2rem;
                &.show {
                    .dropdown-menu {
                        transform: translate3d(-50%, 3.5rem, 0px) !important;
                    }
                }
            }
        }

        &__report {
            width: 100%;
            margin-bottom: 5rem;
            margin-top: 1rem;
            &__inner {
                width: 100%;
                max-width: 40rem;
                display: flex;
                margin: 0 auto;
                border-radius: 1.6rem;
                background-color: #21273B;
                padding: 2rem;
                .report-info-inner, .report-action-inner {
                    width: 100%;
                }
                .report-action-inner {
                    display: none;
                    .header__menu__report__title {
                        margin-bottom: 2rem;
                    }
                    .header__menu__report__text {
                        margin-bottom: 2.5rem;
                        a {
                            font-size: 1.4rem;
                            line-height: 1.4em;
                            text-align: center;
                            color: $yellow;
                            margin-top: 7px;
                            display: inline-block;
                        }
                    }
                }
            }
            &__title {
                margin-bottom: 1rem;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 600;
                font-size: 1.6rem;
                line-height: 1.25em;
                text-transform: capitalize;
                color: $light-blue;
            }
            &__text {
                margin-bottom: 1rem;
                font-weight: 300;
                font-size: 1.2rem;
                line-height: 1.665em;
                text-align: center;
                color: $light-blue;
            }
            &__action {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0 5px;
                .btn {
                    width: 100%;
                    padding: 0 1rem;
                }
            }
        }
    }

    &__search {
        margin-right: 4rem;
        height: 5rem;
        flex-grow: 1;
        position: relative;
        @media (max-width: $sw-md-max) {
            margin-right: 2rem;
        }
        &__form {
            height: 100%;
            position: relative;
        }
        &__submit {
            position: absolute;
            top: 50%;
            right: 1.6rem;
            transform: translateY(-50%);
            .icon-search {
                color: $light-blue;
                font-size: 2rem;
            }
        }
        &__list {
            overflow: hidden;
            overflow-y: auto;
            height: auto;
            max-height: 29.9rem;
            @media (max-width: $sw-sm-max) {
                max-height: 100%;
                border-radius: 1.6rem;
            }
            &:empty {
                &:after {
                    content: 'No Result';
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    width: 100%;
                    height: 5rem;
                    font-weight: 600;
                    font-size: 1.8rem;
                    line-height: 5rem;
                    color: $light-blue;
                    background-color: #21273B;
                }
            }
            &-wrap {
                border-radius: 1.6rem;
                overflow: hidden;
                @media (max-width: $sw-sm-max) {
                    display: flex;
                    flex-direction: column;
                }
            }
            &-box {
                position: absolute;
                left: 0;
                width: 100%;
                top: calc(100% + 1rem);
                z-index: 2;
                opacity: 0;
                visibility: hidden;
                transition: opacity .2s ease, visibility .2s ease, transform .2s ease;
                transform: translateY(-1.5rem);
                @media (max-width: $sw-sm-max) {
                    z-index: 104;
                    transform: translateY(0);
                }
                &--mobile {
                    display: none;
                    @media (max-width: $sw-sm-max) {
                        display: block;
                    }
                }
                .header.search-active & {
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(0);
                    @media (max-width: $sw-sm-max) {
                        position: fixed;
                        height: auto;
                        top: 7.1rem;
                        bottom: 0;
                        width: 100%;
                        left: 0;
                        padding: 0 2rem;
                        background-color: #1B2134;
                        display: flex;
                        flex-direction: column;
                    }
                    @media (max-width: $sw-xx-max) {
                        padding: 1rem 1rem 0 1rem;
                        top: 5.1rem;
                    }
                }
            }
            &__item {
                display: flex;
                height: 5rem;
                background-color: #21273B;
                &:not(:last-child) {
                    border-bottom: 1px solid #2F3548;
                }
            }
            a {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                height: 100%;
                width: 100%;
                padding: 0 4.5rem 0 2rem;
                font-weight: 600;
                font-size: 1.8rem;
                line-height: 5rem;
                color: $light-blue;
                background-color: transparent;
                transition: background-color .15s ease;
                position: relative;
                &:after {
                    content: '';
                    display: block;
                    width: 7px;
                    height: 1.1rem;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 2rem;
                    background-image: url('../../s/images/useful/svg/chevron.svg');
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                }
                &:hover {
                    @media (min-width: $sw-xs-min) {
                        background-color: lighten(#21273B, 2%);
                    }
                }
            }
        }
        &__close {
            display: none;
            align-items: center;
            justify-content: center;
            height: 3rem;
            text-transform: capitalize;
            color: rgba(223, 225, 238, 0.3);
            margin: 1rem 0;
            font-weight: 600;
            font-size: 1.8rem;
            line-height: 5rem;
            width: 100%;
            flex-shrink: 0;
            @media (max-width: $sw-sm-max) {
                height: 3.1rem;
            }
            .search-active & {
                display: flex;
            }
            .icon-close {
                font-size: 2rem;
                margin-right: 1.4rem;
            }
        }
        .input-wrap, .form-control {
            height: 100%;
        }
        .form-control {
            background-color: #21273B;
            border: 1px solid #21273B;
            padding: 0 4.5rem 0 2rem;
            font-weight: 600;
            font-size: 1.8rem;
            line-height: 5rem;
            color: $light-blue;
            @media (max-width: $sw-xx-max) {
                font-size: 1.6rem;
                padding: 0 4.5rem 0 1rem;
                line-height: 16px;
            }
            @include placeholder {
                color: rgba(223, 225, 238, 0.3);
            }
        }
    }

    &-search-backdrop {
        background-color: rgba($dark, 0.9);
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        z-index: 20;
        visibility: hidden;
        transition: opacity .2s ease, visibility .2s ease;
        @media (max-width: $sw-sm-max) {
            display: none;
        }
        &.is-active {
            @media (min-width: $sw-md-min) {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    // dropdown menu
    &__dropdown {
        display: none;
        background-color: $dark;
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        transform: translateY(1rem);
        transition: transform .2s ease;
        border-bottom: 1px solid #2F3548;
        @media (max-width: $sw-sm-max) {
            display: none !important;
        }
        &.is-active {
            transform: translateY(0);
        }
        &__inner {
            width: 100%;
            padding: 2rem 0 4rem 0;
        }
        &__content {
            padding-right: 1rem;
            width: 100%;
            overflow: hidden;
            overflow-y: auto;
            height: 56rem;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
        }
        &__list {
            margin-right: 6.2rem;
            padding-top: 1.1rem;
            display: flex;
            align-items: flex-start;
        }
        &__table {
            flex-grow: 1;
        }
        .products-table__line-label {
            &:hover {
                @media (min-width: $sw-xs-min) {
                    .products-table__line-name {
                        color: $yellow;
                    }
                }
            }
        }
    }
}