mixin header(data)
	header.header(class='' + data.class ? data.class : null)
		if data.noty_receive
			.header__noty.header__noty--receive
				.container
					p You have 2 orders without received status, please, check #[span Orders tab]
					button.header__noty__close.js-noty-close(type="button")
						+svg('icon-close')
		if data.noty_withdrawn
			.header__noty.header__noty--withdrawn
				.container
					p 600 USD was withdrawn by your customer, more info in #[span Referral Program tab]
					button.header__noty__close.js-noty-close(type="button")
						+svg('icon-close')
		if data.noty_new
			.header__noty.header__noty--new
				.container
					p NEW: extra coins for free, get more info in #[span Store Coins tab]
					button.header__noty__close.js-noty-close(type="button")
						+svg('icon-close')
		if data.noty_error
			.header__noty.header__noty--error
				.container
					p Sorry, we disabled you account. Please contact with #[span Support]
					button.header__noty__close.js-noty-close(type="button")
						+svg('icon-close')
		.header__desktop
			.header__top
				.container
					.header__top__inner 
						.header__top__side
							ul.header__top__list.h-reset-list
								li
									a(href="javascript:void(0)") Payment 
								li
									a(href="javascript:void(0)") Shipping 
								li
									a(href="javascript:void(0)") FAQ
								li
									a(href="javascript:void(0)") Contact Us 
						.header__top__side
							if !data.unauthorized
								ul.header__top__info-list.h-reset-list
									li
										a(href="javascript:void(0)")
											+svg('icon-headset')
											span Support
											span.count-box 3
									li
										a(href="javascript:void(0)")
											+svg('icon-orders')
											span Orders 
									li
										a(href="javascript:void(0)")
											+svg('icon-coins')
											span 311 Coins
							.dropdown.header__lang-wrap
								button.lang-dropdown__btn(type="button", id="langMenu", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
									+svg('icon-gb-flag')
								.dropdown-menu(aria-labelledby="langMenu")
									a.dropdown-item(href="javascript:void(0)")
										+svg('icon-germany-flag')
									a.dropdown-item(href="javascript:void(0)")
										+svg('icon-russia-flag')
									a.dropdown-item(href="javascript:void(0)")
										+svg('icon-ukraine-flag')
							.dropdown.header__currency-wrap
								button.currency-dropdown__btn(type="button", id="currencyMenu", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
									span USD
									+svg('icon-chevron-down')
								.dropdown-menu(aria-labelledby="currencyMenu")
									a.dropdown-item(href="javascript:void(0)") EUR
									a.dropdown-item(href="javascript:void(0)") RUB
			.header__main
				.container
					.header__main__inner
						a.header__logo(href="javascript:void(0)")
							+svg('icon-logo')
						.header__search
							form.header__search__form(action="javascript:void(0)")
								.input-wrap
									input.js-search-input.form-control(type="text", placeholder="Products Search", required, autocomplete="off")
								button.header__search__submit(type="submit")
									+svg('icon-search')
							.header__search__list-box
								.header__search__list-wrap
									.header__search__list.h-reset-list.h-scrollbar
								button.header__search__close.js-search-close(type="button")
									+svg('icon-close')
									span Cancel Search
						ul.header__main__list.h-reset-list
							li
								a.header__main__list__trigger(href="javascript:void(0)") 
									span Products 
									+svg('icon-chevron-down') 
							li
								a(href="javascript:void(0)") 
									span Feedbacks
							li
								a(href="javascript:void(0)") 
									span Referral Program
							li
								a(href="javascript:void(0)") 
									span Club
						if data.unauthorized
							button.btn.btn--bordered.btn--md(type="button", data-target="#sign_in_modal", data-toggle="modal")
								span Sign Up / Sign In
						else 
							a.btn.btn--bordered.btn--md(href="javascript:void(0)")
								+svg('icon-my-acc')
								span My Account
		.header__mobile
			.header__mobile__main
				.container
					.header__mobile__main__inner
						a.header__mobile__logo(href="javascript:void(0)")
							+svg('icon-logo')
						.header__mobile__main__side
							.header__mobile__search
								.header__search
									form.header__search__form(action="javascript:void(0)")
										.input-wrap
											input.js-search-input.form-control(type="text", placeholder="Search", required, autocomplete="off")
										button.header__search__submit(type="submit")
											+svg('icon-search')
								button.header__mobile__btn.js-search-trigger(type="button")
									+svg('icon-search')
							button.header__mobile__btn.js-menu-trigger(type="button")
								+svg('icon-menu')
								+svg('icon-close')
			.header__mobile__list-wrap.scrollbar-inner
				ul.header__mobile__list.h-reset-list
					each mob_item in data.mob_items
						li(class='' + mob_item.class ? mob_item.class : null)
							a(href="javascript:void(0)")!= mob_item.name
		.header__menu
			.header__menu__inner
				.header__menu__list
					.header__menu__list__side
						a(href="javascript:void(0)")
							+svg('icon-my-acc')
							span My Account
						a(href="javascript:void(0)")
							+svg('icon-orders')
							span Orders
							span.count-box 1
						a(href="javascript:void(0)")
							+svg('icon-coins-tr')
							span Store Coins
						a(href="javascript:void(0)")
							+svg('icon-headset')
							span Support
							span.count-box 3
						a(href="javascript:void(0)")
							+svg('icon-settings')
							span Settings
					.header__menu__list__side
						a(href="javascript:void(0)")
							+svg('icon-partner')
							span Refferal Program
						a(href="javascript:void(0)")
							+svg('icon-invite')
							span Invite Customer
						a(href="javascript:void(0)")
							+svg('icon-withdraw')
							span Withdraw Funds
						a(href="javascript:void(0)")
							+svg('icon-stats')
							span All stats
						a(href="javascript:void(0)")
							+svg('icon-log-out')
							span Logout
				.header__menu__info
					a.header__menu__info__link(href="javascript:void(0)")
						+svg('icon-coins')
						span 311 Coins
					.dropdown.header__currency-wrap
						button.currency-dropdown__btn(type="button", id="currencyMenuMob", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
							span USD
							+svg('icon-chevron-down')
						.dropdown-menu(aria-labelledby="currencyMenuMob")
							a.dropdown-item(href="javascript:void(0)") EUR
							a.dropdown-item(href="javascript:void(0)") RUB
					.dropdown.header__lang-wrap
						button.lang-dropdown__btn(type="button", id="langMenu", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
							+svg('icon-gb-flag')
						.dropdown-menu(aria-labelledby="langMenu")
							a.dropdown-item(href="javascript:void(0)")
								+svg('icon-germany-flag')
							a.dropdown-item(href="javascript:void(0)")
								+svg('icon-russia-flag')
							a.dropdown-item(href="javascript:void(0)")
								+svg('icon-ukraine-flag')
				.header__menu__report
					.container
						.header__menu__report__inner
							.report-info-inner
								span.header__menu__report__title bad experience?
								p.header__menu__report__text I’m Roberto, owner of this platform. Don’t hesitate contact with me for report
								.header__menu__report__action
									a.btn.btn--md.btn--black.js-report-problem(href="javascript:void(0)") Report a problem
							.report-action-inner
								span.header__menu__report__title Thanks for feedback
								p.header__menu__report__text Send me personal lettet at: #[br] #[a(href="mailto:roberto@gmail.com") roberto@gmail.com]
								.header__menu__report__action
									a.btn.btn--bordered.btn--md(href="mailto:roberto@gmail.com") Send An Email
		.header__search__list-box.header__search__list-box--mobile
			.header__search__list-wrap
				.header__search__list.h-reset-list.h-scrollbar
			button.header__search__close.js-search-close(type="button")
				+svg('icon-close')
				span Cancel Search
		.header__dropdown
			.container
				.header__dropdown__inner
					.header__dropdown__content.h-scrollbar
						.header__dropdown__list
							.products-overview__list-wrap
								.products-overview__list-box
									span.products-overview__list-title Categories
									ul.products-overview__list.h-reset-list
										li.products-overview__list__item
											a.products-overview__list__item-link(href="javascript:void(0)")
												.product-indicator.product-indicator--sky
												span Injectable
												span.products-overview__list__item-count 12
										li.products-overview__list__item
											a.products-overview__list__item-link(href="javascript:void(0)")
												.product-indicator.product-indicator--orange
												span Oral
												span.products-overview__list__item-count 10
										li.products-overview__list__item
											a.products-overview__list__item-link(href="javascript:void(0)")
												.product-indicator.product-indicator--violet
												span Post Therapy
												span.products-overview__list__item-count 78
										li.products-overview__list__item
											a.products-overview__list__item-link(href="javascript:void(0)")
												.product-indicator.product-indicator--salat
												span Weight Loss
												span.products-overview__list__item-count 5
										li.products-overview__list__item
											a.products-overview__list__item-link(href="javascript:void(0)")
												.product-indicator.product-indicator--portage
												span HGH
												span.products-overview__list__item-count 6
										li.products-overview__list__item
											a.products-overview__list__item-link(href="javascript:void(0)")
												.product-indicator.product-indicator--green
												span Peptides
												span.products-overview__list__item-count 36
										li.products-overview__list__item
											a.products-overview__list__item-link(href="javascript:void(0)")
												.product-indicator.product-indicator--purple
												span sexual Health
												span.products-overview__list__item-count 12
							.products-overview__list-wrap
								.products-overview__list-box
									span.products-overview__list-title Manufacturers
									ul.products-overview__list.h-reset-list
										li.products-overview__list__item
											a.products-overview__list__item-link(href="javascript:void(0)")
												span Hilma biocare
												span.products-overview__list__item-count 12
										li.products-overview__list__item
											a.products-overview__list__item-link(href="javascript:void(0)")
												span Omstal Pharma
												span.products-overview__list__item-count 5
										li.products-overview__list__item
											a.products-overview__list__item-link(href="javascript:void(0)")
												span Bio Gamma
												span.products-overview__list__item-count 102
								.products-overview__list-box
									span.products-overview__list-title Promotions %
									ul.products-overview__list.h-reset-list
										li.products-overview__list__item
											a.products-overview__list__item-link(href="javascript:void(0)")
												span Promoted
												span.products-overview__list__item-count 33
						.header__dropdown__table
							.products-table__line
								.products-table__line-letter
									span A
								.products-table__line-inner
									.products-table__line-item
										button.products-table__line-label(type="button", id="brand1")
											span.products-table__line-brand Hilma Biocare
											span.products-table__line-name Anastrozole
							.products-table__line
								.products-table__line-letter
									span B
								.products-table__line-inner
									.products-table__line-item
										button.products-table__line-label(type="button", id="brand2")
											span.products-table__line-brand Hilma Biocare
											span.products-table__line-name Bact. Water
									.products-table__line-item
										button.products-table__line-label(type="button", id="brand3")
											span.products-table__line-brand Hilma Biocare
											span.products-table__line-name Boldenone
									.products-table__line-item
										button.products-table__line-label(type="button", id="brand4")
											span.products-table__line-brand Hilma Biocare
											span.products-table__line-name Boldenone x 5
									.products-table__line-item
										button.products-table__line-label(type="button", id="brand5")
											span.products-table__line-brand Hilma Biocare
											span.products-table__line-name Boldenone x 10
							.products-table__line
								.products-table__line-letter
									span c
								.products-table__line-inner
									.products-table__line-item
										button.products-table__line-label(type="button", id="brand6")
											span.products-table__line-brand Hilma Biocare
											span.products-table__line-name Clenbuterol
									.products-table__line-item
										button.products-table__line-label(type="button", id="brand7")
											span.products-table__line-brand Hilma Biocare
											span.products-table__line-name Clenbuterol x 5
									.products-table__line-item
										button.products-table__line-label(type="button", id="brand8")
											span.products-table__line-brand Hilma Biocare
											span.products-table__line-name Clomid
									.products-table__line-item
										button.products-table__line-label(type="button", id="brand9")
											span.products-table__line-brand Hilma Biocare
											span.products-table__line-name Cut Stack
							.products-table__line
								.products-table__line-letter
									span D
								.products-table__line-inner
									.products-table__line-item
										button.products-table__line-label(type="button", id="brand10")
											span.products-table__line-brand Hilma Biocare
											span.products-table__line-name Drostanolone En
									.products-table__line-item
										button.products-table__line-label(type="button", id="brand11")
											span.products-table__line-brand Hilma Biocare
											span.products-table__line-name Drostanolone En
									.products-table__line-item
										button.products-table__line-label(type="button", id="brand12")
											span.products-table__line-brand Hilma Biocare
											span.products-table__line-name Drostanolone En
							.products-table__line
								.products-table__line-letter
									span E
								.products-table__line-inner
									.products-table__line-item
										button.products-table__line-label(type="button", id="brand13")
											span.products-table__line-brand Hilma Biocare
											span.products-table__line-name Exemestane 250
							.products-table__line
								.products-table__line-letter
									span H
								.products-table__line-inner
									.products-table__line-item
										button.products-table__line-label(type="button", id="brand14")
											span.products-table__line-brand Hilma Biocare
											span.products-table__line-name Halotestin
									.products-table__line-item
										button.products-table__line-label(type="button", id="brand15")
											span.products-table__line-brand Hilma Biocare
											span.products-table__line-name HGH Liquid
									.products-table__line-item
										button.products-table__line-label(type="button", id="brand16")
											span.products-table__line-brand Hilma Biocare
											span.products-table__line-name HGH Powder