.faq-section {
    padding: 11.5rem 0 22.5rem 0;
    @media (max-width: $sw-sm-max) {
        padding: 6.1rem 0 10rem 0;
    }
    @media (max-width: $sw-xs-max) {
        padding: 6.6rem 0 10rem 0;
    }
    @media (max-width: $sw-xx-max) {
        padding: 5.9rem 0 1.8rem 0;
    }
    .container {
        @media (max-width: $sw-xx-max) {
            padding-left: 2.4rem;
            padding-right: 2.4rem;
        }
    }
    .section-title {
        margin-bottom: 12.6rem;
        @media (max-width: $sw-sm-max) {
            margin-bottom: 10.6rem;
        }
        @media (max-width: $sw-xs-max) {
            margin-bottom: 6.7rem;
        }
        @media (max-width: $sw-xx-max) {
            margin-bottom: 6.2rem;
        }
    }
    &-inner {
        column-count: 2;
        column-gap: 3.2rem;
        @media (max-width: $sw-xs-max) {
            columns: unset;
            column-gap: 0;
        }
    }
    &-side {
        -webkit-column-break-inside: avoid;
        break-inside: avoid;
        break-inside: avoid-column;
        margin-bottom: 8.2rem;
        @media (max-width: $sw-sm-max) {
            margin-bottom: 7rem;
        }
        @media (max-width: $sw-xs-max) {
            margin-bottom: 10rem;
        }
        @media (max-width: $sw-xx-max) {
            margin-bottom: 6.4rem;
        }
        .side-title {
            margin-bottom: 4.9rem;
            @media (max-width: $sw-xs-max) {
                margin-bottom: 5rem;
            }
            @media (max-width: $sw-xx-max) {
                margin-bottom: 4.8rem;
            }
        }
        .collapse-block {
            padding: 1.8rem 3.1rem 2rem 4.8rem;
            @media (max-width: $sw-xs-max) {
                padding: 2.2rem 3.5rem 2.5rem 3.1rem;
            }
            @media (max-width: $sw-xx-max) {
                padding: 7px 1.4rem 8px 2.4rem;
            }
        }
    }
}