mixin faq(data)
	section.faq-section
		.container
			.section-title
				h1.h1 Frequently Asked #[span.dekor--yellow Questions]
			.faq-section-inner
				.faq-section-side
					h3.h4.side-title My #[span.dekor--yellow orders]
					+collapse-block({id: 'place_an_order', target: '#place_an_order', name: 'How to place an order?'})
					+collapse-block({id: 'after_placing_order', target: '#after_placing_order', name: 'After placing an order when I will receive it?'})
					+collapse-block({id: 'products_in_stock', target: '#products_in_stock', name: 'Are all products always in the stock?'})
					+collapse-block({id: 'confirm_receipt', target: '#confirm_receipt', name: 'How do you confirm receipt of my order?'})
					+collapse-block({id: 'wholasale_orders_discount', target: '#wholasale_orders_discount', name: 'Do you have a discount on wholesale orders?'})
					+collapse-block({id: 'order_status', target: '#order_status', name: 'Can I see my order status online?'})
				.faq-section-side
					h3.h4.side-title Payment
					+collapse-block({id: 'place_an_order2', target: '#place_an_order2', name: 'How to place an order?'})
					+collapse-block({id: 'products_in_stock2', target: '#products_in_stock2', name: 'Are all products always in the stock?'})
					+collapse-block({id: 'confirm_receipt2', target: '#confirm_receipt2', name: 'How do you confirm receipt of my order?'})
					+collapse-block({id: 'wholasale_orders_discount2', target: '#wholasale_orders_discount2', name: 'Do you have a discount on wholesale orders?'})
					+collapse-block({id: 'order_status2', target: '#order_status2', name: 'Can I see my order status online?'})
				.faq-section-side
					h3.h4.side-title My #[span.dekor--yellow account]
					+collapse-block({id: 'create_an_account', target: '#create_an_account', name: 'Why do I need to create an account?'})
					+collapse-block({id: 'products_in_stock3', target: '#products_in_stock3', name: 'Are all products always in the stock?'})
					+collapse-block({id: 'confirm_receipt3', target: '#confirm_receipt3', name: 'How do you confirm receipt of my order?'})
					+collapse-block({id: 'wholasale_orders_discount3', target: '#wholasale_orders_discount3', name: 'Do you have a discount on wholesale orders?'})
					+collapse-block({id: 'order_status3', target: '#order_status3', name: 'Can I see my order status online?'})
				.faq-section-side
					h3.h4.side-title Shipping #[span.dekor--yellow and delivery]
					+collapse-block({id: 'place_an_order3', target: '#place_an_order3', name: 'How to place an order?'})
					+collapse-block({id: 'products_in_stock4', target: '#products_in_stock4', name: 'Are all products always in the stock?'})
					+collapse-block({id: 'confirm_receipt4', target: '#confirm_receipt4', name: 'How do you confirm receipt of my order?'})
					+collapse-block({id: 'wholasale_orders_discount4', target: '#wholasale_orders_discount4', name: 'Do you have a discount on wholesale orders?'})
					+collapse-block({id: 'order_status4', target: '#order_status4', name: 'Can I see my order status online?'})

mixin collapse-block(data)
	.collapse-block.collapse-item
		button.collapse-trigger(type="button", data-toggle="collapse", data-target= data.target, aria-expanded="false", aria-controls= data.id)
			span!= data.name
			span.collapse-trigger__icon
				+svg('icon-chevron')
		.collapse-content.collapse(id= data.id)
			.collapse-content__inner
				p Delivery usually takes from 3 to 20 days depending on the following factors:
				ol.collapse-block__list.h-reset-list
					li Payment receiving time from 20 min (Bitcoin) to 1-3 days (Bank wire).
					li 1-3 days necessary to collect and dispatch then order from the warehouse.
					li Delivery takes from 2 to 14 days depending on the carrier and your location.