html {
	height: 100%;
	font-size: 10px;
}
body {
	position: relative;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	min-height: 100%;
	min-width: 320px;
	background-color: $dark;
	&.support-page {
		@media (max-width: $sw-sm-max) {
			position: fixed;
			left: 0;
			top: 0;
			bottom: 0;
			right: 0;
		}
	}
	&.index-page {
		background-color: #05070e;
	}
	&.header-dropdown-open {
		.main-content,
		.footer {
			filter: blur(2px);
		}
	}
	&.modal-active {
		.main-content,
		.header,
		.footer {
			filter: blur(1px);
		}
	}
	&.countdown-inited {
		padding-bottom: 12rem;
		@media (max-width: $sw-sm-max) {
			padding-bottom: 10rem;
		}
		@media (max-width: $sw-xx-max) {
			padding-bottom: 8.3rem;
		}
		@media (max-width: 599px) {
			padding-bottom: 10.6rem;
		}
	}
}
img{
	max-width: 100%;
	height: auto;
}

.h-mb-0 {
	margin-bottom: 0 !important;
}

.h-mt-45 {
	margin-top: 4.5rem;
}

.h-scrollbar {
	overflow: hidden;
	overflow-y: auto;
	scrollbar-color: transparent $yellow;
	scrollbar-width: thin;
	&::-webkit-scrollbar {
		width: 4px;
	}
	&::-webkit-scrollbar-track {
		background-color: transparent;
	}
	
	&::-webkit-scrollbar-thumb {
		border-radius: 3px;
		background-color: $yellow;
	}
}

.h-scrollbar-x {
	overflow: hidden;
	overflow-x: auto;
	scrollbar-color: transparent $yellow;
	scrollbar-width: thin;
	&::-webkit-scrollbar {
		height: 4px;
	}
	&::-webkit-scrollbar-track {
		background-color: transparent;
	}
	
	&::-webkit-scrollbar-thumb {
		border-radius: 3px;
		background-color: $yellow;
	}
}