mixin account-sidebar(data)
	.acc-sidebar
		.acc-sidebar__inner
			.acc-sidebar__logo
				+svg('icon-account-logo')
			.acc-sidebar__box
				ul.acc-sidebar__list.h-reset-list
					each li in data.list
						li(class='' + li.class ? li.class : null)
							a(href="javascript:void(0)")
								+svg(li.icon)
								span!= li.name
								if li.count_box
									span.count-box!= li.count_box
			.acc-sidebar__box
				ul.acc-sidebar__list.h-reset-list
					each li in data.list_second
						li(class='' + li.class ? li.class : null)
							a(href="javascript:void(0)")
								+svg(li.icon)
								span!= li.name
			.acc-sidebar__box
				.header__menu__report__inner
					.report-info-inner
						span.header__menu__report__title bad experience?
						p.header__menu__report__text I’m Roberto, owner of this platform. Don’t hesitate contact with me for report
						.header__menu__report__action
							a.btn.btn--md.btn--black.js-report-problem(href="javascript:void(0)") Report a problem 
					.report-action-inner
						span.header__menu__report__title Thanks for feedback
						p.header__menu__report__text Send me personal lettet at: #[br] #[a(href="mailto:roberto@gmail.com") roberto@gmail.com]
						.header__menu__report__action
							a.btn.btn--bordered.btn--md(href="mailto:roberto@gmail.com") Send An Email
			.acc-sidebar__box
				.acc-sidebar__box__info
					a.acc-sidebar__box__link(href="mailto:user@protonmail.com") user@protonmail.com 
					span.acc-sidebar__box__status Status: Verified
			.acc-sidebar__box
				ul.acc-sidebar__list.h-reset-list
					li
						a(href="javascript:void(0)")
							+svg('icon-log-out')
							span Logout