.acc-wrapper {
    display: flex;
    width: 100%;
    max-width: 160rem;
    margin: 0 auto;
}

.acc-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: calc(100% - 34rem);
    position: relative;
    @media (max-width: $sw-md-max) {
        width: calc(100% - 30rem);
    }
    @media (max-width: $sw-sm-max) {
        width: 100%;
    }
    &:after {
        content: '';
        display: block;
        width: calc(100% + (100vw - 162rem) / 2);
        height: 30rem;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(180deg, #21273B 0%, rgba(33, 39, 59, 0) 100%);
        @media (max-width: $sw-md-max) {
            width: 100%;
        }
        @media (max-width: $sw-sm-max) {
            display: none;
        }
    }
    .section-title {
        margin-bottom: 5rem;
        width: 100%;
        position: relative;
        z-index: 1;
        @media (max-width: $sw-xs-max) {
            margin-bottom: 3rem;
        }
        @media (max-width: $sw-xx-max) {
            margin-bottom: 2rem;
        }
    }
}

.acc-sidebar {
    width: 34rem;
    background-color: $dark;
    border-right: 1px solid #2F3548;
    @media (max-width: $sw-md-max) {
        width: 30rem;
    }
    @media (max-width: $sw-sm-max) {
        display: none;
    }
    @media (min-width: $sw-md-min) {
        height: auto !important;
    }
    &__inner {
        padding: 3.4rem 4rem 0 10rem;
        @media (max-width: $sw-md-max) {
            padding: 3.4rem 4rem 0 6rem;
        }
    }
    &__logo {
        margin-bottom: 2.3rem;
        .icon-account-logo {
            font-size: 13.3rem;
        }
    }
    &__box {
        padding: 3.1rem 0 2.7rem 0;
        & + .acc-sidebar__box {
            border-top: 2px solid rgba(223, 225, 238, 0.3);
        }
        &__info {
            margin: 1.1rem 0;
        }
        &__link, &__status {
            font-size: 1.6rem;
            line-height: 1.875em;
            color: #DFE1EE;
        }
        &__link {
            &:hover {
                @media (min-width: $sw-xs-min) {
                    color: $yellow;
                }
            }
        }
        .header__menu__report {
            &__inner {
                margin: 1rem auto;
            }
            &__text {
                margin-bottom: 2.3rem;
            }
        }
    }
    &__list {
        li {
            position: relative;
            &:not(:last-child) {
                margin-bottom: 1rem;
            }
            &.is-active {
                a {
                    color: $yellow;
                }
            }
            &:hover {
                @media (min-width: $sw-xs-min) {
                    a {
                        color: $yellow;
                    }
                }
            }
            .count-box {
                margin-left: 1rem;
                width: 3rem;
                height: 3rem;
                font-size: 1.4rem;
                font-weight: 600;
            }
        }
        a {
            height: 5rem;
            color: $light-blue;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            font-weight: 600;
            font-size: 1.8rem;
            line-height: 1.66em;
            .icon {
                font-size: 2rem;
                margin-right: 1rem;
                flex-shrink: 0;
            }
            span {
                white-space: nowrap;
            }
        }
    }
}