.acc-orders {
    padding: 5rem 10rem 5rem 13rem;
    width: 100%;
    position: relative;
    z-index: 1;
    @media (max-width: $sw-md-max) {
        padding: 4.4rem 4.6rem 1rem 4.6rem;
    }
    @media (max-width: $sw-sm-max) {
        padding: 4rem 4rem 1rem 4rem;
        width: 100%;
    }
    @media (max-width: $sw-xx-max) {
        padding: 5.2rem 1rem 1rem 1rem;
    }
    &__top {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 5rem;
        @media (max-width: $sw-xs-max) {
            margin-bottom: 3rem;
        }
        &__status {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-right: 3rem;
            font-weight: 300;
            font-size: 1.6rem;
            line-height: 1.875em;
            @media (max-width: $sw-xx-max) {
                margin-right: 1.5rem;
                font-size: 1.4rem;
            }
            &--active {
                color: $light-blue;
            }
            &--completed {
                color: rgba(223, 225, 238, 0.3);
                .count-box {
                    color: rgba(223, 225, 238, 0.3);
                    background-color: #1B2134;
                    border: 1px solid rgba(223, 225, 238, 0.3);
                }
            }
            .count-box {
                margin-right: 1rem;
                width: 3rem;
                height: 3rem;
                @media (max-width: $sw-xx-max) {
                    width: 2.8rem;
                    height: 2.8rem;
                    font-size: 1.3rem;
                    margin-right: 5px;
                }
            }
        }
    }
    .section-title {
        margin-right: 3rem;
        width: auto;
        margin-bottom: 0;
        @media (max-width: $sw-xx-max) {
            margin-right: 1.5rem;
        }
    }
    &__inner {
        .order-block {
            margin-bottom: 3rem;
        }
    }
}

.order-block {
    background-color: #21273B;
    border-radius: 1.6rem;
    position: relative;
    &__trigger {
        height: 9rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 7rem 0 3rem;
        position: relative;
        @media (max-width: $sw-md-max) {
            padding: 0 5.5rem 0 2.5rem;
        }
        @media (max-width: $sw-xx-max) {
            display: block;
            height: auto;
            padding: 2.5rem 3rem 2rem 3rem;
        }
    }
    &__btn--hidden {
        display: none;
    }
    &__side {
        display: flex;
        align-items: center;
        position: relative;
        @media (max-width: $sw-xx-max) {
            display: block;
            width: 100%;
            text-align: center;
        }
        & + .order-block__side {
            @media (max-width: $sw-xx-max) {
                margin-top: 3rem;
            }
        }
        .order-block__btn--hidden,
        .order-block__btn--hide {
            @media (max-width: $sw-xx-max) {
                display: none !important;
            }
        }
        &:first-child {
            @media (max-width: $sw-xs-max) {
                flex-direction: column;
                align-items: flex-start;
                min-width: 17rem;
            }
            @media (max-width: $sw-xx-max) {
                min-width: auto;
            }
        }
        .btn {
            text-transform: capitalize;
            margin-left: 2rem;
            @media (max-width: $sw-md-max) {
                margin-left: 1.2rem;
                height: 4.5rem;
                padding: 0 1.2rem !important;
                font-size: 1.3rem;
            }
            @media (max-width: $sw-xs-max) {
                height: 4rem;
                font-size: 1.1rem;
                margin-left: 1rem;
                padding: 0 1rem !important;
            }
            @media (max-width: $sw-xx-max) {
                width: 100%;
                height: 5rem;
                font-size: 1.4rem;
                margin-left: 0;
            }
            .icon {
                @media (max-width: $sw-md-max) {
                    font-size: 1.8rem;
                    margin-right: 8px;
                }
                @media (max-width: $sw-xs-max) {
                    font-size: 1.6rem;
                    margin-right: 5px;
                }
                @media (max-width: $sw-xx-max) {
                    font-size: 2rem;
                    margin-right: 1rem;
                }
            }
            & + .btn {
                @media (max-width: $sw-xx-max) {
                    margin-top: 1rem;
                }
            }
        }
        .btn-confirm-payment {
            padding: 0 2.8rem !important;
            @media (max-width: $sw-md-max) {
                padding: 0 1.2rem !important;
            }
            &:hover {
                @media (max-width: $sw-xx-max) {
                    color: $yellow !important;
                }
            }
            .is-collapsed & {
                position: relative;
                @media (min-width: $sw-xs-min) {
                    color: $dark;
                }
                .icon, span {
                    z-index: 1;
                }
                &:after {
                    @media (min-width: $sw-xs-min) {
                        content: '';
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        background-color: $yellow;
                        z-index: 0;
                    }
                }
            }
            .order-block--received & {
                display: none;
            }
        }
        .btn-receive {
            color: $yellow !important;
            display: inline-flex;
            .is-collapsed & {
                display: inline-flex;
            }
            .icon-chk {
                display: none;
                font-size: 1.4rem;
            }
            .order-block--received & {
                display: inline-flex;
                border-color: $yellow;
                background-color: $yellow;
                color: $dark !important;
                min-width: 20rem;
                @media (max-width: $sw-xs-max) {
                    min-width: auto;
                }
                .icon-chk {
                    display: block;
                }
            }
        }
    }
    &__num {
        color: $yellow;
        font-weight: 800;
        font-style: italic;
        font-size: 2rem;
        line-height: 1em;
        margin-right: 1.9rem;
        position: relative;
        @media (max-width: $sw-md-max) {
            font-size: 1.6rem;
        }
        @media (max-width: $sw-xs-max) {
            margin-right: 0;
            margin-bottom: 7px;
        }
        @media (max-width: $sw-xx-max) {
            display: inline-block;
            text-align: center;
            font-size: 2rem;
            margin: 0 auto 2.5rem auto;
        }
        &:after {
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            background-color: $yellow;
            position: absolute;
            left: 0;
            top: calc(100% + 2px);
        }
    }
    &__icon {
        position: absolute;
        width: 2rem;
        height: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 6.5rem;
        @media (max-width: $sw-md-max) {
            width: 5.5rem;
        }
        @media (max-width: $sw-xx-max) {
            width: 7rem;
            height: 7rem;
            right: 0;
            top: 0;
        }
        .is-collapsed & {
            .icon-chevron-down {
                transform: rotate(180deg);
            }
        }
        .icon-chevron-down {
            color: $light-blue;
            transform: none;
            transition: transform .2s ease;
            font-size: 1.1rem;
        }
    }
    &__status {
        position: relative;
        height: 3rem;
    }
    &__list {
        position: absolute;
        left: 0;
        top: 3px;
        width: 17.4rem;
        display: flex;
        flex-direction: column-reverse;
        @media (max-width: $sw-md-max) {
            top: 5px;
        }
        @media (max-width: $sw-xs-max) {
            top: 1rem;
        }
        @media (max-width: $sw-xx-max) {
            position: relative;
            left: auto;
            top: auto;
            display: block;
            text-align: center;
            width: 100%;
        }
        &-item {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-bottom: 2.7rem;
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
            visibility: hidden;
            transform: none;
            transform: translateY(0);
            transition: opacity .4s ease, visibility .4s ease, transform .4s ease;
            @media (max-width: $sw-sm-max) {
                margin-bottom: 3.3rem;
            }
            @media (max-width: $sw-xs-max) {
                margin-bottom: 2.5rem;
            }
            @media (max-width: $sw-xx-max) {
                margin-bottom: 0;
                opacity: 1;
                visibility: visible;
                position: relative;
                left: auto;
                top: auto;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            &:not(.is-active) {
                @media (max-width: $sw-xx-max) {
                    display: none;
                }
            }
            &:first-child {
                margin-bottom: 0;
                z-index: 6;
                .is-collapsed & {
                    @media (min-width: $sw-xs-min) {
                        transform: translateY(20.7rem);
                        opacity: 1;
                        visibility: visible;
                    }
                    @media (min-width: $sw-sm-min) {
                        transform: translateY(25rem);
                    }
                }
                .order-block__list-item__icon {
                    &:after {
                        display: none;
                    }
                }
            }
            &:last-child {
                z-index: 1;
                .is-collapsed & {
                    @media (min-width: $sw-xs-min) {
                        transform: translateY(0);
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
            &:nth-child(2) {
                z-index: 5;
                .is-collapsed & {
                    @media (min-width: $sw-xs-min) {
                        transform: translateY(16.5rem);
                        opacity: 1;
                        visibility: visible;
                    }
                    @media (min-width: $sw-sm-min) {
                        transform: translateY(20rem);
                    }
                }
            }
            &:nth-child(3) {
                z-index: 4;
                .is-collapsed & {
                    @media (min-width: $sw-xs-min) {
                        transform: translateY(12.3rem);
                        opacity: 1;
                        visibility: visible;
                    }
                    @media (min-width: $sw-sm-min) {
                        transform: translateY(15rem);
                    }
                }
            }
            &:nth-child(4) {
                z-index: 3;
                .is-collapsed & {
                    @media (min-width: $sw-xs-min) {
                        transform: translateY(8.1rem);
                        opacity: 1;
                        visibility: visible;
                    }
                    @media (min-width: $sw-sm-min) {
                        transform: translateY(10rem);
                    }
                }
            }
            &:nth-child(5) {
                z-index: 2;
                .is-collapsed & {
                    @media (min-width: $sw-xs-min) {
                        transform: translateY(4rem);
                        opacity: 1;
                        visibility: visible;
                    }
                    @media (min-width: $sw-sm-min) {
                        transform: translateY(5rem);
                    }
                }
            }
            &.is-active {
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
                .order-block__list-item__name {
                    color: $light-blue;
                    font-weight: 600;
                    white-space: nowrap;
                    &__text {
                        display: block;
                    }
                }
                .icon-circled-arrow {
                    transform: translate(-50%,-50%) scale(1);
                    visibility: visible;
                    opacity: 1;
                }
                & ~ .order-block__list-item {
                    .order-block__list-item__name {
                        text-decoration: line-through;
                    }
                    .icon-chk {
                        transform: translate(-50%,-50%) scale(1);
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }
            .icon {
                position: absolute;
                left: 50%;
                z-index: 2;
                top: 50%;
                transform: translate(-50%,-50%) scale(0);
                visibility: hidden;
                opacity: 0;
                transition: transform .15s ease, opacity .15s ease, visibility .15s ease;
            }
            .icon-chk {
                font-size: 9px;
                color: $light-blue;
                @media (max-width: $sw-md-max) {
                    font-size: 7px;
                }
            }
            .icon-circled-arrow {
                color: $light-blue;
                font-size: 2.8rem;
                @media (max-width: $sw-md-max) {
                    font-size: 2.2rem;
                }
                @media (max-width: $sw-xx-max) {
                    font-size: 3rem;
                }
            }
            &__icon {
                flex-shrink: 0;
                width: 1.8rem;
                height: 1.8rem;
                border-radius: 50%;
                margin-right: 1.6rem;
                background-color: $dark;
                z-index: 1;
                border: 2px solid $light-blue;
                position: relative;
                @media (max-width: $sw-md-max) {
                    margin-right: 1.1rem;
                    width: 1.6rem;
                    height: 1.6rem;
                }
                @media (max-width: $sw-xx-max) {
                    margin-right: 1rem;
                    width: 3rem;
                    height: 3rem;
                }
                &:after {
                    content: '';
                    display: block;
                    width: 1px;
                    height: 0;
                    transition: height .4s ease;
                    border: 1px dashed $light-blue;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    top: 100%;
                    @media (max-width: $sw-xx-max) {
                        display: none;
                    }
                    .is-collapsed & {
                        height: 3.4rem;
                        transition: height .4s ease;
                        @media (max-width: $sw-xs-max) {
                            height: 2.9rem;
                        }
                    }
                }
            }
            &__name {
                font-size: 1.6rem;
                color: rgba(223, 225, 238, 0.3);
                opacity: 1;
                font-weight: 400;
                transition: color .15s ease;
                text-transform: capitalize;
                display: flex;
                align-items: center;
                @media (max-width: $sw-md-max) {
                    font-size: 1.4rem;
                }
                @media (max-width: $sw-sm-max) {
                    font-size: 1.2rem;
                }
                @media (max-width: $sw-xx-max) {
                    display: flex;
                    align-items: center;
                    font-size: 1.6rem;
                    justify-content: center;
                    text-align: center;
                    margin-left: 0;
                }
                &__text {
                    display: none;
                    margin-right: 5px;
                    .is-collapsed & {
                        @media (min-width: $sw-xs-min) {
                            display: none !important;
                        }
                    }
                }
                .dekor--green {
                    color: $light-blue;
                    .is-active & {
                        color: #6FCF97;
                    }
                }
            }
        }
    }
    &__content {
        display: none;
        &__side {
            width: 63.4%;
            height: 100%;
            @media (max-width: $sw-md-max) {
                width: 60%;
            }
            @media (max-width: $sw-sm-max) {
                width: 65%;
            }
            @media (max-width: $sw-xx-max) {
                width: 100%;
            }
            .btn-mobile-show {
                display: none;
                min-width: auto;
                width: 100%;
                margin-bottom: 1rem;
                @media (max-width: $sw-xx-max) {
                    display: inline-flex;
                }
            }
        }
    }
    &__inner {
        padding: 0 2rem 3rem 3rem;
        min-height: 25rem;
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        opacity: 0;
        transition: opacity .3s ease;
        @media (max-width: $sw-xs-max) {
            padding: 0 2rem 2rem 2rem;
            min-height: 21rem;
        }
        @media (max-width: $sw-xx-max) {
            border-top: 1px solid #2F3548;
            padding: 2rem 3rem;
            min-height: auto;
        }
        .is-collapsed & {
            opacity: 1;
        }
    }
    &__track {
        width: 100%;
        border-radius: 1.6rem;
        border: 1px solid rgba(223, 225, 238, 0.3);
        margin-bottom: 2rem;
        padding: 2rem;
        display: flex;
        align-items: center;
        @media (max-width: $sw-md-max) {
            padding: 1.7rem;
        }
        @media (max-width: $sw-xs-max) {
            margin-bottom: 1.5rem;
        }
        @media (max-width: $sw-xx-max) {
            align-items: flex-start;
            margin-bottom: 1rem;
            flex-wrap: wrap;
        }
        &--yellow {
            border-color: $yellow;
        }
        &__icon {
            width: 5rem;
            height: 5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 1rem;
            flex-shrink: 0;
            @media (max-width: $sw-md-max) {
                width: 3rem;
                height: 3rem;
            }
            @media (max-width: $sw-xs-max) {
                width: auto;
                height: auto;
            }
            .icon {
                font-size: 2rem;
                color: $light-blue;
                @media (max-width: $sw-md-max) {
                    font-size: 1.8rem;
                }
                @media (max-width: $sw-xx-max) {
                    font-size: 2rem;
                }
                .order-block__track--yellow & {
                    color: $yellow;
                }
            }
        }
        &__text {
            margin-bottom: 0;
            flex-grow: 1;
            font-weight: 300;
            font-size: 1.6rem;
            line-height: 1.25em;
            display: flex;
            align-items: center;
            color: $light-blue;
            @media (max-width: $sw-md-max) {
                font-size: 1.4rem;
            }
            @media (max-width: $sw-xs-max) {
                font-size: 1.3rem;
            }
            @media (max-width: $sw-xx-max) {
                width: calc(100% - 3rem);
            }
        }
        &__actions {
            display: flex;
            align-items: center;
            margin-left: 1rem;
            flex-shrink: 0;
            @media (max-width: $sw-xx-max) {
                margin-left: 0;
                margin-top: 1.1rem;
                flex-wrap: wrap;
                flex-shrink: unset;
                width: 100%;
            }
            .btn {
                @media (max-width: $sw-md-max) {
                    margin-left: 1.2rem;
                    height: 4.5rem;
                    padding: 0 1.2rem !important;
                    font-size: 1.3rem;
                }
                @media (max-width: $sw-xs-max) {
                    height: 4rem;
                    font-size: 1.1rem;
                    margin-left: 1rem;
                    padding: 0 1rem !important;
                }
                @media (max-width: $sw-xx-max) {
                    height: 5rem;
                    font-size: 1.4rem;
                    margin-left: 0;
                    width: 100%;
                    min-width: auto;
                }
                &--bordered {
                    color: $light-blue !important;
                    padding: 0 1rem;
                    min-width: auto;
                    width: 100%;
                    max-width: 20rem;
                    @media (max-width: $sw-md-max) {
                        width: auto;
                    }
                    @media (max-width: $sw-xx-max) {
                        width: 100%;
                        max-width: none;
                    }
                    &:not([disabled]):hover {
                        @media (min-width: $sw-xs-min) { 
                            color: $dark !important;
                        }
                    }
                }
                &--silver-bordered {
                    color: $light-blue !important;
                }
                &--dark {
                    color: rgba(223, 225, 238, 0.3) !important;
                    &:not([disabled]):hover {
                        @media (min-width: $sw-xs-min) { 
                            color: $light-blue !important;
                        }
                    }
                }
                & + .btn {
                    margin-left: 1rem;
                    @media (max-width: $sw-xx-max) {
                        margin-left: 0;
                        margin-top: 1rem;
                    }
                }
            }
        }
    }
    &__tracking-num {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-weight: 300;
        font-size: 1.4rem;
        line-height: 1em;
        color: $light-blue;
        @media (max-width: $sw-xs-max) {
            font-size: 1.3rem;
        }
        @media (max-width: $sw-xx-max) {
            font-size: 1.4rem;
            justify-content: center;
            margin-bottom: 3rem;
        }
        .is-collapsed & {
            @media (min-width: $sw-xs-min) {
                display: none;
            }
        }
        &__item {
            margin-left: 5px;
            font-weight: 600;
            position: relative;
            &:after {
                content: '';
                display: block;
                width: 100%;
                height: 1px;
                background-color: $light-blue;
                position: absolute;
                left: 0;
                top: calc(100% + 2px);
            }
        }
    }
    &__modal {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 15;
        width: 100%;
        height: 100%;
        border-radius: 1.6rem;
        background: rgba(33, 39, 59, 0.97);
        opacity: 0;
        visibility: hidden;
        transition: opacity .25s ease, visibility .25s ease;
        padding: 8rem 2rem 2rem 2rem;
        @media (max-width: $sw-xs-max) {
            padding: 5rem 2rem 2rem 2rem;
        }
        &.is-active {
            opacity: 1;
            visibility: visible;
        }
        &__close {
            position: absolute;
            right: 0;
            top: 7px;
            width: 6.4rem;
            height: 7rem;
            @media (max-width: $sw-md-max) {
                width: 5.5rem;
            }
            @media (max-width: $sw-xx-max) {
                right: 0px;
                top: 0;
                width: 5rem;
                height: 5rem;
                border-radius: 0 1.6rem 0 0;
            }
            .icon-remove-sm {
                font-size: 1.2rem;
                color: $light-blue;
            }
        }
        &__title {
            font-style: italic;
            font-weight: 800;
            font-size: 2.4rem;
            line-height: 1.65em;
            text-align: center;
            text-transform: uppercase;
            color: $light-blue;
            margin-bottom: 6rem;
            @media (max-width: $sw-xs-max) {
                font-size: 2rem;
                margin-bottom: 4rem;
            }
        }
        &__actions {
            display: flex;
            align-items: center;
            justify-content: center;
            @media (max-width: $sw-xx-max) {
                flex-wrap: wrap;
            }
            .btn--bordered {
                background-color: $dark;
                color: $yellow !important;
                &:not([disabled]):hover {
                    @media (min-width: $sw-xs-min) { 
                        background-color: rgba($dark, 0.2)
                    }
                }
                &:not([disabled]):active {
                    background-color: rgba($dark, 0.3);
                }
            }
            .btn {
                min-width: auto;
                width: 100%;
                max-width: 20rem;
                @media (max-width: $sw-xx-max) {
                    max-width: 40rem;
                    margin: 1rem;
                }
                & + .btn {
                    margin-left: 2rem;
                    @media (max-width: $sw-xx-max) {
                        margin-left: 1rem;
                    }
                }
                .icon-chk {
                    font-size: 1.4rem;
                }
            }
        }
    }
}