mixin orders(data)
	.acc-orders__top
		.section-title
			+svg('icon-orders')
			p.section-title__secondary Orders
		.acc-orders__top__status.acc-orders__top__status--active
			span.count-box 1
			span Active
		.acc-orders__top__status.acc-orders__top__status--completed
			span.count-box 1
			span Completed
	.acc-orders__inner
		.order-block
			.order-block__trigger
				.order-block__side
					span.order-block__num RA0547
					.order-block__status
						ul.order-block__list.h-reset-list
							li.order-block__list-item
								.order-block__list-item__icon
									+svg('icon-chk')
									+svg('icon-circled-arrow')
								span.order-block__list-item__name #[span.order-block__list-item__name__text Order Status:] #[span.dekor--green Delivered]
							li.order-block__list-item
								.order-block__list-item__icon
									+svg('icon-chk')
									+svg('icon-circled-arrow')
								span.order-block__list-item__name #[span.order-block__list-item__name__text Order Status:] Dispatched
							li.order-block__list-item
								.order-block__list-item__icon
									+svg('icon-chk')
									+svg('icon-circled-arrow')
								span.order-block__list-item__name #[span.order-block__list-item__name__text Order Status:] Order Collected
							li.order-block__list-item
								.order-block__list-item__icon
									+svg('icon-chk')
									+svg('icon-circled-arrow')
								span.order-block__list-item__name #[span.order-block__list-item__name__text Order Status:] Payment received
							li.order-block__list-item.is-active
								.order-block__list-item__icon
									+svg('icon-chk')
									+svg('icon-circled-arrow')
								span.order-block__list-item__name #[span.order-block__list-item__name__text Order Status:] Pay Invoice
							li.order-block__list-item
								.order-block__list-item__icon
									+svg('icon-chk')
									+svg('icon-circled-arrow')
								span.order-block__list-item__name #[span.order-block__list-item__name__text Order Status:] Make Order
				.order-block__side
					.order-block__btn--hidden
						a.btn.btn--bordered.btn--md.btn-view-invoice(href="javascript:void(0)") 
							span View Invoice from 2020-02-06
					button.btn.btn--bordered.btn--md.btn-confirm-payment(type="button")
						+svg('icon-billed')
						span Confirm Payment
					button.btn.btn--red-bordered.btn--md.js-order-delete(type="button") 
						span Delete order
				button.order-block__icon.js-order-trigger(type="button")
					+svg('icon-chevron-down')
			.order-block__content
				.order-block__inner
					.order-block__content__side
						a.btn.btn--bordered.btn--md.btn-view-invoice.btn-mobile-show(href="javascript:void(0)") 
							span View Invoice from 2020-02-06
						.order-block__track
							.order-block__track__icon
								+svg('icon-orders')
							p.order-block__track__text 120 Bremner Boulevard, Suite 1600, Toronto, ON M5J 0A8
						.order-block__track
							.order-block__track__icon
								+svg('icon-orders')
							p.order-block__track__text 120 Bremner Boulevard, Suite 1600, Toronto, ON M5J 0A8
			.order-block__modal
				button.order-block__modal__close.js-order-modal-close(type="button")
					+svg('icon-remove-sm')
				.order-block__modal__title
					span Delete double check
				.order-block__modal__actions
					button.btn.btn--yellow.btn--md.js-confirm-delete(type="button")
						+svg('icon-chk')
						span Yes, Delete order
					button.btn.btn--bordered.btn--md.js-order-modal-close(type="button")
						span Not sure, don’t delete
		.order-block
			.order-block__trigger
				.order-block__side
					span.order-block__num RA0547
					.order-block__status
						ul.order-block__list.h-reset-list
							li.order-block__list-item
								.order-block__list-item__icon
									+svg('icon-chk')
									+svg('icon-circled-arrow')
								span.order-block__list-item__name #[span.order-block__list-item__name__text Order Status:] #[span.dekor--green Delivered]
							li.order-block__list-item
								.order-block__list-item__icon
									+svg('icon-chk')
									+svg('icon-circled-arrow')
								span.order-block__list-item__name #[span.order-block__list-item__name__text Order Status:] Dispatched
							li.order-block__list-item
								.order-block__list-item__icon
									+svg('icon-chk')
									+svg('icon-circled-arrow')
								span.order-block__list-item__name #[span.order-block__list-item__name__text Order Status:] Order Collected
							li.order-block__list-item.is-active
								.order-block__list-item__icon
									+svg('icon-chk')
									+svg('icon-circled-arrow')
								span.order-block__list-item__name #[span.order-block__list-item__name__text Order Status:] Payment received
							li.order-block__list-item
								.order-block__list-item__icon
									+svg('icon-chk')
									+svg('icon-circled-arrow')
								span.order-block__list-item__name #[span.order-block__list-item__name__text Order Status:] Pay Invoice
							li.order-block__list-item
								.order-block__list-item__icon
									+svg('icon-chk')
									+svg('icon-circled-arrow')
								span.order-block__list-item__name #[span.order-block__list-item__name__text Order Status:] Make Order
				.order-block__side
					.order-block__btn--hidden
						a.btn.btn--bordered.btn--md.btn-view-invoice(href="javascript:void(0)", disabled="")
							span View Invoice from 2020-02-06
				button.order-block__icon.js-order-trigger(type="button")
					+svg('icon-chevron-down')
			.order-block__content
				.order-block__inner
					.order-block__content__side
						a.btn.btn--bordered.btn--md.btn-view-invoice.btn-mobile-show(href="javascript:void(0)", disabled="")
							span View Invoice from 2020-02-06
						.order-block__track
							.order-block__track__icon
								+svg('icon-orders')
							p.order-block__track__text 120 Bremner Boulevard, Suite 1600, Toronto, ON M5J 0A8
						.order-block__track
							.order-block__track__icon
								+svg('icon-orders')
							p.order-block__track__text 120 Bremner Boulevard, Suite 1600, Toronto, ON M5J 0A8
		.order-block
			.order-block__trigger
				.order-block__side
					span.order-block__num RA0547
					.order-block__status
						ul.order-block__list.h-reset-list
							li.order-block__list-item
								.order-block__list-item__icon
									+svg('icon-chk')
									+svg('icon-circled-arrow')
								span.order-block__list-item__name #[span.order-block__list-item__name__text Order Status:] #[span.dekor--green Delivered]
							li.order-block__list-item
								.order-block__list-item__icon
									+svg('icon-chk')
									+svg('icon-circled-arrow')
								span.order-block__list-item__name #[span.order-block__list-item__name__text Order Status:] Dispatched
							li.order-block__list-item.is-active
								.order-block__list-item__icon
									+svg('icon-chk')
									+svg('icon-circled-arrow')
								span.order-block__list-item__name #[span.order-block__list-item__name__text Order Status:] Order Collected
							li.order-block__list-item
								.order-block__list-item__icon
									+svg('icon-chk')
									+svg('icon-circled-arrow')
								span.order-block__list-item__name #[span.order-block__list-item__name__text Order Status:] Payment received
							li.order-block__list-item
								.order-block__list-item__icon
									+svg('icon-chk')
									+svg('icon-circled-arrow')
								span.order-block__list-item__name #[span.order-block__list-item__name__text Order Status:] Pay Invoice
							li.order-block__list-item
								.order-block__list-item__icon
									+svg('icon-chk')
									+svg('icon-circled-arrow')
								span.order-block__list-item__name #[span.order-block__list-item__name__text Order Status:] Make Order
				.order-block__side
					.order-block__btn--hidden
						a.btn.btn--bordered.btn--md.btn-view-invoice(href="javascript:void(0)", disabled="") 
							span View Invoice from 2020-02-06
				button.order-block__icon.js-order-trigger(type="button")
					+svg('icon-chevron-down')
			.order-block__content
				.order-block__inner
					.order-block__content__side
						a.btn.btn--bordered.btn--md.btn-view-invoice.btn-mobile-show(href="javascript:void(0)", disabled="") 
							span View Invoice from 2020-02-06
						.order-block__track
							.order-block__track__icon
								+svg('icon-orders')
							p.order-block__track__text 120 Bremner Boulevard, Suite 1600, Toronto, ON M5J 0A8
						.order-block__track
							.order-block__track__icon
								+svg('icon-orders')
							p.order-block__track__text 120 Bremner Boulevard, Suite 1600, Toronto, ON M5J 0A8
		.order-block
			.order-block__trigger
				.order-block__side
					span.order-block__num RA0547
					.order-block__status
						ul.order-block__list.h-reset-list
							li.order-block__list-item
								.order-block__list-item__icon
									+svg('icon-chk')
									+svg('icon-circled-arrow')
								span.order-block__list-item__name #[span.order-block__list-item__name__text Order Status:] #[span.dekor--green Delivered]
							li.order-block__list-item.is-active
								.order-block__list-item__icon
									+svg('icon-chk')
									+svg('icon-circled-arrow')
								span.order-block__list-item__name #[span.order-block__list-item__name__text Order Status:] Dispatched
							li.order-block__list-item
								.order-block__list-item__icon
									+svg('icon-chk')
									+svg('icon-circled-arrow')
								span.order-block__list-item__name #[span.order-block__list-item__name__text Order Status:] Order Collected
							li.order-block__list-item
								.order-block__list-item__icon
									+svg('icon-chk')
									+svg('icon-circled-arrow')
								span.order-block__list-item__name #[span.order-block__list-item__name__text Order Status:] Payment received
							li.order-block__list-item
								.order-block__list-item__icon
									+svg('icon-chk')
									+svg('icon-circled-arrow')
								span.order-block__list-item__name #[span.order-block__list-item__name__text Order Status:] Pay Invoice
							li.order-block__list-item
								.order-block__list-item__icon
									+svg('icon-chk')
									+svg('icon-circled-arrow')
								span.order-block__list-item__name #[span.order-block__list-item__name__text Order Status:] Make Order
				.order-block__side
					.order-block__btn--hidden
						a.btn.btn--bordered.btn--md.btn-view-invoice(href="javascript:void(0)", disabled="") 
							span View Invoice from 2020-02-06
					.order-block__btn--hidden
						button.btn.btn--silver-bordered.btn--md.btn-receive.js-order-receive(type="button") 
							+svg('icon-chk')
							span Received ?
					.order-block__btn--hide
						.order-block__tracking-num
							span Tracking number: 
							span.order-block__tracking-num__item RL384207929EE
					a.btn.btn--bordered.btn--md.btn-confirm-payment(href="javascript:void(0)") 
						+svg('icon-tracked')
						span track my order
				button.order-block__icon.js-order-trigger(type="button")
					+svg('icon-chevron-down')
			.order-block__content
				.order-block__inner
					.order-block__content__side
						.order-block__track.order-block__track--yellow
							.order-block__track__icon
								+svg('icon-orders')
							p.order-block__track__text 120 Bremner Boulevard, Suite 1600, Toronto, ON M5J 0A8
							.order-block__track__actions
								button.btn.btn--md.btn.btn--bordered(type="button")
									span Track (RL384207929EE)
								button.btn.btn--md.btn.btn--dark(type="button")
									span Problem?
						.order-block__track.order-block__track--yellow
							.order-block__track__icon
								+svg('icon-orders')
							p.order-block__track__text 120 Bremner Boulevard, Suite 1600, Toronto, ON M5J 0A8
							.order-block__track__actions
								button.btn.btn--md.btn.btn--bordered(type="button")
									span Track (RL384207929EE)
								button.btn.btn--md.btn.btn--dark(type="button")
									span Problem?
			.order-block__modal
				button.order-block__modal__close.js-order-modal-close(type="button")
					+svg('icon-remove-sm')
				.order-block__modal__title
					span You really received this order?
				.order-block__modal__actions
					button.btn.btn--yellow.btn--md.js-confirm-receive(type="button")
						+svg('icon-chk')
						span Yes, all in my hands
					button.btn.btn--bordered.btn--md.js-order-modal-close(type="button")
						span No, it was misclick
		.order-block
			.order-block__trigger
				.order-block__side
					span.order-block__num RA0547
					.order-block__status
						ul.order-block__list.h-reset-list
							li.order-block__list-item.is-active
								.order-block__list-item__icon
									+svg('icon-chk')
									+svg('icon-circled-arrow')
								span.order-block__list-item__name #[span.order-block__list-item__name__text Order Status:] #[span.dekor--green Delivered]
							li.order-block__list-item
								.order-block__list-item__icon
									+svg('icon-chk')
									+svg('icon-circled-arrow')
								span.order-block__list-item__name #[span.order-block__list-item__name__text Order Status:] Dispatched
							li.order-block__list-item
								.order-block__list-item__icon
									+svg('icon-chk')
									+svg('icon-circled-arrow')
								span.order-block__list-item__name #[span.order-block__list-item__name__text Order Status:] Order Collected
							li.order-block__list-item
								.order-block__list-item__icon
									+svg('icon-chk')
									+svg('icon-circled-arrow')
								span.order-block__list-item__name #[span.order-block__list-item__name__text Order Status:] Payment received
							li.order-block__list-item
								.order-block__list-item__icon
									+svg('icon-chk')
									+svg('icon-circled-arrow')
								span.order-block__list-item__name #[span.order-block__list-item__name__text Order Status:] Pay Invoice
							li.order-block__list-item
								.order-block__list-item__icon
									+svg('icon-chk')
									+svg('icon-circled-arrow')
								span.order-block__list-item__name #[span.order-block__list-item__name__text Order Status:] Make Order
				.order-block__side
					.order-block__btn--hidden
						a.btn.btn--bordered.btn--md.btn-view-invoice(href="javascript:void(0)", disabled="") 
							span View Invoice from 2020-02-06
					a.btn.btn--blue-bordered.btn--md(href="javascript:void(0)")
						+svg('icon-credits-review')
						span Get Review Coins
				button.order-block__icon.js-order-trigger(type="button")
					+svg('icon-chevron-down')
			.order-block__content
				.order-block__inner
					.order-block__content__side
						a.btn.btn--bordered.btn--md.btn-view-invoice.btn-mobile-show(href="javascript:void(0)", disabled="") 
							span View Invoice from 2020-02-06
						.order-block__track
							.order-block__track__icon
								+svg('icon-orders')
							p.order-block__track__text 120 Bremner Boulevard, Suite 1600, Toronto, ON M5J 0A8
							.order-block__track__actions
								button.btn.btn--md.btn.btn--silver-bordered(type="button")
									span Track (RL384207929EE)
								button.btn.btn--md.btn.btn--dark(type="button")
									span Problem?
						.order-block__track
							.order-block__track__icon
								+svg('icon-orders')
							p.order-block__track__text 120 Bremner Boulevard, Suite 1600, Toronto, ON M5J 0A8
							.order-block__track__actions
								button.btn.btn--md.btn.btn--silver-bordered(type="button")
									span Track (RL384207929EE)
								button.btn.btn--md.btn.btn--dark(type="button")
									span Problem?