

$white:    #fff;
$black:    #000;
$dark: #1B2134;
$yellow: #FFCC00;
$light-blue: #DFE1EE;
$blue: #56CCF2;
$red: #EB5757;
$orange: #F2994A;
$grey: #252E47;
$clay: #21273B;
$mirage: #1F2539;
$green: #00B67A;
$light-green: #6FCF97;


$body-bg:                   $white;
$body-color:                $dark;


$link-color:                              $light-blue;
$link-decoration:                         none;
$link-hover-color:                        $yellow;
$link-hover-decoration:                   none;


$paragraph-margin-bottom:   1rem;

$sw-xx-min: 0;
$sw-xs-min: 768px;
$sw-sm-min: 1024px;
$sw-md-min: 1280px;
$sw-lg-min: 1600px;

$sw-xx-max:$sw-xs-min - 1px;
$sw-xs-max:$sw-sm-min - 1px;
$sw-sm-max:$sw-md-min - 1px;
$sw-md-max:$sw-lg-min - 1px;

$grid-breakpoints: (
  xs: $sw-xx-min,
  sm: $sw-xs-min,
  md: $sw-sm-min,
  lg: $sw-md-min,
  xl: $sw-lg-min
);

$container-max-widths: (
  sm: 702px,
  md: 958px,
  lg: 1200px,
  xl: 1390px
);


$grid-columns:                24;
$grid-gutter-width:           30px;
$grid-row-columns:            12;


// fonts
$avenir: 'Avenir Next Cyr', sans-serif;

$font-family-sans-serif:      $avenir;
$font-family-monospace:       $avenir;
$font-family-base:            $font-family-sans-serif;

