.product {
    &-wrapper {
        padding: 5rem 0;
        overflow: hidden;
    }
    &-inner {
        width: 100%;
        max-width: 92rem;
        margin: 0 auto;
        .acc-coins__empty {
            margin-bottom: 4rem;
            margin-top: 5.2rem;
            &__side {
                .btn--black {
                    min-width: 20rem;
                }
            }
        }
        .product-carousel {
            @media (max-width: $sw-sm-max) {
                margin-bottom: 4rem;
            }
        }
    }
    &-detail {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 5.6rem;
        @media (max-width: $sw-xs-max) {
            flex-wrap: wrap;
            justify-content: center;
        }
        &__image {
            width: 43rem;
            height: 43rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 1.6rem;
            overflow: hidden;
            @media (max-width: $sw-sm-max) {
                width: 37rem;
                height: 37rem;
                margin-right: 4rem;
            }
            @media (max-width: $sw-xs-max) {
                width: 32rem;
                height: 32rem;
                margin-right: 0;
                margin-bottom: 2rem;
            }
            @media (max-width: $sw-xx-max) {
                width: 28rem;
                height: 28rem;
            }
            img {
                max-width: 100%;
                max-height: 100%;
                width: auto;
                height: auto;
                border-radius: inherit;
            }
        }
        &__info {
            width: 44rem;
            @media (max-width: $sw-sm-max) {
                width: calc(100% - 41rem);
            }
            @media (max-width: $sw-xs-max) {
                width: 100%;
            }
        }
        &__title {
            font-style: italic;
            font-weight: 800;
            font-size: 3.2rem;
            line-height: 1.25em;
            text-transform: uppercase;
            color: $yellow;
            margin-bottom: 1rem;
            @media (max-width: $sw-sm-max) {
                font-size: 2.8rem;
            }
            @media (max-width: $sw-xs-max) {
                text-align: center;
            }
            @media (max-width: $sw-xx-max) {
                font-size: 2.4rem;
            }
        }
        &__subtitle {
            display: block;
            width: 100%;
            margin-bottom: 2rem;
            font-size: 1.6rem;
            line-height: 1.25em;
            color: rgba(223, 225, 238, 0.3);
            @media (max-width: $sw-sm-max) {
                margin-bottom: 1.5rem;
            }
            @media (max-width: $sw-xs-max) {
                text-align: center;
            }
        }
        &__price {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-bottom: 2rem;
            @media (max-width: $sw-sm-max) {
                margin-bottom: 1.5rem;
            }
            @media (max-width: $sw-xs-max) {
                justify-content: center;
            }
            .price {
                &-old {
                    font-size: 2.6rem;
                    line-height: 1.15em;
                    color: rgba(223, 225, 238, 0.3);
                    text-decoration: line-through;
                    margin-right: 1rem;
                    @media (max-width: $sw-sm-max) {
                        font-size: 2.4rem;
                    }
                    @media (max-width: $sw-xx-max) {
                        font-size: 2.2rem;
                    }
                }
                &-current,
                &-discount,
                &-currency {
                    font-weight: 700;
                    text-transform: uppercase;
                    font-size: 2.6rem;
                    line-height: 1.15em;
                    color: $light-blue;
                    margin: 0 3px;
                    transition: color .3s ease;
                    @media (max-width: $sw-sm-max) {
                        font-size: 2.4rem;
                    }
                    @media (max-width: $sw-xx-max) {
                        font-size: 2.2rem;
                    }
                }
                &-discount {
                    display: none;
                    .is-discount & {
                        display: block;
                    }
                }
                &-current {
                    .is-discount & {
                        color: rgba($light-blue, 0.3);
                        text-decoration: line-through;
                    }
                }
            }
        }
        &__discount {
            width: 100%;
            margin-bottom: 4rem;
            position: relative;
            padding: 2.5rem 13rem 2.5rem 2rem;
            border-radius: 1.6rem;
            border: 1px solid $yellow;
            @media (max-width: $sw-sm-max) {
                margin-bottom: 3.7rem;
            }
            @media (max-width: $sw-xx-max) {
                max-width: 50rem;
                margin: 0 auto 3rem auto;
            }
            @media (max-width: 499px) {
                padding: 1.5rem;
                max-width: 32rem;
            }
            &__line {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: flex-start;
                & + .product-detail__discount__line {
                    margin-top: 1.8rem;
                }
            }
            &__promo {
                border: 1px solid $yellow;
                border-radius: 0 1.6rem 1.6rem 1.6rem;
                padding: 4px 1rem;
                color: $light-blue;
                font-size: 1.4rem;
                line-height: 1.4em;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                text-transform: uppercase;
                margin: 5px 0;
                &--yellow {
                    color: $yellow;
                }
            }
            .icon-man-strong {
                position: absolute;
                bottom: 0;
                right: 2.8rem;
                font-size: 10rem;
                @media (max-width: $sw-xx-max) {
                    font-size: 8rem;
                    right: 1.8rem;
                }
                @media (max-width: 499px) {
                    display: none;
                }
            }
        }
        &__count {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            @media (max-width: $sw-xs-max) {
                justify-content: center;
            }
            @media (max-width: 499px) {
                flex-wrap: wrap;
                width: 100%;
                max-width: 32rem;
                margin: 0 auto;
            }
            .goods-item__count {
                margin-right: 3.3rem;
                @media (max-width: $sw-xx-max) {
                    width: auto;
                    margin-right: 3rem;
                    justify-content: center;
                }
                @media (max-width: 499px) {
                    margin-right: 0;
                    margin-bottom: 1.5rem;
                    width: 100%;
                }
                &__btn {
                    width: 6rem;
                    height: 6rem;
                    @media (max-width: $sw-xx-max) {
                        width: 5rem;
                        height: 5rem;
                        border: 2px solid #2F3548;
                    }
                    @media (max-width: 499px) {
                        flex-shrink: 0;
                    }
                }
                &__input {
                    font-size: 2rem;
                    font-weight: 700;
                    width: 5.5rem;
                    @media (max-width: $sw-xx-max) {
                        font-size: 1.8rem;
                        width: 5.2rem;
                    }
                    @media (max-width: 499px) {
                        width: 13rem;
                    }
                }
            }
            .btn {
                height: 6rem;
                min-width: 22rem;
                @media (max-width: $sw-xx-max) {
                    min-width: 18rem;
                    height: 5rem;
                }
                @media (max-width: $sw-xx-max) {
                    min-width: auto;
                    width: 100%;
                    max-width: 32rem;
                }
                @media (max-width: 499px) {
                    margin-top: 1rem;
                }
            }
        }
        &__descr {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            margin-bottom: 5rem;
            @media (max-width: $sw-xs-max) {
                margin-bottom: 4rem;
                flex-wrap: wrap;
                justify-content: center;
            }
            @media (max-width: $sw-xx-max) {
                margin-bottom: 3rem;
            }
        }
        &__table {
            width: 44rem;
            @media (max-width: $sw-xs-max) {
                margin-bottom: 3rem;
                width: 100%;
                max-width: 44rem;
            }
            &__item {
                margin-bottom: 5.6rem;
                @media (max-width: $sw-xs-max) {
                    margin-bottom: 3rem;
                }
                .article-title {
                    margin-bottom: 7px;
                }
            }
            &__row {
                display: flex;
                position: relative;
                padding: 1rem 0;
                min-height: 5rem;
                @media (max-width: $sw-xx-max) {
                    min-height: 4rem;
                    padding: 6px 0;
                }
                &:after {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 2px;
                    position: absolute;
                    left: 0;
                    top: 100%;
                    background-color: rgba(223, 225, 238, 0.3);
                    opacity: 0.3;
                }
                &__title {
                    font-size: 1.6rem;
                    line-height: 1.875em;
                    color: $light-blue;
                    width: 20rem;
                    padding-right: 3rem;
                    display: flex;
                    align-items: center;
                    @media (max-width: $sw-xx-max) {
                        width: 50%;
                        padding-right: 2rem;
                        font-size: 1.4rem;
                    }
                }
                &__descr {
                    width: 24rem;
                    display: flex;
                    align-items: center;
                    @media (max-width: $sw-xx-max) {
                        width: 50%;
                    }
                    a {
                        color: $yellow;
                        transition: color .3s ease;
                        display: inline-flex;
                        align-items: center;
                        justify-content: flex-start;
                        font-weight: 600;
                        font-size: 1.4rem;
                        line-height: 1.2em;
                        &:hover {
                            @media (min-width: $sw-xs-min) {
                                color: lighten($yellow, 10%)
                            }
                        }
                        .icon {
                            &-menu {
                                margin-right: 1.1rem;
                                font-size: 1.8rem;
                            }
                            &-download-pdf {
                                margin-right: 1.2rem;
                                font-size: 2rem;
                            }
                        }
                    }
                    span, p {
                        display: inline-flex;
                        align-items: center;
                        justify-content: flex-start;
                        margin-bottom: 0;
                        font-weight: 600;
                        font-size: 1.6rem;
                        line-height: 1.875em;
                        color: $light-blue;
                        @media (max-width: $sw-xx-max) {
                            font-size: 1.4rem;
                        }
                    }
                }
                &__fluid {
                    font-size: 1.6rem;
                    line-height: 1.875em;
                    color: $light-blue;
                    width: 100%;
                    padding-right: 3rem;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    @media (max-width: $sw-xx-max) {
                        font-size: 1.4rem;
                    }
                }
            }
        }
        &__reviews {
            width: 44rem;
            @media (max-width: $sw-xs-max) {
                width: 100%;
                max-width: 44rem;
            }
            &__top {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 2.5rem;
                @media (max-width: $sw-xx-max) {
                    margin-bottom: 2rem;
                }
            }
            &__title {
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                margin-right: 1rem;
                font-weight: 600;
                font-size: 1.8rem;
                line-height: 1.5em;
                text-transform: capitalize;
                color: rgba(223, 225, 238, 0.3);
                .icon {
                    font-size: 2rem;
                    margin-right: 1rem;
                    margin-top: 3px;
                    flex-shrink: 0;
                }
            }
            &__rate {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                &__count {
                    font-weight: 600;
                    font-size: 1.8rem;
                    line-height: 1em;
                    margin-right: 2rem;
                    text-transform: capitalize;
                    color: rgba(223, 225, 238, 0.3);
                    @media (max-width: $sw-xx-max) {
                        font-size: 1.6rem;
                        margin-right: 1rem;
                    }
                }
                .feedbacks-rate {
                    @media (max-width: $sw-xx-max) {
                        margin-top: 0;
                    }
                    .icon-star-simple + .icon-star-simple {
                        margin-right: 1.1rem;
                    }
                }
            }
            &__item {
                background-color: #21273B;
                border-radius: 1.6rem;
                &:not(:last-child) {
                    margin-bottom: 2rem;
                }
                &__top {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 1rem;
                    .feedbacks-rate {
                        @media (max-width: $sw-xx-max) {
                            width: auto;
                            margin-top: 0;
                        }
                        .icon-star-simple + .icon-star-simple {
                            margin-right: 1.1rem;
                        }
                    }
                }
                &__title {
                    text-transform: uppercase;
                    font-style: italic;
                    font-weight: 800;
                    font-size: 1.6rem;
                    line-height: 1.4em;
                    color: $light-blue;
                    margin-right: 1rem;
                    @media (max-width: $sw-xx-max) {
                        font-size: 1.5rem;
                    }
                }
                &__inner {
                    padding: 3rem 2rem;
                    @media (max-width: $sw-xx-max) {
                        padding: 1.5rem;
                    }
                }
                &__text {
                    p {
                        margin-bottom: 0;
                        font-weight: 300;
                        font-size: 1.6rem;
                        line-height: 1.3em;
                        color: $light-blue;
                        @media (max-width: $sw-xx-max) {
                            font-size: 1.4rem;
                        }
                    }
                }
                &__answer {
                    border-top: 1px solid #05070E;
                    padding: 1rem 2rem 2.5rem 2rem;
                    @media (max-width: $sw-xx-max) {
                        padding: 1rem 1.5rem 1.5rem 1.5rem;
                    }
                    &-title {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        font-weight: 600;
                        font-size: 1.8rem;
                        line-height: 2.2em;
                        color: rgba(223, 225, 238, 0.3);
                        margin-bottom: 6px;
                        @media (max-width: $sw-xx-max) {
                            font-size: 1.6rem;
                        }
                        .icon {
                            font-size: 2rem;
                            margin-right: 1rem;
                            color: rgba(223, 225, 238, 0.3);
                        }
                    }
                    p {
                        font-weight: 300;
                        font-size: 1.6rem;
                        line-height: 1.4em;
                        color: $light-blue;
                        margin-bottom: 0;
                        @media (max-width: $sw-xx-max) {
                            font-size: 1.4rem;
                        }
                    }
                }
            }
        }
        &__collapses {
            margin-bottom: 7rem;
            @media (max-width: $sw-sm-max) {
                margin-bottom: 6rem;
            }
            @media (max-width: $sw-xs-max) {
                margin-bottom: 5rem;
            }
        }
    }
    &-carousel {
        &__top {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-bottom: 4rem;
            @media (max-width: $sw-sm-max) {
                margin-bottom: 3rem;
            }
            @media (max-width: $sw-xx-max) {
                flex-wrap: wrap;
            }
        }
        &__title {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            font-style: italic;
            font-weight: 800;
            font-size: 3.2rem;
            line-height: 1.25em;
            text-transform: uppercase;
            color: $light-blue;
            min-width: 32rem;
            margin-right: 4rem;
            @media (max-width: $sw-md-max) {
                min-width: auto;
                font-size: 2.6rem;
                margin-right: 3rem;
            }
            @media (max-width: $sw-sm-max) {
                font-size: 2.4rem;
            }
            @media (max-width: $sw-xx-max) {
                font-size: 2rem;
                margin-right: 2rem;
                width: 100%;
                margin-right: 0;
                margin-bottom: 1.5rem;
            }
            .icon {
                font-size: 2.4rem;
                margin-right: 1.4rem;
                @media (max-width: $sw-md-max) {
                    font-size: 2.2rem;
                }
                @media (max-width: $sw-sm-max) {
                    font-size: 2rem;
                }
                @media (max-width: $sw-xx-max) {
                    font-size: 1.8rem;
                }
            }
        }
        &__pagination {
            margin-right: 1rem;
            .swiper-pagination-bullet {
                cursor: pointer;
                width: 1rem;
                height: 1rem;
                border-radius: 5px;
                background-color: rgba(223, 225, 238, 0.3);
                transition: background-color .3s ease, width .6s ease;
                margin: 0 7px;
                @media (max-width: $sw-md-max) {
                    margin: 0 6px;
                }
                @media (max-width: $sw-sm-max) {
                    margin: 0 5px;
                }
                @media (max-width: $sw-xs-max) {
                    margin: 0 4px;
                }
                @media (max-width: $sw-xx-max) {
                    width: 8px;
                    height: 8px;
                    border-radius: 4px;
                    margin: 0 3px;
                }
                &.swiper-pagination-bullet-active {
                    width: 4rem;
                    background-color: $light-blue;
                    @media (max-width: $sw-md-max) {
                        width: 3.5rem;
                    }
                    @media (max-width: $sw-sm-max) {
                        width: 3rem;
                    }
                    @media (max-width: $sw-xx-max) {
                        width: 2rem;
                    }
                }
            }
        }
        &__navigation {
            margin-left: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            &__left, &__right {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 4rem;
                height: 4rem;
                cursor: pointer;
                background-color: transparent;
                border-radius: 4px;
                opacity: 1;
                transition: background-color .3s ease, opacity .3s ease;
                @media (max-width: $sw-xx-max) {
                    width: 3.4rem;
                    height: 3.4rem;
                }
                &.swiper-button-disabled {
                    opacity: 0.4;
                    pointer-events: none;
                }
                &:hover {
                    @media (min-width: $sw-xs-min) {
                        background-color: lighten($dark, 3%);
                    }
                }
                &:active {
                    @media (min-width: $sw-xs-min) {
                        background-color: lighten($dark, 6%);
                    }
                }
                .icon-chevron-down {
                    font-size: 2.2rem;
                    color: rgba(223, 225, 238, 0.3);
                    @media (max-width: $sw-xs-max) {
                        font-size: 2rem;
                    }
                    @media (max-width: $sw-xx-max) {
                        font-size: 1.8rem;
                    }
                }
            }
            &__left {
                .icon-chevron-down {
                    margin-right: 2px;
                    transform: rotate(90deg);
                }
            }
            &__right {
                .icon-chevron-down {
                    margin-left: 2px;
                    transform: rotate(-90deg);
                }
            }
        }
        &__inner {
            .swiper-container {
                overflow: visible;
            }
            .swiper-slide {
                width: 32rem;
                height: auto;
                @media (max-width: $sw-xx-max) {
                    width: 27rem;
                }
            }
        }
    }
}


.label-radio-rounded {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    margin: 5px 7px 5px 0;
    min-width: 14.2rem;
    min-width: 14.2rem;
    @media (max-width: $sw-xx-max) {
        min-width: 11.9rem;
    }
    &.is-active {
        .label-radio-rounded__item {
            &:after {
                background-color: $yellow;
            }
        }
    }
    input {
        position: absolute;
        left: -9999em;
        right: -9999em;
        opacity: 0;
        visibility: hidden;
        width: 0;
        height: 0;
        &:checked {
            & + .label-radio-rounded__item {
                &:after {
                    background-color: $yellow;
                }
            }
        }
    }
    &__item {
        position: relative;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        border: 1px solid $yellow;
        margin-right: 1rem;
        @media (max-width: $sw-xx-max) {
            width: 2.4rem;
            height: 2.4rem;
        }
        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            width: 1.2rem;
            height: 1.2rem;
            border-radius: 50%;
            background-color: rgba(223, 225, 238, 0.3);
            transition: background-color .3s ease;
            @media (max-width: $sw-xx-max) {
                width: 8px;
                height: 8px;
            }
        }
    }
    &__name {
        font-weight: 600;
        font-size: 1.8rem;
        line-height: 1.65em;
        color: $light-blue;
        @media (max-width: $sw-xx-max) {
            font-size: 1.5rem;
        }
    }
}