mixin product-open(data)
	.product-wrapper
		.container
			.product-inner
				.product-detail
					.product-detail__image
						img(src="s/images/useful/product-open.png", alt="product-open")
					.product-detail__info.js-product(id="product1")
						h1.product-detail__title Testosterone En
						span.product-detail__subtitle Testosterone enanthate
						.product-detail__price
							span.price-old 25.24
							span.price-current 42.43
							span.price-discount 
							span.price-currency usd
						.product-detail__discount.product-discount
							.product-detail__discount__line
								label.label-radio-rounded(for="product_discount_type1")
									input(type="hidden", value="5")
									input.label-radio-rounded__input(type="radio", name="product_discount_type", id="product_discount_type1")
									span.label-radio-rounded__item
									span.label-radio-rounded__name Buy 5 units
								span.product-detail__discount__promo Get 10% off
							.product-detail__discount__line
								label.label-radio-rounded(for="product_discount_type2")
									input(type="hidden", value="10")
									input.label-radio-rounded__input(type="radio", name="product_discount_type", id="product_discount_type2")
									span.label-radio-rounded__item
									span.label-radio-rounded__name Buy 10 units
								span.product-detail__discount__promo.product-detail__discount__promo--yellow Get 20% off
							+svg('icon-man-strong')
						.product-detail__count
							.goods-item__count
								button(type="button").goods-item__count__btn.goods-item__count__decrease
								input.goods-item__count__input.js-num-input(type="text", value='1')
								button(type="button").goods-item__count__btn.goods-item__count__increase
							button.product-block__add-to-cart.js-add-to-cart(type="button")
								span.product-block__add-to-cart__name
									span.before-add Add to cart
									span.after-add Added to cart
								span.product-block__add-to-cart__added Added to cart 
								span.product-block__add-to-cart__checkmark
				.product-detail__descr
					.product-detail__table
						.product-detail__table__item
							.article-title
								p.article-title__item
									+svg('icon-credits-lab')
									span Lab Tests
							.product-detail__table__row
								.product-detail__table__row__title 
									span Official Test
								.product-detail__table__row__descr
									a(href="index.html", download) #[+svg('icon-download-pdf')] Download labtest.pdf 
							.product-detail__table__row
								.product-detail__table__row__title 
									span Community tests
								.product-detail__table__row__descr
									a(href="javascript:void(0)") #[+svg('icon-menu')] See 32 tests
						.product-detail__table__item
							.article-title
								p.article-title__item
									+svg('icon-stats')
									span Profile
							.product-detail__table__row
								.product-detail__table__row__title 
									span Manufacturer
								.product-detail__table__row__descr
									span Hilma Biocare
							.product-detail__table__row
								.product-detail__table__row__title 
									span Category
								.product-detail__table__row__descr
									p 
										span.product-indicator.product-indicator--sky
										span Injectable
							.product-detail__table__row
								.product-detail__table__row__title 
									span Active Substance
								.product-detail__table__row__descr
									span Testosterone Propionate
							.product-detail__table__row
								.product-detail__table__row__title 
									span Pack
								.product-detail__table__row__descr
									span 10 ml vial / 250 mg/ml
							.product-detail__table__row
								.product-detail__table__row__title 
									span Active Half-Life
								.product-detail__table__row__descr
									span 1-1.5 days
							.product-detail__table__row
								.product-detail__table__row__title 
									span Classification
								.product-detail__table__row__descr
									span Anabolic steroid
							.product-detail__table__row
								.product-detail__table__row__title 
									span Dosage
								.product-detail__table__row__descr
									span Men 300-700 mg/week
							.product-detail__table__row
								.product-detail__table__row__title 
									span Water retention
								.product-detail__table__row__descr
									span Low
							.product-detail__table__row
								.product-detail__table__row__title 
									span Aromatization
								.product-detail__table__row__descr
									span Yes
						.product-detail__table__item
							.article-title
								p.article-title__item
									+svg('icon-effect-app')
									span Effects of application
							.product-detail__table__row
								.product-detail__table__row__fluid
									span Increases muscle mass
							.product-detail__table__row
								.product-detail__table__row__fluid
									span Stimulates physical activity
							.product-detail__table__row
								.product-detail__table__row__fluid
									span Speeds up protein synthesis in the organism
							.product-detail__table__row
								.product-detail__table__row__fluid
									span Eases muscle pain
							.product-detail__table__row
								.product-detail__table__row__fluid
									span Eliminates joint pain
					.product-detail__reviews
						.product-detail__reviews__top
							.product-detail__reviews__title
								+svg('icon-credits-review')
								span Reviews (32)
							.product-detail__reviews__rate
								span.product-detail__reviews__rate__count 4.2
								.feedbacks-rate(data-rate="4")
									+svg('icon-star-simple')
									+svg('icon-star-simple')
									+svg('icon-star-simple')
									+svg('icon-star-simple')
									+svg('icon-star-simple')
						.product-detail__reviews__item
							.product-detail__reviews__item__inner
								.product-detail__reviews__item__top
									span.product-detail__reviews__item__title XTOP3
									.feedbacks-rate(data-rate="5")
										+svg('icon-star-simple')
										+svg('icon-star-simple')
										+svg('icon-star-simple')
										+svg('icon-star-simple')
										+svg('icon-star-simple')
								.product-detail__reviews__item__text
									p Review from MESO FR: #[br] Excellent boulot, merci Andrea, réponse rapide. Suivi nickel. Conseiller par un membre bien connu du forum MESO FR ;) Bon boulot les gars.
						.product-detail__reviews__item
							.product-detail__reviews__item__inner
								.product-detail__reviews__item__top
									span.product-detail__reviews__item__title XTOP3
									.feedbacks-rate(data-rate="1")
										+svg('icon-star-simple')
										+svg('icon-star-simple')
										+svg('icon-star-simple')
										+svg('icon-star-simple')
										+svg('icon-star-simple')
								.product-detail__reviews__item__text
									p Review from MESO FR: #[br] Excellent boulot, merci Andrea, réponse rapide. Suivi nickel. Conseiller par un membre bien connu du forum MESO FR ;) Bon boulot les gars.
							.product-detail__reviews__item__answer
								.product-detail__reviews__item__answer-title
									+svg('icon-checkmark-bold')
									span Henry answer
								p Thanks for message, we glad to help you!
						.product-detail__reviews__item
							.product-detail__reviews__item__inner
								.product-detail__reviews__item__top
									span.product-detail__reviews__item__title XTOP3
									.feedbacks-rate(data-rate="5")
										+svg('icon-star-simple')
										+svg('icon-star-simple')
										+svg('icon-star-simple')
										+svg('icon-star-simple')
										+svg('icon-star-simple')
								.product-detail__reviews__item__text
									p Review from MESO FR: #[br] Excellent boulot, merci Andrea, réponse rapide. Suivi nickel. Conseiller par un membre bien connu du forum MESO FR ;) Bon boulot les gars.
						.product-detail__reviews__item
							.product-detail__reviews__item__inner
								.product-detail__reviews__item__top
									span.product-detail__reviews__item__title XTOP3
									.feedbacks-rate(data-rate="5")
										+svg('icon-star-simple')
										+svg('icon-star-simple')
										+svg('icon-star-simple')
										+svg('icon-star-simple')
										+svg('icon-star-simple')
								.product-detail__reviews__item__text
									p Review from MESO FR: #[br] Excellent boulot, merci Andrea, réponse rapide. Suivi nickel. Conseiller par un membre bien connu du forum MESO FR ;) Bon boulot les gars.
						.product-detail__reviews__item
							.product-detail__reviews__item__inner
								.product-detail__reviews__item__top
									span.product-detail__reviews__item__title XTOP3
									.feedbacks-rate(data-rate="5")
										+svg('icon-star-simple')
										+svg('icon-star-simple')
										+svg('icon-star-simple')
										+svg('icon-star-simple')
										+svg('icon-star-simple')
								.product-detail__reviews__item__text
									p Review from MESO FR: #[br] Excellent boulot, merci Andrea, réponse rapide. Suivi nickel. Conseiller par un membre bien connu du forum MESO FR ;) Bon boulot les gars.
				.acc-coins__empty
					.acc-coins__empty__side
						.acc-coins__empty__icon
							+svg('icon-man-strong')
						.acc-coins__empty__text
							span make a first order #[br] for left feedback
					.acc-coins__empty__side
						a.btn.btn--md.btn--black(href="javascript:void(0)") Go to Products
				.product-detail__collapses
					+collapse-block({id: 'open_btc_wallet', target: '#open_btc_wallet', name: 'How to open a bitcoin wallet?'})
					+collapse-block({id: 'open_btc_wallet2', target: '#open_btc_wallet2', name: 'How to open a bitcoin wallet?'})
				.product-carousel
					.product-carousel__top
						.product-carousel__title
							+svg('icon-products')
							span Buy with
						.product-carousel__pagination
						.product-carousel__navigation
							button.product-carousel__navigation__left(type="button")
								+svg('icon-chevron-down')
							button.product-carousel__navigation__right(type="button")
								+svg('icon-chevron-down')
					.product-carousel__inner
						.swiper-container
							.swiper-wrapper
								.swiper-slide
									.product-block.js-product(id="product2")
										.product-block__front
											a.product-block__img.h-object-fit(href="javascript:void(0)")
												img(src="s/images/tmp_file/goods/img2.png", alt="img")
											.product-block__info
												.product-block__top
													.product-block__top__box
														+svg('icon-credits-lab')
														span Lab Test
													.product-block__top__box
														+svg('icon-credits-publish')
														span 12 Reviews
												a.product-block__title(href="javascript:void(0)") ViagrON 100
												span.product-block__subtitle Sildenafil
											.product-block__footer
												button.product-block__submit.js-flip-product(type="button")
													+svg('icon-cart')
													span.product-block__old-price 47.43
													span.product-block__new-price 42.43 USD
												a.product-block__link(href="javascript:void(0)")
													span.product-block__submit__noty Product is in cart, open cart?
												.product-block__footer__info 
													span Buy 10 unit pack - Save 20%
										.product-block__back
											.product-block__info
												a.product-block__title(href="javascript:void(0)") HGH Liquid
												span.product-block__subtitle Growth hormone NEW formula
											.product-block__discount.product-discount
												.product-detail__discount__line
													label.label-radio-rounded(for="product_discount_type01")
														input(type="hidden", value="5")
														input.label-radio-rounded__input(type="radio", name="product_discount_type00", id="product_discount_type01")
														span.label-radio-rounded__item
														span.label-radio-rounded__name Buy 5 units
													span.product-detail__discount__promo Get 10% off
												.product-detail__discount__line
													label.label-radio-rounded(for="product_discount_type02")
														input(type="hidden", value="10")
														input.label-radio-rounded__input(type="radio", name="product_discount_type00", id="product_discount_type02")
														span.label-radio-rounded__item
														span.label-radio-rounded__name Buy 10 units
													span.product-detail__discount__promo.product-detail__discount__promo--yellow Get 20% off
												.goods-item__count
													button(type="button").goods-item__count__btn.goods-item__count__decrease
													input.goods-item__count__input.js-num-input(type="text", value='1')
													button(type="button").goods-item__count__btn.goods-item__count__increase
												a.product-block__add-to-cart.js-add-to-cart(href="javascript:void(0)")
													span.product-block__add-to-cart__name Add to cart 
													span.product-block__add-to-cart__added Added to cart 
													span.product-block__add-to-cart__checkmark
												.product-block__discount__price
													span.price-current 42.43
													span.price-discount
													span.price-currency usd
											.product-block__close
												button.btn.btn--md.btn--black.js-flip-back-product(type="button")
													span Close
								.swiper-slide
									.product-block.js-product(id="product3")
										.product-block__front
											a.product-block__img.h-object-fit(href="javascript:void(0)")
												img(src="s/images/tmp_file/goods/img3.png", alt="img")
											.product-block__info
												.product-block__top
													.product-block__top__box
														+svg('icon-credits-lab')
														span Lab Test
													.product-block__top__box
														+svg('icon-credits-publish')
														span 12 Reviews
												a.product-block__title(href="javascript:void(0)") Melanotan 2
												span.product-block__subtitle Tan skin
											.product-block__footer
												button.product-block__submit.js-flip-product(type="button")
													+svg('icon-cart')
													span.product-block__old-price 47.43
													span.product-block__new-price 42.43 USD
												a.product-block__link(href="javascript:void(0)")
													span.product-block__submit__noty Product is in cart, open cart?
												.product-block__footer__info 
													span Buy 10 unit pack - Save 20%
										.product-block__back
											.product-block__info
												a.product-block__title(href="javascript:void(0)") HGH Liquid
												span.product-block__subtitle Growth hormone NEW formula
											.product-block__discount.product-discount
												.product-detail__discount__line
													label.label-radio-rounded(for="discount_type_3")
														input(type="hidden", value="5")
														input.label-radio-rounded__input(type="radio", name="product_discount_type1", id="discount_type_3")
														span.label-radio-rounded__item
														span.label-radio-rounded__name Buy 5 units
													span.product-detail__discount__promo Get 10% off
												.product-detail__discount__line
													label.label-radio-rounded(for="discount_type_4")
														input(type="hidden", value="10")
														input.label-radio-rounded__input(type="radio", name="product_discount_type1", id="discount_type_4")
														span.label-radio-rounded__item
														span.label-radio-rounded__name Buy 10 units
													span.product-detail__discount__promo.product-detail__discount__promo--yellow Get 20% off
												.goods-item__count
													button(type="button").goods-item__count__btn.goods-item__count__decrease
													input.goods-item__count__input.js-num-input(type="text", value='1')
													button(type="button").goods-item__count__btn.goods-item__count__increase
												a.product-block__add-to-cart.js-add-to-cart(href="javascript:void(0)")
													span.product-block__add-to-cart__name Add to cart 
													span.product-block__add-to-cart__added Added to cart 
													span.product-block__add-to-cart__checkmark
												.product-block__discount__price
													span.price-current 42.43
													span.price-discount
													span.price-currency usd
											.product-block__close
												button.btn.btn--md.btn--black.js-flip-back-product(type="button")
													span Close
								.swiper-slide
									.product-block.js-product(id="product4")
										.product-block__front
											a.product-block__img.product-block__img--no-available.h-object-fit(href="javascript:void(0)")
												img(src="s/images/tmp_file/goods/no-available.png", alt="img")
											.product-block__info
												.product-block__top
													.product-block__top__box
														+svg('icon-credits-lab')
														span Lab Test
													.product-block__top__box
														+svg('icon-credits-publish')
														span 12 Reviews
												a.product-block__title(href="javascript:void(0)") Stanozolol Inj
												span.product-block__subtitle Winstrol Injection
											.product-block__footer
												button.product-block__submit.js-flip-product(type="button")
													+svg('icon-cart')
													span.product-block__old-price 47.43
													span.product-block__new-price 42.43 USD
												a.product-block__link(href="javascript:void(0)")
													span.product-block__submit__noty Product is in cart, open cart?
												.product-block__footer__info 
													span Buy 10 unit pack - Save 20%
										.product-block__back
											.product-block__info
												a.product-block__title(href="javascript:void(0)") HGH Liquid
												span.product-block__subtitle Growth hormone NEW formula
											.product-block__discount.product-discount
												.product-detail__discount__line
													label.label-radio-rounded(for="discount_type_5")
														input(type="hidden", value="5")
														input.label-radio-rounded__input(type="radio", name="product_discount_type2", id="discount_type_5")
														span.label-radio-rounded__item
														span.label-radio-rounded__name Buy 5 units
													span.product-detail__discount__promo Get 10% off
												.product-detail__discount__line
													label.label-radio-rounded(for="discount_type_6")
														input(type="hidden", value="10")
														input.label-radio-rounded__input(type="radio", name="product_discount_type2", id="discount_type_6")
														span.label-radio-rounded__item
														span.label-radio-rounded__name Buy 10 units
													span.product-detail__discount__promo.product-detail__discount__promo--yellow Get 20% off
												.goods-item__count
													button(type="button").goods-item__count__btn.goods-item__count__decrease
													input.goods-item__count__input.js-num-input(type="text", value='1')
													button(type="button").goods-item__count__btn.goods-item__count__increase
												a.product-block__add-to-cart.js-add-to-cart(href="javascript:void(0)")
													span.product-block__add-to-cart__name Add to cart 
													span.product-block__add-to-cart__added Added to cart 
													span.product-block__add-to-cart__checkmark
												.product-block__discount__price
													span.price-current 42.43
													span.price-discount
													span.price-currency usd
											.product-block__close
												button.btn.btn--md.btn--black.js-flip-back-product(type="button")
													span Close
								.swiper-slide
									.product-block.js-product(id="product5")
										.product-block__front
											a.product-block__img.h-object-fit(href="javascript:void(0)")
												img(src="s/images/tmp_file/goods/img2.png", alt="img")
											.product-block__info
												.product-block__top
													.product-block__top__box
														+svg('icon-credits-lab')
														span Lab Test
													.product-block__top__box
														+svg('icon-credits-publish')
														span 12 Reviews
												a.product-block__title(href="javascript:void(0)") ViagrON 100
												span.product-block__subtitle Sildenafil
											.product-block__footer
												button.product-block__submit.js-flip-product(type="button")
													+svg('icon-cart')
													span.product-block__old-price 47.43
													span.product-block__new-price 42.43 USD
												a.product-block__link(href="javascript:void(0)")
													span.product-block__submit__noty Product is in cart, open cart?
												.product-block__footer__info 
													span Buy 10 unit pack - Save 20%
										.product-block__back
											.product-block__info
												a.product-block__title(href="javascript:void(0)") HGH Liquid
												span.product-block__subtitle Growth hormone NEW formula
											.product-block__discount.product-discount
												.product-detail__discount__line
													label.label-radio-rounded(for="discount_type_7")
														input(type="hidden", value="5")
														input.label-radio-rounded__input(type="radio", name="product_discount_type3", id="discount_type_7")
														span.label-radio-rounded__item
														span.label-radio-rounded__name Buy 5 units
													span.product-detail__discount__promo Get 10% off
												.product-detail__discount__line
													label.label-radio-rounded(for="discount_type_8")
														input(type="hidden", value="10")
														input.label-radio-rounded__input(type="radio", name="product_discount_type3", id="discount_type_8")
														span.label-radio-rounded__item
														span.label-radio-rounded__name Buy 10 units
													span.product-detail__discount__promo.product-detail__discount__promo--yellow Get 20% off
												.goods-item__count
													button(type="button").goods-item__count__btn.goods-item__count__decrease
													input.goods-item__count__input.js-num-input(type="text", value='1')
													button(type="button").goods-item__count__btn.goods-item__count__increase
												a.product-block__add-to-cart.js-add-to-cart(href="javascript:void(0)")
													span.product-block__add-to-cart__name Add to cart 
													span.product-block__add-to-cart__added Added to cart 
													span.product-block__add-to-cart__checkmark 
												.product-block__discount__price
													span.price-current 42.43
													span.price-discount
													span.price-currency usd
											.product-block__close
												button.btn.btn--md.btn--black.js-flip-back-product(type="button")
													span Close
								.swiper-slide
									.product-block.product-block--out-of-stock.js-product(id="product6")
										.product-block__front
											a.product-block__img.h-object-fit(href="javascript:void(0)")
												img(src="s/images/tmp_file/goods/img2.png", alt="img")
											.product-block__info
												.product-block__top
													.product-block__top__box
														+svg('icon-credits-lab')
														span Lab Test
													.product-block__top__box
														+svg('icon-credits-publish')
														span 12 Reviews
												a.product-block__title(href="javascript:void(0)") ViagrON 100
												span.product-block__subtitle Sildenafil
											.product-block__footer
												a.product-block__link.js-out-of-stock-noty(href="javascript:void(0)")
													span.product-block__submit__noty Out of stock, notify you?
													span.product-block__submit__noty-receive
														span.product-block__submit__noty-receive__inner 
															+svg('icon-checkmark-bold')
															span All is done, coming soon
												.product-block__footer__info 
													span Buy 10 unit pack - Save 20%
								.swiper-slide
									.product-block.product-block--in-cart.js-product(id="product7")
										.product-block__front
											a.product-block__img.h-object-fit(href="javascript:void(0)")
												img(src="s/images/tmp_file/goods/img1.png", alt="img")
											.product-block__info
												.product-block__top
													.product-block__top__box
														+svg('icon-credits-lab')
														span Lab Test
													.product-block__top__box
														+svg('icon-credits-publish')
														span 12 Reviews
												a.product-block__title(href="javascript:void(0)") Testosterone En
												span.product-block__subtitle Testosterone enanthate
											.product-block__footer
												a.product-block__link(href="javascript:void(0)")
													span.product-block__submit__noty Product is in cart, open cart?
												.product-block__footer__info 
													span Buy 10 unit pack - Save 20%
								.swiper-slide
									.product-block.js-product(id="product8")
										.product-block__front
											a.product-block__img.h-object-fit(href="javascript:void(0)")
												img(src="s/images/tmp_file/goods/img2.png", alt="img")
											.product-block__info
												.product-block__top
													.product-block__top__box
														+svg('icon-credits-lab')
														span Lab Test
													.product-block__top__box
														+svg('icon-credits-publish')
														span 12 Reviews
												a.product-block__title(href="javascript:void(0)") ViagrON 100
												span.product-block__subtitle Sildenafil
											.product-block__footer
												button.product-block__submit.js-flip-product(type="button")
													+svg('icon-cart')
													span.product-block__old-price 47.43
													span.product-block__new-price 42.43 USD
												a.product-block__link(href="javascript:void(0)")
													span.product-block__submit__noty Product is in cart, open cart?
												.product-block__footer__info 
													span Buy 10 unit pack - Save 20%
										.product-block__back
											.product-block__info
												a.product-block__title(href="javascript:void(0)") HGH Liquid
												span.product-block__subtitle Growth hormone NEW formula
											.product-block__discount.product-discount
												.product-detail__discount__line
													label.label-radio-rounded(for="discount_type_9")
														input(type="hidden", value="5")
														input.label-radio-rounded__input(type="radio", name="product_discount_type4", id="discount_type_9")
														span.label-radio-rounded__item
														span.label-radio-rounded__name Buy 5 units
													span.product-detail__discount__promo Get 10% off
												.product-detail__discount__line
													label.label-radio-rounded(for="discount_type_10")
														input(type="hidden", value="10")
														input.label-radio-rounded__input(type="radio", name="product_discount_type4", id="discount_type_10")
														span.label-radio-rounded__item
														span.label-radio-rounded__name Buy 10 units
													span.product-detail__discount__promo.product-detail__discount__promo--yellow Get 20% off
												.goods-item__count
													button(type="button").goods-item__count__btn.goods-item__count__decrease
													input.goods-item__count__input.js-num-input(type="text", value='1')
													button(type="button").goods-item__count__btn.goods-item__count__increase
												a.product-block__add-to-cart.js-add-to-cart(href="javascript:void(0)")
													span.product-block__add-to-cart__name Add to cart 
													span.product-block__add-to-cart__added Added to cart 
													span.product-block__add-to-cart__checkmark
												.product-block__discount__price
													span.price-current 42.43
													span.price-discount
													span.price-currency usd
											.product-block__close
												button.btn.btn--md.btn--black.js-flip-back-product(type="button")
													span Close
								.swiper-slide
									.product-block.js-product(id="product9")
										.product-block__front
											a.product-block__img.h-object-fit(href="javascript:void(0)")
												img(src="s/images/tmp_file/goods/img3.png", alt="img")
											.product-block__info
												.product-block__top
													.product-block__top__box
														+svg('icon-credits-lab')
														span Lab Test
													.product-block__top__box
														+svg('icon-credits-publish')
														span 12 Reviews
												a.product-block__title(href="javascript:void(0)") Melanotan 2
												span.product-block__subtitle Tan skin
											.product-block__footer
												button.product-block__submit.js-flip-product(type="button")
													+svg('icon-cart')
													span.product-block__old-price 47.43
													span.product-block__new-price 42.43 USD
												a.product-block__link(href="javascript:void(0)")
													span.product-block__submit__noty Product is in cart, open cart?
												.product-block__footer__info 
													span Buy 10 unit pack - Save 20%
										.product-block__back
											.product-block__info
												a.product-block__title(href="javascript:void(0)") HGH Liquid
												span.product-block__subtitle Growth hormone NEW formula
											.product-block__discount.product-discount
												.product-detail__discount__line
													label.label-radio-rounded(for="discount_type_11")
														input(type="hidden", value="5")
														input.label-radio-rounded__input(type="radio", name="product_discount_type5", id="discount_type_11")
														span.label-radio-rounded__item
														span.label-radio-rounded__name Buy 5 units
													span.product-detail__discount__promo Get 10% off
												.product-detail__discount__line
													label.label-radio-rounded(for="discount_type_12")
														input(type="hidden", value="10")
														input.label-radio-rounded__input(type="radio", name="product_discount_type5", id="discount_type_12")
														span.label-radio-rounded__item
														span.label-radio-rounded__name Buy 10 units
													span.product-detail__discount__promo.product-detail__discount__promo--yellow Get 20% off
												.goods-item__count
													button(type="button").goods-item__count__btn.goods-item__count__decrease
													input.goods-item__count__input.js-num-input(type="text", value='1')
													button(type="button").goods-item__count__btn.goods-item__count__increase
												a.product-block__add-to-cart.js-add-to-cart(href="javascript:void(0)")
													span.product-block__add-to-cart__name Add to cart 
													span.product-block__add-to-cart__added Added to cart 
													span.product-block__add-to-cart__checkmark
												.product-block__discount__price
													span.price-current 42.43
													span.price-discount
													span.price-currency usd
											.product-block__close
												button.btn.btn--md.btn--black.js-flip-back-product(type="button")
													span Close
								.swiper-slide
									.product-block.js-product(id="product10")
										.product-block__front
											a.product-block__img.h-object-fit(href="javascript:void(0)")
												img(src="s/images/tmp_file/goods/img4.png", alt="img")
											.product-block__info
												.product-block__top
													.product-block__top__box
														+svg('icon-credits-lab')
														span Lab Test
													.product-block__top__box
														+svg('icon-credits-publish')
														span 12 Reviews
												a.product-block__title(href="javascript:void(0)") Stanozolol Inj
												span.product-block__subtitle Winstrol Injection
											.product-block__footer
												button.product-block__submit.js-flip-product(type="button")
													+svg('icon-cart')
													span.product-block__old-price 47.43
													span.product-block__new-price 42.43 USD
												a.product-block__link(href="javascript:void(0)")
													span.product-block__submit__noty Product is in cart, open cart?
												.product-block__footer__info 
													span Buy 10 unit pack - Save 20%
										.product-block__back
											.product-block__info
												a.product-block__title(href="javascript:void(0)") HGH Liquid
												span.product-block__subtitle Growth hormone NEW formula
											.product-block__discount.product-discount
												.product-detail__discount__line
													label.label-radio-rounded(for="discount_type_13")
														input(type="hidden", value="5")
														input.label-radio-rounded__input(type="radio", name="product_discount_type6", id="discount_type_13")
														span.label-radio-rounded__item
														span.label-radio-rounded__name Buy 5 units
													span.product-detail__discount__promo Get 10% off
												.product-detail__discount__line
													label.label-radio-rounded(for="discount_type_15")
														input(type="hidden", value="10")
														input.label-radio-rounded__input(type="radio", name="product_discount_type6", id="discount_type_15")
														span.label-radio-rounded__item
														span.label-radio-rounded__name Buy 10 units
													span.product-detail__discount__promo.product-detail__discount__promo--yellow Get 20% off
												.goods-item__count
													button(type="button").goods-item__count__btn.goods-item__count__decrease
													input.goods-item__count__input.js-num-input(type="text", value='1')
													button(type="button").goods-item__count__btn.goods-item__count__increase
												a.product-block__add-to-cart.js-add-to-cart(href="javascript:void(0)")
													span.product-block__add-to-cart__name Add to cart 
													span.product-block__add-to-cart__added Added to cart 
													span.product-block__add-to-cart__checkmark
												.product-block__discount__price
													span.price-current 42.43
													span.price-discount
													span.price-currency usd
											.product-block__close
												button.btn.btn--md.btn--black.js-flip-back-product(type="button")
													span Close
								.swiper-slide
									.product-block.js-product(id="product11")
										.product-block__front
											a.product-block__img.h-object-fit(href="javascript:void(0)")
												img(src="s/images/tmp_file/goods/img2.png", alt="img")
											.product-block__info
												.product-block__top
													.product-block__top__box
														+svg('icon-credits-lab')
														span Lab Test
													.product-block__top__box
														+svg('icon-credits-publish')
														span 12 Reviews
												a.product-block__title(href="javascript:void(0)") ViagrON 100
												span.product-block__subtitle Sildenafil
											.product-block__footer
												button.product-block__submit.js-flip-product(type="button")
													+svg('icon-cart')
													span.product-block__old-price 47.43
													span.product-block__new-price 42.43 USD
												a.product-block__link(href="javascript:void(0)")
													span.product-block__submit__noty Product is in cart, open cart?
												.product-block__footer__info 
													span Buy 10 unit pack - Save 20%
										.product-block__back
											.product-block__info
												a.product-block__title(href="javascript:void(0)") HGH Liquid
												span.product-block__subtitle Growth hormone NEW formula
											.product-block__discount.product-discount
												.product-detail__discount__line
													label.label-radio-rounded(for="discount_type_16")
														input(type="hidden", value="5")
														input.label-radio-rounded__input(type="radio", name="product_discount_type7", id="discount_type_16")
														span.label-radio-rounded__item
														span.label-radio-rounded__name Buy 5 units
													span.product-detail__discount__promo Get 10% off
												.product-detail__discount__line
													label.label-radio-rounded(for="discount_type_17")
														input(type="hidden", value="10")
														input.label-radio-rounded__input(type="radio", name="product_discount_type7", id="discount_type_17")
														span.label-radio-rounded__item
														span.label-radio-rounded__name Buy 10 units
													span.product-detail__discount__promo.product-detail__discount__promo--yellow Get 20% off
												.goods-item__count
													button(type="button").goods-item__count__btn.goods-item__count__decrease
													input.goods-item__count__input.js-num-input(type="text", value='1')
													button(type="button").goods-item__count__btn.goods-item__count__increase
												a.product-block__add-to-cart.js-add-to-cart(href="javascript:void(0)")
													span.product-block__add-to-cart__name Add to cart 
													span.product-block__add-to-cart__added Added to cart 
													span.product-block__add-to-cart__checkmark
												.product-block__discount__price
													span.price-current 42.43
													span.price-discount
													span.price-currency usd
											.product-block__close
												button.btn.btn--md.btn--black.js-flip-back-product(type="button")
													span Close
								.swiper-slide
									.product-block-empty
										.product-block-empty__inner
											+svg('icon-product-empty')
											a.btn.btn--yellow.btn--md(href="javascript:void(0)")
												+svg('icon-products')
												span All products