mixin invite-customer(data)
	.customer
		.customer__top
			.section-title
				+svg('icon-invite')
				p.section-title__secondary Invite Customer
		.how-it-works
			.article-title
				p.article-title__item
					+svg('icon-coins-tr')
					span How It Works
			.how-it-works__inner
				.how-it-works__col
					.how-it-works__item
						.how-it-works__item__info
							.how-it-works__item__icon
								+svg('icon-take-share')
							.how-it-works__item__descr
								span.how-it-works__item__order Step 01
								span.how-it-works__item__title Take & share
						p.how-it-works__item__text Use invite code or link to invite friends and earn money from their ourchases
				.how-it-works__col
					.how-it-works__item
						.how-it-works__item__info
							.how-it-works__item__icon
								+svg('icon-give-get')
							.how-it-works__item__descr
								span.how-it-works__item__order Step 02
								span.how-it-works__item__title Give & Get
						p.how-it-works__item__text Give 15% discounts to your customer at first order. Get 15% reward for each order of your customer
				.how-it-works__col
					.how-it-works__item
						.how-it-works__item__info
							.how-it-works__item__icon
								+svg('icon-use-withdraw')
							.how-it-works__item__descr
								span.how-it-works__item__order Step 03
								span.how-it-works__item__title Use or Withdraw
						p.how-it-works__item__text Use rewarded pounds to buy products or withdraw to personal wallet
			.how-it-works__footer
				button.btn.btn--md.btn--black.btn-copy(type="button") 
					| Invite Code: XF584KL 
					+svg('icon-clipboard')
					span.btn-copy__inner
						+svg('icon-chk')
						span Copied
				span.how-it-works__footer__divider or
				button.btn.btn--md.btn--black.how-it-works--mobile-only(type="button", data-target="#face_to_face_modal", data-toggle="modal") 
					span Face To Face
					+svg('icon-qrcode')
				span.how-it-works__footer__divider.how-it-works--mobile-only or
				button.btn.btn--yellow.btn--md.btn-copy(type="submit")
					+svg('icon-clipboard')
					span Copy link
					span.btn-copy__inner
						+svg('icon-chk')
						span Copied
		.customer__advices
			.section-title
				+svg('icon-people')
				p.section-title__secondary our advices: How to get customers
			.customer__advices__inner
				.customer__advices__side
					.customer__advices__section
						.article-title
							p.article-title__item
								span Online
						.acc-coins__advices__inner
							a.acc-coins__advices__link(href="javascript:void(0)")
								+svg('icon-soc-fb')
								span Facebook
							a.acc-coins__advices__link(href="javascript:void(0)") 
								+svg('icon-soc-ig')
								span Instagram
							a.acc-coins__advices__link(href="javascript:void(0)")
								+svg('icon-soc-twitter')
								span Twitter
							a.acc-coins__advices__link(href="javascript:void(0)")
								+svg('icon-soc-vk')
								span VK
							a.acc-coins__advices__link(href="javascript:void(0)")
								+svg('icon-soc-yt')
								span YouTube
							a.acc-coins__advices__link(href="javascript:void(0)")
								+svg('icon-soc-snap')
								span Snapchat
							a.acc-coins__advices__link(href="javascript:void(0)")
								+svg('icon-soc-pin')
								span Pinterest
							a.acc-coins__advices__link(href="javascript:void(0)")
								+svg('icon-soc-reddit')
								span Reddit
							a.acc-coins__advices__link(href="javascript:void(0)")
								+svg('icon-soc-tumblr')
								span Tumblr
							a.acc-coins__advices__link(href="javascript:void(0)")
								+svg('icon-soc-quora')
								span Quora
					.customer__advices__section
						.article-title
							p.article-title__item
								span Messengers
						.acc-coins__advices__inner
							a.acc-coins__advices__link(href="javascript:void(0)")
								+svg('icon-send')
								span Telegram
							a.acc-coins__advices__link(href="javascript:void(0)")
								+svg('icon-soc-wa')
								span WhatsApp
							a.acc-coins__advices__link(href="javascript:void(0)")
								+svg('icon-soc-we-chat')
								span WeChat
							a.acc-coins__advices__link(href="javascript:void(0)")
								+svg('icon-soc-skype')
								span Skype
							a.acc-coins__advices__link(href="javascript:void(0)")
								+svg('icon-soc-viber')
								span Viber
							a.acc-coins__advices__link(href="javascript:void(0)")
								+svg('icon-soc-wickr')
								span WickrMe
				.customer__advices__side
					.customer__advices__section
						.article-title
							p.article-title__item
								span Other Sources
						.acc-coins__advices__inner
							a.acc-coins__advices__link(href="javascript:void(0)")
								span Forums
							a.acc-coins__advices__link(href="javascript:void(0)")
								span Emails
							a.acc-coins__advices__link(href="javascript:void(0)")
								span Personal Groups
							a.acc-coins__advices__link(href="javascript:void(0)")
								span Insterest Groups
					.customer__advices__section
						.article-title
							p.article-title__item
								span Offline
						.acc-coins__advices__inner
							a.acc-coins__advices__link(href="javascript:void(0)")
								span Personal Contacts
							a.acc-coins__advices__link(href="javascript:void(0)")
								span Thematic Events
							a.acc-coins__advices__link(href="javascript:void(0)")
								span Private Consultation