.customer {
    padding: 5rem 10rem 5rem 12rem;
    width: 100%;
    position: relative;
    z-index: 1;
    @media (max-width: $sw-md-max) {
        padding: 4.4rem 4.6rem 1rem 4.6rem;
    }
    @media (max-width: $sw-sm-max) {
        padding: 4rem 4rem 1rem 4rem;
        width: 100%;
    }
    @media (max-width: $sw-xx-max) {
        padding: 3.5rem 1rem 1rem 1rem;
    }
    .how-it-works {
        margin-bottom: 9.9rem;
        @media (max-width: $sw-xs-max) {
            margin-bottom: 5.7rem;
        }
    }
    &__top {
        margin-bottom: 2.6rem;
        .section-title {
            margin-bottom: 0;
        }
    }
    &__advices {
        .section-title {
            margin-bottom: 4.5rem;
            @media (max-width: $sw-xs-max) {
                margin-bottom: 2rem;
            }
        }
        &__inner {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            @media (max-width: $sw-xx-max) {
                flex-wrap: wrap;
            }
        }
        &__side {
            margin-right: -2rem;
            @media (max-width: $sw-sm-max) {
                margin-right: -1rem;
            }
            @media (max-width: $sw-xx-max) {
                margin-right: 0;
            }
            &:first-child {
                width: 67.5%;
                @media (max-width: $sw-sm-max) {
                    width: 60%;
                }
                @media (max-width: $sw-xx-max) {
                    width: 100%;
                }
            }
            &:last-child {
                width: 32.8%;
                @media (max-width: $sw-sm-max) {
                    width: 37%;
                }
                @media (max-width: $sw-xx-max) {
                    width: 100%;
                }
            }
            .article-title {
                margin-bottom: 1.7rem;
            }
            .acc-coins__advices__link {
                margin: 0 2rem 2rem 0;
                @media (max-width: $sw-sm-max) {
                    margin: 0 1rem 2rem 0;
                }
            }
        }
        &__section {
            margin-bottom: 2.7rem;
            @media (max-width: $sw-xx-max) {
                margin-bottom: 1rem;
            }
        }
    }
}