/**
Ion.RangeSlider, 2.3.1
© Denis Ineshin, 2010 - 2019, IonDen.com
Build date: 2019-12-19 16:51:02
*/
.irs {
    position: relative;
    display: block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 12px;
    font-family: Arial, sans-serif;
  }
  .irs-line {
    position: relative;
    display: block;
    overflow: hidden;
    outline: none !important;
  }
  .irs-bar {
    position: absolute;
    display: block;
    left: 0;
    width: 0;
  }
  .irs-shadow {
    position: absolute;
    display: none;
    left: 0;
    width: 0;
  }
  .irs-handle {
    position: absolute;
    display: block;
    box-sizing: border-box;
    cursor: default;
    z-index: 1;
  }
  .irs-handle.type_last {
    z-index: 2;
  }
  .irs-min,
  .irs-max {
    position: absolute;
    display: block;
    cursor: default;
  }
  .irs-min {
    left: 9px;
  }
  .irs-max {
    right: 6px;
  }
  .irs-from,
  .irs-to,
  .irs-single {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    cursor: default;
    white-space: nowrap;
  }
  .irs-grid {
    position: absolute;
    display: none;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
  }
  .irs-with-grid .irs-grid {
    display: block;
  }
  .irs-grid-pol {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 8px;
    background: #000;
  }
  .irs-grid-pol.small {
    height: 4px;
  }
  .irs-grid-text {
    position: absolute;
    bottom: 0;
    left: 0;
    white-space: nowrap;
    text-align: center;
    font-size: 9px;
    line-height: 9px;
    padding: 0 3px;
    color: #000;
  }
  .irs-disable-mask {
    position: absolute;
    display: block;
    top: 0;
    left: -1%;
    width: 102%;
    height: 100%;
    cursor: default;
    background: rgba(0, 0, 0, 0);
    z-index: 2;
  }
  .lt-ie9 .irs-disable-mask {
    background: #000;
    filter: alpha(opacity=0);
    cursor: not-allowed;
  }
  .irs-disabled {
    opacity: 0.4;
  }
  .irs-hidden-input {
    position: absolute !important;
    display: block !important;
    top: 0 !important;
    left: 0 !important;
    width: 0 !important;
    height: 0 !important;
    font-size: 0 !important;
    line-height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    overflow: hidden;
    outline: none !important;
    z-index: -9999 !important;
    background: none !important;
    border-style: solid !important;
    border-color: transparent !important;
  }
  .irs--round {
    height: 2rem;
  }
  .irs--round.irs-with-grid {
    height: 3.7rem;
  }
  .irs--round .irs-line {
    top: 7px;
    height: 4px;
    background-color: #2F3548;
    border-radius: 4px;
  }
  .irs--round .irs-bar {
    top: 7px;
    height: 4px;
    background-color: #6FCF97;
  }
  .irs--round .irs-bar--single {
    border-radius: 4px 0 0 4px;
  }
  .irs--round .irs-shadow {
    height: 4px;
    bottom: 21px;
    background-color: rgba(222, 228, 236, 0.5);
  }
  .irs--round .irs-handle {
    top: -1px;
    width: 2rem;
    height: 2rem;
    background-color: #6FCF97;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color .3s ease;
  }
  .irs--round .irs-handle.state_hover,
  .irs--round .irs-handle:hover {
    background-color: lighten(#6FCF97, 7%);
  }
  .irs--round .irs-handle:active {
    background-color: lighten(#6FCF97, 15%);
  }
  .irs--round .irs-min,
  .irs--round .irs-max {
    top: 2.7rem;
    font-size: 1.6rem;
    line-height: 1em;
    color: $light-blue;
  }
  .irs--round .irs-from,
  .irs--round .irs-to,
  .irs--round .irs-single {
    text-shadow: none;
    position: absolute;
    top: 2.7rem;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1em;
    color: #6FCF97;
  }
  .irs--round .irs-from:before,
  .irs--round .irs-to:before,
  .irs--round .irs-single:before {
    display: none;
  }
  .irs--round .irs-grid {
    height: 25px;
  }
  .irs--round .irs-grid-pol {
    background-color: #dedede;
  }
  .irs--round .irs-grid-text {
    color: silver;
    font-size: 13px;
  }