.mobile-menu, .user-menu {
    position: fixed;
    width: 100%;
    height: calc(100% - 7.2rem);
    left: 0;
    top: 7.2rem;
    z-index: 200;
    display: none;
    transition: transform cubic-bezier(.77,0,.175,1) 0.5s, opacity cubic-bezier(.77,0,.175,1) 0.5s, visibility cubic-bezier(.77,0,.175,1) 0.5s;
    transform: scale(0.95);
    opacity: 0;
    visibility: hidden;
    background-color: $dark;
    padding: 6rem 0 3rem 0;
    overflow: hidden;
    overflow-y: auto;
    @media (max-width: $sw-sm-max) {
        display: block;
    }
    @media (max-width: $sw-xx-max) {
        height: calc(100% - 5.6rem);
        top: 5.6rem;
        padding: 4.8rem 0 2rem 0;
    }
    &.is-active {
        visibility: visible;
        transform: scale(1);
        opacity: 1;
        transition: transform cubic-bezier(.77,0,.175,1) 0.5s, opacity cubic-bezier(.77,0,.175,1) 0.5s;
    }
    .container {
        @media (max-width: $sw-xx-max) {
            padding-left: 2.4rem;
            padding-right: 2.4rem;
        }
    }
}

.mobile-menu {
    &-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        width: 100%;
        @media (max-width: $sw-xx-max) {
            flex-wrap: wrap;
        }
    }
    &-side {
        min-width: 20rem;
        @media (max-width: $sw-xx-max) {
            min-width: auto;
            width: 100%;
        }
        &--list {
            @media (max-width: $sw-xx-max) {
                order: 0;
                padding-bottom: 3.5rem;
                margin-bottom: 5.1rem;
                border-bottom: 2px solid #2F3548;
            }
        }
        &--lang {
            @media (max-width: $sw-xx-max) {
                order: 1;
                display: flex;
                justify-content: space-between;
            }
        }
    }
    &__lang {
        padding-bottom: 1.8rem;
        margin-bottom: 3.7rem;
        margin-top: 1rem;
        border-bottom: 2px solid #2F3548;
        @media (max-width: $sw-xs-max) {
            margin-bottom: 3.1rem;
        }
        @media (max-width: $sw-xx-max) {
            border-bottom: none;
            order: 1;
            margin-bottom: 0;
            margin-top: 0;
            margin-right: 4.8rem;
        }
        @media (max-width: 359px) {
            margin-right: 0;
        }
        &__item {
            // outline: 1px solid green;
            display: inline-flex;
            align-items: center;
            justify-content: flex-start;
            font-size: 1.4rem;
            line-height: 1em;
            color: $light-blue;
            .icon {
                font-size: 2.6rem;
                margin-right: 2.2rem;
            }
            &-col {
                margin-bottom: 2.3rem;
                @media (max-width: $sw-xs-max) {
                    margin-bottom: 1.8rem;
                }
            }
        }
    }
    &__currency {
        @media (max-width: $sw-xx-max) {
            order: 0;
        }
        &__item {
            color: $light-blue;
            font-size: 1.4rem;
            line-height: 1.875em;
            text-transform: uppercase;
            font-weight: 600;
            @media (max-width: $sw-xx-max) {
                font-weight: 500;
            }
            &.is-active {
                color: $yellow;
            }
            &-col {
                margin-bottom: 2.8rem;
                @media (max-width: $sw-xs-max) {
                    margin-bottom: 2.2rem;
                }
            }
        }
    }
    &__list {
        &__item {
            margin-bottom: 1.7rem;
            @media (max-width: $sw-xx-max) {
                margin-bottom: 1.3rem;
            }
            &.is-active {
                a {
                    color: $yellow;
                }
            }
            a {
                font-weight: 600;
                font-size: 1.8rem;
                line-height: 1.875em;
                text-transform: capitalize;
                display: inline-flex;
                align-items: center;
            }
            span {
                margin-left: 5px;   
            }
            .icon {
                margin-right: 1.3rem;
                color: $yellow;
                font-size: 2rem;
            }
            .cart-count {
                color: $yellow;
                margin-left: 5px;
            }
            .products-count {
                height: 3.2rem;
                min-width: 3.2rem;
                margin-left: 1.3rem;
            }
        }
    }
}

.user-menu {
    @media (max-width: $sw-sm-max) {
        display: flex;
    }
    .mobile-menu__list__item {
        @media (max-width: $sw-xx-max) {
            margin-bottom: 1.7rem;
        }
    }
    &-inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        height: 100%;
        width: 100%;
        @media (max-width: $sw-xx-max) {
            display: block;
        }
    }
    &-side-wrap {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        @media (max-width: $sw-xx-max) {
            flex-wrap: wrap;
        }
    }
    &-side {
        @media (max-width: $sw-xx-max) {
            width: 100%;
            padding-bottom: 3.4rem;
            margin-bottom: 4.3rem;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            border-bottom: 2px solid #2F3548;
        }
        &:last-child {
            @media (max-width: $sw-xx-max) {
                margin-bottom: 2rem;
            }
        }
        & + .user-menu-side {
            margin-left: 9rem;
            @media (max-width: $sw-xx-max) {
                margin-left: 0;
            }
        }
    }
    &__user-block {
        margin-top: 7.2rem;
        margin-bottom: 2rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        @media (max-width: $sw-xx-max) {
            margin-top: 9px;
        }
        .header__user-block__icon {
            width: 8.8rem;
            height: 8.8rem;
            font-size: 2.8rem;
            border-radius: 3.4rem;
            margin-right: 2rem;
            @media (max-width: $sw-xx-max) {
                width: 8rem;
                height: 8rem;
                border-radius: 3rem;
                font-size: 3.9rem;
                margin-right: 0;
            }
        }
    }
    &-logout {
        font-size: 1.6rem;
        line-height: 2.5em;
        color: $light-blue;
        font-weight: 600;
        padding-right: 1.5rem;
        @media (max-width: $sw-xx-max) {
            margin-bottom: 2rem;
        }
    }
}