mixin mobile-menu(data)
	.mobile-menu
		.container
			.mobile-menu-inner
				.mobile-menu-side.mobile-menu-side--lang
					.mobile-menu__lang
						.mobile-menu__lang__item-col
							a.mobile-menu__lang__item(href="javascript:void(0)")
								+svg('icon-eng')
								span English
						.mobile-menu__lang__item-col
							a.mobile-menu__lang__item(href="javascript:void(0)")
								+svg('icon-rus')
								span Russian
						.mobile-menu__lang__item-col
							a.mobile-menu__lang__item(href="javascript:void(0)")
								+svg('icon-deu')
								span Deutsch
					.mobile-menu__currency
						.mobile-menu__currency__item-col
							a.mobile-menu__currency__item.is-active(href="javascript:void(0)")
								span Eur
						.mobile-menu__currency__item-col
							a.mobile-menu__currency__item(href="javascript:void(0)")
								span Usd
						.mobile-menu__currency__item-col
							a.mobile-menu__currency__item(href="javascript:void(0)")
								span Rub
				.mobile-menu-side.mobile-menu-side--list
					ul.mobile-menu__list.h-reset-list
						li.mobile-menu__list__item
							a(href="javascript:void(0)") Products
						li.mobile-menu__list__item
							a(href="javascript:void(0)") Promotions #[span.dekor--yellow %] 
						li.mobile-menu__list__item
							a(href="javascript:void(0)") Lab tests
						li.mobile-menu__list__item
							a(href="javascript:void(0)") Wholesale Pricelist
						li.mobile-menu__list__item
							a(href="javascript:void(0)") Payment
						li.mobile-menu__list__item
							a(href="javascript:void(0)") Shipping
						li.mobile-menu__list__item
							a(href="javascript:void(0)") FAQ
						li.mobile-menu__list__item
							a(href="javascript:void(0)") Contact Us

mixin user-menu(data)
	.user-menu
		.container
			.user-menu-inner
				.user-menu-side-wrap
					.user-menu-side
						ul.mobile-menu__list.h-reset-list
							li.mobile-menu__list__item.is-active
								a(href="javascript:void(0)")
									+svg('icon-my-acc')
									span My account
							li.mobile-menu__list__item
								a(href="javascript:void(0)")
									+svg('icon-orders')
									span Orders 
									span.products-count 3
							li.mobile-menu__list__item
								a(href="javascript:void(0)")
									+svg('icon-settings')
									span Settings
							li.mobile-menu__list__item
								a(href="javascript:void(0)")
									+svg('icon-headset')
									span Support
							li.mobile-menu__list__item
								a(href="javascript:void(0)")
									+svg('icon-cart')
									span My Cart
									span.cart-count 24
						.user-menu__user-block
							.header__user-block__icon
								span U
							span.header__user-block__name Username
					.user-menu-side
						ul.mobile-menu__list.h-reset-list
							li.mobile-menu__list__item
								a(href="javascript:void(0)")
									+svg('icon-referal')
									span Referal Program
							li.mobile-menu__list__item
								a(href="javascript:void(0)")
									+svg('icon-invite')
									span Invite Friend
							li.mobile-menu__list__item
								a(href="javascript:void(0)")
									+svg('icon-income')
									span Income
							li.mobile-menu__list__item
								a(href="javascript:void(0)")
									+svg('icon-withdrawal')
									span Withdraw Funds
							li.mobile-menu__list__item
								a(href="javascript:void(0)")
									+svg('icon-picture')
									span Banners
				button.user-menu-logout.js-log-out(type="button") Logout